<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav admin_profile">
        <li>
          <a ng-class="{active: isActive('charger')}" ng-href="" ng-click="navigateSandbox('charger')">
            <span class="" translate="global.charger"> Charger</span>
          </a>
        </li>
        <li >
          <a ng-class="{active: isActive('optimus')}" ng-href="" ng-click="navigateSandbox('optimus')">
            <span class="" translate="global.optimus"> Optimus</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>