<ng-include src="'scripts/components/navbar/navbarclinicadmin.html'"></ng-include>
<ng-include src="'scripts/modules/clinicadmin/profile/navbar/navbar.html'"></ng-include>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">          
          <div class="col-md-7 reset-padding col-md-offset-2" ng-show="userStatus.editMode">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" >User ID</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" readonly ng-model="user.id">
            </div>
          </div>

        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="firstName" validate-on-blur ng-model="user.firstName" ng-minlength=1 ng-maxlength=50 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required" translate="error.firstName.required"></span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" translate="error.firstName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="middleName" validate-on-blur ng-model="user.middleName" ng-minlength=1 ng-maxlength=50 ng-readonly="validateSuperAdmin()">
              <div ng-show="(form.middleName.$dirty && form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.minlength" translate="error.middleName.minlength"></span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" translate="error.middleName.maxlength"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="lastName" validate-on-blur ng-model="user.lastName" ng-minlength=1 ng-maxlength=50 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required" translate="error.lastName.required"></span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" translate="error.lastName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.role-text"></span>
               <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding">
              <span ng-if="user.role === 'CLINIC_ADMIN'">Clinic Admin</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.email"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="email" name="email" validate-on-blur ng-model="user.email" ng-maxlength=100 ng-readonly="validateSuperAdmin()" ng-pattern="/^[a-zA-Z][\.a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.([a-zA-Z]{2,4})$/" required>
              <div ng-show="(form.email.$dirty && form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required" translate="error.email.required"></span>
                <span class="has-error" ng-show="form.email.$error.pattern" translate="error.email.invalid"></span>
                <span class="has-error" ng-show="form.email.$error.maxlength" translate="error.email.maxlength"></span>
              </div>
            </div>
          </div>

           <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.phone"></span>
            </div>
           <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input class="ng-valid ng-isolate-scope ng-valid-mask ng-dirty ng-valid-parse ng-touched" type="text" ui-options="{clearOnBlur: false}" model-view-value="true" ui-mask="(999)-999-9999" ng-model="user.mobilePhone" validate-on-blur="" name="mobilePhone">
              <div ng-show="(form.mobilePhone.$showValidationMessage && form.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="form.mobilePhone.$error.pattern" translate="error.mobilePhone.pattern"></span>
                <span class="has-error" ng-show="form.mobilePhone.$error.maxlength" translate="error.mobilePhone.maxlength"></span>
                <span class="has-error" ng-show="form.mobilePhone.$error.mask" translate="error.mobilePhone.mask"></span>
              </div>
            </div>
          </div>

        </div>


        <div class="col-md-16 reset-padding margin-top-xl">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.security-ques"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--sec-option reset-padding">
              <div class="custom-dropdown">
                <select class="security-select" name="question" validate-on-blur  ng-model="resetAccount.question" ng-options="question.question for question in questions">
                  <option value="">-- select a security question --</option>
                </select>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top" ng-if="resetAccount.question">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.security-ans"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="answer" validate-on-blur ng-model="resetAccount.answer" ng-maxlength=100 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.answer.$dirty && form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
                <span class="has-error" ng-show="form.answer.$error.required" translate="error.answer.required"></span>
                <span class="has-error" ng-show="form.answer.$error.maxlength" translate="error.answer.maxlength"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top-xl">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.timestamp-preference"></span>
            </div>
             <div class="col-md-10 reset-padding selected-box-container dashboard__form__input--sec-option">
                 <div class="custom-dropdown" style="width: 306px;">
                <select class="security-select" ng-model="user.timeZone" ng-options="key as key + '  &nbsp : &nbsp ' + value for (key , value) in timezoneList"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top-xl">
        <div class="fropile_update_btn_group">
          <button type="button" class="hillrom-btn btn-submit float-right" ng-show="!userStatus.isCreate" translate="profile.update-button-text" ng-click="showUpdate()">Update</button>
          <button type="reset" ng-click="cancel()" ng-show="!userStatus.isCreate" class="cancel hillrom-btn btn-submit float-right" translate="profile.cancel-button-text">Cancel</button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>

<div ng-if="showUpdateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close(false)">&times;</button>
         <p translate="profile.clinicadmin-profile-update.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="profile.clinicadmin-profile-update.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updateProfile(); $parent.showUpdateModal = false">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="close(false)">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
