<ng-include src="'scripts/components/navbar/navbarclinicadmin.html'"></ng-include>
<ng-include src="'scripts/modules/clinicadmin/profile/navbar/navbar.html'"></ng-include>
<div class="container specific-user">
  <div class="col-md-16 user-header margin-top">
    <span class="user-header--title" translate="profile.notification"></span>
  </div>

  <div class="col-md-16 col-sm-16 user-header--desc">
    <span translate="profile.noti-verbiage"></span>
  </div>

  <div class="col-md-16 col-sm-16 user-notification">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <span class="user-notification--head" translate="profile.noti.miss-therapy-days"></span>
      </div>
      <div class="col-md-1 col-sm-1 user-notification--icon" ng-click="toggleNotification('missedTherapyNotification');">
        <span ng-class="user.missedTherapyNotification ? 'icon-toggle-on active': 'icon-toggle-off'"></span>
      </div>
      <div class="col-md-12 col-sm-11 user-notification--icon" translate="profile.noti.miss-therapy-new">
        You will receive a notification if one or more of your patients missed a day of therapy within your clinic's adherence window.
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <span class="user-notification--head" translate="profile.noti.below-treatment"></span>
      </div>
      <div class="col-md-1 col-sm-1 user-notification--icon" ng-click="toggleNotification('nonHMRNotification');">
        <span ng-class="user.nonHMRNotification ? 'icon-toggle-on active': 'icon-toggle-off'"></span>
      </div>
       <div class="col-md-12 col-sm-11 user-notification--icon" translate="profile.noti.hmr-non-adher-new">
        You will receive a notification if one or more of your patients did not complete the therapy time in their protocol within your clinic's adherence window.
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <span class="user-notification--head" translate="profile.noti.setting-deviation"></span>
      </div>
      <div class="col-md-1 col-sm-1 user-notification--icon" ng-click="toggleNotification('settingDeviationNotification');">
        <span ng-class="user.settingDeviationNotification ? 'icon-toggle-on active': 'icon-toggle-off'"></span>
      </div>
       <div class="col-md-12 col-sm-11 user-notification--icon" translate="profile.noti.setting-dev-new">
       You will receive a notification if one or more of your patients frequency setting was 15% below protocol within your clinic's adherence window.
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <span class="user-notification--head" translate="profile.noti.messages"></span>
      </div>
      <div class="col-md-1 col-sm-1 user-notification--icon" ng-click="toggleNotification('messageNotification');" >
        <span ng-class="user.messageNotification ? 'icon-toggle-on active': 'icon-toggle-off'"></span>
      </div>
       <div class="col-md-12 col-sm-11 user-notification--icon" translate="profile.noti.message-new">
       You will receive a notification if you have one or more messages in your clinic's inbox.
      </div>
    </div>
  </div>
</div>