
	<div class="row lebel-indent col-md-16 margin-bottom15">
		<label>
			<input type="radio" ng-model="searchFilterdevicelist.type" value="Success" ng-change="getFotaDeviceList()" ng-checked="true"> 
			<span translate="search-filter.success"></span> 
		</label>
		<label>
			<input type="radio" ng-model="searchFilterdevicelist.type" value="Failure" ng-change="getFotaDeviceList()"> 
			<span translate="search-filter.fail"></span>
		</label>		
		<label>
			<input type="radio" ng-model="searchFilterdevicelist.type" value="All" ng-change="getFotaDeviceList()"> 
			<span translate="search-filter.all"></span>
		</label>	
	</div>
	