<ng-include src="'scripts/components/navbar/navbarRnDadmin.html'"></ng-include>
<ng-include src="'scripts/modules/RnDadmin/FotaHome/views/navbar.html'"></ng-include>

<!-- List start here -->
  <div class="container">
        <div class="dashboard__manage-view--search">
        <div class="fuid-search-box reset-padding-right">
          <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="deviceListsearchItem" ng-model-options="{ debounce: 1000 }" ng-change="getFotaDeviceList();" autocomplete="off" placeholder="{{'global.placeholder.search' | translate}}">
          <span class="search-icon hillrom-icon icon-search-icon"></span>
        </div>
        <div class="fixed-filter-box reset-padding-left">          
        </div>
      </div>
     <div class="col-md-16">
        <ng-include src="'scripts/modules/RnDadmin/FotaHome/views/devicelistsearchfilter.html'"></ng-include>
      </div>  
    <div class="dashboard__manage-view--header" style="padding:30px 0">
        <div class="col-md-2 col-sm-2 header--type pull-left-mob" >
           <span ng-class="{'sort-icon--default' : sortTypeDeviceList.serialNumber.isDefault, 'sort-icon-down': sortTypeDeviceList.serialNumber.isDown, 'sort-icon-up':sortTypeDeviceList.serialNumber.isUp}" ng-click="sortTypeDeviceListing('serialNumber')" ng-translate="global.fotaDeviceList.seerial-no">Serial Number</span>
        </div>
        <div class="col-md-3 col-sm-2 header--type none hidden-sm"  style="margin-left:-30px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.partNumber.isDefault, 'sort-icon-down': sortTypeDeviceList.partNumber.isDown, 'sort-icon-up':sortTypeDeviceList.partNumber.isUp}" ng-click="sortTypeDeviceListing('partNumber')" ng-translate="global.fotaDeviceList.part-number">Part Number</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-30px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.productName.isDefault, 'sort-icon-down': sortTypeDeviceList.productName.isDown, 'sort-icon-up':sortTypeDeviceList.productName.isUp}" ng-click="sortTypeDeviceListing('productName')" ng-translate="global.fotaDeviceList.product-name">Product Name</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-30px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.connectionType.isDefault, 'sort-icon-down': sortTypeDeviceList.connectionType.isDown, 'sort-icon-up':sortTypeDeviceList.connectionType.isUp}" ng-click="sortTypeDeviceListing('connectionType')" ng-translate="global.fotaDeviceList.connection-type">Connection Type</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-30px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.startDatetime.isDefault, 'sort-icon-down': sortTypeDeviceList.startDatetime.isDown, 'sort-icon-up':sortTypeDeviceList.startDatetime.isUp}" ng-click="sortTypeDeviceListing('startDatetime')" ng-translate="global.fotaDeviceList.start-date-time">Start DateTime</span>
        </div>
        
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:0px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.endDateTime.isDefault, 'sort-icon-down': sortTypeDeviceList.endDateTime.isDown, 'sort-icon-up':sortTypeDeviceList.endDateTime.isUp}" ng-click="sortTypeDeviceListing('endDateTime')" ng-translate="global.fotaDeviceList.end-date-time">End DateTime</span>
        </div>
        <div class="col-md-3 col-sm-2 header--type none" style="margin-left:15px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.downloadTime.isDefault, 'sort-icon-down': sortTypeDeviceList.downloadTime.isDown, 'sort-icon-up':sortTypeDeviceList.downloadTime.isUp}" ng-click="sortTypeDeviceListing('downloadTime')" ng-translate="global.fotaDeviceList.download-time">Download Time(HH:MM:SS)</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-50px !important">
          <span ng-class="{'sort-icon--default' : sortTypeDeviceList.status.isDefault, 'sort-icon-down': sortTypeDeviceList.status.isDown, 'sort-icon-up':sortTypeDeviceList.status.isUp}" ng-click="sortTypeDeviceListing('status')" ng-translate="global.fotaDeviceList.firmware-status">Status</span>
        </div>

 </div>

 <div class="clr"></div>


 <div class="dashboard__manage-view--list" ng-repeat="device in Fotadeviceslist.content" ng-readonly="true" style="padding-bottom: 22px !important">
        <div class="col-md-2 col-sm-2 header--type pull-left-mob" ng-translate="global.fotaDeviceList.seerial-no">
          <span class = "">{{device.deviceSerialNumber}}</span>
        </div>
        <div class="col-md-3 col-sm-2 header--type none hidden-sm"  style="margin-left:-30px !important" ng-translate="global.fotaDeviceList.part-number" >
          <span class = "">{{device.devicePartNumber}}</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-30px !important" ng-translate="global.fotaDeviceList.product-name" >
          <span class = "">{{device.productType}}</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-30px !important" ng-translate="global.fotaDeviceList.connection-type" >
          <span class = "">{{device.connectionType}}</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-30px !important" ng-translate="global.fotaDeviceList.start-date-time" >
          <span class = "">{{device.currentDownloadStartDateTime}}</span>
        </div>
        
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:0px !important" ng-translate="global.fotaDeviceList.end-date-time" >
          <span class = "">{{device.currentDownloadEndDateTime}}</span>
        </div>
        <div class="col-md-3 col-sm-2 header--type none" style="margin-left:15px !important" ng-translate="global.fotaDeviceList.download-time" >
          <span class = "">{{device.downloadTime}}</span>
        </div>
        <div class="col-md-2 col-sm-2 header--type none" style="margin-left:-50px !important" ng-translate="global.fotaDeviceList.firmware-status" >
          <span class = "">{{device.downloadStatus}}</span>
        </div>        
        
      </div>

      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found" ng-if="Fotadeviceslist.content.length >= 0">{{Fotadeviceslist.totalElements}} Devices</span>
            <span class="record-found" ng-if="Fotadeviceslist.content.length >= 0">Found</span>
            <span ng-show="devicelistPageCount > 1">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(devicelistCurrentPageIndex > 1) }" ng-click="getFotaDeviceList('PREV')">Previous</span>
              <span class="navigaion-no">{{devicelistCurrentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(devicelistPageCount > devicelistCurrentPageIndex) }" ng-click="getFotaDeviceList('NEXT')">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>

    </div>