 <ng-include src="'scripts/components/navbar/navbarRnDadmin.html'"></ng-include>
 <ng-include src="'scripts/modules/RnDadmin/FotaHome/views/fotauploadfile.html'"></ng-include>
 <!-- <ng-include src="'scripts/modules/RnDadmin/FotaHome/views/fotaupload.html'"></ng-include> -->
<!-- <div class="navbar dashboard dashbord-nav">
    <div class="container">
      <div class="dashbord-nav__primary pull-left">
        <span class="dashbord-nav__primary--title" translate="global.fota-title">Fota</span>
      </div>
	</div>
  </div> -->

