<ng-include src="'scripts/components/navbar/navbarRnDadmin.html'"></ng-include>
<div class="container edit-announcment margin-top reset-padding">
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div ng-show="crcValueCheck ==='both'">
        <div class="col-md-4 reset-padding user-required pull-right" style="">
            <span translate="" >* Required Fields</span>
          </div>
        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="global.region1-crc"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input class="" name="region1CRC" type="text" ng-model="fota.region1CRC" validate-on-blur maxlength="8"  required>
             <!-- <div ng-show="(form.partNumber.$dirty && form.partNumber.$invalid) || resetsubmitted">
                <span class="has-error" ng-show="form.partNumber.$error.required" translate="global.fota.error.announcementName.required"></span>
              </div> -->
            </div>
          </div>
          
        </div>

        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="global.region2-crc"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding" >
              <input class="" name="region2CRC" type="text" ng-model="fota.region2CRC" validate-on-blur maxlength="8"  required>
             <!-- <div ng-show="(form.partNumber.$dirty && form.partNumber.$invalid) || resetsubmitted">
                <span class="has-error" ng-show="form.partNumber.$error.required" translate="global.fota.error.announcementName.required"></span>
              </div> -->
            </div>
          </div>
        </div>
      
    </div>

    <div ng-show="crcValueCheck === 'one'">
        <div class="col-md-4 reset-padding user-required pull-right" style="">
            <span translate="" >* Required Fields</span>
          </div>
        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="global.region1-crc"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input class="" name="region1CRC" type="text" ng-model="fota.region1CRC" validate-on-blur maxlength="8"  required>
             <!-- <div ng-show="(form.partNumber.$dirty && form.partNumber.$invalid) || resetsubmitted">
                <span class="has-error" ng-show="form.partNumber.$error.required" translate="global.fota.error.announcementName.required"></span>
              </div> -->
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-16 col-sm-16 margin-top reset-padding">
      <div class="">
        <buton type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="approverCRC32(form)" translate="global.approve">Approve</buton>
        <buton type="submit" class="hillrom-btn btn-secondary float-right" ng-click="redirectBackToView()" translate="global.back">Back</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>
<div ng-if="showModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close()">&times;
        </button>
        <p translate="global.crc32-header"></p>
      </header>
      <div class="modal__body">
        <div class="modal--message" ng-show="cr32Invalid" translate="global.crc32-invalid"></div>
        <div class="modal--message" ng-show="cr32Valid" translate="global.crc32-valid"></div>
          <div class="row modal--custom-btn">
            <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-show="btnok" ng-click="redirectBack()">OK</buton>
            <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal"  ng-show="btncancel" ng-click="close()">Cancel</buton>
          </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
</div>