<ng-include src="'scripts/components/navbar/navbarRnDadmin.html'"></ng-include>
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav admin_profile">
        <li >
          <a ng-class="{active: isActive('profile')}" ng-href="" ng-click="switchProfileTab('RnDadminProfile')">
            <span class="" translate="profile.tabs.profile-details"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('updatepassword')}" ng-href="" ng-click="switchProfileTab('fotaadminUpdatePassword')">
            <span class="" translate="profile.tabs.update-password"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">

    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.title-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{user.title}}</span>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>

      <div>
        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.first-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{user.firstName}}</span>
            </div>
          </div>

          <div class="col-md-7 col-sm-7 col-md-offset-2 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.middle-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{user.middleName}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.last-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{user.lastName}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.hr-id"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{user.hillromId}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.email"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{user.email}}</span>
            </div>
          </div>

          <div class="col-md-7 col-sm-7 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding pull-left-mob width120">
              <span class="" translate="profile.view-role-text"></span>
            </div>
            <div class="col-md-6 col-sm-6 dashboard__form--label-val reset-padding">
              <span class="impo-highlight" ng-if="user.authorities[0].name === 'ADMIN'" translate="global.role.super-admin"></span>
              <span class="impo-highlight" ng-if="user.authorities[0].name === 'ASSOCIATES'" translate="global.role.associates"></span>
              <span class="impo-highlight" ng-if="user.authorities[0].name === 'ACCT_SERVICES'" translate="global.role.account-services"> </span>
            </div>
          </div>
        </div>
      <div class="clr"></div>
    </div>

    <div class="col-md-16 col-sm-16 margin-top reset-padding">
      <div class="">
        <buton class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="editMode()" translate="profile.edit-button-text">Edit</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
</div>