.admin-user .user-gen-details {
  text-align: right;
  padding: 10px 0;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  &--name {
    color: $storm-dust;
  }
  &--hr-id {
    color: $sunshade;
  }
}

.admin-user .patient-clinic {
  margin-top: 20px;
  padding: 10px 0;
  &--title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $pickled-bluewood;
  }
}

.admin-user .clinic-list {
  padding: 10px 0;
  margin-top: 10px;
  border-bottom: 1px solid $celeste;
}

.admin-user .clinic-list__detail {
  padding: 0;
  &--name {
    color: $pickled-bluewood;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    display: block;
  }
  &--email {
    color: $regent-gray;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    display: block;
  }
}

.admin-user .clinic-list__address {
  padding: 0;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $regent-gray;
  &--primary, &--secondary {
    display: block;
  }
}

.admin-user .clinic-list__phone, .admin-user .clinic-list__fax {
  padding: 0;
  color: $nevada;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}

.admin-user .clinic-list__hr-id {
  padding: 0;
  span {
    color: $pickled-bluewood;
    font-weight: $font-weight-semibold;
  }
}

.admin-user .clinic-list__delete {
  text-align: center;
  span {
    cursor: pointer;
  }
}

.admin-user .clinic-link {
  margin: 30px 0;
  padding: 0;
  input {
    width: 80%;
    padding-left: 10px;
    outline: none;
    height: 30px;
    color: $pickled-bluewood;
  }
}