.admin-user .patient-device,
.admin-user .patient-protocol {
  margin-top: 20px;
  padding: 10px 0;
  &--title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $pickled-bluewood;
  }
}

.admin-user .device-list,
.admin-user .protocol-list {
  padding: 0;
  margin-top: 20px;
  div {
    @extend .word-ellipsis;
    padding: 0 10px;
    span {
      color: $pickled-bluewood;
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
    }
  }
  border-bottom: 1px solid $celeste;
  padding-bottom: 10px;
}
.dark_grey_text_color{
  color:#646568;
  font-size:12px;
}
.dark_grey_text_color14{
  font-size:14px;
   color:#646568;
}
.light_grey{
background-color: #EBEBE4;
}
.text-align-l{
  text-align:left!important;
}
.admin-user .list-inactive {
  div {
    padding: 0 10px;
    span {
      color: $silver-approx;
    }
  }
}

.admin-user .device-list__lung,
.admin-user .protocol-list__lung {
  position: relative;
  .icon-lungs {
    position: absolute;
    font-size: 30px;
    top: -5px;
  }
}

.admin-user .device-list__lung .active,
.admin-user .protocol-list__lung .active {
  color: $fruit-salad;
}

.admin-user .protocol-list .protocol-list__type {
  font-weight: $font-weight-medium;
}

.protocol-list.inactive .protocol-list--text {
  color: $silver-approx;
}


.admin-user .protocol-list .protocol-list__type span {
  font-weight: $font-weight-bold;
}
.admin-user .protocol-list,
.admin-user .device-list,
.admin-user .crud-list,.admin-user .protocol-list__edit{ 
  .icon-edit-icon,
  .icon-delete-icon {
    color: $bombay;
    cursor: pointer;
    &:hover{
      color: $pickled-bluewood;
    }
  }
}

.admin-user .protocol-list .protocol-list--value {
  font-weight: $font-weight-medium;
}

.protocol-point {
  margin-top: 20px;
}

.add-new-point {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 1px solid $sunshade;
  color: $sunshade;
}

.admin-user .protocol-radio {
  span {
    padding-left: 5px;
  }
  input, span {
    cursor: pointer;
  }
}

.admin-user .protocol-list {
  div {
    text-align: center;
  }
}
.care_plan_and_device{
  .header--type{
    text-align: center;
  }
  .text-align-left{
    text-align: left !important;
  }
}

.admin-user .protocol-list .protocol-list__edit {
  padding-left: 10px;
  span {
  padding-right: 10px;
  
  }
}
.protocol-list__edit{
  span{
    &:hover{
      color: $pickled-bluewood;
    }
  }
}

.admin-user .device-list .device-list__edit span {
  padding-right: 10px;
}

.dashboard__manage-view--header.no_border{
  border-bottom: 0px; 
}
.border-top{
  border-top: solid 1px #c1c1c1;
}

.protocol_list_container {
  position: relative;
  border-bottom: solid 1px #c1c1c1;
  padding: 0px 0px;
  &.no_border{
    border-bottom: 0px;
  }
  .protocol-list:last-child{
    border: 0px;
  }
  .protocol-list, .treatments_per_day_count{
    span{
      color: $pickled-bluewood;
    }
  }
}
.protocol_list_container > div.last{
  border-bottom: 0px;
}


.admin-user .protocol-list div:first-child{
  padding-left: 10px;
}

/* survey */
.cyan-blue-light{
  color:$cyan-blue-light;
}
.margin_tp15{
  margin-top:15px;
}
.margin_tp13{
  margin-top:13px!important;
}
.grey_color{
  color:#646568;
}

.grid-view>div{
   border-right:1px solid #c1c1c1;
   border-left:1px solid #c1c1c1;
   border-top:1px solid #c1c1c1;
    } 
    .grid-view>div:last-child{
    border-bottom:1px solid #c1c1c1;
    }
.border-right{
  border-right:1px solid #c1c1c1;
  padding:10px;
}
.padding10{
    padding:10px;
}
.padding_tb{
  padding:11px 0 30px  0;
}

/* survey */
.comon_action_div{
  display: inline-block;
  position: absolute;
  margin-top: -6px;
  top: 50%;
 }
 .treatments_per_day_count{
      position: absolute;
      text-align: center;
      top: 50%;
      margin-top: -6px;
    .v_middle{
    }
 }
.admin-user .protocol-list{
  text-align: center;
}
.admin-user .text-align-left{
  text-align: left !important;
}
.icon_height_width{
  height: 19px;
    width: 20px;
}
#deviceicon {
  text-align: center !important;
} 
#deviceInfoicon{
  padding-left:2%;
}

.padding0px{
     padding:0px;
     }