.admin-user .patient-caregiver {
  margin-top: 20px;
  padding: 10px 0;
  &--title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $pickled-bluewood;
  }
}

.admin-user .caregiver-list {
  padding: 0;
  margin-top: 20px;
  border-bottom: 1px solid $celeste;
}

.admin-user .caregiver-list__detail {
  padding: 0;
  &--name {
    color: $cyan-blue-light;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    display: block;
  }
  &--email {
    color: $regent-gray;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    display: block;
  }
}

.admin-user .caregiver-list__address {
  padding: 0;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $regent-gray;
  &--primary, &--secondary {
    display: block;
  }
}

.admin-user .caregiver-list__phone, .admin-user .caregiver-list__fax {
  padding: 0;
  color: $nevada;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}

.admin-user .caregiver-list__type {
  padding: 0;
  span {
    color: $pickled-bluewood;
    font-weight: $font-weight-semibold;
  }
}

.admin-user .caregiver-list__delete {
  text-align: center;
  span {
    cursor: pointer;
  }
}

.admin-user .caregiver-link {
  margin: 30px 0;
  padding: 0;
  input {
    width: 80%;
    padding-left: 10px;
    outline: none;
    height: 30px;
    color: $pickled-bluewood;
  }
}