.advanced-filters-head{
	font-size: 14px;
	margin-left:7px;
}
.advanced-filters{
	font-size: 12px;
}

.advanced-filters-radio{
	margin-top:0px !important;
	margin-right:15px;
}
.advanced-filters-radio-gender{
	margin-top:0px !important;
	margin-right:8px;
}
.advanced-filters-radio-last{
	margin-top:0px !important;
	margin-right:0px;
}
.advanced-filters-radio-div{
	margin-left:13px;
}
.filters-padding20{
	padding-bottom:36px;
}

.advanced-dropdown > span > button{
	width: 235px;
}

.advanced-dropdown-country > span > button{
	width: 254px;
}

.disable-isteven-multiselect{
	background-color: rgb(235, 235, 228);
	pointer-events: none;
}

.advanced-filters-radio-many{
	margin-top:0px !important;
	margin-right:13px;
}

.advanced-filters-margin{
	margin-right:40px;
}
.advanced-filters-padding{
	padding-left:0px !important;
}
.advanced-filter-padding-tag{
 padding-top:0px;
 }
 .advanced-filter-padding-tag1{
 padding-bottom:0px;
 font-weight:600;
 }
.dynamic-seach-list > ul{
	max-width:830px;
	overflow-y:scroll;
	max-height: 297px;
}
.advanced-filters-multiselect-z-index{
	z-index:999;
}
.advanced-filters-multiselect-height{
	height:30px;
}
.advanced-filters-device-align{
	margin-left: 3px;
}
