.announcement-list-header{
font-size: 17px;
font-weight: 500;
border-bottom:1px solid #c1c1c1;  
color:#000000;
height:25%;
min-height: 30px;
}
.announcement-list{
	color:#828386;
	font-size: 15px;
	border-bottom:1px solid #c1c1c1;
	min-height: 80px !important; 
	padding-top:10px;
	max-height: 80px !important; 
	overflow: hidden; 
text-overflow: ellipsis;

}
.cursor-pointer{
	 cursor: pointer;
}
.overflow-scroll-y{
	overflow-y:scroll;
}
.textarea-height{
	height:150px !important;
}
.padding-left-first-col{
	padding-left:9px;
}
.overflow-ellipsis{
overflow: hidden; 
text-overflow: ellipsis;
}
.announce-list{
	padding:12px 18px 18px 18px;
	border-top: solid 1px #dddddd;
	border-left: solid 3px #dddddd;
	border-right: solid 3px #dddddd;
	border-bottom: solid 1px #dddddd;
	margin-bottom:20px;
	&:first-child{
		margin-top:12px;
	}
	h2{
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 0px;
		margin-top: 0px;
		line-height: 29px;
	}	
}
#announcementflag:before{
content: "\f024" !important;
}
/* 09/01   */

.announce-list p, .announce-list h2, .announce-list button, .announce-list_editable {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
/* IE6 and below */
* html .announce-list p, .announce-list h2, .announce-list button, .announce-list_editable { white-space: pre  }
/* IE7 */
*:first-child+html .announce-list p, .announce-list h2, .announce-list button, .announce-list_editable { white-space: pre  }

.noclick {
    cursor: default !important;

}
.noclick:hover {
    border: 0px !important;
    
}
.protocol-list__edit span
{
	color:#c1c1c1;
}