.form__container__authenticate {
	background-color: rgba(255,255,255,0.7);
	padding: 5% 0;
	img {
		height: 200px;
		display: block;
		margin: 0 auto;
	}

	input {
		border-radius: 0;
		border: 1px solid #CECEF6;
	}

	p {
		text-align: center;
		color: #4A4857;
	}

	a {
		font-weight: 100;
		color: #ffffff;
	}

	#forgotpwd a {
		color: #585858;
	}
}

.dashboard__auth__form__input {
	background-color: #FFFFFF;
	height: 35px;
	line-height: 0;
	border: 1px solid #CECEF6;
}

.dashboard__auth__form__input select {
	-moz-appearance: none;
	background-color: inherit;
	border: medium none;
	color: #34455C;
	font-weight: normal;
	height: 30px;
	padding-top: 10px;
	padding-left: 5px;
	text-indent: 1px;
	text-overflow: "";
	width: 100%;
}

.custom-dropdown--auth:before {
	color: #34455C;
	content: "î˜€";
	font-family: "hill-rom";
	font-size: 10px;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 10px;
	z-index: -1;
}

.custom-dropdown--auth {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	line-height: 100%;
	position: relative;
	z-index: 1;

	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}
}

#passwordStrengthContainer {
	width: 100%;
	background-color: #BDBDBD;
	height: 10px;
	transition-duration: 0.5s;
}


.form__container__authenticate {
  background-color: rgba(255,255,255,0.7);
  padding: 10% 5%;
  // padding: 5% 15px;
  img {
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  input {
    margin: 8% 0;
    border-radius: 0;
    border: 1px solid #CECEF6;
  }

  p {
    text-align: center;
    color: #5858FA;
  }
  
  a {
    font-weight: 100;
    color: $tuna;
    font-weight: bold;
  }

  .link {
    display: inline-block;
  }

  #forgotpwd a {
    color: #585858;
    font-weight: normal;
  }
}

.auth--position {
	margin: 10% auto;
  	width: 30%;
  	.visi_view_container{
  		margin: 0% auto 4%;
  	}
}

.form__container__auth {
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	padding: 20px 50px;
  	-moz-box-shadow: 0px 0px 6px $gray-light;
  	-webkit-box-shadow: 0px 0px 6px $gray-light;
  	box-shadow: 0px 0px 6px $gray-light;
  	overflow: hidden;
}

.password_inst{
	color: $trout;
}

.login__container__left-section {
	height: 225px;
    position: absolute;
    top: 50%;
    margin-top: -112.5px;
}

.login-auth-form {
	.form-group {
		margin: 0;
		margin-bottom: 10px;
	}
	.form-control {
		height: 35px;
		border-radius: 0;
		border: solid 1px $silver-approx; 
	}
	.sec-quest {
		color: $nevada;
	}
}

.auth-heading {
	color: $pickled-bluewood;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin: 20px 0;
  text-align: center;
}

.auth-select {
	height: 40px;
	position: relative;
	.custom-dropdown {
		width: 100%;
	}
}