$header--background: $body-bg;

.navbar {
	border: 0;
}

.navbar-default {
	background-color: $header--background;
	color: $bombay;
	min-height: 60px;

	.navbar-brand{
		padding: 18px 10px;
		img {
			height: 20px;
    	width: 65px;
		}
	}

	.navbar-brand__desc {
		display: inline-block;
		padding: 19px 10px;

		&--text-primary {
			color: $sunshade;	
			padding: 0 5px;
		}

		&--text-secondary {
			color: $silver-fade;
		}
	}
}

.navbar-default > .container > .navbar-primary {
	width: 23%;
}

.navbar-default > .container, 
.navbar-default > .container > .navbar-header, 
.navbar-default > .container > .navbar-header > .navbar-brand, 
.navbar-default > .container > .navbar-secondary,
.navbar-default > .container > .navbar-secondary ul,
.navbar-default > .container > .navbar-secondary ul li {
	min-height: inherit;
	background-color: inherit;
	color: inherit;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.navbar-secondary .navbar-right > li {
  min-width: 40px;
}

.navbar-secondary .navbar-right > li {
  padding: 0 20px;
  position: relative;
}

.navbar-secondary .navbar-right > li.icon-border:before {
	border-right: 1px solid $storm-dust;
  content: "";
  height: 20px;
  position: absolute;
  right: 0;
  top: 20px;
}

.navbar-secondary .navbar-right li a {
	color: inherit;
	padding: 19px 10px;
	span {
		color: $storm-dust;
	}
	&:hover {
		background-color: inherit;
		color: $lapis-lazuli;
		box-shadow : 0 -3px 0 0 $sunshade inset;
		border-radius: 0;
  	padding-bottom: 20px;
  	span{
			color: $lapis-lazuli;
		}
	}
}

.navbar-secondary .navbar-right li:last-child {
	padding-right: 0;
}

.navbar-secondary .navbar-right li:last-child a {
	color: $storm-dust;
	padding: 19px 0;
	&:hover {
		background-color: inherit;
		color: inherit;
		border-radius: 0;
  	padding-bottom: 20px;
  	box-shadow : 0 0 0 0 $terracotta inset;
	}
}

.navbar-secondary .navbar-right li a.active {
	background-color: inherit;
	color: inherit;
	outline: 0;
	box-shadow : 0 -3px 0 0 $sunshade inset;
	border-radius: 0;
	padding-bottom: 20px;
	span{
		color: $lapis-lazuli;
	}
}

.header-popover {
	.popover.bottom {
	  margin-top: 21px;
	}

	.popover.bottom > .arrow {
		left: 89% !important;
	}

	.popover.bottom > .arrow:after {
		border-bottom-color: $kashmir-blue;
	}

	.popover {
		border-radius: 0;
		right: -13px;
    width: 170px;
    left: unset !important;
		background-color: $kashmir-blue;
		border: 1px solid $blue-bayoux;
	}

	.popover-content {
		display: table;
		padding: 10px 14px;
		div{
			display: table-cell;
			text-align: center;
			border-right: 1px solid $bombay;
			cursor: pointer;
			&:nth-last-child(1) {
				border-right:none;
			}
			
			.hillrom-icon{
				padding-bottom: 10px;
			}
			span {
				display: block;
				padding: 0 10px;
				color: $bombay;
			}
			&:hover {
				color: $bombay;
			}
		}
	}
}

.header-popover .popover-link .popover * {
	color: $bombay;
}

.header-popover .popover-link .popover .popover-content div:hover span {
	color: $bombay;
}

.popover-link {
	cursor: default;
}

.navbar-secondary .navbar-right li a:hover span {
    color: $bombay;
}

.navbar-secondary .navbar-right li a:hover #pop-over-link, #icon-arrow {
	color: $storm-dust;
}