/*Navbar Style*/
.hcp_hsp_name_arrow{
	.icon-arrow-down{
		margin-left: 5px;
	}
}
/*Navbar Style END*/


/*HCP Piechart Style*/ 
.hcp_wrapper{
	.stats_chart_container{
		
		.col-3{
			width: 24%;
		    display: inline-block;
		    float: left;
		    position: relative;
		    border-bottom: solid 2px #fff;
		    cursor: pointer;
		    &:hover{
		    	
		    	border-bottom: solid 2px $sunshade;
		    }
		}
	}
	.stats_chart_section{
		margin-top: 25px;
	}

	.stats_chart_content{
	    &.hmr{
	    	color: #8c6bb1;
	    }
	    &.missed{
	    	color: #ef6548;
	    }
	    &.deviation{
	    	color: #41ae76;
	    }
	    &.noevent{
	    	color: #4eb3d3;
	    }
	}
}
.hcp_graph_container{
	margin: 25px 0px 15px;
	.complianceGraph{
		padding: 0px 0px;
	}
}
/*HCP Piechart Style END*/