@font-face {
	font-family: 'hillrom';
	src:url('fonts/hillrom.eot?eisccq');
	src:url('fonts/hillrom.eot?#iefixeisccq') format('embedded-opentype'),
		url('fonts/hillrom.ttf?eisccq') format('truetype'),
		url('fonts/hillrom.woff?eisccq') format('woff'),
		url('fonts/hillrom.svg?eisccq#hillrom') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hillrom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: "\e614";
}
.icon-caregiver:before {
	content: "\e615";
}
.icon-checkbox-empty:before {
	content: "\e616";
}
.icon-checkbox-ticked:before {
	content: "\e617";
}
.icon-close-icon:before {
	content: "\e618";
}
.icon-dashboard:before {
	content: "\e619";
}
.icon-device:before {
	content: "\e61a";
}
.icon-edit-icon:before {
	content: "\e61b";
}
.icon-events:before {
	content: "\e61c";
}
.icon-hill-rom-account-icon:before {
	content: "\e61d";
}
.icon-hill-rom-logout-icon:before {
	content: "\e61e";
}
.icon-settings:before {
	content: "\e61f";
}
.icon-toggle-off:before {
	content: "\e620";
}
.icon-toggle-on:before {
	content: "\e621";
}
.icon-sort-down:before {
	content: "\e611";
}
.icon-sort-up:before {
	content: "\e612";
}
.icon-sort-whole:before {
	content: "\e613";
}
.icon-adherence:before {
	content: "\e608";
}
.icon-delete-icon:before {
	content: "\e610";
}
.icon-man-running:before {
	content: "\e656";
}
.icon-notification-bell:before {
	content: "\e657";
}
.icon-hill-rom-logo:before {
	content: "\e607";
}
.icon-plus-icon:before {
	content: "\e60c";
}
.icon-search-icon:before {
	content: "\e60d";
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-clinic:before {
	content: "\e601";
}
.icon-doctor:before {
	content: "\e602";
}
.icon-logout:before {
	content: "\e603";
}
.icon-lungs:before {
	content: "\e604";
}
.icon-man:before {
	content: "\e605";
}
.icon-man-with-circle:before {
	content: "\e606";
}
.icon-patient:before {
	content: "\e609";
}
.icon-pressure:before {
	content: "\e60a";
}
.icon-tablet-with-circle:before {
	content: "\e60b";
}
.icon-user:before {
	content: "\e60e";
}
.icon-user-account:before {
	content: "\e60f";
}
