.container-top-indent {
	height: inherit;
}

html {
	height: auto;
	margin: 0;
}

body {
	font-family: 'MyriadWebPro';
	font-size: $font-size-base;
  height: auto;
  clear: both;
}

.content-body {
	background-color: inherit;
	margin-top: 60px;
	margin-bottom: 40px;
}

a:focus {
	outline:none;
}

a::-moz-focus-inner {
	border:0;
}

.clr {
	clear: both;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.padding-left {
	padding-left: 10px;
}

.padding-right {
	padding-right: 10px;
}

.padding-left-ls {
	padding-left: 20px;
}

.padding-right-ls {
	padding-right: 20px;
}

.padding-bottom-ls {
	padding-bottom: 20px;
}

.padding-right-xl {
	padding-right: 40px;
}

.margin-top-xl {
	margin-top: 40px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-bottom-xl {
	margin-bottom: 40px;
}

.reset-padding {
	padding: 0;
}

.reset-padding-left {
	padding-left: 0;
}

.reset-padding-right {
	padding-right: 0;
}

.margin-right {
	margin-right: -10px !important;
}

.margin-left {
	margin-left: -10px !important;
}

.btn-margin-left {
  margin-left: 10px;
}

.margin-top {
	margin-top: 20px;
}

.margin-top-sm {
	margin-top: 10px;
}

.margin-top-xl {
	margin-top: 40px;
}

.custom-dropdown > select {
  -moz-appearance: none;
  border: 0;
}

.custom-dropdown:before {
  content:'\e600';
  font-family:"hillrom";
  color: $pickled-bluewood;
  padding: 0;
  font-size: 10px;
  position: absolute;
  top: 7px;
  right: 8px;
  z-index: -1;
}

.custom-dropdown {
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 1;
  display: inline;
  line-height: 100%;
  position: absolute;
}

.vertical-middle {
	vertical-align: middle;
}

.cursor-pointer {
	cursor: pointer;
}

.form-control::-moz-placeholder {
  color: $alto;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: $alto;
}

.form-control::-webkit-input-placeholder {
  color: $alto;
}

.noty-div {
	float: none;
	width: 100%;
	left: 0;
	padding-left: 10px;
}

.noty-div .noty-item {
	width: 100%;
	left: 0;
	border: none;
	border-radius: 4px;
}

.noty-top {
    top: 70px;
}

.noty-div .success {
	background-image: none;
	background-color: $light-green-success;
	height: 35px;
  line-height: 26px;
}

.noty-div .warning {
	background-image: none;
	background-color: $wewak-error;
	background-color: $baby-pink;
  color: $well-read;
  height: 35px;
  line-height: 26px;
}

#loading-bar .bar {
	background: $sunshade;
	height: 4px;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:  $sunshade;
  border-left-color: $sunshade;
}

.text-right {
  text-align: right;
}

.disabled-box {
  color: $alto;
}