.container-top-indent {
	height: inherit;
}

html {
	height: auto;
	margin: 0;
}

body {
	font-family: 'MyriadWebPro';
	font-size: $font-size-base;
  height: auto;
  clear: both;
}

.content-body {
	background-color: inherit;
	margin-top: 60px;
	min-height:900px;
}

a:focus {
	outline:none;
}

a::-moz-focus-inner {
	border:0;
}

.clr {
	clear: both;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.padding-left {
	padding-left: 10px;
}

.padding-right {
	padding-right: 10px;
}

.padding-left-ls {
	padding-left: 20px;
}

.padding-right-ls {
	padding-right: 20px;
}

.padding-bottom-ls {
	padding-bottom: 20px;
}

.padding-right-xl {
	padding-right: 40px;
}

.margin-top-xl {
	margin-top: 40px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom15 {
  margin-bottom: 15px;
}
.margin-bottom-xl {
	margin-bottom: 40px;
}

.reset-padding {
	padding: 0;
}

.reset-padding-left {
	padding-left: 0;
}

.reset-padding-right {
	padding-right: 0;
}

.margin-right {
	margin-right: -10px !important;
}

.margin-left {
	margin-left: -10px !important;
}

.btn-margin-left {
  margin-left: 10px;
}

.margin-top {
	margin-top: 23px;
}

.margin-top-sm {
	margin-top: 10px;
}

.margin-top-xl {
	margin-top: 40px;
}

.custom-dropdown > select {
  /*-moz-appearance: none;*/
  border: 0;
  cursor:pointer;
}

.custom-dropdown:before {
  content:'\e600';
  font-family:"hillrom";
  color: $pickled-bluewood;
  padding: 0;
  font-size: 10px;
  position: absolute;
  top: 9px;
  right: 3px;
  font-weight: 300;
  background-color: transparent;
  width: 15px;
  text-align: center;
  padding-right: 20px;
  z-index: -1;
}
select>option
{
	border-right:1px solid #000;
}
@media screen\0 {
  .custom-dropdown{

    &:before{
      content: '' !important;
      background-color: transparent;
    }
  }
  }
.custom-dropdown.disabled_arrow:before{
	display: none;
}

.custom-dropdown {
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline;
  line-height: 100%;
  position: absolute;
  z-index: 1;
}

.vertical-middle {
	vertical-align: middle;
}

.cursor-pointer {
	cursor: pointer;
}

.form-control::-moz-placeholder {
  color: $alto;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: $alto;
}

.form-control::-webkit-input-placeholder {
  color: $alto;
}

.noty-div {
	float: none;
	width: 100%;
	left: 0;
	padding-left: 10px;
}

.noty-div .noty-item {
	width: 100%;
	left: 0;
	border: none;
	border-radius: 4px;
}

.noty-top {
    top: 105px;
}

.noty-div .noty-item .close {
	margin-right: 10px;
}

.noty-div .success {
	background-image: none;
	background-color: $light-green-success;
	height: 35px;
  line-height: 26px;
}

.noty-div .warning {
	background-image: none;
	background-color: $wewak-error;
	background-color: $baby-pink;
  color: $well-read;
  height: 35px;
  line-height: 26px;
}

#loading-bar .bar {
	background: $blue-btn;
	height: 4px;
}

#loading-bar-spinner .spinner-icon {
	border-top-color:  $blue-btn;
  border-left-color: $blue-btn;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.disabled-box {
  color: $alto;
}

.word-ellipsis {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lebel-indent label {
	padding-left: 0;
}

.lebel-indent label input {
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}

.lebel-indent label span {
	cursor: pointer;
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition:0.5s ease-in all;
    -moz-transition:0.5s ease-in all;
    -o-transition:0.5s ease-in all;
    transition:0.5s ease-in all;
    opacity: 0;
    margin-left: 75px;
}

.slide.ng-enter-active {
    opacity: 1;
    margin-left: 0;
}

/* Start Customize datepicker for dab UI */
.custom-date .dropdown-menu {
	min-width: 200px;
}

.datepicker table tr td span {
	font-size: $font-size-base;
	font-weight: $font-weight-medium;
}
/* End Customize datepicker for dab UI */

.dropdown.open {
	.dropdown-menu {
		z-index: 9999;
		li {
			a:hover, a:focus {
				background-color: #7ca3dc;
				color: #FFFFFF;
			}
		}
	}
}

.headerAccount{
  background:#F5F5F5;
  color:#7CA3DC;
  cursor:pointer;
  border: 1px solid rgba(124, 163, 220, 0.53);
  border-bottom: none;
}

#collapseTwo{
  border:1px solid #ccc;
  border-bottom:none;
  padding-left:25px;
}

.expanded{
  color:#7CA3DC !important;
  font-weight:bolder;
}
