@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) { 
	/*HCP dashboard Style device-*/
 	.stats_chart_container{ 
		.pie_chart{
			float: none;
		}
		.stats_chart_content{
			margin: 10px 0px 0px 15px;
		}
	}

	/*Login page Style*/
	.footer_container {
		.footer_right{
			display: none;
		}
	}
	.auth--position{
		width: 70%;
		margin: 10% auto 15%;
	}
	.login{
		.login--position{
			width: 70%;
			margin: 10% auto 15%;
		}
	}
	.visi_view_container{
		margin: 0% auto 4%;
	}
	.login__container__right-section{
		width: 100%;
	}
	/*Login page Style END*/

	/*HCP Patient Dashboar Style*/
	.stats_chart_container{
		.pie_chart{
			text-align: center;
			margin: 10px 0px 0px;
		}
		.col-3{
			.chart_inner_icon{
				left: 36%;
   				top: 22%;
			}
		}
	}
	.hcp_wrapper{
		.stats_chart_container{
			.chart_inner_icon{
				left: 61px;
				top: 43px;
			}
		}
	}
	/*HCP Patient Dashboar Style END*/	
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) { 
	/*HCP dashboard Style*/
	.stats_chart_container{ 
		.pie_chart{
			float: none;
		}
	}

	.form__container__login .login__container__right-section {
		margin: 0 auto;
	}

	.patient-user__navbar ul > li {
		padding-right: 15px;
	}
	/*Login page Style*/
	.footer_container {
		.footer_right{
			display: none;
		}
	}
	.auth--position{
		width: 70%;
		margin: 10% auto 15%;
	}
	.login{
		.login--position{
			width: 70%;
			margin: 10% auto 15%;
		}
	}
	.visi_view_container{
		margin: 0% auto 4%;
	}
	.login__container__right-section{
		width: 100%;
	}	
	/*Login page Style END*/

	/* User Particular info tab padding */
	.user-detail-info {
		padding: 0 10px;
	}
	/* User Particular info tab padding  END*/
}