.dashboard_line_graph , .complianceGraph{

	 .nv-groups {

	 	.nv-point{
	 		stroke-opacity: 1!important;
		    stroke-width: 5px!important;
		    &:hover{
		    	fill-opacity: 1!important;

		    }
	 	}
	}
	.nv-lineChart{
		g{
			rect{
				fill: #E5EFF9;
				opacity: 1 !important;
			}
		}
	}
	.nv-axis{
			path{
				stroke: #ccc;
			}
			.tick{
				text{
				fill: #777;
				}
			}
			.nv-axisMaxMin{
					text{
						fill: #777;
					}
				}
		}
	.nv-wrap{
			.nv-axisMaxMin{
				&:last-child{
					text{
					text-anchor: end !important;
					}
				}
			}
		} 
}

.complianceGraph {
	.axis{
		line{
			stroke: #ccc;
		}
	}
	.svg_bg{
		fill: #e5eff9;
	}
}
/* Grapg ToolTip style */
.nvtooltip{
		&:before { 
		    content: "";
		    display: block;
		    position: absolute;
		    bottom: -11px;
		    left: 40%;
		    width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			
			border-top: 10px solid #ccc;

 		}
 		&:after { 
		    content: "";
		    display: block;
		    position: absolute;
		    bottom: -9px;
		    left: 40.5%;
		    width: 0; 
			height: 0; 
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			
			border-top: 9px solid #fff;

 		}
	}
	.nvtooltip{
		padding: 0px 15px 10px 15px;
		min-width: 150px;
		border-radius: 3px;
		p{
			padding: 0px 0px;
			margin: 0px 0px;
			text-align: left;
		}
		h6{
			margin: 5px 0px;
			padding: 0px 0px;
			line-height: 20px;
			font-weight: bold;
			color: $gray-dark;
			font-size: 12px;
			border-bottom: solid 1px #ccc;
		}
		.graph_ul{
			padding-left: 0px;
			margin-left: 0px;
			li{
				list-style-type: none;
				.value{
					color: $gray-dark;
				}
			}
		}
	}
	.patient_dashdoard_btns{
		clear: left;
	    display: inline-block;
	    margin: 30px 0;
	    width: 100%;	
	}
	/* Grapg ToolTip style */
/* Over write date picker style*/
.daterangepicker{
	&.dropdown-menu{
	width: 490px;
}
		.ranges{
			
		}
	} 
	.table-condensed{
		thead{
			tr{
				background-color: $iceberg;
				color: #fff;
			&:not(:first-child){
				background-color: transparent;
				color: $gray-dark;
			}
			}
		}
		th{
		&.available{
			&:hover{
				background: transparent !important;
			}
			}
		}

	}
	.glyphicon-arrow-left{
		&:before{
			content: '\003c';
		}
	}
	.glyphicon-arrow-right{
		&:before{
			content: '\003e';
		}
	}