.login {   
  background: url("../images/login-bg.svg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
  display: table;
  height: calc(100% - 100px);
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.login .login--position {
  width: 50%;
  margin: 10% auto;
}

.reset--position {
  width: 50%;
  margin: 5% auto;
}

.login-auth-form{
  .email {
    height: 50px;
  }
}

.login__cover {
  margin: 13% 0;
}

.login__container__left-section {
  height: 100%;
  display: table;
}

.login__container__left-section--description {
  vertical-align: middle;
  &.content {
    float: left;
    width: 70%;
    padding-top: 11%;
  }

  &.image {
    padding: 20px 0;
    border-right: 1px solid;
    padding-right: 75px;
  }
}

.login__container__right-section {
  height: 100%;
  display: table;
  padding-bottom: 20px;
}

.login__container__right-section--form {
  display: table-cell;
  vertical-align: middle;
}

.login .login-button {
  color: #FFF;
  border: none;
  padding: 3px 30px;
  background-color: #9A9A9A;
  border-radius: 4px;
  text-transform: uppercase;
}

.login input::-webkit-input-placeholder {
  color: #A7A7A7;
  opacity: 0.6;
}

.login-form {
  .form-group {
    height: 50px;
  }
  input {
    margin: 0 !important;
  }
}

#error_msg {
  color: red;
  margin-bottom: -8%;
}

.form__container__login {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  img {
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  .img-man {
    padding-top: 10%;
  }

  input {
    border-radius: 0;
    border: 1px solid #CECEF6;
  }

  p {
    text-align: center;
    color: #5858FA;
  }
  
  a {
    font-weight: 100;
    color: #ffffff;
  }

  .link {
    display: inline-block;
  }

  #forgotpwd a {
    color: #585858;
  }
}

.myButton {
  background-color:#e4685d;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  border-radius:4px;  
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:2px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  float: right;
}

.myButton:active {
  position:relative;
  top:1px;
}

.login-has-error {
  color: $terracotta;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}

.text-small {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $pickled-bluewood;
}