.login {   
  
  display: table;
  /*height: calc(100% - 123px);*/
  height: 90%;
  position: absolute;
  width: 100%;
  
}


.login .login--position {
  width: 30%;
  margin: auto;
  overflow: hidden;
  padding: 3px;
}

.reset--position {
  width: 30%;
  margin: 10% auto;
}

.login-auth-form{
  .email {
    height: 50px;
  }
}

.login__cover {
  margin: 13% 0;
}

.login__container__left-section {
  height: 100%;
  display: table;
}

.login__container__left-section--description {
  vertical-align: middle;
  &.content {
    float: left;
    width: 70%;
    padding-top: 11%;
  }

  &.image {
    padding: 20px 0;
    border-right: 1px solid;
    padding-right: 75px;
  }
}

.login__container__right-section {
  height: 100%;
  display: inline-block;
  padding-bottom: 20px;
}
.login__container__right-section {
    .login-form{
      .form-group{
        height: 40px;
      }
    } 
  }
.login__container__right-section--form {
  display: table-cell;
  vertical-align: middle;
}

.login .login-button {
  color: #FFF;
  border: none;
  padding: 3px 30px;
  background-color: #9A9A9A;
  border-radius: 4px;
  text-transform: uppercase;
}

.login input::-webkit-input-placeholder {
  color: #A7A7A7;
  opacity: 0.6;
}

.login-form {
  .form-group {
    height: 50px;
  }
  input {
    margin: 0 !important;
  }
}

#error_msg {
  color: red;
  margin-bottom: -8%;
}

.form__container__login {
  background-color: rgba(255,255,255,0.7);
  padding: 10px 50px;
  -moz-box-shadow: 0px 0px 6px $gray-light;
  -webkit-box-shadow: 0px 0px 6px $gray-light;
  box-shadow: 0px 0px 6px $gray-light;
  /*margin-top: 45%;*/
  img {
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  .condition_txt{
    color: $iceberg;
  }
  .img-man {
    padding-top: 10%;
  }

  input {
    border-radius: 0;
    border: 1px solid #CECEF6;
  }

  p {
    text-align: center;
    color: #5858FA;
  }
  
  a {
    font-weight: 100;
    color: $tuna;
    font-weight: bold;
  }

  .link {
    display: inline-block;
  }

  #forgotpwd a {
    color: #585858;
    font-weight: normal;
  }
}

.myButton {
  background-color:#ff9829;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  border-radius:4px;  
  display:inline-block;
  cursor:pointer;
  color:#363a41;
  font-size:12px;
  padding:5px 25px;
  text-decoration:none;
  font-weight: bold;
  /*text-shadow:0px 1px 0px #b23e35;*/
  float: right;
}

.myButton_blue {
  background-color: $blue-btn;
  border: none;
  border-bottom : solid 2px $blue-btn-border;
  display: inline-block;
  cursor: pointer;
  color: $btn-default-bg;
  font-size: 12px;
  padding: 7px 25px 3px;
  text-decoration: none;
  font-weight: normal;
  min-width: 120px;
  /*text-shadow:0px 1px 0px #b23e35;*/
  float: right;
  &:hover{
    background-color: $blue-btn-hover;
  }
}

.myButton:active {
  position:relative;
  top:1px;
}

.login-has-error {
  color: $terracotta;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}

.text-small {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $pickled-bluewood;
}

.visi_view_container{

  text-align: center;
  background: url("../images/visiview.png") no-repeat;
  height: 90px;
  width: 240px;
  margin: 18% auto 4%;
  /*.login_portal_name{
    margin: 0px;
    font-size: 70px;
    font-weight: normal;
  }
  .login_portal_name_sub{
    margin: 0px;
  }*/
}
.login__container__right-section{
    .login-form{
      .recaptcha_container{
        height: auto;
      }
    }
}
.incompatible_browser_message{
  background-color:rgba(255, 255, 255, 0.7);
padding:5px 5px;
box-shadow:0px 0px 6px #777777;
margin-top:20px; text-align:center;
display:inline-block;
text-align:center;
}
.incompatible_browser_message img{
height:40px;
width:40px;
}
.incompatible_browser_message figcaption{
  font-size:10px;
}
.incompatible_browser_message a{
margin-right:15px;
  float:left;
}
.incompatible_browser_message_Header{
color:black; 
font-weight:900;
 font-size:12px; 
  }
  .incompatible_browser_message_Body{
color:black; 
font-weight:300; 
font-size:10px;
  }
  /* To Remove Static Border Bottom*/
  .navbar-fixed-bottom-login {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  right: 0;
  left: 0;
  z-index: 999;
  transform: translate3d(0, 0, 0);
  position:absolute;
}
.remove-static-loginPage{
  position: relative;
   display:none !important; ;
}
.remove-static{
  position: relative;
}
/* End of Remove Static Border Bottom*/