.login {   
  background: url("../images/login_bg.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
  display: table;
  height: calc(100% - 123px);
  position: absolute;
  width: 100%;
  background-size: 100% 100%;
}


.login .login--position {
  width: 40%;
  margin: auto;
  overflow: hidden;
  padding: 3px;
}

.reset--position {
  width: 50%;
  margin: 5% auto;
}

.login-auth-form{
  .email {
    height: 50px;
  }
}

.login__cover {
  margin: 13% 0;
}

.login__container__left-section {
  height: 100%;
  display: table;
}

.login__container__left-section--description {
  vertical-align: middle;
  &.content {
    float: left;
    width: 70%;
    padding-top: 11%;
  }

  &.image {
    padding: 20px 0;
    border-right: 1px solid;
    padding-right: 75px;
  }
}

.login__container__right-section {
  height: 100%;
  display: table;
  padding-bottom: 20px;
}
.login__container__right-section {
    .login-form{
      .form-group{
        height: 40px;
      }
    } 
  }
.login__container__right-section--form {
  display: table-cell;
  vertical-align: middle;
}

.login .login-button {
  color: #FFF;
  border: none;
  padding: 3px 30px;
  background-color: #9A9A9A;
  border-radius: 4px;
  text-transform: uppercase;
}

.login input::-webkit-input-placeholder {
  color: #A7A7A7;
  opacity: 0.6;
}

.login-form {
  .form-group {
    height: 50px;
  }
  input {
    margin: 0 !important;
  }
}

#error_msg {
  color: red;
  margin-bottom: -8%;
}

.form__container__login {
  background-color: rgba(255,255,255,0.7);
  padding: 10px 50px;
  -moz-box-shadow: 0px 0px 6px $gray-light;
  -webkit-box-shadow: 0px 0px 6px $gray-light;
  box-shadow: 0px 0px 6px $gray-light;
  /*margin-top: 45%;*/
  img {
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  .condition_txt{
    color: $iceberg;
  }
  .img-man {
    padding-top: 10%;
  }

  input {
    border-radius: 0;
    border: 1px solid #CECEF6;
  }

  p {
    text-align: center;
    color: #5858FA;
  }
  
  a {
    font-weight: 100;
    color: $tuna;
    font-weight: bold;
  }

  .link {
    display: inline-block;
  }

  #forgotpwd a {
    color: #585858;
    font-weight: normal;
  }
}

.myButton {
  background-color:#ff9829;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  border-radius:4px;  
  display:inline-block;
  cursor:pointer;
  color:#363a41;
  font-size:12px;
  padding:5px 25px;
  text-decoration:none;
  font-weight: bold;
  /*text-shadow:0px 1px 0px #b23e35;*/
  float: right;
}

.myButton_blue {
  background-color: $blue-btn;
  border: none;
  border-bottom : solid 2px $blue-btn-border;
  display: inline-block;
  cursor: pointer;
  color: $btn-default-bg;
  font-size: 12px;
  padding: 5px 25px;
  text-decoration: none;
  font-weight: normal;
  min-width: 120px;
  /*text-shadow:0px 1px 0px #b23e35;*/
  float: right;
  
}

.myButton:active {
  position:relative;
  top:1px;
}

.login-has-error {
  color: $terracotta;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}

.text-small {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $pickled-bluewood;
}

.visi_view_container{

  text-align: center;
  background: url("../images/visiview.png") no-repeat;
  height: 90px;
  width: 240px;
  margin: 27% auto 4%;
  /*.login_portal_name{
    margin: 0px;
    font-size: 70px;
    font-weight: normal;
  }
  .login_portal_name_sub{
    margin: 0px;
  }*/
}