@media only screen and (min-width : 320px) and (max-width : 800px) {
	
	.content-body {
			.login{
			position:relative;
		}
	}
	.footer {
		position:static;
		text-align: center
	}

	.footer_container .footer_left_ul {
		
		&:li {
		 	float:none;
		 	display:inline-block;
		 }
	}

	.none
		{
			display: none;
		}
	.footer_container .footer_right_txt {
		@extend .none;
	}

	.footer_container .footer_right {
		text-align: center;
	}
	.footer_container .footer_right .icon-hill-rom-logo {
		@extend .none;
	}
	.navbar-default .navbar-toggle {
    	border-color: transparent;
   
    &.icon-bar {
    		background-color: #7ca3dc;
	}
}
	.login .login--position
	{
		width: 100%;
	}
	.footer_container, .footer_left{
		padding:0;
	}
/*	.navbar-default .navbar-brand__desc--text-secondary, .navbar-default .navbar-brand__desc--text-primary{
		font-size:12px;
		}
	.navbar-default .navbar-brand .logo{
		font-size:70px;
	}*/
	.footer_container .footer_left_ul li {
	    list-style-type: none;
	    margin: 0 6px 0px 6px;
	    display: inline-block;
	    position: relative;
	    float:none;
	    font-size: 9px;
 	}

 	.footer_container .footer_left_ul li:before {
 		top:7px;
 		right: -8px;
 	}

 	.footer{
 		line-height:25px;
 	}
 	.login__container__right-section {
 		width: 100%;
 	}
 	.form__container__login, .form__container__reset{
 		padding: 10px 0px;
 	}
 	.visi_view_container {
	    text-align: center;
	    background-position: center;
	    height: 70px;
	    width: 240px;
	    margin: 12% auto 7%;
	    background-size: 150px;
		}

	.header-nav{
		border-bottom: 1px solid #cccccc;
		min-height:1px !important;
		overflow: hidden;
	}
	.header-nav .header-nav-content li{
		background-color: #276092 !important;
		width:80%;
		float:right;
		}
	.icons_display_inline{
		display: inline-block !important;
		margin-left:10px;
	}
	.logout-dropdown li{
		width:100%;
	}

	.navbar-secondary {
		.navbar-right {
				.header-popover ul li:first-child:after{
			border-right: none;
			}
		}
	}
	.icon-logged-in-user, .link-text, .icon-user-account, .logout-dropdown>li span, .user-name, .icon-dashboard, .icon-notification-bell {
		@extend .icons_display_inline;
	}
	.navbar-default > .container > .navbar-secondary ul li a{
		text-align:left;
	}

	.navbar-secondary .navbar-right .header-popover ul p
	{
		font-size:10px;
		margin-left:10px;
		display: inline-block !important;
	}


/*Patient pie Charts CSS*/

.padding_0{
	padding: 0px 0px;
}
.mob_no_margin{
	margin: 0px 0px;
}
.stats_chart_container{
	.col-3{
		width: 49%;
		margin-bottom: 10px;
		background-image: none;
		.chart_inner_icon{
			left: 50%;
			margin-left: -22px;
		}
	}
	.pie_chart{
		text-align: center;
		float: none;
		background-image: url("../images/Color-HCP-Dashboard.png");
		background-size: 100% 100%;
		margin-bottom: 10px;
	}
	.stats_chart_content{
		margin: 0px 0px;
	    width: 100%;
	    text-align: center;
	    font-size: 12px;
	}
	.stats_chart_content{
		.percent{
			width: 100%;
		}
	} 
}

.patient-user__navbar{
	.patient-dashboard{
		width: auto;
	    display: inline-block;
	    margin: 0px 0px;
	}

	.patient_nav_link_right{
		li{
			margin: 0px 0px;
			a{
				span:first-child{
					display: none;
				}
				.icons{
					top: 5px;
				}
			}
		}
	}
}
.patient_wrapper{
	margin-top: 0px;
}

} 



