
@font-face {
  font-family: 'MyriadWebPro';
  src: url('fonts/myriad/MyriadWebPro.eot?#iefix') format('embedded-opentype'),  
  		url('fonts/myriad/MyriadWebPro.woff') format('woff'), 
  		url('fonts/myriad/MyriadWebPro.ttf')  format('truetype'), 
  		url('fonts/myriad/MyriadWebPro.svg#MyriadWebPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
