
@font-face {
  font-family: 'MyriadWebPro';
  src: url('myriad/MyriadWebPro.eot?#iefix') format('embedded-opentype'),  url('myriad/MyriadWebPro.woff') format('woff'), url('myriad/MyriadWebPro.ttf')  format('truetype'), url('myriad/MyriadWebPro.svg#MyriadWebPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
