  /* tims */
  .tims_calender
{
 
    width: 25% !important;
    position: absolute;
    top:10%;
    left: 15%;
}
.execute-jobs
{
  display: inline-flex;
}
.timsLogHead,.timsexecuteHead
{
  color:#fff;
}
.timsLogHead:active,.timsexecuteHead:active
{
  /*border-bottom: 3px solid #34455C;
  background-color: #428bca !important;
  padding:10px 0px!important;*/

  background-color: #7ca3dc;
    color: white;
    outline: 0;
    box-shadow: 0 -3px 0 0 #003594 inset;
    border-radius: 0;
    padding-bottom: 9px;
}
.timsLogHead,.timsexecuteHead
{
  padding:10px 10px!important; 
}
.tims-check-box
{
    margin:4% 1%;
}
.timsLogHead span,.timsexecuteHead span
{
  color:#fff;
}
.timsLogHead:hover,.timsexecuteHead:hover,
.timsLogHead:active,.timsexecuteHead:active
{
  background-color: #7ca3dc !important;
  box-shadow: 0 -3px 0 0 #003594 inset;
}

.timsText
{
      font-weight: 100;
    font-size: 1.1em;
}
.timsContainer
{
    width: 500px;
    margin: 0 auto;
    margin-top: 14%;
}
.logTims-head
{
  margin:3% 0%;
}
.textareaBorder
{
  border: 1px solid #cccccc;
  width:50%;
  padding: 4%;
}
.logList
{
  width:100%;
}
.timsContainer-success
{
  margin: 15% 0% 3% 20%;
}
.logStatusWidth
{
  width:10%;
}
.logLinkWidth
{
  width:60%;
}
.tims_header span
{
  color: #276092;
}
.logLinkWidth a{
      color: #34455C;
}
.tims__manage-view--list{
  border-bottom: 1px solid $silver-approx;
  padding-top: 10px;
  padding-bottom: 30px;
  cursor: pointer;
  &:hover {
    background-color: $seashell;
  }
}