  /* tims */
 
.execute-jobs
{
  display: inline-flex;
}
.timsLogHead,.timsexecuteHead
{
  color:#fff;
}
.timsLogHead:active,.timsexecuteHead:active
{
  /*border-bottom: 3px solid #34455C;
  background-color: #428bca !important;
  padding:10px 0px!important;*/

  background-color: #7ca3dc;
    color: white;
    outline: 0;
    box-shadow: 0 -3px 0 0 #003594 inset;
    border-radius: 0;
    padding-bottom: 9px;
}
.timsCalender li
{
    margin-top: -13%;
    margin-left: 9%;
}
.timsDatesRange
{
    position: relative;
    margin-top: 0%;
    font-weight: 500;
    
}
.date-tims span{
  margin-left: 5%;
}

.timsText a
{
  cursor: pointer;
}
.timsLogHead,.timsexecuteHead
{
  padding:10px 10px!important; 
}
.tims-check-box
{
    margin:4% 0%;
    width:13%;
}
.tims-ribbon
{
  padding:0px;
}

.timsDateContainer
{
  width: 22%;
  margin-top: 4%;
  border: 1px solid #cccccc;
}
.successLabel
{
  padding-right:10%;
}
.timsCalender a
{
    position: absolute !important;
    margin-top: 9%;
    margin-left: -11%;
}
.tims-check-box input,.tims-check-box span
{
  float:left !important;
  cursor: pointer;
}
.tims-check-box input
{
  margin-right:7px;
}
.timsLogHead span,.timsexecuteHead span
{
  color:#fff;
}
.timsLogHead:hover,.timsexecuteHead:hover,
.timsLogHead:active,.timsexecuteHead:active
{
  background-color: #7ca3dc !important;
  box-shadow: 0 -3px 0 0 #003594 inset;
}

.timsText
{
    font-weight: 100;
    font-size: 1.1em;
}
.timsContainer
{
    width: 500px;
    margin: 0 auto;
    margin-top: 14%;
}
.logTims-head
{
  margin:3% 0%;
}
.textareaBorder
{
  border: 1px solid #cccccc;
  padding: 4%;
}
.logList
{
  width:100%;
}
.timsContainer-success
{
  margin: 15% 0% 3% 35%;
}
.logStatusWidth
{
  width:10%;
}
.logLinkWidth
{
  width:60%;
}
.tims_header span
{
  color: #276092;
}
.logLinkWidth a{
      color: #34455C;
}

.tims_header 
{
  border-bottom:1px solid transparent;
}
.successLabel, .failLabel
{
  font-weight: 500;
}
.navbar-secondary .navbar-right .header-popover ul li:nth-child(4):after
{
      height: 35px;
    border-right: 1px solid #C1C1C1;
    content: '';
    position: absolute;
    top: 11px;
    right: 0;
}
.tims-dashboard
{
  background-color: transparent;
}
.tims-navbar
{
  margin-top:0px;
}
.tims__manage-view--list{
  border-bottom: 1px solid $silver-approx;
  padding-top: 10px;
  padding-bottom: 30px;
  cursor: pointer;
  &:hover {
    background-color: $seashell;
  }
  }
.infocontainer.timsText
{
    width:75%;
}
.continue-tims
{
  float:left !important;
}
.dialogMsg
{
  font-weight: 100 !important; 
  font-size: 1.1em !important;
  
}
.warningModalDialog
{
  margin-top:-2%;
}
.timsModal
{
  height:65px;
}