@charset 'UTF-8';

/*!
 *
 * Hill-Rom
 * http://www.hill-rom.com/
 * -------------------------
 *
 * AUTHOR(s)
 *
 * Razorfish, India
 * http://razorfish.com
 * --------------------
 *
 * REFERENCES
 *
 * HTML, CSS and JavaScript Entities
 * http://brajeshwar.github.io/entities/
 *
**/

/*
 *
 * Tools: Default mixins and functions
 * Settings: Global variables, config switches
 * Generic: Ground-zero styles (Normalize, resets, box-sizing)
 * Base: Unclassed HTML elements (type selectors)
 * Objects: Cosmetic-free design patterns
 * Component: Designed components, chunks of UI
 * Theme: Component Modifiers
 * Utilities: Helpers and overrides
 *
**/

@import 'bootstrapImport';
@import 'myriad-font';
@import 'hillrom-icon';
@import 'datepicker';
@import 'custom-modal';
@import 'index';
@import 'custom-navbar';
@import 'login';
@import 'reset_request';
@import 'admin-dashboard';
@import 'patient-navbar';
@import 'admin-patient--overview';
@import 'admin-patient--clinic';
@import 'admin-patient--caregiver';
@import 'admin-patient--device';
@import 'footer';
@import 'authenticate';
@import 'user_dashboard';
@import 'line_graph_overwrite';
@import 'hcp_dashboard';
@import 'iPad-media-query';
@import 'footer_static_page';
@import 'mobile-media-query';
@import 'announcements';
@import 'tims';