.read_more{
	color: $sunshade;
}
/* ----Left Navbar CSS ----*/ 
.brand_name{
	color: $label-color;
	padding: $base_padding;
	display: inline-block;
	padding-left: 0px;
}
/* ----Right Navbar CSS ----*/ 
.patient_dash_right_nav{
	li{
		&:last-child{
				padding-right: 0px;
			}
		a{
			color: $label-color;
			border-radius: 0;
			font-weight: normal;
			&:hover{
				background-color: $table-bg;
				color: $pre-bg;
			}
			&:focus{
				background-color: $table-bg;
			}
			
		}

	}
}
/*----- Stats Chart CSS -----*/
.patient_wrapper{
	margin-top: 25px;
}
.stats_chart_section{
	.stats_header{
		border-bottom: $border_default;

		h4{
			color: $gray-dark;
			margin: 0px 0px;
			line-height: 25px;
		}
	}
} 
.stats_chart_container{
	clear: left;
    display: inline-block;
    margin: 25px 0;
    width: 100%;
	.col-3{
		width: 33.3333%;
		display: inline-block;
		float: left;
		position: relative;

		.chart_inner_icon{
			color: #ccc;
		    display: inline-block;
		    font-size: 54px;
		    height: 60px;
		    left: 27px;
		    position: absolute;
		    top: 26px;
		    width: 60px;
		}
	}
	.pie_chart{
		float: left;
	}

}
.stats_chart_content{
	display: inline-block;
    margin: 30px 0 0 15px;
    &.score{
    	color: #FFC31C;
    }
    &.hmr{
    	color: #7E2253;
    }
    &.missed{
    	color: #EA766B;
    }

    .percent{
    	font-size: 30px;
	    font-weight: bold;
	    line-height: 30px;
	    margin: 0;
    }
}
/* Notification Section CSS */
.dashboard_noti_section{
	.header_noti{
		h4{
			margin: 0px 0px;
			color: $gray;
			margin: 0px 0px;
			line-height: 25px;
		}
	}
}
.notification_container{
	ul{
		padding: 0px;
		margin: 0;
		li{
			list-style-type: none;
			padding: 12px 0px;
			padding-left: 60px;
			border-bottom: $border_default;
			color: $gray;
			position: relative;
			&:hover{
				background-color: #F2EFEF;
			}
			.dsh_icon{
				border: $border_default;
			    border-radius: 50%;
			    color: #7DDBFA;
			    font-size: 42px;
			    height: 43px;
			    left: 3px;
			    line-height: 38px;
			    position: absolute;
			    top: 14px;
			    width: 43px;
			}
		}
		.read_more{
			text-decoration: underline;
			&:hover{
				color: $sunshade;
			}
		}
	}
}

/* -----BarChart Style ------*/
.bar_graph_header{
	border-bottom: $border_default;
	display: inline-block;
	width: 100%;
}
.left_header_barchart{
	ul{
		li{
			a{
				padding: 2px 0px;
				color: $gray-light;
				margin: 10px 20px 0px 0px;
				border-radius: 0px;
				border-bottom: solid 2px #fff;
				font-size: 16px;
				&:hover{
					background-color: transparent;
				}
				&:focus{
					background-color: transparent;
					color: $gray-dark;
					border-bottom: solid 2px $sunshade;
				}
			}
		}
	}
}
.right_header_barchart{
	ul{
		li{
			a{
				padding: 2px 0px;
				color: $iceberg;
				margin: 10px 0px 0px 20px;
				border-radius: 0px;
				border-bottom: solid 2px #fff;
				font-size: 14px;
				&:hover{
					background-color: transparent;
				}
				&:focus{
					background-color: transparent;
					color: $gray-dark;
				}
			}
		}
	}
}
.week_date_container{
	color: $gray-dark;
	.date{
		padding: 10px 10px;
	}
}

/* Dash Doard Note section css */
.patient_dashdoard_btns{
	.hillrom-btn{
		background-color: $sunshade;
		border: solid 1px $sunshade;
		color: $gray-dark;
	}
}
.add_note_container{
	display: block;
	border: $border_default;
	clear: left;
	float: left;
	width: 100%;
	min-height: 100px;
	margin: 30px 0px;
		.note_header{
			border-bottom: $border_default;
			display: inline-block;
			width: 100%;
			padding: 5px 0px;
		}
}
.note_header_left{
	.note{
		color: $iceberg;
		font-size: 14px;
	}
	.can_do{
		color: $gray-light;
		font-size: 12px;
	}
}
.note_header_right{
	.cross_icon{
		font-size: 14px;
		font-weight: lighter;
		color: $gray-light;
		text-decoration: none;
		padding: 0px 10px;
	}
}
.notes_content{
	.notes_row{
		border-bottom: $border_default;
		padding: 10px 0px;
	}
}
.edit_delete{
	.icon{
		display: inline-block;
		cursor: pointer;
		&.edit{
			margin-right: 10px;
		}
	}
}
.add_note_container{
	.patient_dashdoard_btns{
		display: inline-block;
		width: 100%;
		margin: 8px 0px 0px;
		padding: 0px 10px;
	}
	.view_all_btn{
		padding: 5px 5px;
		cursor: pointer;
		&:hover{
			color: $gray-dark;
		}
	}
}
.note_edit_container{
	padding: 15px 0px;
	.date_input{
		width: 100%;
	}
	.edit_delete{
		.save{
			background-color: $sunshade;
			border: solid 1px $sunshade;
			margin-right: 15px;
			color: $gray-dark;
			
		}
	}
}