<div class="container login">
  <div class="row auth--position">
    <div class=" form__container__auth  col-md-16 col-lg-16">
      <div class="col-md-6 col-lg-6 ">
        <img src="assets/images/man.svg">
      </div>
      <div class=" col-md-10 col-lg-10 login__container__right-section">
        <div class="auth-heading">Update Your Password </div>
        <div class="alert alert-danger login-has-error" ng-show="otherError">
          <p >Error occured!. Please try again</p>
        </div>
        <div class="alert alert-danger login-has-error" ng-show="alreadyActive">
          <p >User is already active and authenticated.</p>
        </div>
        <div class="alert alert-danger login-has-error" ng-show="questionsNotLoaded">
          <p >Security questions failed to load! Please try again</p>
        </div>
        <div class="alert alert-danger login-has-error" ng-show="doNotMatch">
          The password and its confirmation do not match!
        </div>
        <form class="login-auth-form" ng-show="!success" name="form" role="form" novalidate ng-submit="authenticate($event)" show-validation>
          <div class="form-group">
            <input type="password" class="form-control" validate-on-blur name="password" id="passwordBox"
            ng-model="authenticate.password" ng-minlength=8 ng-maxlength=50 ng-keyup="passwordStrength()" ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required placeholder="{{'authenticate.placeholder.password' | translate}}">
            <div ng-show="(form.password.$showValidationMessage && form.password.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.password.$error.required">
                Password required.
              </span>
              <span class="login-has-error"
                ng-show="form.password.$error.minlength">
                 Password required to be at least 8 characters.
              </span>
              <span class="login-has-error"
                ng-show="form.password.$error.maxlength">
                Password cannot be longer than 50 characters.
              </span>
              <span class="login-has-error"
                 ng-show="form.password.$error.pattern" >
                  Password complexity criteria not met.
              </span>
            </div>
            <div ng-show="form.password.$dirty" class="CommonWidth" id="passwordStrengthContainer">
            </div>
            <div class="CommonWidth">
              <span id="status"></span>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" validate-on-blur name="confirmPassword"
            ng-model="authenticate.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required placeholder="{{'authenticate.placeholder.confirm-password' | translate}}">
            <div ng-show="(form.confirmPassword.$showValidationMessage && form.confirmPassword.$invalid) || submitted ">
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.required">
                Password required.
              </span>
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.minlength">
                 Password required to be at least 8 characters.
              </span>
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.maxlength">
                Password cannot be longer than 50 characters.
              </span>
              <span class="login-has-error"
                 ng-show="form.confirmPassword.$error.pattern" >
                  Password complexity criteria not met.
              </span>
            </div>
          </div>
          <div class="form-group margin-top">
            <div class="auth-heading">security question</div>
            <div class="auth-select">
              <div class="custom-dropdown">
                <select class="form-control" validate-on-blur name="question" ng-model="authenticate.question" required ng-options="question.question for question in questions">
                  <option value="">-- select a security question --</option>
                </select>
              </div>
            </div>
            <div ng-show="(form.question.$showValidationMessage && form.question.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.question.$error.required">
                Security question required.
              </span>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" validate-on-blur name="answer" ng-model="authenticate.answer" required placeholder="{{'authenticate.placeholder.security-answer' | translate}}">
            <div ng-show="(form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.answer.$error.required">
                Answer required.
              </span>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="tnc" ng-model="authenticate.tnc" required>
            <span class="sec-quest">Agree to Terms and Conditions*</span>
            <div ng-show="(form.tnc.$dirty && form.tnc.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.tnc.$error.required">
                Please agree to Terms and Conditions.
              </span>
            </div>
          </div>
          <button type="submit" class="myButton" ng-click="formSubmit()">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>