<div class="container login">
  <div class="row auth--position">
    <div class="visi_view_container">
      <!-- <h1 class="login_portal_name">VisiView</h1>
      <h3 class="login_portal_name_sub">LEALTH PORTAL</h3> -->
    </div>
    <div class=" form__container__auth  col-md-16 col-lg-16">
      <!-- <div class="col-md-6 col-lg-6 ">
        <img src="images/man.svg">
      </div> -->
      <div class=" col-md-16 col-lg-16 login__container__right-section">
        <div class="auth-heading">Set Password </div>
        <div class="password_inst" translate="authenticate.instruction"></div>
        <div class="alert alert-danger login-has-error" ng-show="otherError">
          <p >Error occured!. Please try again</p>
        </div>
        <div class="alert alert-danger login-has-error" ng-show="alreadyActive">
          <p >User is already active and authenticated.</p>
        </div>
        <div class="alert alert-danger login-has-error" ng-show="questionsNotLoaded">
          <p >Security questions failed to load! Please try again</p>
        </div>
        <div class="alert alert-danger login-has-error" ng-show="doNotMatch">
          The password and its confirmation do not match!
        </div>
        <form class="login-auth-form" ng-show="!success" name="form" role="form" novalidate ng-submit="authenticate($event)" show-validation>
          <div class="form-group">
            <input type="password" class="form-control" validate-on-key-press name="password" id="passwordBox"
            ng-model="authenticate.password" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^-\{\}|`~<>\[\]\?\\_=+&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required placeholder="{{'authenticate.placeholder.password' | translate}}">
            <div ng-show="(form.password.$showValidationMessage && form.password.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.password.$error.required || form.password.$error.minlength || form.password.$error.pattern">
                {{'authenticate.password.error' | translate }}
              </span>
              <span class="login-has-error"
                ng-show="form.password.$error.maxlength">
                {{'authenticate.password.maxlength' | translate }}
              </span>
            </div>
            
          </div>
          <div class="form-group">
            <input type="password" class="form-control" validate-on-blur name="confirmPassword"
            ng-model="authenticate.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^-\{\}|`~<>\[\]\?\\_=+&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required placeholder="{{'authenticate.placeholder.confirm-password' | translate}}" pw-check="passwordBox">
            <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$invalid) || submitted ">
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.required && !form.confirmPassword.$error.pwmatch">
                Password required.
              </span>
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.maxlength">
                {{'authenticate.confirm-password.maxlength' | translate }}
              </span>
              <span class="login-has-error"
                 ng-show="form.confirmPassword.$error.pwmatch" >
                  {{'authenticate.confirm-password.error' | translate }}
              </span>
            </div>
          </div>
          <div class="form-group margin-top">
            <div class="auth-heading">Set Security Question</div>
            <div class="auth-select">
              <div class="custom-dropdown">
                <select class="form-control" validate-on-blur name="question" ng-model="authenticate.question" required ng-options="question.question for question in questions">
                  <option value="">-- select a security question --</option>
                </select>
              </div>
            </div>
            <div ng-show="(form.question.$showValidationMessage && form.question.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.question.$error.required">
                Security question required.
              </span>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-disabled="!authenticate.question" validate-on-blur name="answer" ng-model="authenticate.answer" required placeholder="{{'authenticate.placeholder.security-answer' | translate}}">
            <div ng-show="(form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.answer.$error.required">
                Answer required.
              </span>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="tnc" ng-model="authenticate.tnc" required>
            <span class="sec-quest">I agree to the <a href="">Terms and Conditions</a></span>
            <div ng-show="(form.tnc.$dirty && form.tnc.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.tnc.$error.required">
                Please agree to Terms and Conditions.
              </span>
            </div>
          </div>
          <button type="submit" class="myButton_blue" ng-click="formSubmit()">Activate account</button>
        </form>
      </div>
    </div>
  </div>
</div>
