<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<clinic-navbar></clinic-navbar>
<div class="container admin-user">
  <div class="col-md-16 col-sm-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span class="user-gen-details--name">{{::clinic.name}}</span>
     <span class="user-gen-details--hr-id">{{::clinic.hillromId}}</span>
   </div>
 </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" ng-model-options="{ debounce: 1000 }" ng-change="searchAssociatedHcps();" autocomplete="off" placeholder="{{'clinic.placeholder.hcp-name-email-search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
    </div>

    <div class="col-md-16 col-sm-16">
      <ng-include src="'scripts/components/navbar/searchfilter.html'"></ng-include>
    </div>

    <div class="dashboard__manage-view--header">
        <div class="col-md-2 col-sm-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.hcp-name"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type">
          <span translate="clinic.credentials"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type">
          <span translate="clinic.npiNumber"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type">
          <span translate="clinic.clinic-name"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type">
          <span translate="clinic.city"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type">
          <span translate="clinic.state"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type">
          <span translate="clinic.status"></span>
        </div>
        <div class="clr"></div>
      </div>

      <div class="dashboard__manage-view--list assoc" ng-repeat="hcp in associatedHcps" readonly="true">
        <span ng-click="selectDoctor(hcp)">
          <div class="col-md-2 col-sm-2 centered">
            <span class="main-prim-info">{{hcp.lastName}}, {{hcp.firstName}}</span>
          </div>
          <div class="col-md-2 col-sm-2 centered">
            <span class="impo-highlight">{{hcp.credentials}}</span>
          </div>
          <div class="col-md-2 col-sm-2 centered">
            <span class="short-info">{{hcp.npiNumber}}</span>
          </div>

          <div class="col-md-2 col-sm-2 centered">
            <span class="short-info">{{clinic.name}}</span>
          </div>

          <div class="col-md-2 col-sm-2 centered">
            <span class="short-info">{{hcp.city}}</span>
          </div>

          <div class="col-md-2 col-sm-2 centered">
            <span class="short-info">{{hcp.state}}</span>
          </div>

          <div class="col-md-2 col-sm-2 centered">
            <span class="short-info active" ng-if="!hcp.deleted" translate="clinic.status-type.active"></span>
            <span class="short-info inactive" ng-if="hcp.deleted" translate="clinic.status-type.inactive"></span>
          </div>
        </span>
          <div class="col-md-2 col-sm-2 centered text-center" >
            <span class="icon-delete-icon" ng-click="hcp.deleted || openHcpDeactivateModal(hcp.id);"></span>
          </div>

          <div class="clr"></div>
       </div>

       <div class="col-md-16 col-sm-16 empty-list-message" ng-if="associatedHcps && associatedHcps.length === 0">
        <span translate="clinic.noHCPs"></span>
      </div>

      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 col-sm-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found" ng-if="associatedHcps.length > 0">{{total}}</span><span class="record-found" ng-if="associatedHcps.length > 0" translate="clinic.associated-hcps.hcps">HCPs</span>
            <span class="record-found" ng-if="associatedHcps.length > 0" translate="clinic.associated-hcps.found">Found</span>
            <span ng-show="associatedHcps.length > 0">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchAssociatedHcps('PREV')" translate="clinic.associated-hcps.previous">Previous</span>
              <span class="navigaion-no">{{currentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchAssociatedHcps('NEXT')" translate="clinic.associated-hcps.next">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 col-sm-16 reset-padding">
    <div class="col-md-8 col-sm-8 clinic-link">
      <input class="form-control" type="text" ng-model="searchHcp" typeahead="hcp as hcp.lastName + ', &nbsp' + hcp.firstName +' ' + hcp.clinicName for hcp in getHCPsToLinkClinic($viewValue)" typeahead-on-select="showAssociateHCPModal($item)" placeholder="{{'clinic.placeholder.hcp-search' | translate}}" ng-show="isAssociateHCP">
    </div>

    <div class="col-md-8 col-sm-8 clinic-link" ng-if="!clinic.deleted">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkHCP()" translate="clinic.link-hcp" ng-show="!isAssociateHCP && associatedHcps"></buton>
    </div>
  </div>
</div>

<div ng-if="hcpDeactivateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closeHcpDeactivateModal()">&times;</button>
         <p translate="clinic.deleteHcp.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="clinic.deleteHcp.message"></div>
         <div class="fropile_update_btn_group row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociateHCP(deleteHcpId)" translate="clinic.yes" ></buton>
          <buton class="cancel hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="closeHcpDeactivateModal()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<modal ng-if="associateHCPModal" modall="showModal" onyes="selectHCP()" onno="$parent.associateHCPModal = false" header="{{'clinic.associateHcp.warning' | translate}}" message="{{'clinic.associateHcp.message' | translate}}">
</modal>