<clinic-navbar></clinic-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span class="user-gen-details--name">{{clinic.name}}</span>
     <span class="user-gen-details--hr-id">{{clinic.hillromId}}</span>
   </div>
 </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--header">
        <div class="col-md-3 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.hcp-name"></span>
        </div>
        <div class="col-md-2 header--type">
          <span translate="clinic.credentials"></span>
        </div>
        <div class="col-md-2 header--type">
          <span translate="clinic.npiNumber"></span>
        </div>
        <div class="col-md-3 header--type">
          <span translate="clinic.clinic-name"></span>
        </div>
        <div class="col-md-2 header--type">
          <span translate="clinic.city"></span>
        </div>
        <div class="col-md-2 header--type">
          <span translate="clinic.state"></span>
        </div>
        <div class="col-md-1 header--type">
          <span translate="clinic.status"></span>
        </div>
        <div class="clr"></div>
      </div>

      <div class="dashboard__manage-view--list" ng-repeat="hcp in associatedHcps" ng-click="hcp.deleted || selectDoctor(hcp)" readonly="true" ng-class="{'inactive': hcp.deleted}">
          <div class="col-md-3 reset-padding centered">
            <span class="main-prim-info">{{hcp.lastName}} {{hcp.firstName}}</span>
          </div>
          <div class="col-md-2 reset-padding centered">
            <span class="impo-highlight">{{hcp.credentials}}</span>
          </div>
          <div class="col-md-2 reset-padding centered">
            <span class="short-info">{{hcp.npiNumber}}</span>
          </div>

          <div class="col-md-3 reset-padding centered">
            <span class="short-info">{{clinic.name}}</span>
          </div>

          <div class="col-md-2 reset-padding centered">
            <span class="short-info">{{hcp.city}}</span>
          </div>

          <div class="col-md-2 reset-padding centered">
            <span class="short-info">{{hcp.state}}</span>
          </div>

          <div class="col-md-1 reset-padding centered">
            <span class="short-info active" ng-if="!hcp.deleted" translate="clinic.status-type.active"></span>
            <span class="short-info inactive" ng-if="hcp.deleted" translate="clinic.status-type.inactive"></span>
          </div>
          <div class="col-md-1 reset-padding-left centered text-right" >
            <span class="icon-delete-icon" ng-click="hcp.deleted || openHcpDeactivateModal(hcp.id);$event.stopPropagation();"></span>
          </div>

          <div class="clr"></div>
       </div>

       <div class="col-md-16 empty-list-message" ng-if="!associatedHcps.length">
        <span translate="clinic.noHCPs"></span>
      </div>
    </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="form-control" type="text" ng-model="searchHcp" typeahead="hcp as hcp.lastName + ' ' + hcp.firstName +' ' + hcp.email for hcp in hcps | filter:$viewValue" typeahead-on-select="selectHCP($item)" placeholder="{{'clinic.placeholder.hcp-search' | translate}}" ng-show="isAssociateHCP">
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkHCP()" translate="clinic.link-hcp" ng-show="!isAssociateHCP"></buton>
    </div>
  </div>
</div>

<div ng-if="hcpDeactivateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closeHcpDeactivateModal()">&times;</button>
         <p translate="clinic.deleteHcp.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="clinic.deleteHcp.message"></div>
         <div class="fropile_update_btn_group row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociateHCP(deleteHcpId)" translate="clinic.yes" ></buton>
          <buton class="cancel hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="closeHcpDeactivateModal()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>