<clinic-navbar></clinic-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span class="user-gen-details--name">{{clinic.name}}</span>
     <span class="user-gen-details--hr-id">{{clinic.hillromId}}</span>
   </div>
 </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'clinic.placeholder.search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchDoctors()">
            <option value="" selected>Newly Created</option>
            <option value="email">Email</option>
            <option value="firstName">First Name</option>
            <option value="lastName">Last Name</option>
          </select>
        </div>
      </div>
    </div>


    <div class="dashboard__manage-view--list assoc" ng-click="" ng-class="{ 'inactive': doctor.deleted }" ng-repeat="hcp in associatedHcps">
      <div class="col-md-3 reset-padding-left">
        <span class="user-name"> {{hcp.firstName}}  {{hcp.middleName}} {{hcp.lastName}}</span>
        <span class="user-email">{{hcp.email}}</span>
      </div>
      <div class="col-md-4">
        <span class="user-home-no">8244 Heather</span>
        <span class="user-address">{{hcp.address}}</span>
      </div>
      <div class="col-md-4 middle-detail">
        <span class="mobile">{{hcp.mobilePhone}}</span>
      </div>

      <div class="col-md-4 middle-detail">
        <span class="hr-id">{{hcp.hillromId}}</span>
      </div>
      <div class="col-md-1 reset-padding-right middle-detail">
        <span class="glyphicon glyphicon-trash cursor-pointer" ng-click="disassociateHCP(hcp.id)"></span>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="" type="text" name="linkClinic" placeholder="{{'clinic.placeholder.hcp-search' | translate}}" ng-model="searchHcp" load-on-focus="true" load-on-empty="false" ng-show="isAssociateHCP">
      <div class="">
      <div class="parent-detail" ng-repeat="hcp in hcps | filter: {firstName: searchHcp}" ng-if="searchHcp.length > 0">
        <div class="" ng-click="selectHCP(hcp, $index)">
          <span class="user-name">{{hcp.firstName}}</span>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkHCP()" translate="clinic.link-hcp"></buton>
    </div>
  </div>
</div>