<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}&nbsp;&nbsp;</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 reset-padding">
          <span class="dashboard__form--type" translate="patient.caregiver.gen-details"></span>
        </div>

        <div class="col-md-16 margin-top reset-padding">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.title-name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="title" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.title" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === associateCareGiver.title}}">
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="firstName" ng-model="associateCareGiver.firstName" ng-readonly="validateADMINorASP()" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) ||submitted">
                <span class="has-error" ng-show="form.firstName.$error.required">
                  First Name is required.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.pattern" >
                  First Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.minlength" >
                  First Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" >
                  First Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-readonly="validateADMINorASP()" name="middleName" ng-model="associateCareGiver.middleName" ng-pattern="/^[a-z A-Z]+$/" ng-minlength=2 ng-maxlength=15>
              <div ng-show="(form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.pattern" >
                  Middle Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.minlength" >
                  Middle Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" >
                  Middle Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="lastName" ng-model="associateCareGiver.lastName" ng-readonly="validateADMINorASP()" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required">
                  Last Name is required.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.pattern" >
                  Last Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.minlength" >
                  Last Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" >
                  Last Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-md-offset-2 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.relationship"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
              <div class="custom-dropdown">
               <!--  <select name="relationship" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.relationship" ng-options="relationship.name as relationship.name for relationship in relationships" required> -->
              <select name="relationship" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.relationship" ng-options="relationship for relationship in relationships" ng-selected="{{relationship === associateCareGiver.relationship}}">
                </select>
              <!-- <option selected="selected">Select a state</option> -->
              </select>
              <div ng-show="(form.relationship.$dirty && form.relationship.$showValidationMessage && form.relationship.$invalid ) ||submitted">
                <span class="has-error" ng-show="form.relationship.$error.required">
                  Select relationship.
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.address"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="associateCareGiver.address" name="address" ng-readonly="validateADMINorASP()" ng-maxlength=100>
              <div ng-show="(form.address.$showValidationMessage && form.address.$invalid)">
                <span class="has-error" ng-show="form.address.$error.maxlength" >
                  Address cannot be longer than 100 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.city"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="associateCareGiver.city" name="city" ng-readonly="validateADMINorASP()" ng-maxlength=15>
              <div ng-show="(form.city.$showValidationMessage && form.city.$invalid)">
                <span class="has-error" ng-show="form.city.$error.maxlength" >
                  City cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.state"></span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
            <div class="custom-dropdown">
              <!-- <select name="state" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.state" ng-options="state.name as state.name for state in states">
                <option  value="" selected="selected">Select a state</option>
              </select> -->
              <select name="state" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.state" ng-options="state.name as state.name for state in states">
              <option selected="selected">Select a state</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.caregiver.zipcode"></span>
            <span class=""></span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" validate-on-blur class="form-control" name="zip" ng-readonly="validateADMINorASP()" maxlength="5" ng-pattern="/^(?=.*[1-9].*)[0-9]{5}$/" ng-model="associateCareGiver.zipcode">
               <div ng-show="(form.zip.$dirty && form.zip.$showValidationMessage && form.zip.$invalid) || submitted">

                <span class="has-error" ng-show="form.zip.$error.pattern">
                  Zip Code is invalid.
                </span>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.email"></span>
              <span class=""> * </span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="email" class="form-control" validate-on-blur name="email"  ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.email" ng-maxlength=100 required>
              <div ng-show="(form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required">
                  E-mail is required.
                </span>
                <span class="has-error" ng-show="form.email.$error.email">
                  E-mail is invalid.
                </span>
                <span class="has-error" ng-show="form.email.$error.maxlength">
                  E-mail cannot be longer than 100 characters.
                </span>
              </div>
            </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.caregiver.phone-no"></span>
            <span class="">*</span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
            <input type="text" validate-on-blur class="form-control" name="primaryPhone" ng-readonly="validateADMINorASP()" mask="(999)-999-9999" ng-model="associateCareGiver.primaryPhone" required>
             <div ng-show="(form.primaryPhone.$showValidationMessage && form.primaryPhone.$invalid) || submitted">
              <span class="has-error" ng-show="form.primaryPhone.$error.required">
                Home phone number is required.
              </span>
              <span class="has-error" ng-show="!form.primaryPhone.$error.required && form.primaryPhone.$invalid">
                Home phone number is invalid.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.mobile-no"></span>
              <span class=""></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" class="form-control" validate-on-blur  name="mobilePhone"  ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.mobilePhone" mask="(999)-999-9999">
              <div ng-show="(form.mobilePhone.$showValidationMessage && form.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="form.mobilePhone.$invalid">
                  Mobile number is invalid.
                </span>
              </div>
            </div>
        </div>
      </div>
      <div class="clr"></div>
    </div>


    <div class="col-md-16 margin-top reset-padding">
      <div class="">
        <buton type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="formSubmitCaregiver()" ng-show="!patientStatus.isCreate" translate="patient.btn.update" ng-if="careGiverStatus === 'edit'">Update</buton>
        <buton type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="formSubmitCaregiver()" ng-show="!patientStatus.isCreate" translate="patient.btn.save" ng-if="careGiverStatus != 'edit'">Save</buton>
        <buton type="submit" class="hillrom-btn btn-secondary float-right" ng-click="switchPatientTab('patientCraegiver')" ng-show="!patientStatus.isCreate" translate="patient.btn.cancel">cancel</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>