<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 col-sm-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceTypeforBothIcon() =='MONARCH'), 'visivestIcon': (getDeviceTypeforBothIcon() =='VEST'), 'bothdeviceIcon': (getDeviceTypeforBothIcon() =='ALL')}">
     <span class="user-gen-details--name">{{patient.firstName}} {{patient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{patient.hillromId}}</span>
     </span>
   </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">

    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 col-sm-16 reset-padding">
          <div class="col-md-12 col-sm-12 reset-padding">
            <span class="dashboard__form--type" translate="patient.demo-graph.identifier"></span>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.hill-rom-id"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.hillromId}}</span>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>


      <div class="margin-top-xl">
        <div class="col-md-16 col-sm-16 reset-padding">
          <span class="dashboard__form--type" translate="patient.demo-graph.personal-details"></span>
        </div>

        <div class="col-md-16 col-sm-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.title.name"></span>
            </div>
            <div class="col-md-10 dashboard__form--label-val reset-padding">
              <span>{{patient.title}}</span>
            </div>
          </div>

          <div class="col-md-7 col-sm-7 col-sm-offset-0 col-md-offset-2 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.primary-language"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{fullNameLangKey}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.first-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.firstName}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-sm-offset-0 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.middle-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.middleName}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.last-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.lastName}}</span>
            </div>
          </div>

          <div class="col-md-7 col-sm-7 reset-padding col-sm-offset-0 col-md-offset-2">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.date-of-birth"></span>
            </div>
            <div class="col-md-6 col-sm-6 dashboard__form--label-val reset-padding">
              <span>{{patient.formatedDOB}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.gender.name"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.gender}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 reset-padding col-sm-offset-0 col-md-offset-2">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.address"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.address}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.city"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.city}}</span>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-sm-offset-0 reset-padding col-md-offset-2">
          <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.state"></span>
          </div>
          <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
            <span>{{patient.state}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.zipcode"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.zipcode}}</span>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 reset-padding col-sm-offset-0 col-md-offset-2">
          <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.email"></span>
          </div>
          <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
            <span>{{patient.email}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.mobile-number"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.mobilePhone}}</span>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 reset-padding col-sm-offset-0 col-md-offset-2">
          <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.home-phone-number"></span>
          </div>
          <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
            <span>{{patient.primaryPhone}}</span>
          </div>
        </div>
      </div>

         <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.garment-type"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.garmentType}}</span>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 reset-padding col-sm-offset-0 col-md-offset-2">
          <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.garment-color"></span>
          </div>
          <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
            <span>{{patient.garmentColor}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.garment-size"></span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
              <span>{{patient.garmentSize}}</span>
            </div>
        </div>
      </div>
       <div class="col-md-16 col-sm-16 margin-top reset-padding">
   <div class="col-md-7 col-sm-7 reset-padding">
    <div class=" col-md-6 col-sm-6  dashboard__form--label reset-padding">
          <span  translate="patient.demo-graph.patient-notes" ></span>
        </div>
        
        <div class="col-md-10 col-sm-10 dashboard__form--label-val reset-padding">
          <textarea  class="patientInfo_patient_Notes" wrap = "hard" readonly="readonly">{{patient.clinicMRNId.memoNote}}</textarea>
        </div>
        </div>
      
      </div>
      <div class="clr"></div>
    </div>


    <div class="col-md-16 col-sm-16 margin-top reset-padding">
      <div class="fropile_update_btn_group">

       <!--  <buton ng-if="!patient.isDeleted && !patient.lastLoggedInAt && patient.email" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="resendActivationLink()" translate="patient.btn.reactivate-button-text" ng-class="{'disabled btn-inactive': isDisableResendButton}" ng-disabled="isDisableResendButton">Resend Activation Link</buton>
 -->
        <buton class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="openEditDetail()" translate="patient.btn.edit">Edit</buton>

        <!-- <buton ng-if="!patient.isDeleted" class="cancel hillrom-btn btn-primary float-right" translate="patient.btn.deactivate" ng-click="openPatientDeactivateModal(patient)">Deactivate</buton>
        <buton ng-if="patient.isDeleted" class="cancel hillrom-btn btn-primary float-right" translate="patient.btn.activate" ng-click="toggleReactivationModal()">Activate</buton>
        <div class="clr"></div> -->
      </div>
    </div>
    </div>
</div>
<div ng-if="patientDeactivateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closePatientDeactivateModal()">&times;</button>
         <p translate="patient.delete.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete.message"></div>
         <div class="fropile_update_btn_group row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociatePatient(deletePatient)">Yes</buton>
          <buton class="cancel hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="closePatientDeactivateModal()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-show="patientActivateModal" class="modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="toggleReactivationModal()">&times;</button>
         <p translate="patient.activate.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.activate.message"></div>
         <div class="fropile_update_btn_group row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="activatePatient()">Yes</buton>
          <buton class="cancel hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="toggleReactivationModal()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>