<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="editPatient()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 reset-padding">
          <div class="col-md-12 reset-padding">
            <span class="dashboard__form--type" translate="patient.demo-graph.identifier"></span>
          </div>
          <div class="col-md-4 user-required reset-padding">
            <span translate="patient.required-field"></span>
          </div>
        </div>

        <div class="col-md-16 margin-top reset-padding">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.hill-rom-id"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="patient.hillromId" name="HRID" ng-readonly="patientStatus.editMode" required>
              <div ng-show="(form.HRID.$dirty && form.HRID.$showValidationMessage && form.HRID.$invalid) || submitted">
                <span class="has-error" ng-show="form.HRID.$error.required">
                  JDE/HR ID is required.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-2 reset-padding" ng-if="patientStatus.editMode && patientStatus.role =='CLINIC_ADMIN'">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.mrn-id"></span>
              <span class=""></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" ng-model="patient.MRNID" name="MRNID">
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>


      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding">
          <span class="dashboard__form--type" translate="patient.demo-graph.personal-details"></span>
        </div>

        <div class="col-md-16 margin-top reset-padding">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.title.name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="title" ng-readonly="validateADMINorASP()" ng-model="patient.title" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === patient.title}}">
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-md-offset-2 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.primary-language"></span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="language" ng-readonly="validateADMINorASP()" ng-model="patient.langKey">
                  <option value="" selected="selected">Select a language</option>
                  <option value="en">English</option>
                  <option value="fr">French</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="firstName" ng-model="patient.firstName" ng-readonly="validateADMINorASP()" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) ||submitted">
                <span class="has-error" ng-show="form.firstName.$error.required">
                  First Name is required.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.pattern" >
                  First Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.minlength" >
                  First Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" >
                  First Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-readonly="validateADMINorASP()" name="middleName" ng-model="patient.middleName" ng-pattern="/^[a-z A-Z]+$/" ng-minlength=2 ng-maxlength=15>
              <div ng-show="(form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.pattern" >
                  Middle Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.minlength" >
                  Middle Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" >
                  Middle Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="lastName" ng-model="patient.lastName" ng-readonly="validateADMINorASP()" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required">
                  Last Name is required.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.pattern" >
                  Last Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.minlength" >
                  Last Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" >
                  Last Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.date-of-birth"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-6 dashboard__form--input reset-padding">
              <input type="text" name="dob" validate-on-blur class="span2" value="" ng-model="patient.formatedDOB" ng-readonly="validateADMINorASP()" data-date-format="mm/dd/yy" id="dp2" required>
              <span readonly class="dashboard__form--label-age">{{patient.age}}</span>
              <div ng-show="(form.dob.$dirty && form.dob.$showValidationMessage && form.dob.$invalid) || submitted">
                <span class="has-error" ng-show="form.dob.$error.required">
                  Date of Birth is required.
                </span>
                <span class="has-error" ng-if="patient.age == 0">
                  Date of Birth cannot be future.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.gender.name"></span>
              <span class=""></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="gender" ng-readonly="validateADMINorASP()" ng-model="patient.gender">
                  <option selected translate="patient.gender.male">Male</option>
                  <option translate="patient.gender.female">Female</option>
                  <option translate="patient.gender.others">Others</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.address"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="patient.address" name="address" ng-readonly="validateADMINorASP()" ng-maxlength=100>
              <div ng-show="(form.address.$showValidationMessage && form.address.$invalid)">
                <span class="has-error" ng-show="form.address.$error.maxlength" >
                  Address cannot be longer than 100 characters.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.city"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="patient.city" name="city" ng-readonly="validateADMINorASP()" ng-maxlength=15>
              <div ng-show="(form.city.$showValidationMessage && form.city.$invalid)">
                <span class="has-error" ng-show="form.city.$error.maxlength" >
                  City cannot be longer than 15 characters.
                </span>
              </div>
            </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.state"></span>
          </div>
          <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
            <div class="custom-dropdown">
              <select name="state" ng-readonly="validateADMINorASP()" ng-model="patient.state" ng-options="state.name as state.name for state in states">
                <option  value="" selected="selected">Select a state</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.zipcode"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" validate-on-blur class="form-control" name="zip" ng-readonly="validateADMINorASP()" maxlength="5" ng-pattern="/^(?=.*[1-9].*)[0-9]{5}$/" ng-model="patient.zipcode" required>
               <div ng-show="(form.zip.$dirty && form.zip.$showValidationMessage && form.zip.$invalid) || submitted">

                <span class="has-error" ng-show="form.zip.$error.pattern">
                  Zip Code is invalid.
                </span>
                <span class="has-error" ng-show="form.zip.$error.required">
                  Zip Code is required.
                </span>
              </div>
            </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.email"></span>
            <span class=""></span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
            <input type="email" class="form-control" validate-on-blur name="email"  ng-readonly="validateADMINorASP()" ng-model="patient.email" ng-maxlength=100>
            <div ng-show="(form.email.$showValidationMessage && form.email.$invalid) || submitted">
              <span class="has-error" ng-show="form.email.$error.email">
                E-mail is invalid.
              </span>
              <span class="has-error" ng-show="form.email.$error.maxlength">
                E-mail cannot be longer than 100 characters.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.mobile-number"></span>
              <span class=""></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" validate-on-blur class="form-control" name="mobilePhone" ng-readonly="validateADMINorASP()" ng-model="patient.mobilePhone" mask="(999)-999-9999">
               <div ng-show="(form.mobilePhone.$showValidationMessage && form.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="form.mobilePhone.$invalid">
                  Mobile number is invalid.
                </span>
              </div>
            </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.home-phone-number"></span>
            <span class=""></span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
            <input type="text" class="form-control" validate-on-blur  name="primaryPhone"  ng-readonly="validateADMINorASP()" ng-model="patient.primaryPhone" mask="(999)-999-9999">
            <div ng-show="(form.primaryPhone.$showValidationMessage && form.primaryPhone.$invalid) || submitted">
              <span class="has-error" ng-show="form.primaryPhone.$invalid">
                Home phone number is invalid.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
        <div class="col-md-7 reset-padding">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.notes"></span>
            <span class=""></span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
            <textarea type="text" validate-on-blur class="form-control" name="notes" ng-readonly="validateADMINorASP()" ng-model="patient.notes" >
            </textarea>
          </div>
        </div>
      </div>
      <div class="clr"></div>
    </div>


    <div class="col-md-16 margin-top reset-padding">
      <div class="">
        <buton type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="formSubmit()" ng-show="!patientStatus.isCreate" translate="patient.btn.update">Update</buton>
        <buton type="submit" class="hillrom-btn btn-secondary float-right" ng-click="cancelEditDemographics()" ng-show="!patientStatus.isCreate" translate="patient.btn.cancel">cancel</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>