<div class="container login">
  <div class="login--position" ng-show="showLogin">
    <div class="form__container__login login__container">
      <div class="col-md-6">
        <img src="assets/images/man.svg">
        <div class="clr"></div>
      </div>

      <!-- normal login -->
      <div class=" col-md-10 col-lg-10 login__container__right-section">
        <form class="login-form" role="form" name="form" ng-submit="login($event)" novalidate autocomplete="off">
          <div class="auth-heading">LOGIN TO YOUR ACCOUNT</div>
          <div class="alert alert-danger login-has-error" ng-show="authenticationError">
            <span>{{message}}</span>
          </div>

          <div class="text-center indent-bottom-5 login-has-error" ng-show="firstTimeAccessFailed" >Authentication failed!
          </div>

          <div class="form-group">
            <input type="text" class="form-control" validate-on-blur id="username" name="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username" required>
            <div class="form-error" ng-show="(form.username.$showValidationMessage && form.username.$invalid) || loginSubmitted">
              <span class="login-has-error" ng-show="form.username.$error.required ">
                Username required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" validate-on-blur id="password" name="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="password"
            required>
            <div class="form-error" ng-show="(form.password.$showValidationMessage && form.password.$invalid) || loginSubmitted">
              <span class="login-has-error"
              ng-show="form.password.$error.required">
              Password required.
            </span>
          </div>
        </div>

        <p class="help-block" ng-show="captchaError">Please verify again you are not a robot.</p>

        <div  ng-show="showCaptcha">
          <div vc-recaptcha theme="'light'" key="siteKey" on-create="setWidgetId(widgetId)" on-success="setResponse(response)">
          </div>
        </div>

        <div class="col-md-8 col-lg-8 link margin-top" id="forgotpwd">
          <a class="text-small" href="#/reset/request">Forgot Password?</a>
        </div>
        <div class="col-md-8 col-lg-8 link margin-top">
          <button type="submit" class="myButton" translate="login.form.button">LOGIN</button>
        </div>
      </form>
      <div class="clr"></div>
    </div>
    <!-- normal login end-->
<div class="clr"></div>
<!-- first time login end -->
</div>
<div class="clr"></div>
</div>



<div class="reset--position"  ng-show="isFirstLogin">
    <div class="form__container__login login__container">
      <div class="col-md-6 img-man">
        <img src="assets/images/man.svg">
        <div class="clr"></div>
      </div>
    <!-- first time login -->
    <div class=" col-md-10 col-lg-10 login__container__right-section">
    <span ng-if="message">{{message}}</span>
      <form class="login-auth-form" role="form" name="confirmForm" ng-submit="submitPassword($event)" novalidate autocomplete="off" show-validation>
        <div class="form-group email" ng-if="!isEmailExist">
          <input type="email" class="form-control" validate-on-blur name="email" placeholder="Enter Email" ng-model="user.email" ng-maxlength=100 required value="">
          <div ng-show="(confirmForm.email.$showValidationMessage && confirmForm.email.$invalid) || submitted" class="form-error">
            <span class="login-has-error" ng-show="confirmForm.email.$error.required">
             E-mail required.
           </span>
           <span class="login-has-error" ng-show="confirmForm.email.$error.email">
            Invalid e-mail.
          </span>
          <span class="login-has-error" ng-show="confirmForm.email.$error.maxlength">
           E-mail cannot be longer than 100 characters.
         </span>

       </div>
     </div>

     <div class="form-group">
      <input type="password" class="form-control" validate-on-blur name="password" id="passwordBox"
      ng-model="user.password" ng-minlength=8 ng-maxlength=50 ng-keyup="passwordStrength()" ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required placeholder="New Password">
      <div ng-show="(confirmForm.password.$showValidationMessage && confirmForm.password.$invalid) || submitted">
        <span class="login-has-error" ng-show="confirmForm.password.$error.required">
         Password required.
       </span>
       <span class="login-has-error" ng-show="confirmForm.password.$error.minlength">
         Password required to be at least 8 characters.
       </span>
       <span class="login-has-error" ng-show="confirmForm.password.$error.maxlength">
         Password cannot be longer than 50 characters.
       </span>
       <span class="login-has-error" ng-show="confirmForm.password.$error.pattern" >
        Password complexity criteria not met.
      </span>
    </div>
    <div ng-show="form.password.$dirty" class="CommonWidth" id="passwordStrengthContainer">
    </div>
    <div class="CommonWidth">
      <span id="status"></span>
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" validate-on-blur name="confirmPassword"
    ng-model="user.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required placeholder="Enter New Password">
    <div ng-show="(confirmForm.confirmPassword.$showValidationMessage && confirmForm.confirmPassword.$invalid) || submitted">
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.required">
        Password required.
      </span>
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.minlength">
        Password required to be at least 8 characters.
      </span>
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.maxlength">
        Password cannot be longer than 50 characters.
      </span>
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.pattern" >
        Password complexity criteria not met.
      </span>
    </div>
  </div>
  <div class="form-group margin-top">
    <div class="auth-heading">security question</div>
    <div class="auth-select">
      <div class="custom-dropdown">
        <select class="form-control" name="question" validate-on-blur ng-model="user.question" required ng-options="question.question for question in questions">
          <option value="">-- select a security question --</option>
        </select>
      </div>
    </div>
    <div ng-show="(confirmForm.question.$showValidationMessage && confirmForm.question.$invalid) || submitted">
      <span class="login-has-error" ng-show="confirmForm.question.$error.required">
        Security question required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="answer" validate-on-blur ng-model="user.answer" required placeholder="Enter Your Answer">
    <div ng-show="(confirmForm.answer.$showValidationMessage && confirmForm.answer.$invalid) || submitted">
      <span class="login-has-error" ng-show="confirmForm.answer.$error.required">
        Answer required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" name="tnc" ng-model="user.tnc" required>
    <span class="sec-quest">Agree to Terms and Conditions*</span>
    <div ng-show="(confirmForm.tnc.$dirty && confirmForm.tnc.$invalid) || submitted">
    <span class="login-has-error" ng-show="confirmForm.tnc.$error.required">
        Please agree to Terms and Conditions.
        </span>
    </div>
  </div>
  <button type="submit" class="myButton" ng-click="submitConfirmForm()">Reset Password</button>
</form>
</div>
<div class="clr"></div>
<!-- first time login end -->
</div>
<div class="clr"></div>
</div>
<div class="clr"></div>
</div>
