<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" ng-show="$root.isAuthenticated && userRole">
  <div class="container">
    <div class="navbar-header navbar-primary">
      <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" ng-click="goToHomePage();"><span class="logo icon-hill-rom-logo"></span></a>
      <div class="navbar-brand__desc"> 
        <span class="navbar-brand__desc--text-primary"><span translate-cloak="global.logo-text.visi-view">VisiView</span><sup translate-cloak="global.logo-text.tm-sup">TM</sup></span>
        <span class="navbar-brand__desc--text-secondary" translate-cloak="global.logo-text.health-portal">Health Portal</span>
      </div>
    </div> 
  </div>
</nav>

<div class="container login" ng-show="isLoaded">
  <div class="login--position" ng-show="showLogin">
    <div class="visi_view_container">
      <!-- <h1 class="login_portal_name">VisiView</h1>
      <h3 class="login_portal_name_sub">LEALTH PORTAL</h3> -->
    </div>
    <div class="form__container__login login__container">
      <!-- <div class="col-md-6">
        <img src="images/man.svg">
        <div class="clr"></div>
      </div> -->

      <!-- normal login -->
      <div class=" col-md-16 col-lg-16 login__container__right-section">
        <form class="login-form" role="form" name="form" ng-submit="login($event)" novalidate autocomplete="off">
          <div class="auth-heading">Login To Your Account</div>
          <div class="alert alert-danger login-has-error" ng-show="authenticationError">
            <span>{{message}}</span>
          </div>

          <div class="text-center indent-bottom-5 login-has-error" ng-show="firstTimeAccessFailed" >Authentication failed!
          </div>

          <div class="form-group">
            <input type="text" class="form-control" validate-on-blur id="username" name="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username" required>
            <div class="form-error" ng-show="(form.username.$showValidationMessage && form.username.$invalid) || loginSubmitted">
              <span class="login-has-error" ng-show="form.username.$error.required ">
                Username required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" validate-on-blur id="password" name="password" placeholder="{{'global.form.password.placeholder' | translate}}" ng-model="password"
            required>
            <div class="form-error" ng-show="(form.password.$showValidationMessage && form.password.$invalid) || loginSubmitted">
              <span class="login-has-error"
              ng-show="form.password.$error.required">
              Password required.
            </span>
          </div>
        </div>

        <p class="help-block" ng-show="captchaError">Please verify again you are not a robot.</p>

        <div class="form-group recaptcha_container"  ng-show="showCaptcha">
          <div vc-recaptcha theme="'light'" key="siteKey" data-type="image" on-create="setWidgetId(widgetId)" on-success="setResponse(response)">
          </div>
        </div>

        <div class="col-md-8 col-lg-8 link" id="forgotpwd">
          <div class="row">
            <a class="text-small" href="#/reset/request">Forgot Password?</a>
          </div>
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="row">
            <button type="submit" class="myButton_blue" translate="login.form.button">LOGIN</button>
          </div>
        </div>
      </form>
      <div class="clr"></div>
    </div>
    <!-- normal login end-->
<div class="clr"></div>
<!-- first time login end -->
</div>
<div class="clr"></div>
</div>



<div class="reset--position"  ng-show="isFirstLogin">
    <div class="visi_view_container">
      <!-- <h1 class="login_portal_name">VisiView</h1>
      <h3 class="login_portal_name_sub">LEALTH PORTAL</h3> -->
    </div>
    <div class="form__container__login login__container">
      <!-- <div class="col-md-6 img-man">
        <img src="images/man.svg">
        <div class="clr"></div>
      </div> -->
    <!-- first time login -->
    <div class="auth-heading" translate="reset-password.set-password"> </div>
    <div class=" col-md-16 col-lg-16 login__container__right-section">
    <div class="password_inst" translate="login.instruction"></div>
    <span ng-if="message">{{message}}</span>
      <form class="login-auth-form" role="form" name="confirmForm" ng-submit="submitPassword($event)" novalidate autocomplete="off" show-validation>
        <div class="form-group email" ng-if="!isEmailExist">
          <input type="email" class="form-control" validate-on-blur name="email" placeholder="Enter Email" ng-model="user.email" ng-maxlength=100 required ng-pattern="/^[a-z][a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,4})$/" value="">
          <div ng-show="(confirmForm.email.$showValidationMessage && confirmForm.email.$invalid) || submitted" class="form-error">
            <span class="login-has-error" ng-show="confirmForm.email.$error.required" translate="error.email.required"></span>
           <span class="login-has-error" ng-show="confirmForm.email.$error.pattern" translate="error.email.invalid"></span>
          <span class="login-has-error" ng-show="confirmForm.email.$error.maxlength" translate="error.email.maxlength">
         </span>

       </div>
     </div>

     <div class="form-group">
      <input type="password" class="form-control" validate-on-key-press name="password" id="passwordBox"
      ng-model="user.password" ng-minlength=8 ng-maxlength=50 ng-keyup="passwordStrength()" ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" placeholder="New Password" required>
      <div ng-show="(confirmForm.password.$showValidationMessage && confirmForm.password.$invalid) || submitted">
        <span class="login-has-error" ng-show="confirmForm.password.$error.required">
         {{'login.password.required' | translate }}
       </span>
       <span class="login-has-error" ng-show="confirmForm.password.$error.maxlength">
         {{'login.password.maxlength' | translate }}
       </span>
    </div>
    <div ng-hide="true" class="CommonWidth" id="passwordStrengthContainer">
    </div>

    <div class="CommonWidth">
      <span id="status"></span>
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" validate-on-blur name="confirmPassword"
    ng-model="user.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required  pw-check="passwordBox" placeholder="Enter New Password">
    <div ng-show="(confirmForm.confirmPassword.$dirty && confirmForm.confirmPassword.$invalid) || submitted">
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.required && !confirmForm.confirmPassword.$error.pwmatch">
        {{'login.password.required' | translate }}
      </span>
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.maxlength">
         {{'login.confirm-password.maxlength' | translate }}
      </span>
      <span class="login-has-error" ng-show="confirmForm.confirmPassword.$error.pwmatch" >
        {{'login.confirm-password.error' | translate }}
      </span>
    </div>
  </div>
  <div class="form-group margin-top">
    <div class="auth-heading">security question</div>
    <div class="auth-select">
      <div class="custom-dropdown">
        <select class="form-control" name="question" validate-on-blur ng-model="user.question" required ng-options="question.question for question in questions">
          <option value="">-- select a security question --</option>
        </select>
      </div>
    </div>
    <div ng-show="(confirmForm.question.$showValidationMessage && confirmForm.question.$invalid) || submitted">
      <span class="login-has-error" ng-show="confirmForm.question.$error.required">
        Security question required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="answer" ng-disabled="!user.question" validate-on-blur ng-model="user.answer" required placeholder="Enter Your Answer">
    <div ng-show="(confirmForm.answer.$showValidationMessage && confirmForm.answer.$invalid) || submitted">
      <span class="login-has-error" ng-show="confirmForm.answer.$error.required">
        Answer required.
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" name="tnc" ng-model="user.tnc" required>
    <span class="sec-quest">I agree to the <a class="condition_txt" href="">Terms and Conditions.</a></span>
    <div ng-show="(confirmForm.tnc.$dirty && confirmForm.tnc.$invalid) || submitted">
    <span class="login-has-error" ng-show="confirmForm.tnc.$error.required">
        Please agree to Terms and Conditions.
        </span>
    </div>
  </div>
  <button type="submit" class="myButton_blue" ng-click="submitConfirmForm()">Activate account</button>
</form>
</div>
<div class="clr"></div>
<!-- first time login end -->
</div>
<div class="clr"></div>
</div>
<div class="clr"></div>
</div>
