<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div>

        <div class="col-md-16 margin-top reset-padding">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.title-name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="title" ng-model="associateCareGiver.title" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === associateCareGiver.title}}">
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="firstName" ng-model="associateCareGiver.firstName" ng-minlength=1 ng-maxlength=50 required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) ||submitted">
                <span class="has-error" ng-show="form.firstName.$error.required" translate="error.firstName.required"></span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" translate="error.firstName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="middleName" ng-model="associateCareGiver.middleName" ng-minlength=1 ng-maxlength=50>
              <div ng-show="(form.middleName.$showValidationMessage && form.middleName.$invalid) ||submitted">
                <span class="has-error" ng-show="form.middleName.$error.minlength" translate="error.middleName.minlength"></span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" translate="error.middleName.maxlength"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="lastName" ng-model="associateCareGiver.lastName" ng-minlength=1 ng-maxlength=50 required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required" translate="error.lastName.required"></span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" translate="error.lastName.maxlength"></span>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-md-offset-2 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.mobile-no"></span>
              <span class=""></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" class="form-control" validate-on-blur  name="mobilePhone"  ng-model="associateCareGiver.mobilePhone" ui-mask="(999)-999-9999" model-view-value="true" ui-options="{clearOnBlur: false}">
              <div ng-show="(form.mobilePhone.$showValidationMessage && form.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="form.mobilePhone.$error.mask" translate="error.mobilePhone.mask"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.address"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="associateCareGiver.address" name="address" ng-maxlength=100>
              <div ng-show="(form.address.$showValidationMessage && form.address.$invalid) ||submitted">
                <span class="has-error" ng-show="form.address.$error.maxlength" translate="error.address.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.city"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="associateCareGiver.city" name="city" ng-maxlength=15>
              <div ng-show="(form.city.$showValidationMessage && form.city.$invalid) ||submitted">
                <span class="has-error" ng-show="form.city.$error.maxlength" translate="error.city.maxlength"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.state"></span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
            <div class="custom-dropdown">
              <select name="state" ng-model="associateCareGiver.state" ng-options="state.name as state.name for state in states">
              <option selected="selected">Select a state</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.caregiver.zipcode"></span>
            <span class=""></span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" validate-on-blur class="form-control" name="zip" maxlength="7" ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' ng-model="associateCareGiver.zipcode">
               <div ng-show="(form.zip.$dirty && form.zip.$showValidationMessage && form.zip.$invalid) || submitted">
                <span class="has-error" ng-show="form.zip.$error.pattern" translate="error.zipcode.invalid">
                </span>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.email"></span>
              <span class=""> * </span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="email" class="form-control" validate-on-blur name="email" ng-model="associateCareGiver.email" ng-maxlength=100 ng-pattern="/^[a-zA-Z][\.a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.([a-zA-Z]{2,4})$/" required>
              <div ng-show="(form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required" translate="error.email.required"></span>
                <span class="has-error" ng-show="form.email.$error.pattern" translate="error.email.invalid"></span>
                <span class="has-error" ng-show="form.email.$error.maxlength" translate="error.email.maxlength"></span>
              </div>
            </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.caregiver.phone-no"></span>
            <span class="">*</span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
            <input type="text" validate-on-blur class="form-control" name="primaryPhone" ui-mask="(999)-999-9999" model-view-value="true" ng-model="associateCareGiver.primaryPhone" required ui-options="{clearOnBlur: false}">
             <div ng-show="(form.primaryPhone.$showValidationMessage && form.primaryPhone.$invalid) || submitted">
              <span class="has-error" ng-show="form.primaryPhone.$error.required" translate="error.primaryPhone.required"></span>
              <span class="has-error" ng-show="form.primaryPhone.$error.mask" translate="error.primaryPhone.mask"></span>
            </div>
          </div>
        </div>
      </div>

       <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.timestamp-preference"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <div class="col-md-10 dashboard__form__input--sec-option reset-padding">
              <div class="custom-dropdown">
                <select class="security-select" ng-model="associateCareGiver.timeZone" ng-options="key as key + '  &nbsp : &nbsp ' + value for (key , value) in timezoneList"></select>
            </div>
            </div>
              </div>
            </div>
        </div>
      </div>
      <div class="clr"></div>
    </div>


    <div class="col-md-16 margin-top reset-padding">
      <div class="">
          <button type="button" class="hillrom-btn btn-submit float-right" ng-show="!userStatus.isCreate" translate="profile.update-button-text" ng-click="showUpdate()">Update</button>
          <button type="reset" ng-click="cancel()" ng-show="!userStatus.isCreate" class="cancel hillrom-btn btn-submit float-right" translate="profile.cancel-button-text">Cancel</button>
          <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>

<div ng-if="showUpdateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close(false)">&times;</button>
         <p translate="profile.update.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="profile.update.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updateProfile()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="$parent.showUpdateModal= false">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>