
<div class="dashboard dashboard--content padding-bottom-ls">

    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 col-sm-16 col-xs-16 margin-top reset-padding">
          <div class="col-md-7 col-sm-7 col-xs-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.title-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.title}}</span>
            </div>
          </div>
        </div>
        <div class="clr clr_mob"></div>
      </div>

      <div>
        <div class="col-md-16 col-sm-16 col-xs-16 margin-top margin0 reset-padding">
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.first-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.firstName}}</span>
            </div>
          </div>

          <div class="col-md-7 col-sm-7 col-xs-16 col-md-offset-2 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.middle-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.middleName}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.last-name"></span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.lastName}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.mobile-no">Mobile No.</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.mobilePhone}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.address">Address</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.address}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.city">City</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.city}}</span>
            </div>
          </div>
        </div>



        <div class="col-md-16 col-sm-16 col-xs-16 reset-padding margin0 margin-top">
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.state">State</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.state}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.zip">Zip</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.zipcode}}</span>
            </div>
          </div>
        </div>


        <div class="col-md-16 col-sm-16 col-xs-16 reset-padding margin0 margin-top">
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.email">Email</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.email}}</span>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.view-role-text"></span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span translate="profile.role.caregiver"></span>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 col-xs-16 reset-padding margin0 margin-top">
          <div class="col-md-7 col-sm-7 col-xs-16 reset-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.phone-no">Phone No.</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.primaryPhone}}</span>
            </div>
          </div>
           <div class="col-md-7 col-sm-7 col-xs-16 reset-padding col-md-offset-2">
            <div class="col-md-6 col-sm-6 col-xs-6 dashboard__form--label reset-padding">
              <span class="">Preferred Timezone</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 dashboard__form--label-val reset-padding">
              <span>{{associateCareGiver.timeZone}}</span>
            </div>
          </div>
        </div>
      <div class="clr"></div>
    </div>

    <div class="col-md-16 col-sm-16 col-xs-16 margin-top reset-padding">
      <div class="">
        <buton class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="editMode()" translate="profile.edit-button-text">Edit</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
</div>