<ng-include src="'scripts/components/navbar/navbarpatientuser.html'"></ng-include>
<ng-include src="'scripts/modules/patient/survey/views/navbarsurvey.html'"></ng-include>

<!-- 5 days therapy-->
	<div class="container admin-user">
	  <div class="container margin-top reset-padding">
	    <div class="col-md-16 reset-padding">
	      <span class="dashboard__form--type" >Outcomes Monitoring: 5 Day Survey - The Vest Airway Clearance System</span>
	    </div>
	  </div>

	  <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-12 reset-padding">
            <span class="dashboard__form--type ng-scope">General Info</span>
          </div>
          <div class="col-md-4 user-required reset-padding">
            <span class="ng-scope">* Required Field</span>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding">
	           		 <span class="dashboard__form--type ng-scope">Patient Name *</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16">
	           		 <span class="dashboard__form--type ng-scope">Patient Phone Number *</span>
	            </div>
	            <div class="col-md-16">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
	   </div>

	    <div class="col-md-16 reset-padding margin-top">
    		<div class="reset-padding">
        		<span class="dashboard__form--type ng-scope">Usage Info</span>
     		 </div>
     		 <div class="col-md-12 dark_grey_text_color14 reset-padding">
	     		 <p>Please type the reading  from the total use display in field below. The display reads to the the tength of the hour. <br />Confirm your device is turned on, at the Noraml/Custom screen press the OFF button to obtain the hour meter reading.</p>
	     		 <p>If you are away from your device, type the number 0 in the hours of use field and check "Not Available" box.</p>
     		 </div>
	    </div>

	    <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding">
	           		 <span class="dashboard__form--type ng-scope">Hours of use (to one decimal point) *</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding margin-top">
            <div class="col-md-16">
	           	<label>
		          <input type="checkbox"  class="ng-pristine ng-untouched ng-valid">
		          <span class="radio-box-text">Not Available</span>
        		</label>
	           
          </div>
	   </div>
	   </div>

	     <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding">
	           		 <span class="dashboard__form--type ng-scope">Serial Number(seven digit number)</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16">
	           		 <span class="dashboard__form--type ng-scope">Date</span>
	            </div>
	            <div class="col-md-16">
	           		 <input class="col-md-14" type="date">
	           	</div>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top dark_grey_text_color14 ">
			<p>The following questions ask about the Vest Airway Clearance System training session. Please answer the following questions by choosing Yes or No. <br />If your response is No, Please feel free to explain or comment on the experience.</p>
	   </div>


	   <div class="col-md-16 reset-padding margin-top">
			<span>Did the trainer demonstrate and perform a complete therapy session ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-3 reset-padding">
				<label>
				<input type="radio"  class="ng-pristine ng-untouched ng-valid">
				<span class="radio-box-text">Yes</span>
				</label>
			</div>
			<div class="col-md-3 reset-padding">
				<label>
					<input type="radio"  class="ng-pristine ng-untouched ng-valid">
					<span class="radio-box-text">No</span>
				</label>
			</div>
	   </div>
	   <div class="col-md-16 reset-padding">
	   		<input type="textbox"  placeholder="If no, please explain" class="ng-pristine col-md-15 ng-untouched ng-valid">
	   </div>


	   <div class="col-md-16 reset-padding margin-top">
			<span>Did the trainer make sure your garmet fit youproperly ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-3 reset-padding">
				<label>
				<input type="radio"  class="ng-pristine ng-untouched ng-valid">
				<span class="radio-box-text">Yes</span>
				</label>
			</div>
			<div class="col-md-3 reset-padding">
				<label>
					<input type="radio"  class="ng-pristine ng-untouched ng-valid">
					<span class="radio-box-text">No</span>
				</label>
			</div>
	   </div>


	   <div class="col-md-16 reset-padding margin-top">
			<span>Did the trainer explain the outcomes monitoring program and how to obtain the hour meter reading The Vest System Device ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-3 reset-padding">
				<label>
				<input type="radio"  class="ng-pristine ng-untouched ng-valid">
				<span class="radio-box-text">Yes</span>
				</label>
			</div>
			<div class="col-md-3 reset-padding">
				<label>
					<input type="radio"  class="ng-pristine ng-untouched ng-valid">
					<span class="radio-box-text">No</span>
				</label>
			</div>
	   </div>

	    <div class="col-md-16 reset-padding margin-top">
			<span>Did the trainer review trouble shooting and safety instructions regarding The Vest System usage  ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-3 reset-padding">
				<label>
				<input type="radio"  class="ng-pristine ng-untouched ng-valid">
				<span class="radio-box-text">Yes</span>
				</label>
			</div>
			<div class="col-md-3 reset-padding">
				<label>
					<input type="radio"  class="ng-pristine ng-untouched ng-valid">
					<span class="radio-box-text">No</span>
				</label>
			</div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<span>Did the trainer provide you with our toll free number 800 in case you need to call us  ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-3 reset-padding">
				<label>
				<input type="radio"  class="ng-pristine ng-untouched ng-valid">
				<span class="radio-box-text">Yes</span>
				</label>
			</div>
			<div class="col-md-3 reset-padding">
				<label>
					<input type="radio"  class="ng-pristine ng-untouched ng-valid">
					<span class="radio-box-text">No</span>
				</label>
			</div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<span>Would you recommend this trainer to others  ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-3 reset-padding">
				<label>
				<input type="radio"  class="ng-pristine ng-untouched ng-valid">
				<span class="radio-box-text">Yes</span>
				</label>
			</div>
			<div class="col-md-3 reset-padding">
				<label>
					<input type="radio"  class="ng-pristine ng-untouched ng-valid">
					<span class="radio-box-text">No</span>
				</label>
			</div>
	   </div>
	    <div class="col-md-16 reset-padding margin-top">
			<span>Any other comments ? *</span>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
			<input class="col-md-15" type="textarea">
			
	   </div>
	   <div class="col-md-16 reset-padding margin-top">
			<span>Clinical follow-up</span>
	   </div>
	   <div class="col-md-16 reset-padding margin-top">
			<div class=" reset-padding">
				<label>
				<input type="checkbox"  class="ng-pristine ng-untouched ng-valid">
				
				</label>
			</div>
			<div class="col-md-15 reset-padding">
				<label>
					
					<span class="radio-box-text">Please have a clinician contact me within the next 3 business days</span>
				</label>
			</div>
	   </div>
	    <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-2 reset-padding">
			
				<input type="button"  value="Submit" class="col-md-14">
				
			</div>
			<div class="col-md-2 reset-padding">
				<input type="button"  value="Cancel" class="col-md-14">
			</div>
	   </div>

<!-- 5 days therapy ends-->








	    <div class="container margin-top reset-padding">
	    <div class="col-md-16 reset-padding">
	      <span class="dashboard__form--type" >Outcomes Monitoring: 30 Day Survey - The Vest Airway Clearance System</span>
	    </div>
	  </div>

	  <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-12 reset-padding">
            <span class="dashboard__form--type ng-scope">General Info</span>
          </div>
          <div class="col-md-4 user-required reset-padding">
            <span class="ng-scope">* Required Field</span>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding">
	           		 <span class="dashboard__form--type ng-scope">Patient Name *</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16">
	           		 <span class="dashboard__form--type ng-scope">Patient Phone Number *</span>
	            </div>
	            <div class="col-md-16">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
	   </div>

	    <div class="col-md-16 reset-padding margin-top">
    		<div class="reset-padding">
        		<span class="dashboard__form--type ng-scope">Usage Info</span>
     		 </div>
     		 <div class="col-md-12 dark_grey_text_color14 reset-padding">
	     		 <p>Please type the reading  from the total use display in field below. The display reads to the the tength of the hour. <br />Confirm your device is turned on, at the Noraml/Custom screen press the OFF button to obtain the hour meter reading.</p>
	     		 <p>If you are away from your device, type the number 0 in the hours of use field and check "Not Available" box.</p>
     		 </div>
	    </div>

	    <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding">
	           		 <span class="dashboard__form--type ng-scope">Hours of use (to one decimal point) *</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding margin-top">
            <div class="col-md-16">
	           	<label>
		          <input type="checkbox"  class="ng-pristine ng-untouched ng-valid">
		          <span class="radio-box-text">Not Available</span>
        		</label>
	           
          </div>
	   </div>
	   </div>

	     <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding">
	           		 <span class="dashboard__form--type ng-scope">Serial Number(seven digit number)</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16">
	           		 <span class="dashboard__form--type ng-scope">Date</span>
	            </div>
	            <div class="col-md-16">
	           		 <input class="col-md-14" type="date">
	           	</div>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top dark_grey_text_color14 ">
			<p>The following questions ask about the Vest Airway Clearance System training session. Please answer the following questions by choosing Yes or No. <br />If your response is No, Please feel free to explain or comment on the experience.</p>
	   </div>


	  


	   

	  

	   <div class="col-md-16">
        <h3>Please answer the following questions by choosing any one option.</h3>
     </div>
<!--first question -->
     <div class="col-md-16">
        <h5>The therapy helps me clear secretions from my lungs *</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>
        </div>

        <!--second question -->
     <div class="col-md-16">
        <h5>The therapy helps me manage my respiratory health at home*</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>
      </div>

        <!--third question -->
     <div class="col-md-16">
        <h5>Using this therapy hepls me have  more energy to do my regular activities of daily living *</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>
      </div>

         <!--fourth question -->
     <div class="col-md-16">
        <h5>The therapy helps me to minize my shortness of breath*</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>
    </div>

          <!--fifth question -->
     <div class="col-md-16">
        <h5>Using this therapy helps my quality of sleep*</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>
      </div>

           <!--sixth question -->
     <div class="col-md-16">
        <h5>The therapy helps me feel better*</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>
      </div>

         <!--seventh question -->
     <div class="col-md-16">
        <h5>I would like to continue with this therapy*</h5>
     </div>

     <div class="col-md-16">
        <div class="col-md-3">
            <div class="col-md-1">
              <input type="radio">
            </div> 
            <div class="col-md-14">
               <span>Strongly Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio">
            </div>
            <div class="col-md-14"> 
                <span>Somewhat Disagree</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Neutral</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Somewhat agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Strongly agree</span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1">
               <input type="radio"> 
            </div>
            <div class="col-md-14"> 
                <span>Unable to assess</span>
            </div>
        </div>

        <div class="col-md-16">
           <h5>Clinical Follow-up</h5>
        </div>
   
         <div class="col-md-16 reset-padding">
              <div class="col-md-1">
                 <input type="checkbox"> 
              </div>
              <div class="col-md-14"> 
                  <span>Please have a clinician contact me within next 3 days</span>
              </div>
          </div>

         </div>

	  

	    <div class="col-md-16 reset-padding margin-top">
			<div class="col-md-2 reset-padding">
			
				<input type="button"  value="Submit" class="col-md-14">
				
			</div>
			<div class="col-md-2 reset-padding">
				<input type="button"  value="Cancel" class="col-md-14">
			</div>
	   </div>
</div>



