<!-- <div class="container admin-user"> -->
 <div class="container margin-top reset-padding">
	    <div class="col-md-16 reset-padding">
	      <span class="dashboard__form--type graphview_text_color" ng-bind="survey.surveyName"></span>
	    </div>
	  </div>

	  <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-12 reset-padding ">
            <span class="dashboard__form--type ng-scope survey_grey_color pull-left-mob" translate="console.survey.general-info"></span>
          </div>
          <div class="col-md-4 user-required reset-padding">
            <span class="has-error">*</span> <span class="ng-scope" translate="console.survey.required-field"></span>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding col-xs-16 col-sm-16">
	           		 <span class=" ng-scope graphview_text_color" ng-bind="survey.questions[0].questionText"></span>
                 <span ng-show="survey.questions[0].mandatory" class="has-error"> *</span>
	            </div>
	            <div class="col-md-16 reset-padding col-xs-16 col-sm-16">
	           		 <input class="col-md-14 col-xs-16 col-sm-16 tab-margin-bottom20" type="text" ng-model="survey.questions[0].answerValue1" ng-disabled="true">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
              <div class="col-md-16 col-xs-16 col-sm-16 margin-top-18 padding0 no-padding">
	           		 <span class=" ng-scope graphview_text_color"  ng-bind="survey.questions[1].questionText"></span>
                 <span ng-show="survey.questions[1].mandatory" class="has-error"> *</span>
	            </div>
	            
              <div class="col-md-16 padding0 no-padding" ng-if="!isPhoneNumber">
                 <input class="col-md-14 col-xs-16 col-sm-16 margin-bottom20 tab-margin-bottom20" style="z-index:9999" type="text" name="phoneNumber" class="form-control" validate-on-blur ng-model="survey.questions[1].answerValue1" ng-readonly="validateADMINorASP()" ui-mask="(999)-999-9999" model-view-value="true" ui-options="{clearOnBlur: false}" required>   
                               
              </div>
              <div ng-show="(surveyForm.phoneNumber.$showValidationMessage && surveyForm.phoneNumber.$invalid) || submitted">
                <span class="has-error" ng-show="surveyForm.phoneNumber.$error.required" translate="error.phoneNumber.required"></span>
                <span class="has-error" ng-show="!surveyForm.phoneNumber.$error.required && surveyForm.phoneNumber.$invalid" translate="error.phoneNumber.mask"></span>
              </div>
              <div class="col-md-16 padding0 no-padding" ng-if="isPhoneNumber">
                 <input class="col-md-14 col-xs-16 col-sm-16 margin-bottom20 tab-margin-bottom20" type="text" ng-model="survey.questions[1].answerValue1" ng-readonly="validateADMINorASP()" name="phoneNumber" ng-disabled="true">
              </div>
          </div>
	   </div>
     <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding ">
              <div class="col-md-16 reset-padding ">
                 <span class="ng-scope graphview_text_color" ng-bind="survey.questions[2].questionText"></span>
                 <span ng-show="survey.questions[2].mandatory" class="has-error"> *</span>
              </div>
              <div class="col-md-16 reset-padding no-padding">
                 <input class="col-md-14 col-xs-16 col-sm-16 margin-bottom20 tab-margin-bottom20" type="text" ng-model="survey.questions[2].answerValue1" ng-disabled="true">
              </div>
          </div> 

     </div>

	    <div class="col-md-16 reset-padding margin-top">
    		<div class="reset-padding dashboard__form--type survey_grey_color">
        		<span class="ng-scope" translate="console.survey.usage-info"></span>
     		 </div>
     		 <div class="col-md-12 dark_grey_text_color14 reset-padding">
	     		 <p translate="console.survey.usage-info-message"></p>
     		 </div>
	    </div>

	    <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding ">
	           		 <span class="ng-scope graphview_text_color" ng-bind="survey.questions[3].questionText"></span>
                 <span ng-show="survey.questions[3].mandatory" class="has-error"> *</span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14 col-xs-16 col-sm-16 margin-bottom20 tab-margin-bottom20" type="text" ng-model="survey.questions[3].answerValue1" ng-disabled="true">
	           	</div>
          </div>
       </div>

	     <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding ">
	           		 <span class="ng-scope graphview_text_color" ng-bind="survey.questions[4].questionText"></span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14 col-xs-16 col-sm-16 margin-bottom20 tab-margin-bottom20" type="text" ng-model="survey.questions[4].answerValue1" ng-disabled="true">
                 <span ng-show="survey.questions[4].mandatory" class="has-error"> *</span>
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16 padding0 no-padding">
	           		 <span class="ng-scope graphview_text_color" ng-bind="survey.questions[5].questionText"></span>
                 <span ng-show="survey.questions[5].mandatory" class="has-error"> *</span>
	            </div>
	            <div class="col-md-16 padding0 no-padding">
	           		 <input class="col-md-14 col-xs-16 col-sm-16 margin-bottom20 tab-margin-bottom20" type="text" ng-model="survey.questions[5].answerValue1" ng-disabled="true">
	           	</div>
          </div>
	   </div>

	   <div class="col-md-16 survey_grey_color dashboard__form--type margin-top reset-padding">
        <span translate="console.survey.question-answer"></span>
     </div>

     <div class="col-md-16 graphview_text_color  margin-top">
        <span ng-bind="survey.questions[6].questionText"></span>
        <span ng-show="survey.questions[6].mandatory" class="has-error">*</span>
     </div>
     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q1" ng-model="survey.questions[6].answerValue1" value="{{survey.questions[6].answers[0]}}">
            </div> 
            <div class="col-md-14 hideOverflow">
                <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answerValue1" value="{{survey.questions[6].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1  reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answerValue1"  value="{{survey.questions[6].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
                <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answerValue1" value="{{survey.questions[6].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answerValue1" value="{{survey.questions[6].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answerValue1" value="{{survey.questions[6].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
        </div>

      
     <div class="col-md-16 graphview_text_color margin-top40">
        <span ng-bind="survey.questions[7].questionText"></span>
        <span ng-show="survey.questions[7].mandatory" class="has-error">*</span>
     </div>

     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q2" ng-model="survey.questions[7].answerValue1" value="{{survey.questions[7].answers[0]}}">
            </div>  
            <div class="col-md-14 hideOverflow">
              <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answerValue1" value="{{survey.questions[7].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answerValue1" value="{{survey.questions[7].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
                <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answerValue1" value="{{survey.questions[7].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                 <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answerValue1" value="{{survey.questions[7].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answerValue1" value="{{survey.questions[7].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                 <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
      </div>


     <div class="col-md-16 graphview_text_color margin-top40">
        <span ng-bind="survey.questions[8].questionText"></span>
        <span ng-show="survey.questions[8].mandatory" class="has-error">*</span>
     </div>

     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q3" ng-model="survey.questions[8].answerValue1" value="{{survey.questions[8].answers[0]}}">
            </div> 
            <div class="col-md-14 hideOverflow">
                <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answerValue1" value="{{survey.questions[8].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
               <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answerValue1" value="{{survey.questions[8].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
                <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answerValue1" value="{{survey.questions[8].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                  <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answerValue1" value="{{survey.questions[8].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answerValue1" value="{{survey.questions[8].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                 <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
      </div>

    
     <div class="col-md-16 graphview_text_color margin-top40">
        <span ng-bind="survey.questions[9].questionText"></span>
        <span ng-show="survey.questions[9].mandatory" class="has-error">*</span>
     </div>

     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q4" ng-model="survey.questions[9].answerValue1" value="{{survey.questions[9].answers[0]}}">
            </div> 
            <div class="col-md-14 hideOverflow">
                     <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answerValue1" value="{{survey.questions[9].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                 <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answerValue1" value="{{survey.questions[9].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
                  <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answerValue1" value="{{survey.questions[9].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answerValue1" value="{{survey.questions[9].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answerValue1" value="{{survey.questions[9].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                 <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
    </div>

         
     <div class="col-md-16 graphview_text_color margin-top40">
        <span ng-bind="survey.questions[10].questionText"></span>
        <span ng-show="survey.questions[10].mandatory" class="has-error">*</span>
     </div>

     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q5" ng-model="survey.questions[10].answerValue1" value="{{survey.questions[10].answers[0]}}">
            </div> 
            <div class="col-md-14 hideOverflow">
              <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answerValue1" value="{{survey.questions[10].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-disagree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q5" ng-model="survey.questions[10].answerValue1" value="{{survey.questions[10].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
               <span translate="console.survey.neutral"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answerValue1" value="{{survey.questions[10].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
               <span translate="console.survey.somewhat-agree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answerValue1" value="{{survey.questions[10].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answerValue1" value="{{survey.questions[10].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.unable-to-assess"></span> 
            </div>
        </div>
      </div>

    
     <div class="col-md-16 graphview_text_color margin-top40">
        <span ng-bind="survey.questions[11].questionText"></span>
        <span ng-show="survey.questions[11].mandatory" class="has-error">*</span>
     </div>

     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q6" ng-model="survey.questions[11].answerValue1" value="{{survey.questions[11].answers[0]}}">
            </div> 
            <div class="col-md-14 hideOverflow">
              <span translate="console.survey.strongly-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answerValue1" value="{{survey.questions[11].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-disagree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answerValue1" value="{{survey.questions[11].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
               <span translate="console.survey.neutral"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answerValue1" value="{{survey.questions[11].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-agree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answerValue1" value="{{survey.questions[11].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answerValue1" value="{{survey.questions[11].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.unable-to-assess"></span> 
            </div>
        </div>
      </div>

      
     <div class="col-md-16 graphview_text_color margin-top40">
        <span ng-bind="survey.questions[12].questionText"></span>
        <span ng-show="survey.questions[12].mandatory" class="has-error">*</span>
     </div>

     <div class="col-md-16 dark_grey_text_color14 margin-tp10">
        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q7" ng-model="survey.questions[12].answerValue1" value="{{survey.questions[12].answers[0]}}">
            </div> 
            <div class="col-md-14 hideOverflow">
               <span translate="console.survey.strongly-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
              <input type="radio" name="q7" ng-model="survey.questions[12].answerValue1" value="{{survey.questions[12].answers[1]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-disagree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answerValue1" value="{{survey.questions[12].answers[2]}}">
            </div>
            <div class="col-md-13 hideOverflow"> 
                <span translate="console.survey.neutral"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answerValue1" value="{{survey.questions[12].answers[3]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.somewhat-agree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answerValue1" value="{{survey.questions[12].answers[4]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.strongly-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding margin-left-10 margin-left-10-reset">
            <div class="col-md-2 col-xs-2 col-sm-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answerValue1" value="{{survey.questions[12].answers[5]}}">
            </div>
            <div class="col-md-14 hideOverflow"> 
                <span translate="console.survey.unable-to-assess"></span> 
            </div>
        </div>

        <div class="col-md-16 graphview_text_color reset-padding margin-top40">
           <span translate="console.survey.clinical-follow-up"></span>
        </div>
   
         <div class="col-md-16 reset-padding">
            <div class="pull-left reset-padding">
              <input type="checkbox" ng-model="survey.questions[13].answerValue1"> 
            </div>
            <div class="col-md-15 col-xs-14 col-sm-14 reset-padding margin-bottom20 tab-margin-bottom20 margin-left5"> 
              <span ng-bind="survey.questions[13].questionText"></span>
            </div>  
          </div>

         </div>
