<!-- <div class="container admin-user"> -->
 <div class="container margin-top reset-padding">
	    <div class="col-md-16 reset-padding">
	      <span class="dashboard__form--type graphview_text_color" ng-bind="survey.surveyName"></span>
	    </div>
	  </div>

	  <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-12 reset-padding ">
            <span class="dashboard__form--type ng-scope" translate="console.survey.general-info"></span>
          </div>
          <div class="col-md-4 user-required reset-padding">
            <span class="ng-scope" translate="console.survey.required-field"></span>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding ">
	           		 <span class="dashboard__form--type ng-scope graphview_text_color" ng-bind="survey.questions[0].questionText"></span>
                 <span ng-show="survey.questions[0].mandatory"> </span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox" ng-model="survey.questions[0].answers[0]">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16">
	           		 <span class="dashboard__form--type ng-scope graphview_text_color"  ng-bind="survey.questions[1].questionText"></span>
                 <span ng-show="survey.questions[1].mandatory"></span>
	            </div>
	            <div class="col-md-16">
	           		 <input class="col-md-14" type="textbox" ng-model="survey.questions[1].answers[0]">
	           	</div>
          </div>
	   </div>
     <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding ">
              <div class="col-md-16 reset-padding ">
                 <span class="dashboard__form--type ng-scope graphview_text_color" ng-bind="survey.questions[2].questionText"></span>
                 <span ng-show="survey.questions[2].mandatory"></span>
              </div>
              <div class="col-md-16 reset-padding">
                 <input class="col-md-14" type="textbox" ng-model="survey.questions[2].answers[0]">
              </div>
          </div>          
     </div>

	    <div class="col-md-16 reset-padding margin-top">
    		<div class="reset-padding">
        		<span class="dashboard__form--type ng-scope" translate="console.survey.usage-info"></span>
     		 </div>
     		 <div class="col-md-12 dark_grey_text_color14 reset-padding">
	     		 <p translate="console.survey.usage-info-message"></p>
     		 </div>
	    </div>

	    <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding ">
	           		 <span class="dashboard__form--type ng-scope graphview_text_color" ng-bind="survey.questions[3].questionText"></span>
                 <span ng-show="survey.questions[3].mandatory"></span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox" ng-model="survey.questions[3].answers[0]">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding margin-top">
            <div class="col-md-16">
	           	<label>
		          <input type="checkbox"  class="ng-pristine ng-untouched ng-valid">
		          <span class="radio-box-text" translate="console.survey.not-available"></span>
        		</label>
	           
          </div>
	   </div>
	   </div>

	     <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-8 reset-padding">
	          	<div class="col-md-16 reset-padding ">
	           		 <span class="dashboard__form--type ng-scope graphview_text_color" ng-bind="survey.questions[4].questionText"></span>
	            </div>
	            <div class="col-md-16 reset-padding">
	           		 <input class="col-md-14" type="textbox" ng-model="survey.questions[4].answers[0]">
	           	</div>
          </div>
          <div class="col-md-8 reset-padding">
            <div class="col-md-16 ">
	           		 <span class="dashboard__form--type ng-scope graphview_text_color" ng-bind="survey.questions[5].questionText"></span>
	            </div>
	            <div class="col-md-16">
	           		 <input class="col-md-14" type="date" ng-model="survey.questions[5].answers[0]">
	           	</div>
          </div>
	   </div>

	   <div class="col-md-16 reset-padding margin-top dark_grey_text_color14 ">
			<p translate="console.survey.question-info"></p>
	   </div>

	   <div class="col-md-16 dark_grey_text_color14">
        <h3 translate="console.survey.question-answer"></h3>
     </div>

     <div class="col-md-16 graphview_text_color">
        <h5 ng-bind="survey.questions[6].questionText"></h5>
        <span ng-show="survey.questions[6].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q1" ng-model="survey.questions[6].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
                <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q1" ng-model="survey.questions[6].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
        </div>

      
     <div class="col-md-16 graphview_text_color margin-top">
        <h5 ng-bind="survey.questions[7].questionText"></h5>
        <span ng-show="survey.questions[7].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q2" ng-model="survey.questions[7].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
              <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
                 <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q2" ng-model="survey.questions[7].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                 <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
      </div>


     <div class="col-md-16 graphview_text_color margin-top">
        <h5 ng-bind="survey.questions[8].questionText"></h5>
        <span ng-show="survey.questions[8].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q3" ng-model="survey.questions[8].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
                <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
               <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
                  <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q3" ng-model="survey.questions[8].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                 <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
      </div>

    
     <div class="col-md-16 graphview_text_color margin-top">
        <h5 ng-bind="survey.questions[9].questionText"></h5>
        <span ng-show="survey.questions[9].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q4" ng-model="survey.questions[9].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
                     <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
                 <span translate="console.survey.somewhat-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
                  <span translate="console.survey.neutral"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span>
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q4" ng-model="survey.questions[9].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                 <span translate="console.survey.unable-to-assess"></span>
            </div>
        </div>
    </div>

         
     <div class="col-md-16 graphview_text_color margin-top">
        <h5 ng-bind="survey.questions[10].questionText"></h5>
        <span ng-show="survey.questions[10].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q5" ng-model="survey.questions[10].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
              <span translate="console.survey.strongly-disagree"></span>
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q5" ng-model="survey.questions[10].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
               <span translate="console.survey.neutral"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
               <span translate="console.survey.somewhat-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q5" ng-model="survey.questions[10].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.unable-to-assess"></span> 
            </div>
        </div>
      </div>

    
     <div class="col-md-16 graphview_text_color  margin-top">
        <h5 ng-bind="survey.questions[11].questionText"></h5>
        <span ng-show="survey.questions[11].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q6" ng-model="survey.questions[11].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
              <span translate="console.survey.strongly-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
               <span translate="console.survey.neutral"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q6" ng-model="survey.questions[11].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.unable-to-assess"></span> 
            </div>
        </div>
      </div>

      
     <div class="col-md-16 graphview_text_color  margin-top">
        <h5 ng-bind="survey.questions[12].questionText"></h5>
        <span ng-show="survey.questions[12].mandatory"></span>
     </div>

     <div class="col-md-16 dark_grey_text_color14">
        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q7" ng-model="survey.questions[12].answers[0]" value="Strongly disagree">
            </div> 
            <div class="col-md-14">
               <span translate="console.survey.strongly-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
              <input type="radio" name="q7" ng-model="survey.questions[12].answers[0]" value="Somewhat disagree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-disagree"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answers[0]" value="Neutral">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.neutral"></span> 
            </div>
        </div>

        <div class="col-md-3 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answers[0]" value="Somewhat agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.somewhat-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answers[0]" value="Strongly agree">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.strongly-agree"></span> 
            </div>
        </div>

        <div class="col-md-2 reset-padding">
            <div class="col-md-1 reset-padding">
               <input type="radio" name="q7" ng-model="survey.questions[12].answers[0]" value="Unable to access">
            </div>
            <div class="col-md-14"> 
                <span translate="console.survey.unable-to-assess"></span> 
            </div>
        </div>

        <div class="col-md-16 graphview_text_color reset-padding">
           <h5 translate="console.survey.clinical-follow-up"></h5>
        </div>
   
         <div class="col-md-16 reset-padding">
              <div class="pull-left reset-padding">
                 <input type="checkbox" ng-model="survey.questions[13].answers[0]"> 
            </div>
              <div class="col-md-15 reset-padding"> 
                  <span ng-bind="survey.questions[13].questionText"></span>
              </div>  
          </div>

         </div>
