
<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary pull-left">
      <span class="dashbord-nav__primary--title" translate="user.home.manageLabel"></span>
    </div>
    <div ng-if="userRole !== 'ASSOCIATES' && userRole !== 'CUSTOMER_SERVICES'" class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createUser()">
      <span class="dashbord-nav__secondary--create-new" translate="user.home.createLabel"></span>
      <span class="icon-plus-icon add-new"></span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'user.placeholder.search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>    
    </div>

    <div class="col-md-16">
      <ng-include src="'scripts/components/navbar/searchfilter.html'"></ng-include>
    </div>
    
    <div class="dashboard__manage-view--header">
      <div class="col-md-3 col-sm-3 header--type pull-left-mob width120">
        <span ng-class="{'sort-icon--default' : sortUserList.lastName.isDefault, 'sort-icon-down': sortUserList.lastName.isDown, 'sort-icon-up':sortUserList.lastName.isUp}" ng-click="sortType('lastName')" translate="user.user-name"></span>
      </div>
      <div class="col-md-3 col-sm-3 header--type none">
        <span ng-class="{'sort-icon--default' : sortUserList.role.isDefault, 'sort-icon-down': sortUserList.role.isDown, 'sort-icon-up':sortUserList.role.isUp}" ng-click="sortType('role')" translate="user.role-field"></span>
      </div>
      <div class="col-md-3 col-sm-3 header--type pull-left-mob width120">
        <span ng-class="{'sort-icon--default' : sortUserList.hillromId.isDefault, 'sort-icon-down': sortUserList.hillromId.isDown, 'sort-icon-up':sortUserList.hillromId.isUp}" ng-click="sortType('hillromId')" translate="user.hillromId"></span>
      </div>
      <div class="col-md-3 col-sm-4 header--type none">
        <span ng-class="{'sort-icon--default' : sortUserList.email.isDefault, 'sort-icon-down': sortUserList.email.isDown, 'sort-icon-up':sortUserList.email.isUp}" ng-click="sortType('email')" translate="user.email"></span>
      </div>
      <div class="col-md-3 header--type col-hide-iPad none">
        <span ng-class="{'sort-icon--default' : sortUserList.mobileNumber.isDefault, 'sort-icon-down': sortUserList.mobileNumber.isDown, 'sort-icon-up':sortUserList.mobileNumber.isUp}" ng-click="sortType('mobileNumber')" translate="user.mobile-number"></span>
      </div>
      <div class="col-md-1 col-sm-3 header--type">
        <span ng-class="{'sort-icon--default' : sortUserList.status.isDefault, 'sort-icon-down': sortUserList.status.isDown, 'sort-icon-up':sortUserList.status.isUp}" ng-click="sortType('status')" translate="user.status"></span>
      </div>
      <div class="clr"></div>
    </div>

    <div class="dashboard__manage-view--list" ng-repeat="user in users" ng-click="selectUser(user)">
      <div class="col-md-3 col-sm-3 reset-padding centered  pull-left-mob width120">
        <span class="main-prim-info">{{user.lastName}}, {{user.firstName}}</span>
      </div>
      <div class="col-md-3 col-sm-3 reset-padding centered none">
        <span class="impo-highlight" ng-if="user.role === 'PATIENT'" translate="global.role.patient"></span>
        <span class="impo-highlight" ng-if="user.role === 'CARE_GIVER'" translate="global.role.caregiver"></span>
        <span class="impo-highlight" ng-if="user.role === 'HCP'" translate="global.role.hcp"></span>
        <span class="impo-highlight" ng-if="user.role === 'CLINIC_ADMIN'" translate="global.role.clinic-admin"></span>
        <span class="impo-highlight" ng-if="user.role === 'ADMIN'" translate="global.role.super-admin"></span>
        <span class="impo-highlight" ng-if="user.role === 'ASSOCIATES'" translate="global.role.associates"></span>
         <span class="impo-highlight" ng-if="user.role === 'CUSTOMER_SERVICES'" translate="global.role.customerservices"></span>
        <span class="impo-highlight" ng-if="user.role === 'ACCT_SERVICES'" translate="global.role.account-services"> </span>
        <span class="impo-highlight" ng-if="user.role === 'FOTA_ADMIN'" translate="global.role.FOTAAdmin"> </span>
        <span class="impo-highlight" ng-if="user.role === 'FOTA_APPROVER'" translate="global.role.FOTAApprover"> </span>
      </div>
      <div class="col-md-3 col-sm-3 reset-padding centered pull-left-mob width120">
        <span class="impo-highlight">{{user.hillromId}}</span>
      </div>

      <div class="col-md-3 col-sm-4 reset-padding centered none">
        <span class="short-info">{{user.email}}</span>
      </div>

      <div class="col-md-3 reset-padding centered col-hide-iPad none">
        <span class="short-info">{{user.mobilePhone}}</span>
      </div>
      <div class="col-md-1 col-sm-3 reset-padding">
            <span class="short-info active centered" ng-if="!user.deleted && user.activated" translate="user.status-type.active"></span>

            <span class="short-info inactive centered" ng-if="user.deleted" translate="user.status-type.inactive"></span>
            <span class="short-info inactive centered" ng-if="!user.deleted && !user.activated" translate="user.status-type.pending"></span>
          </div>

      <div class="clr"></div>
    </div>
     <div class="col-md-16 col-sm-16 empty-list-message" ng-if="users && users.length === 0">
      <span translate="user-not-found"></span>
    </div>
    
    <div class="dashboard__manage-view--pagination">
      <div class="col-md-16 reset-padding-right">
        <div class="navbar-right">
          <span class="record-found">{{total}} Users</span>
          <span class="record-found">Found</span>
          <span  ng-show="pageCount > 1">
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchUsers('PREV')">Previous</span>
            <span class="navigaion-no">{{currentPageIndex}}</span>
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchUsers('NEXT')">Next</span>
          </span>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
