
<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary pull-left">
      <span class="dashbord-nav__primary--title">Manage Users</span>
    </div>

    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createUser()">
      <span class="dashbord-nav__secondary--create-new">Create New</span>
      <span class="hillrom-icon icon-plus-icon"></span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'user.placeholder.search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchUsers()">
            <option value="" selected>Newly Created</option>
            <option value="email">Email</option>
            <option value="firstName">First Name</option>
            <option value="lastName">Last Name</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dashboard__manage-view--header">
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="user.user-name"></span>
      </div>
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="user.role-field"></span>
      </div>
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="user.hillromId"></span>
      </div>
      <div class="col-md-4 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="user.email"></span>
      </div>
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="user.mobile-number"></span>
      </div>
      <div class="clr"></div>
    </div>

    <div class="dashboard__manage-view--list" ng-repeat="user in users" ng-class="{ 'inactive': user.deleted }" ng-click="user.deleted || selectUser(user)">
      <div class="col-md-3 reset-padding centered">
        <span class="main-prim-info">{{user.lastName}} {{user.firstName}}</span>
      </div>
      <div class="col-md-3 reset-padding centered">
        <span class="impo-highlight">{{user.role}}</span>
      </div>
      <div class="col-md-3 reset-padding centered">
        <span class="impo-highlight">{{user.id}}</span>
      </div>

      <div class="col-md-4 reset-padding centered">
        <span class="short-info">{{user.email}}</span>
      </div>

      <div class="col-md-3 reset-padding centered">
        <span class="short-info">123-234-2741{{user.phoneNumber}}</span>
      </div>

      <div class="clr"></div>
    </div>



     <!-- <div class="dashboard__manage-view--list" ng-repeat="user in users">
      <div ng-class="{ 'inactive': user.deleted }" ng-click="user.deleted || selectUser(user)">
        <div class="col-md-3 reset-padding-left">
          <span class="user-name">{{user.lastName}} {{user.firstName}}</span>
          <span class="user-email">{{user.email}}</span>
        </div>
        <div class="col-md-4">
          <span class="user-address">{{user.role}}</span>
        </div>
        <div class="col-md-4">
          <span class="clinic-name">{{user.employeeId}}</span>
        </div>
        <div class="col-md-5 reset-padding-right">
           <span class="clinic-name">{{user.id}}</span>
        </div>
        <div class="clr"></div>
     </div>
    </div> -->
    
    <div class="dashboard__manage-view--pagination">
      <div class="col-md-16 reset-padding-right">
        <div class="navbar-right">
          <span class="record-found">{{total}} Users</span>
          <span class="record-found">Found</span>
          <span  ng-show="pageCount > 1">
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchUsers('PREV')">Previous</span>
            <span class="navigaion-no">{{currentPageIndex}}</span>
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchUsers('NEXT')">Next</span>
          </span>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
