<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li >
          <a ng-class="{active: isProfileTabActive('patientProfile')}" ng-href="" ng-click="switchProfileTabs('patientProfile')">
            <span class="" translate="profile.tabs.profile-details"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isProfileTabActive('patientResetPassword')}" ng-href="" ng-click="switchProfileTabs('patientResetPassword')">
            <span class="" translate="profile.tabs.update-password"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isProfileTabActive('patientSettings')}" ng-href="" ng-click="switchProfileTabs('patientSettings')">
            <span class="" translate="profile.tabs.setting"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
