<div class="container specific-user">
  <div class="col-md-16 user-header margin-top">
    <span class="user-header--title" translate="profile.notification"></span>
  </div>

  <div class="col-md-16 user-header--desc">
    <span translate="profile.noti-desc"></span>
  </div>

  <div class="col-md-16 user-notification">
    <div class="col-md-4 reset-padding">
      <div class="col-md-10 user-notification--key">
        <span translate="profile.noti.miss-therapy-days"></span>
      </div>
      <div class="col-md-6 user-notification--icon" ng-click="toggleNotification('missedTherapyNotification');">
        <span class="icon-toggle-on active" ng-show="user.missedTherapyNotification" ></span>
        <span class="icon-toggle-off" ng-show="!user.missedTherapyNotification" ></span>
      </div>
    </div>

    <div class="col-md-4 reset-padding">
      <div class="col-md-10 user-notification--key">
        <span translate="profile.noti.hmr-non-adher"></span>
      </div>
      <div class="col-md-6 user-notification--icon" ng-click="toggleNotification('nonHMRNotification');">
        <span class="icon-toggle-on active" ng-show="user.nonHMRNotification"></span>
        <span class="icon-toggle-off" ng-show="!user.nonHMRNotification"></span>
      </div>
    </div>

    <div class="col-md-4 reset-padding">
      <div class="col-md-10 user-notification--key">
        <span translate="profile.noti.setting-deviation"></span>
      </div>
      <div class="col-md-6 user-notification--icon" ng-click="toggleNotification('settingDeviationNotification');">
        <span class="icon-toggle-on active" ng-show="user.settingDeviationNotification"></span>
        <span class="icon-toggle-off" ng-show="!user.settingDeviationNotification"></span>
      </div>
    </div>
  </div>
</div>