<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>
</div>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
    <div class="form-group">
      <span>
        <label>
          <input type="radio" name="protocolType" ng-model="protocol.type" value="Normal" ng-disabled="protocol.edit" ng-change="switchtoNormal()">
          <span class="radio-box-text">Normal</span>
        </label>
      </span>
      <span>
        <label>
          <input type="radio" name="protocolType" ng-model="protocol.type" value="Custom" ng-disabled="protocol.edit">
          <span class="radio-box-text">Custom</span>
        </label>
      </span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="addProtocolForm" ng-submit="editPatient()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 reset-padding">
          <span class="dashboard__form--type" translate="patient.protocol.gen-details"></span>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.tm-per-day"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="treatmentsPerDay" ng-model= "protocol.treatmentsPerDay" required>
              <div ng-show="(addProtocolForm.treatmentsPerDay.$dirty && addProtocolForm.treatmentsPerDay.$showValidationMessage && addProtocolForm.treatmentsPerDay.$invalid) || submitted">
                <span class="has-error" ng-show="addProtocolForm.treatmentsPerDay.$error.required">
                  Protocol Treatment per Day Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="protocol-point" ng-repeat="proto in protocol.protocolEntries track by $index">
        <div class="col-md-16 reset-padding">
          <span ng-if="protocol.type === 'Custom'" class="dashboard__form--type">Point {{$index + 1}}</span>
        </div>
        <ng-form name="point">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.min-minutes-per-tm"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="minMinutesPerTreatment" ng-model="proto.minMinutesPerTreatment" min="0" required>
              <div ng-show="(point.minMinutesPerTreatment.$dirty && point.minMinutesPerTreatment.$showValidationMessage && point.minMinutesPerTreatment.$invalid) || submitted">
                <span class="has-error" ng-show="point.minMinutesPerTreatment.$error.required">
                  Minimum Minutes per Treatment Required
                </span>
                <span class="has-error" ng-show="point.minMinutesPerTreatment.$error.min">
                  Minimum Minutes per Treatment 0 or positive number
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.max-minutes-per-tm"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="maxMinutesPerTreatment" ng-model="proto.maxMinutesPerTreatment" required min="{{proto.minMinutesPerTreatment}}">
              <div ng-show="(point.maxMinutesPerTreatment.$dirty && point.maxMinutesPerTreatment.$showValidationMessage && point.maxMinutesPerTreatment.$invalid) || submitted">
                <span class="has-error" ng-show="point.maxMinutesPerTreatment.$error.required">
                  Maximum Minutes per Treatment Required
                </span>
                <span class="has-error" ng-show="point.maxMinutesPerTreatment.$error.min">
                  Maximum Minutes per Treatment Invalid
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.min-frequency"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="minFrequency" ng-model="proto.minFrequency" required min="0">
              <div ng-show="(point.minFrequency.$dirty && point.minFrequency.$showValidationMessage && point.minFrequency.$invalid) || submitted">
                <span class="has-error" ng-show="point.minFrequency.$error.required">
                  Minimum Frequency Required
                </span>
                <span class="has-error" ng-show="point.minFrequency.$error.min">
                  Minimum Frequency 0 or positive number
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.max-frequency"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="maxFrequency" ng-model="proto.maxFrequency" required min="{{proto.minFrequency}}">
              <div ng-show="(point.maxFrequency.$dirty && point.maxFrequency.$showValidationMessage && point.maxFrequency.$invalid) || submitted">
                <span class="has-error" ng-show="point.maxFrequency.$error.required">
                  Maximum Frequency Required
                </span>
                <span class="has-error" ng-show="point.maxFrequency.$error.min">
                  Maximum Frequency Invalid
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.min-pressure"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="minPressure" ng-model="proto.minPressure" required min="0">
              <div ng-show="(point.minPressure.$dirty && point.minPressure.$showValidationMessage && point.minPressure.$invalid) || submitted">
                <span class="has-error" ng-show="point.minPressure.$error.required">
                  Minimum Pressure Required
                </span>
                <span class="has-error" ng-show="point.minPressure.$error.min">
                  Minimum Pressure 0 or positive number
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.max-pressure"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="maxPressure" ng-model="proto.maxPressure" required min="{{proto.minPressure}}">
              <div ng-show="(point.maxPressure.$dirty && point.maxPressure.$showValidationMessage && point.maxPressure.$invalid) || submitted">
                <span class="has-error" ng-show="point.maxPressure.$error.required">
                  Maximum Pressure Required
                </span>
                <span class="has-error" ng-show="point.maxPressure.$error.min">
                  Maximum Pressure Invalid
                </span>
              </div>
            </div>
          </div>
        </div>
        </ng-form>
      <div class="clr"></div>
    </div>

    <div class="col-md-16 margin-top reset-padding">
    <span class="add-new-point" ng-if="protocol.type === 'Custom'" ng-click="(newProtocolPoint ===7)||addNewProtocolPoint()">Add New Point</span>
    </div>
    <div class="col-md-16 margin-top reset-padding">
      <div class="">
        <buton ng-if="!protocol.edit" type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="addProtocol()" ng-show="!patientStatus.isCreate" translate="patient.btn.save">Save</buton>
        <buton ng-if="protocol.edit" type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="updateProtocol()" ng-show="!patientStatus.isCreate" >Update</buton>
        <buton type="submit" class="hillrom-btn btn-secondary float-right" ng-click="cancelProtocolDevice()" ng-show="!patientStatus.isCreate" translate="patient.btn.cancel">cancel</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>