<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>
</div>
<div class="container admin-user">
<div class="container dashboard__form">
  <div class="col-md-16 reset-padding">
    <span class="dashboard__form--type" translate="patient.protocol.gen-details"></span>
  </div>
</div>
  <div class="col-md-16 protocol-radio reset-padding">
    <div class="form-group">
      <span>
        <label>
          <input type="radio" name="protocolType" ng-model="protocol.type" value="Normal" ng-disabled="protocol.edit" ng-change="switchtoNormal()">
          <span class="radio-box-text">Normal</span>
        </label>
      </span>
      <span>
        <label>
          <input type="radio" name="protocolType" ng-model="protocol.type" value="Custom" ng-disabled="protocol.edit" ng-change="switchtoCustom()">
          <span class="radio-box-text">Custom</span>
        </label>
      </span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="addProtocolForm" ng-submit="editPatient()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.tm-per-day"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="treatmentsPerDay" ng-model= "protocol.treatmentsPerDay" min="1" max="9" step="1" required>
              <div ng-show="(addProtocolForm.treatmentsPerDay.$dirty && addProtocolForm.treatmentsPerDay.$invalid) || submitted">
                <span class="has-error" ng-show="addProtocolForm.treatmentsPerDay.$error.required" translate="error.protocol.treatmentPerDay.required">
                </span>
                <span class="has-error" ng-show="addProtocolForm.treatmentsPerDay.$error.min" translate="error.protocol.treatmentPerDay.min">
                </span>
                <span class="has-error" ng-show="addProtocolForm.treatmentsPerDay.$error.max" translate="error.protocol.treatmentPerDay.max">
                </span>
                <span class="has-error" ng-show="addProtocolForm.treatmentsPerDay.$error.number" translate="error.protocol.treatmentPerDay.invalid">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="protocol-point" ng-repeat="proto in protocol.protocolEntries track by $index">
        <div class="col-md-16 reset-padding">
          <span ng-if="protocol.type === 'Custom'" class="dashboard__form--type">Point {{$index + 1}}</span>
        </div>
        <ng-form name="point">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.min-minutes-per-tm" ng-if="protocol.type === 'Normal'"></span>
              <span class="" translate="patient.protocol.minutes" ng-if="protocol.type === 'Custom'"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="minMinutesPerTreatment" ng-model="proto.minMinutesPerTreatment" min="0" max="99" required>
              <div ng-show="(point.minMinutesPerTreatment.$dirty && point.minMinutesPerTreatment.$invalid) || submitted">
                <span class="has-error" ng-show="point.minMinutesPerTreatment.$error.required" translate="error.protocol.minMinutesPerTreatment.required">
                </span>
                <span class="has-error" ng-show="point.minMinutesPerTreatment.$error.min" translate="error.protocol.minMinutesPerTreatment.min">
                </span>
                <span class="has-error" ng-show="point.minMinutesPerTreatment.$error.max" translate="error.protocol.minMinutesPerTreatment.max">
                </span>
                <span class="has-error" ng-show="point.minMinutesPerTreatment.$error.number" translate="error.protocol.minMinutesPerTreatment.invalid">
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2" ng-if="protocol.type === 'Normal'">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.max-minutes-per-tm"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="maxMinutesPerTreatment" ng-model="proto.maxMinutesPerTreatment"  min="{{proto.minMinutesPerTreatment}}" max="99"  required >
              <div ng-show="(point.maxMinutesPerTreatment.$dirty && point.maxMinutesPerTreatment.$invalid) || submitted">
                <span class="has-error" ng-show="point.maxMinutesPerTreatment.$error.required" translate="error.protocol.maxMinutesPerTreatment.required">
                </span>
                <span class="has-error" ng-show="point.maxMinutesPerTreatment.$error.min">Maximum Minutes per Treatment should be {{proto.minMinutesPerTreatment}} and 99
                </span>
                <span class="has-error" ng-show="point.maxMinutesPerTreatment.$error.max" translate="error.protocol.maxMinutesPerTreatment.max">
                </span>
                <span class="has-error" ng-show="point.maxMinutesPerTreatment.$error.number" translate="error.protocol.maxMinutesPerTreatment.invalid">
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.min-frequency" ng-if="protocol.type === 'Normal'"></span>
              <span class="" translate="patient.protocol.frequency" ng-if="protocol.type === 'Custom'"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="minFrequency" ng-model="proto.minFrequency" required min="5" max="20">
              <div ng-show="(point.minFrequency.$dirty && point.minFrequency.$invalid) || submitted">
                <span class="has-error" ng-show="point.minFrequency.$error.required" translate="error.protocol.minFrequency.required">
                </span>
                <span class="has-error" ng-show="point.minFrequency.$error.min" translate="error.protocol.minFrequency.min">
                </span>
                <span class="has-error" ng-show="point.minFrequency.$error.max" translate="error.protocol.minFrequency.max">
                </span>
                <span class="has-error" ng-show="point.minFrequency.$error.number" translate="error.protocol.minFrequency.invalid">
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2" ng-if="protocol.type === 'Normal'">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.max-frequency"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="maxFrequency" ng-model="proto.maxFrequency" required min="{{proto.minFrequency}}" max="20">
              <div ng-show="(point.maxFrequency.$dirty && point.maxFrequency.$invalid) || submitted">
                <span class="has-error" ng-show="point.maxFrequency.$error.required" translate="error.protocol.maxFrequency.required">
                </span>
                <span class="has-error" ng-show="point.maxFrequency.$error.min">Maximum Frequency should be between {{proto.minFrequency}} and 20
                </span>
                <span class="has-error" ng-show="point.maxFrequency.$error.max" translate="error.protocol.maxFrequency.max">
                </span>
                <span class="has-error" ng-show="point.maxFrequency.$error.number" translate="error.protocol.maxFrequency.invalid">
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.min-pressure" ng-if="protocol.type === 'Normal'"></span>
              <span class="" translate="patient.protocol.pressure" ng-if="protocol.type === 'Custom'"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="minPressure" ng-model="proto.minPressure" required min="1" max="10">
              <div ng-show="(point.minPressure.$dirty && point.minPressure.$invalid) || submitted">
                <span class="has-error" ng-show="point.minPressure.$error.required" translate="error.protocol.minPressure.required">
                </span>
                <span class="has-error" ng-show="point.minPressure.$error.min" translate="error.protocol.minPressure.min">
                </span>
                <span class="has-error" ng-show="point.minPressure.$error.max" translate="error.protocol.minPressure.max">
                </span>
                <span class="has-error" ng-show="point.minPressure.$error.number" translate="error.protocol.minPressure.invalid">
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2" ng-if="protocol.type === 'Normal'">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.protocol.max-pressure"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="number" name="maxPressure" ng-model="proto.maxPressure" required min="{{proto.minPressure}}" max="10">
              <div ng-show="(point.maxPressure.$dirty && point.maxPressure.$invalid) || submitted">
                <span class="has-error" ng-show="point.maxPressure.$error.required" translate="error.protocol.maxPressure.required">
                </span>
                <span class="has-error" ng-show="point.maxPressure.$error.min">Maximum Pressure should be between {{proto.minPressure}} and 10
                </span>
                <span class="has-error" ng-show="point.maxPressure.$error.max" translate="error.protocol.maxPressure.max">
                </span>
                <span class="has-error" ng-show="point.maxPressure.$error.number" translate="error.protocol.maxPressure.invalid">
                </span>
              </div>
            </div>
          </div>
        </div>
        </ng-form>
      <div class="clr"></div>
    </div>

    <div class="col-md-16 margin-top reset-padding">
    <span class="add-new-point" ng-if="protocol.type === 'Custom' && (newProtocolPoint < 7)" ng-click="(newProtocolPoint ===7)||addNewProtocolPoint()" translate="patient.add-new-point"></span>
    </div>
    <div class="col-md-16 margin-top reset-padding">
      <div class="">
        <buton ng-if="!protocol.edit" type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="addProtocol()" translate="patient.btn.save">Save</buton>
        <buton ng-if="protocol.edit" type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="updateProtocol()" >Update</buton>
        <buton type="submit" class="hillrom-btn btn-secondary float-right" ng-click="cancelProtocolDevice()" translate="patient.btn.cancel">cancel</buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>