<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>

  <div class="col-md-16 patient-protocol">
    <span class="patient-protocol--title" translate="patient.protocol-title"></span>
  </div>

  <div class="col-md-16 protocol-list" ng-repeat="protocol in protocols" ng-class="{'list-inactive':protocol.deleted}">
    <div class="col-md-3 protocol-list__type">
      <span> {{protocol.type}}</span>
    </div>
    <div class="col-md-3 protocol-list__treatment-day">
      <span class="protocol-list--value"> {{protocol.treatmentsPerDay}}</span>
    </div>
    <div class="col-md-4 protocol-list__strt-date">
      <span class="protocol-list--value"> 12 January, 2015{{protocol.startDate}}</span>
    </div>
    <div class="col-md-4 protocol-list__end-date">
      <span class="protocol-list--value"> 22 January, 2015{{protocol.endDate}}</span>
    </div>
    <div class="col-md-1 protocol-list__edit icons text-center">
      <span ng-if="!protocol.deleted" class="glyphicon glyphicon glyphicon-pencil" ng-click="openEditProtocol(protocol)"></span>
    </div>
    <div class="col-md-1 protocol-list__delete text-center">
      <span ng-if="!protocol.deleted" class="glyphicon glyphicon-trash" ng-click="deleteProtocolModel(protocol.id)"></span>
    </div>
  </div>

  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
    </div>
    <div class="col-md-8 clinic-link">
      <buton ng-show="addProtocol" class="hillrom-btn btn-primary float-right" ng-click="linkProtocol()" translate="patient.link-protocol"></buton>
      <buton ng-show="!addProtocol" class="hillrom-btn btn-inactive float-right" translate="patient.link-protocol"></buton>
    </div>
  </div>

  <div class="col-md-16 patient-device">
    <span class="patient-device--title" translate="patient.device-title"></span>
  </div>

  <div class="col-md-16 device-list" ng-repeat="device in devices" ng-class="{'list-inactive': !device.active}">
    <div class="col-md-3 device-list__serial">
      <span>{{device.serialNumber}}</span>
    </div>
    <div class="col-md-2 device-list__bt-id">
      <span>{{device.bluetoothId}}</span>
    </div>
    <div class="col-md-1 device-list__device">
      <span class="icon-lungs active"></span>
    </div>
    <div class="col-md-2 device-list__status">
      <span ng-if="device.active" class="device--list__status--text">Active</span>
      <span ng-if="!device.active" class="device--list__status--text">Inactive</span>
    </div>
    <div class="col-md-6 device-list__date">
      <span>{{device.createdDate}}</span><span ng-if="device.active"> - Active date</span>
      <span ng-if="!device.active"> - Inactive date</span>
    </div>
    <div class="col-md-1 device-list__edit text-center">
      <span ng-if="device.active" class="glyphicon glyphicon-pencil cursor-pointer" ng-click="openEditDevice(device)"></span>
    </div>
    <div class="col-md-1 device-list__delete text-center">
      <span ng-if="device.active" class="glyphicon glyphicon-trash cursor-pointer" ng-click="deleteDeviceModel(device)"></span>
    </div>
  </div>

  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
    </div>
    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkDevice()" translate="patient.link-device"></buton>
    </div>
  </div>
</div>

<div ng-if="showModalProtocol" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="cancelProtocolModel()">&times;</button>
         <p translate="patient.delete-protocol.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete-protocol.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="deleteProtocol()">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="cancelProtocolModel()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="showModalDevice" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="cancelDeviceModel()">&times;</button>
         <p translate="patient.delete-device.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete-device.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="deleteDevice()">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="cancelDeviceModel()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>