<div class="col-md-16 padding0">
  <div class="container patient_wrapper reset-padding">
    <div class="col-md-16 reset-padding pointer-fill-event" ng-class="">
      <div class="bar_graph_header">
        <div class="col-md-5 col-sm-7 left_header_barchart padding0">
          <div class="row">
            <ul class="nav nav-pills">
              <li><a href="" ng-click="" translate="" class="active">Parameter</a></li>
              <!-- <li><a href="" ng-click="" translate="" >Clinic and Disease</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>