<div class="dashboard dashboard--content margin-top">
	<div class="col-md-16 reset-padding cyan-blue-light  margin-top">
		<div class="col-md-3  benchmarking__form__input reset-padding selected-box-container">
			<span>Benchmark</span>
	     </div>
	  	<div class="col-md-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<span>Geography</span>
	    </div>
	  	<div class="col-md-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<span>State</span>
	  	</div>
	  	<div class="col-md-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<span>City</span>
	   	</div>
	</div>

	<div class="col-md-16 reset-padding">
		<div class="col-md-3 benchmarking__form__input reset-padding selected-box-container" >
			<div class="dark_grey_color">
		          <input class="custom-textbox " type="textbox" value="Average" placeholder="Average"/>       
		     </div> 
		  </div>
		  <div class="col-md-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<div class="custom-dropdown">
		          <select class="">
			          <option value="Geography" label="Geography" selected="selected">Geography</option>
			          <option value="USA" label="USA">USA</option>
			       </select>            
		    </div> 
		  </div>
		  <div class="col-md-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<div class="custom-dropdown">
		          <select class="">
			          <option value="Geography" label="Geography" selected="selected">Geography</option>
			          <option value="USA" label="USA">USA</option>
			       </select>            
		    </div> 
		  </div>
		  <div class="col-md-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<div class="custom-dropdown">
		          <select class="">
			          <option value="Geography" label="Geography" selected="selected">Geography</option>
			          <option value="USA" label="USA">USA</option>
			       </select>            
		    </div> 
		  </div>
	</div>
</div>