<div class="dashboard dashboard--content margin-top" ng-init="init()">
	<div class="col-md-16 col-sm-16 reset-padding cyan-blue-light  margin-top">
		<div class="col-md-3 col-sm-3 pull-left benchmarking__form__input reset-padding selected-box-container">
			<span>Benchmark</span>
	  </div>
	  <div class="col-md-3 col-sm-3 pull-left benchmarking__form__input reset-padding selected-box-container">
			<span></span>
	  </div>
	  <div class="col-md-3 col-sm-3 col-md-offset-1 benchmarking__form__input reset-padding selected-box-container" >
			<span>Geography</span>
	  </div>
	 	<div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
			<span>State</span>
	  </div>
	  <div class="col-md-3 col-sm-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<span>City</span>
	  </div>
	</div>

	<div class="col-md-16 col-sm-16 reset-padding">
		<div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
		  <div class="custom-dropdown">
		    <select class="" ng-change="onYaxisChange()" ng-model="$parent.$parent.benchmarkType" ng-disabled="true">
			    <option value="Average" label="Average" ng-selected="true">Average</option>
			  </select>
		  </div>
		</div>
		<div class="col-md-3 col-sm-3 pull-left benchmarking__form__input reset-padding selected-box-container">
			<span></span>
	  </div>
		<div class="col-md-3 col-sm-3 pull-left col-md-offset-1 benchmarking__form__input reset-padding selected-box-container" >
			<div class="custom-dropdown">
		    <select class="" ng-disabled="true">
			  	<option value="USA" label="USA" selected="selected">USA</option>
			  </select>            
		  </div> 
		</div>
		<div class="col-md-3 col-sm-3 pull-left benchmarking__form__input reset-padding selected-box-container" >
			<div class="custom-dropdown">
			  <div 
				  isteven-multi-select
				  input-model="states"
				  output-model="$parent.$parent.$parent.selectedStates"
				  button-label="name"
				  item-label="name"
				  tick-property="ticked"
				  max-labels="4"
				  translation="localLang"
				  helper-elements="all filter none"
				  min-search-length="1"
				  search-property="name"
				  max-height="250px"
				  on-open="onOpen()"
				  on-close="onClose()"
				  on-item-click= "onItemclick()"
				  on-select-all="onSelectAll()"
				  on-select-none="onSelectNone()"
				  on-reset="onReset()"
				  on-clear="onClear()"
				  on-search-change="onSearchChange()"
				>
				</div>
		  </div> 
		</div>
		<div class="col-md-3 col-sm-3 pull-right benchmarking__form__input reset-padding selected-box-container" >
			<div class="custom-dropdown">
		    <select class="" ng-if="selectedStates.length > 1 || selectedStates.length === 0" ng-disabled="true">
			    <option value="all" label="All" selected="selected">All</option>
			  </select>
			  <div ng-show="selectedStates.length === 1"
				  isteven-multi-select
				  input-model="cities"
				  output-model="$parent.$parent.$parent.selectedCities"
				  button-label="name"
				  item-label="name"
				  tick-property="ticked"
				  max-labels="1"
				  translation="localLang"
				  helper-elements="all filter none"
				  min-search-length="1"
				  search-property="name"
				  max-height="250px"
				  on-close="onCitiesClose()"
				>
				</div>          
		  </div> 
		</div>
	</div>

	<div class="col-md-16 col-sm-16 reset-padding cyan-blue-light margin-top">
		<div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
			<span>Y-axis</span>
	  </div>
	  <div class="col-md-1 col-sm-1 benchmarking__form__input reset-padding selected-box-container" >
			<span></span>
	  </div>
	  <div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
			<span>X-axis</span>
	  </div>
	  <div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
			<span>Range</span>
	  </div>
	</div>

	<div class="col-md-16 col-sm-16 reset-padding pointer-fill-event">
    <div class="bar_graph_header">
      <div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
		<div class="custom-dropdown">
		      <select ng-change="onYaxisChange()" ng-model="$parent.$parent.$parent.type">
			      <option value="adherenceScore" label="Adherence Score" ng-selected="true">Adherence Score</option>
			      <option value="missedTherapy" label="Cumulative Missed Days">Cumulative Missed Days</option>
			      <option value="HMRDeviation" label="HMR Non Adherence">HMR Non Adherence</option>
			      <option value="settingDeviation" label="Cumulative Frequency Deviation Days">Cumulative Frequency Deviation Days</option>
			      <option value="HMRRunrate" label="Average Session Minutes">Average Session Minutes</option>
			    </select>
		    </div>
		  </div>
			<div class="col-md-1 col-sm-1 text-center benchmarking__form__input reset-padding selected-box-container" >
				<span class="light_gray">for</span>
		  </div>
			<div class="col-md-3 col-sm-3 benchmarking__form__input reset-padding selected-box-container" >
				<div class="custom-dropdown">
		      <select ng-change="onXaxisChange()" ng-model="$parent.$parent.$parent.xaxis">
			      <option value="ageGroup" label="Age Group" ng-selected="true">Age Group</option>
			      <option value="clinicSize" label="Clinic Size">Clinic Size</option>
			    </select>            
			  </div> 
			</div>
			<div class="col-md-3 col-sm-3 margin-bottom benchmarking__form__input reset-padding selected-box-container" >
				<div class="custom-dropdown">	
				  <div ng-show="isAgeGroup"
					  isteven-multi-select
					  input-model="ageGroups"
					  output-model="$parent.$parent.$parent.selectedAges"
					  button-label="ageRange"
					  item-label="ageRange"
					  tick-property="true"
					  max-labels="3"
					  translation="localLang"
					  helper-elements="all filter none"
					  min-search-length="1"
					  search-property="ageRange"
					  max-height="250px"
					  on-close="onAgeGroupClose()"
					>
					</div>

					<div ng-show="!isAgeGroup"
					  isteven-multi-select
					  input-model="clinicSizes"
					  output-model="$parent.$parent.$parent.selectedClinicSizes"
					  button-label="size"
					  item-label="size"
					  tick-property="true"
					  max-labels="3"
					  translation="localLang"
					  helper-elements="all filter none"
					  min-search-length="1"
					  search-property="size"
					  max-height="250px"
					  on-close="onClinicRangeClose()"
					>
					</div>
					 <span class="has-error" ng-show="$parent.$parent.$parent.showRangeError">Please select atleast one range</span> 
			  </div>

			</div>
	    <div class="col-md-4 col-sm-9 pull-right right_header_barchart cyan-blue-light">
	 			<ul class="nav nav-pills pull-right ">
					<li class="" role="presentation"><a ng-click="isGraphLoaded && dayView()" href="" ng-class="{'active': durationview.day, '': !durationview.day}">Day</a></li>
					<li class="" role="presentation"><a ng-click="isGraphLoaded && weekView()" href="" ng-class="{'active': durationview.week, '': !durationview.week}">Week</a></li>
					<li class="" role="presentation"><a ng-click="isGraphLoaded && monthView()" href="" ng-class="{'active': durationview.month, '': !durationview.month}">Month</a></li>
					<li class="" role="presentation"><a ng-click="isGraphLoaded && yearView()" href="" ng-class="{'active': durationview.year, '': !durationview.year}">Year</a></li>
					<li id="dp3" class="" role="presentation">
						<a href="" id="dp2cal" date-range-picker class="date-picker margin_tp13" ng-model="dates" parentEl="#dp1" options="opts" ><span class="icon-calendar"></span></a>
					</li>
				</ul>
	 	  </div>
   	</div>

   	<div class="pull-left margin-top font-size16 cyan-blue-light">{{benchmarkingGraph.series[0].name}} 
   		<!-- <span ng-show="type === 'adherenceScore'">Adherence Score</span>
   		<span ng-show="type === 'missedTherapy'">Missed Therapy</span>
   		<span ng-show="type === 'HMRDeviation'">HMR Non Adherence</span>
   		<span ng-show="type === 'settingDeviation'">Setting Deviation</span>
   		<span ng-show="type === 'HMRRunrate'">HMR Runrate</span> -->
   		 For <span ng-show="xaxis === 'clinicSize'">Clinic Size</span><span ng-show="xaxis === 'ageGroup'">Age Group</span></div>
   	<div class="pull-right margin-top week_date_container">
			<span ng-if="fromDate !== toDate">
				<span class="date">{{fromDate}}</span> - <span class="date">{{toDate}}</span>
			</span>
			<span ng-if="fromDate === toDate" class="date">{{fromDate}}<span>
	</div>
  </div>

  <div class="col-md-16" ng-if="isNoDataAvailable">
		<div class="graph_nodata">
			<span class="noData_text">No Data Available!</span>
		</div>
	</div>

  <loading loaded="isGraphLoaded"></loading>
  <div class="col-md-16 col-sm-16 margin-top" ng-show="!isNoDataAvailable">
  	<div id="benchmarkingGraph"></div>
	</div>
	<div style="clear:both"></div>
	<div class="col-md-16 col-sm-16 dashboard__manage-view--pagination">
  <div class="btn_group patient_dashdoard_btns" ng-if="!isNoDataAvailable">
    <div dropdown="" class="pull-right left dropdown">
      <button id="single-button" type="button" class="hillrom-btn btn-submit margin0 float-right ng-scope dropdown-toggle"  ng-click="exportPDF()">Download As PDF</button>
    </div>
  </div>
</div>
<div style="clear:both"></div>

<canvas id="benchmarkCanvas" width=1300 height=350 style="display:none;"></canvas>
</div>
