<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li >
          <a ng-class="{active: isActive('overview')}" ng-href="" ng-click="switchPatientTab('patientOverview')">
            <span class="" translate="patient.tab.patient-overview"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('demographic')}" ng-href="" ng-click="switchPatientTab('patientDemographic')">
            <span class="" translate="patient.tab.patient-demographics"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('clinic-info')}" ng-href="" ng-click="switchPatientTab('patientClinics')">
            <span class="" translate="patient.tab.clinic-info"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('protocol-device')}" ng-href="" ng-click="switchPatientTab('patientProtocol')">
            <span class="" translate="patient.tab.protocol-device"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('caregiver')}" ng-href="" ng-click="switchPatientTab('patientCraegiver')">
            <span class="" translate="patient.tab.caregiver-info"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>