<div class="container patient_wrapper">
			<div class="col-md-16">
				<div class="row">
					<div class="col-md-12">
						<div class="stats_chart_section">
							<div class="stats_header"><h4>Statistics</h4></div>
							<div class="stats_chart_container">
								<div class="col-3">
									<div class="pie_chart" easypiechart options="adherence" percent="adherenceScore"></div>
									<div class="stats_chart_content score">
										<h4 class="percent">{{adherenceScore}}</h4>
										<p class="descrip">Adherence Score</p>
									</div>
									<div class="chart_inner_icon icon-adherence"></div>
								</div>
								<div class="col-3">
									<div class="pie_chart"  easypiechart options="hmr" percent="hmrRunRate"></div>
									<div class="stats_chart_content hmr">
										<h4 class="percent">{{hmrRunRate}}</h4>
										<p class="descrip">HMR Runrate</p>
									</div>
									<div class="chart_inner_icon icon-man-running"></div>
								</div>
								<div class="col-3">
									<div class="pie_chart"  easypiechart options="missedtherapy" percent="missedtherapyDays"></div>
									<div class="stats_chart_content missed">
										<h4 class="percent">{{missedtherapyDays}}</h4>
										<p class="descrip">Missed Therapy Days</p>
									</div>
									<div class="chart_inner_icon icon-lungs"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="dashboard_noti_section">
							<div class="header_noti"><h4>Notification</h4></div>
							<div class="notification_container">
								<ul>
									<li><span class="dsh_icon"></span>Your recommended compliance the therapy is low <span><a href="" class="read_more">more</a></span></li>
									<li><span class="dsh_icon icon-lungs"></span>Your recommended compliance the therapy is low <span><a href="" class="read_more">more</a></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-16">
				<div class="bar_graph_header">
					<div class="col-md-5 left_header_barchart">
						<div class="row">
							<ul class="nav nav-pills">
							<li><a href="" ng-click="showHmrGraph()">HMR Data</a></li>
							<li><a href="" ng-click="showComplianceGraph()">Compliance</a></li>
						</ul>
						<!-- <span ng-click="HMRGraph()">HMR Data</span>
						<span ng-click="complianceGraph()">Compliance</span> -->
						</div>
					</div>
					<div class="col-md-11 right_header_barchart">
						<ul class="nav nav-pills pull-right ">
							<li role="presentation" class=""><a href="" ng-hide="complianceGraph" ng-click="dayChart()">Day</a></li>
							<li role="presentation" class=""><a href="" ng-click="weeklyChart()">Week</a></li>
							<li role="presentation" class=""><a href="" ng-click="monthlyChart()">Month</a></li>
							<li role="presentation" class=""><a href="" ng-click="yearlyChart()">Year</a></li>
							<li role="presentation" class="" id="dp3"><a href="" date-range-picker class="date-picker" ng-model="dates" parentEl="#dp3" options="opts" >Date</a></li>
						</ul>
					</div>
					<!-- <div>
						<span ng-click="hmrDailyChart()">Daily</span>
						<span ng-click="hmrWeeklyChart()">Weekly</span>
						<span ng-click="hmrMonthlyChart()">Monthly</span>
						<span ng-click="hmrYearlyChart()">Yearly</span>
						<span>Datepicker</span>
					</div>-->	
				</div>
				<div class="pull-right week_date_container">
					<span ng-if="fromDate !== toDate"> 
							<span class="date">{{fromDate}}</span> - <span class="date">{{toDate}}</span>
					</span>
					<span ng-if="fromDate === toDate" class="date">{{fromDate}}<span>
				</div>	
			</div>
		</div>
		<style>
		text {
		font: 12px sans-serif;
		}
		svg {
		display: block;
		}
		html, body, #complianceGraph, svg {
		margin: 0px;
		padding: 0px;
		height: 100%;
		width: 100%;
		}
}
		</style>
	<div ng-if="hmrGraph">
		<div ng-if="hmrLineGraph">
	 		<nvd3-line-chart
	    	  data="graphData"
	        id="HMRLineGraph"
	        width="1250"
	        height="350"
	        showXAxis="true"
	        showYAxis="true"
	        legends="true"
	        interactive="true"
	        tooltips="true"
	        isArea="true"
	        interpolate="step-after" 
	        yAxisLabel="Minutes"
          margin="{left:100,top:20,bottom:20,right:10}"
	        xAxisTickFormat="xAxisTickFormatFunction(format)"
	        xAxisTickValues="xAxisTickValuesFunction()"
	        noData="No Data Found!"
	        objectEquality="true"
	        forcey="[yAxisRangeForHMRLine.min,yAxisRangeForHMRLine.max]"
	        tooltipcontent="toolTipContentFunction()">
	        <svg></svg>
	    </nvd3-line-chart>
	  </div>
	  <div ng-if="hmrBarGraph">
		 	<nvd3-multi-bar-chart
		    	data="hmrBarGraphData"
	        id="hmrBarGraph"
	        width="1250"
	        height="300"
	        showXAxis="true"
	        showYAxis="true"
	        interactive="true"
	        tooltips="true"
	        isArea="true"
	        yAxisLabel="Minutes"
	        margin="{left:100,top:20,bottom:20,right:10}"
	        xAxisTickFormat="xAxisTickFormatFunction(format)"
	        xAxisTickValues="xAxisTickValuesBarChart()"
	        noData="No Data Found!"
	        objectEquality="true"
	        tooltipcontent="toolTipContentBarChart()">
	        <svg></svg>
		  </nvd3-multi-bar-chart>
	  </div>
	</div>
	  <div ng-if="complianceGraph">
	  	<div>
	  		 <!-- <input type="radio" name="secondaryYaxis" ng-model="compliance.secondaryYaxis" value='pressure' ng-change="reCreateComplianceGraph()">Pressure
				 <input type="radio" name="secondaryYaxis" ng-model="compliance.secondaryYaxis" value='frequency' ng-change="reCreateComplianceGraph()">Frequency -->
				 <input type="checkbox" name="pressure" ng-disabled="pressureIsDisabled" ng-model="compliance.pressure" ng-change="reCreateComplianceGraph()">
	  		 <span>pressure</span>
	  		 <input type="checkbox" name="frequency" ng-disabled="frequencyIsDisabled" ng-model="compliance.frequency" ng-change="reCreateComplianceGraph()">
	  		 <span>Frequency</span>
	  		 <input type="checkbox" name="duration" ng-disabled="durationIsDisabled" ng-model="compliance.duration" ng-change="reCreateComplianceGraph()">
	  		 <span>Duration</span>
	  	</div>
	  	<div id="complianceGraph">
      	<svg style="height:350px"> </svg>
    	</div>
	  </div>
 		<!-- <nvd3 options="options" data="data"></nvd3> -->
	 		<div class="col-md-16">
	 		<div class="btn_group patient_dashdoard_btns">
	 			<button class="hillrom-btn btn-submit float-right">Note</button>
	 			<button class="hillrom-btn btn-submit float-right">Export Data</button>
	 		</div>
	 		</div>
	 		<div class="col-md-16">
	 			<div class="add_note_container">
	 				<div class="note_header">
	 					<div class="col-md-14 note_header_left">
	 						<span class="note">Note</span>
	 						<span class="can_do">You can add / view/edit / delete a note</span>
	 					</div>
	 					<div class="col-md-2 note_header_right"><a href="" class="pull-right cross_icon">X</a></div>
	 				</div>
	 				<div class="notes_content" ng-show="notes.note.length > 0">
 						<div class="col-md-16 notes_row">
 							<div class="notes_row_wrapper">
 								<div class="col-md-2 date_col"><span>08/12/2015</span></div>
	 							<div class="col-md-11 description" ng-show="!editNote">{{notes.note}}</div>
	 							<form ng-show="editNote" ng-submit="updateNote();">
	 								<input type="text" ng-model="editedNoteText">
	 								<span class="has-error" ng-show="noteError">{{noteError}}</span>
	 								<input type="submit" id="submit" value="Update" />	 
	 								<input type="button"  value="Cancel" ng-click="cancelEditNote();" />	 				
	 							</form>
	 							<div class="col-md-3 edit_delete">
	 								<div class="pull-right" ng-show="!editNote">
	 									<span class="edit icon" styel="cursor:pointer;" ng-click="openEditNote();">Edit</span>
	 									<span class="delete icon" styel="cursor:pointer;" ng-click="deleteNote(notes.id);">Delete</span>

	 								</div>
	 							</div>
 							</div>
 						</div> 									
	 				</div>
	 				<div class="col-md-16 note_edit_container" ng-show="notes.length <= 0 && addNote">
	 					<form name="form" ng-submit="createNote();">
						<div class="col-md-2 date_col">
						<input class="date_input" type="text" validate-on-blur value="" ng-model="patient.formatedDOB" ng-readonly="validateADMINorASP()" data-date-format="mm/dd/yy" id="edit_date"></div>
						<div class="col-md-12 description">
							<div class="form-group">
							  <textarea class="form-control custom_textarea" rows="1" id="comment" ng-model="textNote"></textarea>
							</div>
							<div>
								<span class="has-error" ng-if="noteTextError">
				                  {{noteTextError}}
				                </span>
							</div>
						</div>
						<div class="col-md-2 edit_delete">
							<div class="pull-right">
			 					<span class="float-right view_all_btn" ng-click="cancelAddNote();">X</span>
								<button class="hillrom-btn btn-submit float-right save">save</button>
							</div>
						</div>
						</form>
	 				</div>
	 				<div class="btn_group patient_dashdoard_btns">
			 			<button class="hillrom-btn btn-submit float-right" ng-click="openAddNote();" ng-show="notes.length <= 0">Add Note</button>
			 			<span class="float-right view_all_btn">View All</span>
	 				</div>
	 			</div>
	 		</div>
		</div>