
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav patient-dashboard">
        <li >
          <a ng-class="{active: isActive('patient/patient-dashboard')}" ng-href="" ng-click="switchPatientTab('patientdashboard')">
            <span class="" translate="patient.profile.tabs.mydashboard"></span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right right">
        <li >
          <a ng-href="" ng-class="{active: isActive('patient/caregiver')}" ng-click="switchPatientTab('patientdashboardCaregiver')">
            <span class="" translate="patient.profile.tabs.caregiver"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('patient/device-protocol')}" ng-click="switchPatientTab('patientdashboardDeviceProtocol')">
            <span class="" translate="patient.profile.tabs.device-protocol"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('patient/clinic-hcp')}" ng-click="switchPatientTab('patientdashboardClinicHCP')">
            <span class="" translate="patient.profile.tabs.clinic-hcp"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>