<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary secondary-fix-navbar pull-left" ng-show="userStatus.isCreate">
      <span class="dashbord-nav__primary--title" translate="user.home.createLabel">Create Hill-Rom User</span>
    </div>
    <div class="dashbord-nav__primary pull-left" ng-show="!userStatus.isCreate && !isSuperadmin">
      <span class="dashbord-nav__primary--title" translate="user.home.updateLabel">Update Hill-Rom User</span>
    </div>
    <div class="dashbord-nav__primary pull-left" ng-show="isSuperadmin">
      <span class="dashbord-nav__primary--title" translate="user.home.hillRomUser"> Hill-Rom User</span>
    </div>

    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="cancel()">
      <span class="">Back</span>
    </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="createUser()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding">
          <div class="col-md-12 reset-padding">
           <span class="dashboard__form--type" translate="user.personal-details"></span>
          </div>
          <div class="col-md-4 reset-padding user-required" ng-if="!isSuperadmin">
            <span translate="user.required-field"></span>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.title.name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select ng-model="user.title" name="title" ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === user.title}}">
                  <option selected translate="user.title.mr" value="Mr."></option>
                  <option translate="user.title.mrs" value="Mrs."></option>
                  <option translate="user.title.miss" value="Miss"></option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-7 reset-padding col-md-offset-2" ng-show="userStatus.editMode">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.user-id">User ID</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" readonly ng-disabled="isSuperadmin" ng-model="user.id">
            </div>
          </div>

        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.first-name"></span>
              <span class="" ng-if="!isSuperadmin">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="firstName" validate-on-blur ng-model="user.firstName" ng-minlength=1 ng-maxlength=50 ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required" translate="error.firstName.required"></span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" translate="error.firstName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="middleName" validate-on-blur ng-model="user.middleName" ng-minlength=1 ng-maxlength=50 ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin">
              <div ng-show="(form.middleName.$dirty && form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.minlength" translate="error.middleName.minlength"></span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" translate="error.middleName.maxlength"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.last-name"></span>
              <span class="" ng-if="!isSuperadmin">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="lastName" validate-on-blur ng-model="user.lastName" ng-minlength=1 ng-maxlength=50 ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required" translate="error.lastName.required"></span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" translate="error.lastName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.hrId"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="hillromId" ng-model="user.hillromId" ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin">
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.email"></span>
              <span class="" ng-if="!isSuperadmin">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="email" name="email" validate-on-blur ng-model="user.email" ng-maxlength=100 ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" ng-pattern="/^[a-zA-Z][\.a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.([a-zA-Z]{2,4})$/" required>
              <div ng-show="(form.email.$dirty && form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required" translate="error.email.required"></span>
                <span class="has-error" ng-show="form.email.$error.pattern" translate="error.email.invalid"></span>
                <span class="has-error" ng-show="form.email.$error.maxlength" translate="error.email.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span ng-if="user.role != 'PATIENT'" class="" translate="user.mobile-number"></span>    
             <span ng-if="user.role === 'PATIENT'" class="" translate="user.secondary-phone"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="mobilePhone" validate-on-blur ng-model="user.mobilePhone" ng-maxlength=100 ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" ui-mask="(999)-999-9999" model-view-value="true" ui-options="{clearOnBlur: false}">
              <div ng-show="(form.mobilePhone.$showValidationMessage && form.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="form.mobilePhone.$error.pattern" translate="error.mobilePhone.pattern"></span>
                <span class="has-error" ng-show="form.mobilePhone.$error.maxlength" translate="error.mobilePhone.maxlength"></span>
                <span class="has-error" ng-show="form.mobilePhone.$error.mask" translate="error.mobilePhone.mask"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="user.role-text"></span>
               <span class="" ng-if="!isSuperadmin">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding">
              <div class="custom-dropdown" ng-show="!userStatus.isCreate">
                <select name="role" validate-on-blur ng-model="user.role" ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" required>
                  <option selected value="" translate="user.role.default">Select a Role</option>
                  <option ng-if="currentUserRole === 'ADMIN'" translate="user.role.super-admin" value="ADMIN">Super Admin</option>
                  <option translate="user.role.account-services" value="ACCT_SERVICES">RC Admin</option>
                  <option translate="user.role.associates" value="ASSOCIATES">Associates</option>
                  <option translate="user.role.customerservices" value="CUSTOMER_SERVICES">Customer Service</option>
                  <option translate="user.role.caregiver" value="CARE_GIVER">Caregiver</option>
                  <option translate="user.role.hcp" value="HCP">HCP</option>
                  <option translate="user.role.patient" value="PATIENT">Patient</option>
                  <option translate="user.role.clinic-admin" value="CLINIC_ADMIN">Clinic Admin</option>
                  
                </select>
                <div ng-show="(form.role.$dirty && form.role.$showValidationMessage && form.role.$invalid) || submitted">
                  <span class="has-error" ng-show="form.role.$error.required" translate="error.role.required"></span>
                </div>
              </div>
              <div class="custom-dropdown" ng-show="userStatus.isCreate">
                <select name="role" validate-on-blur ng-model="user.role" ng-readonly="validateSuperAdmin()" ng-disabled="isSuperadmin" required>
                  <option selected value="" translate="user.role.default">Select a Role</option>
                  <option ng-if="currentUserRole === 'ADMIN'" translate="user.role.super-admin" value="ADMIN">Super Admin</option>
                  <option translate="user.role.account-services" value="ACCT_SERVICES">RC Admin</option>
                  <option translate="user.role.associates" value="ASSOCIATES">Associates</option>
                  <option translate="user.role.customerservices" value="CUSTOMER_SERVICES">Customer Service</option>
                  <option translate="user.role.FOTAAdmin" value="FOTA_ADMIN">FOTA Admin</option>
                  <option translate="user.role.FOTAApprover" value="FOTA_APPROVER">FOTA Approver</option>
                </select>
                <div ng-show="(form.role.$dirty && form.role.$showValidationMessage && form.role.$invalid) || submitted">
                  <span class="has-error" ng-show="form.role.$error.required" translate="error.role.required"></span>
                </div>
              </div> 

            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2" ng-show="user.deleted">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="ng-scope">Deactivation Reason</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding">
              <textarea type="text" class="col-md-8 dashboard__form__input--option reset-padding compatability_deactivatereason" ng-model="user.deactivationReason" style="width:310px;height:50px;" wrap = "hard" maxlength="255" ng-readonly="true" ng-disabled="disabled"></textarea>
            </div>
          </div>
        </div>

        <div class="clr"></div>
      </div>
       <div class="padding-bottom-20"></div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="">
          <button type="button" class="hillrom-btn btn-primary btn-margin-left float-right" ng-show="user.activated && isUser && !user.deleted"  ng-click="showResetModel()"  translate="user.resetpassword-button-text">Reset Password</button>
          <button type="button" class="hillrom-btn btn-primary btn-margin-left float-right" ng-class="{'disabled btn-inactive': isDisableResendButton}" ng-show="!userStatus.isCreate && !user.deleted && !user.activated && !isSuperadmin" ng-disabled="isDisableResendButton" ng-click="resendActivationLink()" translate="user.reactivate-button-text">Resend Activation Link</button>
          <button type="submit" class="hillrom-btn btn-primary btn-margin-left float-right" ng-show="userStatus.isCreate && !isSuperadmin" ng-click="formSubmit()" translate="user.submit-button-text">Submit</button>
          <button type="reset" ng-click="cancel()" ng-show="userStatus.isCreate && !isSuperadmin && !isSuperadmin" class="hillrom-btn btn-secondary float-right" translate="user.cancel-button-text">Cancel</button>
          <button type="button" class="hillrom-btn btn-primary btn-margin-left float-right" ng-click="showUpdateModal()" ng-disabled="isSuperadmin" ng-show="!userStatus.isCreate && !isSuperadmin" translate="user.update-button-text">Update</button>

          <button type="button" class="hillrom-btn btn-secondary float-right" ng-click="open()" ng-show="!userStatus.isCreate && !user.deleted && user.id != loggedUserId && !isSuperadmin" translate="user.deactivate-button-text">Deactivate</button>

          <button type="button" class="hillrom-btn btn-secondary float-right" ng-click="$parent.showActivateModal= true" ng-show="!userStatus.isCreate && user.deleted && !isSuperadmin" translate="user.activate-button-text">Activate</button>
          <div class="clr"></div>
          <div class="clr"></div>
        </div>
      </div>
    </div
  </form>
</div>

<div ng-if="showModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close()">&times;</button>
         <p translate="user.delete.warning"></p>
      </header>
      <div class="modal__body">
        <div class="row" style="margin-bottom:10px;">
          
          <label class="col-md-4 dashboard__form__input--option reset-padding" class= "ng-scope">Select Reason*</label>
          <div class="col-md-8"> 
             <select name="type" class="dashboard__form__input--option reset-padding compatability_deactivatereason" style="width:100%;" ng-model="reason.deactivationReason"  ng-options="item.type_code as item.type_code for item in reasonList" ng-change="onSelectChange()" required>
             </select>
           </div>        
          <div class="col-md-offset-4 col-md-8">
             <div ng-show="noReason">
                <span class="has-error" translate="error.DeactivationReason.required"></span>
              </div>
              </div>
        </div>

        <div class="row" ng-if="isDisabled" >        
            
             <label class="col-md-4 dashboard__form__input--option reset-padding">Others*</label>
             <div class="col-md-8"> 
             <textarea type="text" id="yourTextBox" class="dashboard__form__input--option reset-padding compatability_deactivatereason" ng-model="reason.reasonDetail" placeholder="Enter the reason" style="width:300px;height:50px;" wrap = "hard" maxlength="255" required></textarea>
           </div>
                          
             <div class="col-md-offset-4 col-md-8" ng-show="noOtherDescription">
                <span class="has-error" translate="error.DeactivationReason.required"></span>
              </div>
         
        </div>

        <div class="row">
          <div style="padding:10px 0;">
            <div class="modal--message" translate="user.delete.message"></div>
         <div class="modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="deleteUser()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="close()">No</buton>
         </div>
          </div>
        </div>


      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="showActivateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.showActivateModal= false">&times;</button>
         <p translate="user.activate.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="user.activate.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="activateUser()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="$parent.showActivateModal= false">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="updateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.updateModal= false">&times;</button>
         <p translate="user.update.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="user.update.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="createUser()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="$parent.updateModal= false">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="resetModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" >
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.resetModal= false">&times;</button>
         <p translate="user.resetpassword.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="user.resetpassword.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right"  ng-click="resetUser()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="$parent.resetModal= false">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>