<ng-include src="'scripts/components/navbar/navbarFOTA.html'"></ng-include>
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav admin_profile">
        <li >
          <a ng-class="{active: isActive('profile')}" ng-href="" ng-click="switchProfileTab('FOTAUserProfile')">
            <span class="" translate="profile.tabs.profile-details"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('updatepassword')}" ng-href="" ng-click="switchProfileTab('fotaadminUpdatePassword')">
            <span class="" translate="profile.tabs.update-password"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="showPasswordUpdateModal()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.cur-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="password" validate-on-blur ng-model="password" required>
              <div ng-show="(form.password.$dirty && form.password.$showValidationMessage && form.password.$invalid) || submitted">
                <span class="has-error" ng-show="form.password.$error.required" translate="error.currentPassword.required"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.new-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="newPassword" validate-on-key-press ng-model="newPassword" ng-minlength=8 maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^-\{\}|`~<>\[\]\?\\_=+&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
              <div ng-show="(form.newPassword.$dirty && form.newPassword.$showValidationMessage && form.newPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.newPassword.$error.required" translate="error.newPassword.required"></span>
                <span class="has-error" ng-show="form.newPassword.$error.minlength" translate="error.newPassword.minlength"></span>
                <span class="has-error" ng-show="form.newPassword.$error.maxlength" translate="error.newPassword.maxlength"></span>
                <span class="login-has-error" ng-show="form.newPassword.$error.pattern" translate="error.newPassword.pattern"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.confirm-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="confirmPassword" validate-on-blur ng-model="confirmPassword"  ng-minlength=8 maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^-\{\}|`~<>\[\]\?\\_=+&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" match="newPassword" required>
              <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$showValidationMessage && form.confirmPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.confirmPassword.$error.required" translate="error.confirmPassword.required"></span>
                <span class="has-error" ng-show="form.confirmPassword.$error.match && !form.confirmPassword.$error.required" translate="error.confirmPassword.match"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="fropile_update_btn_group">
        <button type="submit" class="hillrom-btn btn-submit float-right" ng-show="!userStatus.isCreate" translate="profile.update-button-text">Update</button>
          <button type="reset" ng-click="cancel()" ng-show="!userStatus.isCreate" class="cancel hillrom-btn btn-submit float-right" translate="profile.cancel-button-text">Cancel</button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div ng-if="paasordUpdateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.paasordUpdateModal= false">&times;</button>
         <p translate="profile.passwordUpdate.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="profile.passwordUpdate.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updatePassword()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="$parent.paasordUpdateModal= false">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>