                  <div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
                         <div class="col-md-4 dashboard__form--input">
                          <span class="advanced-filters">Clinic Name</span>
              <input class="" type="text" validate-on-blur ng-model="clinicAdvancedFilter.clinicName" name="clinicname">
            </div>
              
      <div class="col-md-4 col-sm-4 dashboard__form--input">
              <span class="advanced-filters" translate="clinic.clinic-type"></span>
            <div class="form__select__input--option reset-padding selected-box-container">
                 <div class="custom-dropdown" >
                <select name="type" ng-model="clinicAdvancedFilter.clinicType"  ng-options="item.type_code_value as item.type_code_value for item in clinicType">
                </select>
              </div>
            </div>

          </div>
          <div class="col-md-4 col-sm-4 reset-padding">
              <span class="advanced-filters" translate="clinic.clinic-speciality"></span>
            <div class="form__select__input--option reset-padding selected-box-container">
              <div class="custom-dropdown" >
                <select name="type" ng-model="clinicAdvancedFilter.clinicSpecialty"  ng-options="item.type_code_value as item.type_code_value for item in specialities">
                </select>
              </div>
            </div>
            
          </div>
        </div>
<form name="form" autocomplete="off">
        <div  class="col-md-16 col-sm-16 filters-padding20 survey_grey_color" >

    <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container">
              <span class="advanced-filters">Country</span>

      <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown">
        <div 
          isteven-multi-select
          input-model="countries"
          output-model="$parent.selectedCountry"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="4"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="onClose()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          is-disabled = true
          class="advanced-dropdown-country"
        >
        </div>
      </div> 
    </div>
    </div>
    <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container" >
    <span class="advanced-filters">State</span>
    <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown">
        <div 
          isteven-multi-select
          input-model="states"
          output-model="$parent.selectedStates"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="4"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="onCloseState()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          class="advanced-dropdown"
          is-disabled ="isZipcode"
        >
        </div>
      </div> 
    </div>
  </div>
     <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container padding0px" >
      <span class="advanced-filters">City</span>
      <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown">
      <!--   <select class="" ng-if="selectedStates.length > 1 || selectedStates.length === 0" ng-disabled="true">
          <option value="all" label="All" selected="selected">All</option>
        </select> -->
        <div
          isteven-multi-select
          input-model="cities"
          output-model="$parent.selectedCities"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="1"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-close="onCitiesClose()"
          class="advanced-dropdown"
          is-disabled ="isZipcode"
        >
        </div>          
      </div> 
    </div>
    </div>
    <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container padding0px" >
      <span class="advanced-filters">Zip Code</span>
                  <div class="dashboard__form--input reset-padding">
              <input type="text" validate-on-blur class="form-control" name="zip" ng-readonly="validateADMINorASP()" maxlength="5" ng-pattern="/^(?=.*[1-9].*)[0-9]{5}$/" ng-model="clinicAdvancedFilter.zipcode" ng-blur="getCityStateforAdvancedFilters(clinicAdvancedFilter.zipcode)" ng-enter="" ng-keyup="clearMessages()">
              <div ng-show="(form.zip.$dirty && form.zip.$showValidationMessage && form.zip.$invalid) || submitted">
                <span class="has-error" ng-show="form.zip.$error.pattern && !form.zip.$error.required" translate="error.zipcode.pattern"></span>
              </div>
              <span class="has-error" ng-show="serviceError && !form.zip.$error.pattern && !form.zip.$error.required">{{serviceError}}</span>
            </div>
    </div>
        </div>
</form>
        <div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
                       <div class="col-md-4 col-sm-4">
              <span class="advanced-filters" translate="clinic.adherence-setting"></span>
            <div class="form__select__input--option reset-padding selected-box-container">
              <div class="custom-dropdown" >
                <select name="type" ng-model="clinicAdvancedFilter.adherenceWindowSelected"  ng-options="item.type_code_value as item.type_code for item in adherenceDays">
                </select>
              </div>
            </div>
            
          </div>
                    <div class="col-md-4">
          <span class="advanced-filters">Status</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio" ng-class="lastRadio(value,'Inactive')" ng-repeat="value in activeInactive">
            <input type="radio" ng-model="clinicAdvancedFilter.clinicStatus" name="protocolType" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
        </div>

 <div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
        <div class="col-md-16 margin-top reset-padding">
        <div class="">
          <button type="submit" ng-click="advancedSearchClinics()" class="hillrom-btn btn-primary btn-margin-left float-right">Search Clinics</button>
          <button type="submit" ng-click="initClinicAdvancedFilters()" class="hillrom-btn btn-primary btn-margin-left float-right">Reset Filters</button>
        </div>
      </div>
</div>


   