<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container" ng-switch="$root.isAuthenticated">
    <div class="navbar-header navbar-primary">
      <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/login"><img class="hillrom_logo" src="assets/images/logo-HillRom.png" alt="HillRom Logo"></a>
      <div class="navbar-brand__desc"> 
        <span class="navbar-brand__desc--text-primary"> VisiView<sup>TM</sup></span>
        <span class="navbar-brand__desc--text-secondary">Health Portal</span>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-secondary" id="navbar-collapse" ng-switch-when=true>
      <ul class="nav navbar-nav navbar-right">
        <li class="icon-border">
          <a ng-class="{ active: isActive('patient')}" ng-href="#/admin/patients">
            <span class="hillrom-icon icon-patient"></span>
          </a>
        </li>
        <li class="icon-border">
          <a ng-class="{ active: isActive('hcpUsers')}" ng-href="#/admin/hcpUsers">
            <span class="hillrom-icon icon-doctor"></span>
          </a>
        </li>
        <li class="icon-border">
          <a ng-class="{ active: isActive('clinic')}" ng-href="#/admin/clinics">
            <span class="hillrom-icon icon-clinic"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('hillRomUsers')}" ng-href="#/admin/hillRomUsers">
            <span class="hillrom-icon icon-user"></span>
          </a>
        </li>
        <li class="header-popover">
           <a href="javascript:void(0)" class="popover-link cursor-pointer" navbar-popover></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
  $('html').on('mouseup', function(e) {
    if(!$(e.target).closest('.popover').length) {
      $('.popover').each(function(){
        $(this.previousSibling).popover('hide');
      });
    }
  });
</script>
