                  <div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
                         <div class="col-md-4 dashboard__form--input advanced-filters-margin">
                          <span class="advanced-filters">Patient Name</span>
              <input class="" type="text" validate-on-blur ng-model="patientAdvancedFilters.name" name="name">
            </div>
              
                   <div class="col-md-4 dashboard__form--input advanced-filters-margin">
                          <span class="advanced-filters">Hill-Rom ID</span>
              <input class="" type="text" validate-on-blur ng-model="patientAdvancedFilters.hillromId" name="HRID">
            </div>
            <form name="form1" autocomplete="off">
             <div class="col-md-4 dashboard__form--input advanced-filters-margin">
                          <span class="advanced-filters">Email</span>
              <input class="" type="text" validate-on-blur ng-model="patientAdvancedFilters.email" name="email" ng-pattern="/^[a-zA-Z][\.a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.([a-zA-Z]{2,4})$/" >
              <div ng-show="(form1.email.$dirty && form1.email.$showValidationMessage && form1.email.$invalid)">
                <span class="has-error" ng-show="form1.email.$error.pattern" translate="error.email.invalid"></span>
              </div>
            </div>
          </form>
        </div>

        <div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
          <div class="col-md-4 advanced-filters-margin">
          <span class="advanced-filters">Gender</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-gender" ng-repeat="gender in genders">
            <input type="radio" ng-model="patientAdvancedFilters.gender" name="gender" value="{{gender.name}}"><span class="cyan-blue-light advanced-filters">{{gender.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                     <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container advanced-filters-margin">
              <span class="advanced-filters">Age Range</span>

      <div class="benchmarking__form__input selected-box-container " >
      <div class="custom-dropdown advanced-filters-multiselect-z-index">
        <div 
          isteven-multi-select
          input-model="ageGroups"
          output-model="$parent.selectedAgeRange"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="4"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="onCloseAgeRange()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          class="advanced-dropdown-country"
        >
        </div>
      </div> 
    </div>
    </div>
        </div>

    <form name="form2" autocomplete="off">    
        <div  class="col-md-16 col-sm-16 filters-padding20 survey_grey_color" >

    <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container advanced-filters-margin">
              <span class="advanced-filters">Country</span>

      <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown disable-isteven-multiselect" id="country-dropdown">
        <div 
          isteven-multi-select
          input-model="countries"
          output-model="$parent.selectedCountry"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="4"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="onClose()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          is-disabled = true
          class="advanced-dropdown-country"
        >
        </div>
      </div> 
    </div>
    </div>
    <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container advanced-filters-margin" >
    <span class="advanced-filters">State</span>
    <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown" id="state-dropdown">
        <div 
          isteven-multi-select
          input-model="states"
          output-model="$parent.selectedStates"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="4"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="onCloseState()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          class="advanced-dropdown-country"
          is-disabled ="isZipcode"
        >
        </div>
      </div> 
    </div>
  </div>
     <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container advanced-filters-margin" >
      <span class="advanced-filters">City</span>
      <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown disable-isteven-multiselect advanced-filters-multiselect-z-index advanced-filters-multiselect-height" id="city-dropdown">
      <!--   <select class="" ng-if="selectedStates.length > 1 || selectedStates.length === 0" ng-disabled="true">
          <option value="all" label="All" selected="selected">All</option>
        </select> -->
        <div
          isteven-multi-select
          input-model="cities"
          output-model="$parent.selectedCities"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="1"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-close="onCitiesClose()"
          class="advanced-dropdown-country"
          is-disabled ="isZipcode"
        >
        </div>          
      </div> 
    </div>
    </div>
    <div class="col-md-1 col-sm-1  benchmarking__form__input selected-box-container advanced-filters-margin" >
      
      <span class="advanced-filters">Zip Code</span>
                  <div class="dashboard__form--input reset-padding" style="width:200px">
                          <input type="text" validate-on-blur class="form-control" name="zip" maxlength="5" ng-pattern="/^(?=.*[1-9].*)[0-9]{5}$/" ng-model="patientAdvancedFilters.zipcode" ng-blur="getCityStateforAdvancedFilters(patientAdvancedFilters.zipcode)" ng-enter="" ng-keyup="clearMessages()">
              <div ng-show="(form2.zip.$dirty && form2.zip.$showValidationMessage && form2.zip.$invalid) || submitted" style="width:200px">
                <span class="has-error" ng-show="form2.zip.$error.pattern && !form2.zip.$error.required" translate="error.zipcode.pattern"></span>
              </div>
              <span class="has-error" ng-show="serviceError && !form2.zip.$error.pattern && !form2.zip.$error.required">{{serviceError}}</span>
            </div>
         
    </div>
        </div>
</form>
<div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
   <div class="col-md-4 advanced-filters-margin">
          <span class="advanced-filters">Clinic Level Status</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio" ng-class="lastRadio(value,'Inactive')" ng-repeat="value in activeInactive">
            <input type="radio" ng-model="patientAdvancedFilters.clinicLevelStatus" name="clinicLevelStatus" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                       <div class="col-md-4 col-sm-4 advanced-filters-margin">
              <span class="advanced-filters" translate="">Diagnosis</span>
            <div class="form__select__input--option reset-padding selected-box-container dynamic-seach-list">
               <input class="form-control" style="text-overflow: ellipsis" type="text" ng-model="diagnosis" typeahead="searchDiagnosis as searchDiagnosis.type_code + ' &nbsp : ' + searchDiagnosis.type_code_value for searchDiagnosis in getMatchingDiagnosisList($viewValue)" typeahead-on-select="selectDiagnosis($item)">
            </div>
            
          </div>
           <div class="col-md-4 col-sm-4  benchmarking__form__input selected-box-container advanced-filters-margin" >
    <span class="advanced-filters">Adherence Score Range</span>
    <div class="benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown" id="state-dropdown">
        <div 
          isteven-multi-select
          input-model="adherenceScoreRangeGroups"
          output-model="$parent.selectedAdherenceScoreRange"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          max-labels="4"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="onCloseAdherenceScoreRange()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          class="advanced-dropdown-country"
          is-disabled ="isZipcode"
        >
        </div>
      </div> 
    </div>
  </div>
                   
        </div>
        <div  class="col-md-16 col-sm-16 padding10 survey_grey_color advanced-filter-padding-tag1" >
          <div class="col-md-4 advanced-filters-margin">
          </div>
          <div class="col-md-4 advanced-filters-margin">
          </div>
          <div class="col-md-4">
                  <span class="advanced-filters">Device Activate Date Range</span>
                </div>
                </div>

        <div  class="col-md-16 col-sm-16 padding10 survey_grey_color advanced-filter-padding-tag" >
   <div class="col-md-4 advanced-filters-margin">
    <div class="col-md-10 col-sm-4 dashboard__form--label reset-padding advanced-filters-padding">
          <span class="advanced-filters">Device Type</span>
        </div>
                         <div class="col-md-16 col-sm-4 form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio" ng-class="lastRadio(value,'Inactive')" ng-repeat="value in deviceType">
            <input type="radio" ng-model="patientAdvancedFilters.deviceType" name="deviceType" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 advanced-filters-margin">
                    <div class="col-md-10 col-sm-4 dashboard__form--label reset-padding advanced-filters-padding">
          <span class="advanced-filters">Device Status</span>
          </div>
                         <div class="col-md-16 col-sm-4 form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-many" ng-class="lastRadio(value,'Inactive')" ng-repeat="value in deviceStatus">
            <input type="radio" ng-model="patientAdvancedFilters.deviceStatus" name="deviceStatus" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                  <form name="form" autocomplete="off">
                   <div class="col-md-4">
                       <div class="col-md-8 col-sm-8 reset-padding">
            <div class="col-md-10 col-sm-4 dashboard__form--label reset-padding advanced-filters-padding">
              <span class="advanced-filters" translate="">From</span>
            </div>
            <div class="col-md-16 col-sm-16 dashboard__form--input advanced-filters-padding">
              <input type="text"   class="datepickerNew" ng-model="patientAdvancedFilters.deviceActiveDateFrom" name = "startDate" data-provide="datepicker" data-date-autoclose="true" data-date-start-date="-730d"   id="dp1" required data-date-format="mm/dd/yyyy" ng-change="endDateCheck()"  ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" readonly="readonly"/>
            </div>
          </div>
          <div class="col-md-8 col-sm-8 reset-padding">
            <div class="col-md-10 col-sm-4 dashboard__form--label reset-padding advanced-filters-padding">
              <span class="advanced-filters" translate=""> To</span>
            </div>
            <div class="col-md-16 col-sm-16 dashboard__form--input reset-padding">
             <input type="text"   class="datepickerNew" ng-model="patientAdvancedFilters.deviceActiveDateTo" name = "endDate" data-provide="datepicker" data-date-autoclose="true" data-date-start-date="-730d" id="dp2" required data-date-format="mm/dd/yyyy"  ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" ng-change="endDateCheck()" readonly="readonly"/>
             <div ng-if="dateFlag == true "><span class="has-error">To Date should be greater than From date </span></div>
            </div>
          </div>
                  </div>
                </form>
                </div>
                </div>
        <div  class="col-md-16 col-sm-16 survey_grey_color advanced-filter-padding-tag1" >
          <div class="col-md-4 advanced-filters-margin">
          </div>
          <div class="col-md-4">
                 <span class="advanced-filters">HMR Range</span>
                </div>
                </div>

                 <div  class="col-md-16 col-sm-16 padding10 survey_grey_color advanced-filter-padding-tag" >
                         <div class="col-md-4 dashboard__form--input advanced-filters-margin">
                          <span class="advanced-filters">Serial Number</span>
              <input class="" type="text" validate-on-blur ng-model="patientAdvancedFilters.serialNo" name="HRID" ng-readonly="patientStatus.editMode">
            </div>
              
                   <div class="col-md-4 dashboard__form--input advanced-filters-margin">
                          
                            <div class="col-md-7 advanced-filters-padding" >
                            <span class="advanced-filters">Min</span>
                            <input class="" type="number" validate-on-blur ng-model="patientAdvancedFilters.minHMRRange" name="minHMRRange" ng-keyup="maxRangeCheck()" ng-change="maxRangeCheck()" min="0" ng-readonly="patientStatus.editMode">
                         <span class="has-error" ng-show="minHmrInvalid" >Min HMR is invalid 
                            </span>
                          </div>
                          <div class="col-md-7 advanced-filters-padding">
                            <span class="advanced-filters">Max</span>
                            <input class="" type="number" validate-on-blur ng-model="patientAdvancedFilters.maxHMRRange" name="maxHMRRange" ng-keyup="maxRangeCheck()" ng-change="maxRangeCheck()" min="0" ng-readonly="patientStatus.editMode">
                             <span class="has-error" ng-show="maxHmrInvalid" >Max HMR is invalid
                            </span>
                            <span class="has-error" ng-show="hmrRangeFlag" >Max HMR should be greater than Min HMR 
                            </span>
                          </div>
                          
                            
                           
                                    
            </div>
             
        </div>

<div  class="col-md-16 col-sm-16 padding10 survey_grey_color" >
          <div class="col-md-3">
          <span class="advanced-filters">Adherence Reset</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-many" ng-repeat="value in adherenceReset">
            <input type="radio" ng-model="patientAdvancedFilters.adherenceReset" name="adherenceReset" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
          <span class="advanced-filters">No Transmission Recorded</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-many" ng-repeat="value in noTransmissionRecorded">
            <input type="radio" ng-model="patientAdvancedFilters.noTransmissionRecorded" name="noTransmissionRecorded" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
          <span class="advanced-filters">Below Frequency Setting</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-many" ng-repeat="value in belowFrequencySetting">
            <input type="radio" ng-model="patientAdvancedFilters.belowFrequencySetting" name="belowFrequencySetting" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
          <span class="advanced-filters">Below Therapy Minutes</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-many" ng-repeat="value in belowTherapyMinutes">
            <input type="radio" ng-model="patientAdvancedFilters.belowTherapyMin" name="belowTherapyMin" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
          <span class="advanced-filters">Missed Therapy Days</span>
                         <div class="form-group advanced-filters-radio-div">
                      <span>

                      <label class="radio advanced-filters-radio-many" ng-repeat="value in missedTherapyDays">
            <input type="radio" ng-model="patientAdvancedFilters.missedTherapyDays" name="missedTherapyDays" value="{{value.name}}"><span class="cyan-blue-light advanced-filters">{{value.name}}</span>
        </label>
                      </span>
                    </div>
                  </div>

                </div>

 <div  class="col-md-16 col-sm-16 padding10 survey_grey_color" style="padding-bottom:20px">
        <div class="col-md-16 margin-top reset-padding">
        <div class="">
          <button type="submit" ng-disabled="hmrRangeFlag || dateFlag || maxHmrInvalid || minHmrInvalid" ng-click="advancedSearchPatients(true)" class="hillrom-btn btn-primary btn-margin-left float-right">Search Patients</button>
          <button type="submit" ng-click="initAdvancedFilters()" class="hillrom-btn btn-primary btn-margin-left float-right">Reset Filters</button>
        </div>
      </div>
</div>

   