<ng-include src="'scripts/components/navbar/navbarclinicadmin.html'"></ng-include>
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav patient-dashboard">
        <li>
          <a>
            <span class="" translate="global.tabs.messages"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right right dashboard_container" ng-show="clinics.length > 0">
        
        <li class="hcp_hsp_name_a" dropdown>
          <a ng-href="" data-target="#" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="">{{selectedClinicForCA.name}} <span class="nav_drop_arrow hillrom-icon icon-arrow-down"></span></span>
          </a>
         <ul class="dropdown-menu hcp_dashbaord dashboard_clinic_list dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1"> 
              <li role="menuitem" ng-repeat='clinic in clinics | filter:{isMessageOpted:true}' ng-click="switchClinic(clinic)"><a>{{::clinic.name}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content padding-bottom-ls">
  <div class="container dashboard__form">
<div class="row">
      <div class="col-xs-16 reset-padding super-head">
         <div ng-if="(flag == 'new')" class="col-xs-4" style="padding-top:10px;">
        <span  class="" translate="global.tabs.compose-message"></span>
      </div>
        <div ng-if="(flag != 'new')" class="col-xs-2" style="padding-top:10px;">
            <span ng-if="(flag == 'inbox')" class="" translate="global.messaging.inbox"></span>
            <span ng-if="(flag == 'archive')" class="" translate="global.messaging.archive"></span>
            <span ng-if="(flag == 'sentitems')" class="" translate="global.messaging.sent-items"></span>
      </div>
      <div class="col-xs-13" ng-if="(messagebodyflag) || (sentmessagebodyflag) || (archivemessagebodyflag)">
<a ng-click="goToBack(flag)" class="back"><i class="fa fa-mail-reply" aria-hidden="true"></i> Back </a>
      </div>
      <div class="col-xs-13" ng-if="(flag != 'new') && (flag != 'sentitems') && (!messagebodyflag) &&(!sentmessagebodyflag) && (!archivemessagebodyflag) && (!nodataflagCA) && (!nosentdataflagCA) && (!noarchivedataflagCA)">
       <div ng-if="(flag != 'thread')" class="col-xs-2 checkallbox" style="padding-top:10px;">
        <span ng-if="(flag == 'inbox')" > <input type="checkbox" ng-click="toggleAll()" ng-checked="isAllSelected"></span>
        <span ng-if="(flag == 'archive')" > <input type="checkbox" ng-click="toggleAllForArchive()" ng-checked="isAllSelected"></span>
       </div>
       <div class="col-xs-2 aligncenter arc-read" style="padding-top:10px; cursor:pointer;" ng-click="ArchiveMessages()">
       <div ng-if = "((flag=='inbox') && (readflag || unreadflag))" style=" border:0.5px solid white">
        <img src="images/archive-folder.png" style="width:20px; height:20px"/> <span translate="global.messaging.archive" class="aligntextwithimg"></span>
       </div>
     </div>
       <div ng-if="readflag" class="col-xs-4 aligncenter read arc-pos-read read1" style="padding-top:10px; cursor:pointer;" ng-click="markAsRead()">
       <div style="border:0.5px solid white;">
         <img src="images/Mark-read.png" style="width:20px; height:20px;"/> <span translate="global.messaging.mark-as-read" class="aligntextwithimg"></span>
       </div>
     </div>
       <div ng-if="unreadflag" class="col-xs-4 aligncenter hcp-arc-unread" style="padding-top:10px; cursor:pointer;" ng-click="markAsUnread()">
       <div class="arc-unread" style=" border:0.5px solid white">
         <img src="images/mark-unread.png" style="width:20px; height:20px"/> <span translate="global.messaging.mark-as-unread" class="aligntextwithimg"></span>
       </div>
     </div>
     </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-18 reset-padding after-head-container">
       <!-- For Menu items(New Message, Inbox, Sent items, Archive) display  --> 
        <div class="col-sm-2 optionSection">
           <a href="" ng-click="SwitchTabs('new')" ng-class="isactive('new')" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
           <span translate="global.messaging.new-message"></span> </a>
 
           <a href="" ng-click="SwitchTabs('inbox')" ng-class="isactive('inbox')" > <i class="fa fa-inbox" aria-hidden="true"></i>
           <span translate="global.messaging.inbox"></span>({{UnreadMessages}})</a>

           <a href=""  ng-click="SwitchTabs('sentitems')" ng-class="isactive('sentitems')" > <i class="fa fa-external-link" aria-hidden="true"></i>
           <span translate="global.messaging.sent-items"></span> </a>
 
           <a href="" ng-click="SwitchTabs('archive')" ng-class="isactive('archive')" ><i class="fa fa-archive" aria-hidden="true"></i>
           <span translate="global.messaging.archive"></span></a>
        </div>
        <!-- For Inbox -->
        <div ng-if="flag == 'inbox'" >
        <div class="col-xs-14 messageList-container"> 
          <div class="messageList">
            <div class="row" ng-if="(messagelistflag && !messagebodyflag)">
          <ul class="ulheader">
            <li>
              <div class="col-xs-6 inb-from">
                <span ng-class="{'sort-icon--default' : sortMessageList.from.isDefault, 'sort-icon-down': sortMessageList.from.isDown, 'sort-icon-up':sortMessageList.from.isUp}" ng-click="sortType('From',0)" translate="global.messaging.from"></span> 
              </div>
            <div class="col-xs-8 inb-sub">
              <span ng-class="{'sort-icon--default' : sortMessageList.subject.isDefault, 'sort-icon-down': sortMessageList.subject.isDown, 'sort-icon-up':sortMessageList.subject.isUp}" ng-click="sortType('Subject',0)" translate="global.messaging.subject-of-message"></span>
            </div>
             <div class="col-xs-2 inb-date-head">
              <span ng-class="{'sort-icon--default' : sortMessageList.date.isDefault, 'sort-icon-down': sortMessageList.date.isDown, 'sort-icon-up':sortMessageList.date.isUp}" ng-click="sortType('Date',0)" translate="global.messaging.date"></span>
            </div>
            </li>
          </ul>
        </div>
        <div class="row">
            <div ng-if="messagelistflag" class="col-xs-16 msgcontainer" style="float:left; min-height: 400px;max-height: 400px; overflow-y: scroll;">
              <!--  <div ng-repeat="InboxMessage in InboxMessageList" ng-if="$index < 1" >
            <input type="hidden"  data-ng-init="getMessageBodyOnPageload(InboxMessage)">
            </div> --> 
          <div ng-repeat="InboxMessage in InboxMessageList" ng-class="{'unread': (InboxMessage[2] != true) }" style=" padding: 8px; border-bottom: 0.5px solid #d0cbcb;color: #d0cbcb;cursor: pointer; " class="row msgtitles" >
                  <div class="col-xs-1">  <input type="checkbox" ng-model="InboxMessage.selected" ng-change="optionToggled()"></div>
               <!--    <div class="col-xs-15 msgtitles">  -->
                   <a href="" ng-click = "getMessageBody(InboxMessage)" style=" color:#999; text-decoration:none;">
                    <div class="col-xs-5 inb-subject  inb-subject1 " style="overflow: hidden;
    text-overflow: ellipsis;">
                   <span style="white-space: nowrap;"> {{InboxMessage[8]}},{{InboxMessage[9]}} </span> <span><i style="color:red;" class="fa fa-flag inb-flag-ca " ng-if="InboxMessage[2] != true" aria-hidden="true"></i><i style="color:green;" class="fa fa-check inb-tick-ca" ng-if="InboxMessage[2] == true" aria-hidden="true"></i></span> </div>
                   <div class="col-xs-8 inb-desc " style="overflow: hidden;
    text-overflow: ellipsis;"><span style="white-space: nowrap;">&nbsp;{{InboxMessage[5]}}</span></div>
    <div class="col-xs-2 inb-date1"><span style="white-space:nowrap;">{{InboxMessage[4]}}</span> 
  </div>
                   </a>
              <!--    </div> -->
           </div>
                     <div id = "NodataDiv" class="graph_nodata" ng-if = "nodataflagCA">
    <span class="noData_text"> No Messages Available!</span>
  </div>
         </div>
 <div ng-if="messagebodyflag" class="col-xs-16" style="max-height:400px; min-height:400px; overflow-y:scroll;" >
  <div class="row msgreplyconatiner"><div class="col-md-15 msgreply alignright"><a ng-click="replyToMessage(messageBodyObject); replyFlag=true"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a></div></div> 
             <div ng-show="replyFlag" class="row" id="replybox">           
                    <div class="empty-reply"> <textarea class="col-xs-10 write-message" placeholder="Type your message here..." style="width: 96%; margin-left: 10px; min-height:140px;" ng-model="replyattributes.replyData"/>   </div><br><br>
    <div class="btngroups">
    <button ng-click = "showmodalonReplyFuncCA()" class="hillrom-btn btn-primary pull-right" style="margin-right: 0px;">Send Reply</button>
      <button ng-click = "replyFlag = false;" class="hillrom-btn btn-primary pull-right" style="margin-right: 10px;">Cancel</button>
      
</div>
                </div> 
           <div class="message-thread-container" ng-repeat="message in messageBodyObject" id="messageBodyArea"> 
           <div class="row">
            <div class="col-md-15 msghead">
              {{message[1]}}</div>
            </div>
            <div class="row">
              <div class="col-md-11 msgtitle">{{message[0].messageSubject}}</div>
              <div class="col-md-4 msgtimestamp">{{message[0].messageDatetime}}</div>
            </div><div class="row">
            <div class="col-md-15 msgbody">
{{message[0].messageText}}</div></div>
            <div id = "NodataDiv" class="graph_nodata" ng-if = "nomessagebodyavailableCA">
    <span class="noData_text"> No Messages Available!</span>
  </div>
           </div>
          
          <!--  <div class="col-xs-8" style="float:right;">
                    <button class="hillrom-btn btn-primary float-right" ng-click="setflag('inbox')" translate="global.messaging.reply"></button>
                  </div> -->   
          </div>

          </div>      
        </div>     
      
        <div class="col-sm-18" ng-if="(messagelistflag && !messagebodyflag)" ng-show="totalMessages >= 1">
          <div class="col-sm-5 paginationcontainer " style="float:right; margin-top: 14px;">
           <span style="color:#7ca3dc;">  {{totalMessages}} Messages Found  &nbsp  </span>
           <span ng-show="pageCount > 1">
<span class="navigaion-link cursor-pointer activeColor" ng-class="{ 'inactiveColor': !(PageNumber > 1) }" ng-click="Pagination('PREV')">Previous</span>
            <span class="navigaion-no ng-binding ">{{currentPageIndex}}/{{pageCount}}</span>  <span class="navigaion-link cursor-pointer activeColor" ng-class="{ 'inactiveColor': (PageNumber >= pageCount) }" ng-click="Pagination('NEXT')">Next</span>
          </span>
          </div>
        </div>
      </div>
      </div>
      <!--For Sent Items display-->
      <div ng-if="(flag == 'sentitems')" >
        <div class="col-xs-14 messageList-container"> 
        <div class="messageList">
          <div class="row" ng-if="sentmessagelistflag && !sentmessagebodyflag">
          <ul class="ulheader">
            <li>
              <div class="col-xs-5 inb-from">
           <span ng-class="{'sort-icon--default' : sortSentMessageList.to.isDefault, 'sort-icon-down': sortSentMessageList.to.isDown, 'sort-icon-up':sortSentMessageList.to.isUp}" ng-click="sortTypeSentItems('To',0)" translate="global.messaging.to"></span> </div>
            <div class="col-xs-9 inb-sub">
             <span ng-class="{'sort-icon--default' : sortSentMessageList.subject.isDefault, 'sort-icon-down': sortSentMessageList.subject.isDown, 'sort-icon-up':sortSentMessageList.subject.isUp}" ng-click="sortTypeSentItems('Subject',0)" translate="global.messaging.subject-of-message"></span> </div>
             <div class="col-xs-2 inb-date-head">
             <span ng-class="{'sort-icon--default' : sortSentMessageList.date.isDefault, 'sort-icon-down': sortSentMessageList.date.isDown, 'sort-icon-up':sortSentMessageList.date.isUp}" ng-click="sortTypeSentItems('Date',0)" translate="global.messaging.date"></span></div>
            </li>
          </ul>
        </div>
          <div ng-if="sentmessagelistflag" class="row">
            <div class="col-xs-16 msgcontainer" style="float:left; min-height: 400px;max-height: 400px; overflow-y: scroll;">
            <!--   <div ng-repeat="sentmessage in sentmessageListRawData.content" ng-if="$index < 1" >
            <input type="hidden"  data-ng-init="getMessageBodyOnPageload(sentmessage)">
            </div> --> 
          <div ng-repeat="sentmessage in sentmessageListRawData.content" ng-click="getMessageBodySent(sentmessage)" style=" padding: 8px; border-bottom: 0.5px solid #d0cbcb;color: #d0cbcb;cursor: pointer; "class="row"  >
                  <div class="col-xs-16">
                   <a href="" style=" color:#999; text-decoration:none;">
                      <div class="col-xs-5 inb-subject inb-subject1 inb-subject2" style="overflow: hidden; text-overflow: ellipsis;padding-right:30px;">
                   <span style="white-space: nowrap;"> {{sentmessage[6]}}</span></div>
                   <div class="col-xs-9 inb-desc inb-desc1" style=" min-width:200px;overflow: hidden;
    text-overflow: ellipsis;"><span style="white-space: nowrap;">&nbsp;{{sentmessage[3]}}</span></div>
     <div class="col-xs-2 inb-date1" style="padding-left:20px;"><span style="white-space:nowrap;">{{sentmessage[1]}}</span>
     </div> 
                   </a>
                 </div>
           </div>
                           <div id = "NodataDiv" class="graph_nodata" ng-if = "nosentdataflagCA">
    <span class="noData_text"> No Messages Available!</span>
  </div>
         </div>
       </div>
<div ng-if="sentmessagebodyflag" class="col-xs-16" style="max-height:400px; min-height:400px; overflow-y:scroll;" >
           <div class="message-thread-container" id="messageBodyArea"> 
           <div class="row">
            <div class="col-md-15 msghead">
              {{sentmessageBody.name}}</div>
            </div>
            <div class="row">
              <div class="col-md-11 msgtitle">{{sentmessageBody.messageSubject}}</div>
              <div class="col-md-4 msgtimestamp">{{sentmessageBody.date}}</div>
            </div><div class="row">
            <div class="col-md-15 msgbody">
{{sentmessageBody.messageText}}</div></div>
            <div id = "NodataDiv" class="graph_nodata" ng-if = "nomessagebodyavailableCA">
    <span class="noData_text"> No Messages Available!</span>
  </div>
           </div>
          </div> 

          </div>      
        </div>    
   
       <div class="col-sm-18" ng-if="sentmessagelistflag && !sentmessagebodyflag" ng-show="totalMessages >= 1">
          <div class="col-sm-5 paginationcontainer " style="float:right;">
           <span style="color:#7ca3dc;">  {{totalMessages}} Messages Found  &nbsp </span>
           <span ng-show="pageCount > 1">
<span class="navigaion-link cursor-pointer activeColor" ng-class="{ 'inactiveColor': !(PageNumber > 1) }" ng-click="Pagination('PREV')">Previous</span>
            <span class="navigaion-no ng-binding">{{currentPageIndex}}/{{pageCount}}</span>  <span class="navigaion-link cursor-pointer activeColor" ng-class="{ 'inactiveColor': (PageNumber >= pageCount) }" ng-click="Pagination('NEXT')">Next</span>
          </span>
          </div>
        </div>
    </div>
     
      <!--For Archive -->
        <div ng-if="flag == 'archive'" >
        <div class="col-xs-14 messageList-container"> 
          <div class="messageList">
         <div class="row" ng-if="(archivemessagelistflag && !archivemessagebodyflag)">
         <ul class="ulheader">
            <li>
              <div class="col-xs-5 inb-from">
                <span ng-class="{'sort-icon--default' : sortArchiveMessageList.from.isDefault, 'sort-icon-down': sortArchiveMessageList.from.isDown, 'sort-icon-up':sortArchiveMessageList.from.isUp}" ng-click="sortTypeArchive('From',0)" translate="global.messaging.from"></span> 
              </div>
            <div class="col-xs-9 inb-sub">
              <span ng-class="{'sort-icon--default' : sortArchiveMessageList.subject.isDefault, 'sort-icon-down': sortArchiveMessageList.subject.isDown, 'sort-icon-up':sortArchiveMessageList.subject.isUp}" ng-click="sortTypeArchive('Subject',0)" translate="global.messaging.subject-of-message"></span>
            </div>
             <div class="col-xs-2 inb-date-head">
              <span ng-class="{'sort-icon--default' : sortArchiveMessageList.date.isDefault, 'sort-icon-down': sortArchiveMessageList.date.isDown, 'sort-icon-up':sortArchiveMessageList.date.isUp}" ng-click="sortTypeArchive('Date',0)" translate="global.messaging.date"></span>
            </div>
            </li>
          </ul>
       </div>
  <div class="row">
            <div ng-if="archivemessagelistflag" class="col-xs-16 msgcontainer" style="float:left; min-height: 400px;max-height: 400px; overflow-y: scroll;">
          <div ng-repeat="ArchiveMessage in ArchiveMessageList" ng-class="{'unread': (ArchiveMessage[2] != true) }" style=" padding: 8px; border-bottom: 0.5px solid #d0cbcb;color: #d0cbcb;cursor: pointer; " class="row" >
                  <div class="col-xs-1"> <input type="checkbox" ng-model="ArchiveMessage.selected" ng-change="optionToggledForArchive()"></div> 
                   <a href="" ng-click="getMessageBody(ArchiveMessage)" style=" color:#999; text-decoration:none;">
                    <div class="col-xs-4  inb-subject inb-subject1" style="overflow: hidden;text-overflow: ellipsis;">
                   <span style="white-space: nowrap;"> {{ArchiveMessage[8]}},{{ArchiveMessage[9]}} </span> <span><i style="color:red;" class="fa fa-flag inb-flag-ca" ng-if="ArchiveMessage[2] != true" aria-hidden="true"></i><i style="color:green;" class="fa fa-check inb-tick-ca" ng-if="ArchiveMessage[2] == true" aria-hidden="true"></i></span></div>  
                   <div class="col-xs-9 inb-desc" style="overflow: hidden;text-overflow: ellipsis;"><span style="white-space: nowrap">&nbsp;{{ArchiveMessage[5]}}</span></div>
                   <div class="col-xs-2 inb-date1"><span style="white-space:nowrap;">{{ArchiveMessage[4]}}</span> 

                 </div>
                                                                </a>
           </div> 
    <div id = "NodataDiv" class="graph_nodata" ng-if = "noarchivedataflagCA">
    <span class="noData_text"> No Messages Available!</span>
  </div>      
         </div>
<div ng-if="archivemessagebodyflag" class="col-xs-16" style="max-height:400px; min-height:400px; overflow-y:scroll;" >
             <div class="message-thread-container" ng-repeat="message in messageBodyObject" id="messageBodyArea"> 
           <div class="row">
            <div class="col-md-15 msghead">
              {{message[1]}}</div>
            </div>
            <div class="row">
              <div class="col-md-11 msgtitle">{{message[0].messageSubject}}</div>
              <div class="col-md-4 msgtimestamp">{{message[0].messageDatetime}}</div>
            </div><div class="row">
            <div class="col-md-15 msgbody">
{{message[0].messageText}}</div></div>
            <div id = "NodataDiv" class="graph_nodata" ng-if = "nomessagebodyavailableCA">
    <span class="noData_text"> No Messages Available!</span>
  </div>
           </div>
          </div>      
        </div>     
      
        <div class="col-sm-18" ng-if="(archivemessagelistflag && !archivemessagebodyflag)" ng-show="totalMessages >= 1">
          <div class="col-sm-5 paginationcontainer " style="float:right; margin-top: 14px;">
           <span style="color:#7ca3dc;"> {{totalMessages}} Messages Found  &nbsp  </span>
<span ng-show="pageCount > 1">
<span class="navigaion-link cursor-pointer activeColor" ng-class="{ 'inactiveColor': !(PageNumber > 1) }" ng-click="Pagination('PREV')">Previous</span>
            <span class="navigaion-no ng-binding">{{currentPageIndex}}/{{pageCount}}</span>  <span class="navigaion-link cursor-pointer activeColor" ng-class="{ 'inactiveColor': (PageNumber >= pageCount) }" ng-click="Pagination('NEXT')">Next</span>
          </span>
          </div>
        </div>
      </div>
      </div></div>

     <!-- For compose message display -->
     <form name="form">
            <div ng-if="(flag == 'new')" class="col-xs-14 reset-padding after-head-container-for-compose-message"> 
              <div class="col-xs-14 compose-message-container-header"> 
                <div class="row">
                  <div class="col-xs-12">
                    <span translate="global.messaging.compose-message"></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-14 compose-message-container">
                <div class="row">
                  <div class="col-xs-2 compose-to"><span translate="global.messaging.to"></span></div>
           <div class="col-xs-10 col-sm-10 pull-left benchmarking__form__input selected-box-container" >
      <div class="custom-dropdown cmp-msg">
        <!-- <div class="ng-isolate-scope" isteven-multi-select="" input-model="clinicnames" output-model="selectedClinics" button-label="icon name" item-label="icon name maker" tick-property="ticked"> -->
          <div
          isteven-multi-select
          input-model="patientnames"
          output-model="$parent.selectedPatients"
          button-label="name"
          item-label="name"
          tick-property=""
          max-labels="1"
          translation="localLang"
          helper-elements="all filter none"
          min-search-length="1"
          search-property="name"
          max-height="250px"
          on-open="onOpen()"
          on-close="selectpatient()"
          on-item-click= "onItemclick()"
          on-select-all="onSelectAll()"
          on-select-none="onSelectNone()"
          on-reset="onReset()"
          on-clear="onClear()"
          on-search-change="onSearchChange()"
          class="toFieldmultiselect"
        ></div>
        </div>  
        </div>
                </div>
              </div>
                <div class="col-xs-14 compose-message-container">
                <div class="row">
                  <div class="col-xs-2"><span translate="global.messaging.subject"></span></div>
                  <div class="col-xs-14">
                    <input class="full-width" id ="noWrite" name = "SubjectName" ng-model="messageAttributes.subject" type="text" maxlength="250" onkeydown="return (event.keyCode!=13);"/> 
               <!--             <div ng-show="(form.SubjectName.$dirty && form.SubjectName.$showValidationMessage && form.SubjectName.$invalid) || submitted" class="">
            <span class="has-error" ng-show="form.SubjectName.$error.required">This field is required
            </span>
            <span class="has-error" ng-show="form.SubjectName.$error.maxlength"> Subject too long or too short
            </span>
          </div>  -->
                </div>
                </div>
                </div>
                <br>
                <div class="write-message col-xs-14 compose-message-container">
                <div class="row">
                <div class="col-xs-2"><span translate="global.messaging.message"></span></div>               
                    <textarea name="messageBody"  class="col-xs-14 write-message" ng-model="messageAttributes.messageData"/>   
             <!--             <div ng-show="(form.messageBody.$dirty && form.messageBody.$showValidationMessage && form.messageBody.$invalid) || submitted" class="">
            <span class="has-error" ng-show="form.messageBody.$error.required">This field is required
            </span>
            <span class="has-error" ng-show="form.messageBody.$error.maxlength"> Message too long or too short
            </span>
          </div> --> 
                </div>
                </div>
                <div class="col-xs-14 compose-message-container   alignright">
                  <div class="btn-group cmp-btns">
                  <button class="hillrom-btn btn-primary " ng-click="SwitchTabs('inbox')" translate="global.messaging.cancel"></button>
                    <button ng-click = "showUpdateCA()" class="hillrom-btn btn-primary "  translate="global.messaging.send-message"></button>
                  
                    
                  </div>
                </div>   
              </div>
            </form>
            </div> 
<div ng-if="showUpdateModalCA" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close(false)">&times;</button>
         <p translate="global.messaging.sendmessageWarning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="global.messaging.confirmsendmessage"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="SendMessage(); $parent.showUpdateModalCA = false">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="closeCA()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
<div ng-if="showNoMessageModalCA" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closeCA()">&times;</button>
         <p translate="global.messaging.sendmessageWarning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="global.messaging.NomessageWarning"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="SendMessage(); $parent.showNoMessageModalCA = false">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="closeCA()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
<div ng-if="showNoSubjectModalCA" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closeCA()">&times;</button>
         <p translate="global.messaging.sendmessageWarning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="global.messaging.NoSubjectWarning"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="SendMessage(); $parent.showNoSubjectModalCA = false">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="closeCA()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
<div ng-if="showmodalOnReplyCA" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closeCA()">&times;</button>
         <p translate="global.messaging.sendmessageWarning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="global.messaging.confirmsendmessage"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="Reply(); $parent.showmodalOnReplyCA = false">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="closeCA()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
<div ng-if="showNoMessageOnReplyCA" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closeCA()">&times;</button>
         <p translate="global.messaging.sendmessageWarning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="global.messaging.NomessageWarning"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="Reply(); $parent.showNoMessageOnReplyCA = false">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="closeCA()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
      </div>
        
        </div>
      </div>
      <div class="container dashboard__form">
    <div class="row">
     <div class="col-md-16 emergencyinfo">
  <i class="fa fa-asterisk" aria-hidden="true" style="
    font-size: 12px !important;"></i>
  System is not regularly monitored. Call 911 if you have a medical emergency.
  <div>
  </div>
</div>
    </div>
  </div>
</div>

