<ng-include src="'scripts/components/navbar/navbarassociate.html'"></ng-include>
<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceTypeforBothIcon() =='MONARCH'), 'visivestIcon': (getDeviceTypeforBothIcon() =='VEST'), 'bothdeviceIcon': (getDeviceTypeforBothIcon() =='ALL')}">
     <span class="user-gen-details--name">{{::slectedPatient.firstName}} {{::slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{::slectedPatient.hillromId}}</span></span>
   </div>
  </div>

  <div class="col-md-16 patient-caregiver">
    <span class="patient-caregiver--title" translate="patient.caregiver-title"></span>
  </div>

<div class="dashboard dashboard--content">
  <div class="dashboard__manage-view margin-top">
    <div class="dashboard__manage-view--header">
        <div class="col-md-3 header--type">
          <span translate="patient.caregiver-caption.caregiver-name"></span>
        </div>
        <div class="col-md-3 header--type">
          <span translate="patient.caregiver-caption.address"></span>
        </div>
        <div class="col-md-3 header--type">
          <span translate="patient.caregiver-caption.phone-number"></span>
        </div>
        <div class="col-md-3 header--type">
          <span translate="patient.caregiver-caption.mobile-number"></span>
        </div>
        <div class="col-md-3 header--type">
          <span translate="patient.caregiver-caption.relationship"></span>
        </div>
        <div class="clr"></div>
      </div>
  </div>
</div>

  <div class="col-md-16 caregiver-list" ng-repeat="caregiver in caregivers | filter:{user:{deleted: false}} track by $index">
    <div class="col-md-3 caregiver-list__detail">
      <span class="caregiver-list__detail--name">{{caregiver.user.lastName}}, {{caregiver.user.firstName}}</span>
      <span class="caregiver-list__detail--email">{{caregiver.user.email}}</span>
    </div>
    <div class="col-md-3 caregiver-list__address">
      <span class="caregiver-list__address--primary" ng-if="caregiver.user.address">{{caregiver.user.address}}</span>
      <span class="caregiver-list__address--secondary" ng-if="caregiver.user.city">{{caregiver.user.city}}
      <span ng-if="caregiver.user.city && caregiver.user.state">,</span>
      <span ng-if="caregiver.user.state">{{caregiver.user.state}} </span></span>
    </div>
    <div class="col-md-3 caregiver-list__phone">
      <span class="caregiver-list__phone--number">{{caregiver.user.primaryPhone | phoneFormat}}</span>
    </div>
    <div class="col-md-3 caregiver-list__fax">
      <span class="caregiver-list__fax--number">{{caregiver.user.mobilePhone | phoneFormat}}</span>
    </div>
    <div class="col-md-3 caregiver-list__type">
      <span>{{caregiver.relationshipLabel}}</span>
    </div>
    <div class="col-md-1 caregiver-list__delete" ><!-- 
      <span class="icon-edit-icon" ng-click="goToCaregiverEdit(caregiver.user.id)"></span>
      <span class="icon-delete-icon" ng-click="openModalCaregiver(caregiver.user.id, $index)"></span> -->
    </div>
  </div>

  <div class="col-md-16 empty-list-message" ng-if="isCargiverLoaded && !caregivers">
    <span translate="patient.empty-caregiver-list-message"></span>
  </div>
</div>