
<div class="navbar dashboard dashbord-nav">
    <div class="container">
      <div class="dashbord-nav__primary pull-left">
        <span class="dashbord-nav__primary--title" translate="patient.home.manageLabel">Manage Patient</span>
      </div>

      <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createPatient()">
        <span class="" translate="patient.home.createNewLabel"></span>
        <span class="hillrom-icon icon-plus-icon"></span>
      </div>
    </div>
  </div>
  <div class="dashboard dashboard--content">
    <div class="container dashboard__manage-view margin-top-xl">
      <div class="dashboard__manage-view--search">
        <div class="fuid-search-box reset-padding-right">
          <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'patient.placeholder.search' | translate}}">
          <span class="search-icon hillrom-icon icon-search-icon"></span>
        </div>
        <div class="fixed-filter-box reset-padding-left">
          <div class="search-dropdown">
            <select name="search" ng-model="sortOption" ng-change="searchPatients()">
              <option value="" selected>Newly Created</option>
              <option value="email">Email</option>
              <option value="firstName">First Name</option>
              <option value="lastName">Last Name</option>
            </select>
          </div>
        </div>
      </div>
      <div class="dashboard__manage-view--header">
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.patient-name">Patient Name</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.hill-rom-id">Hill-Rom ID</span>
        </div>
        <div class="col-md-3 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.email">Email</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.address">Address</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.transmission">Transmission</span>
        </div>
        <div class="col-md-3 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" translate="patient.clinic-name">Clinic Name</span>
        </div>
        <div class="col-md-1 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.status">Status</span>
        </div>
        <div class="col-md-1 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="patient.adherence">Adherence</span>
        </div>
        <div class="clr"></div>
      </div>

      <div class="dashboard__manage-view--list" ng-repeat="patient in patients" ng-click="patient.isDeleted || selectPatient(patient)" ng-readonly="true" ng-class="{ 'inactive': patient.isDeleted }">
          <div class="col-md-2 reset-padding">
            <span class="main-prim-info">{{patient.lastName}} {{patient.firstName}}</span>
            <span class="main-secon-info">{{patient.dob}}</span>
          </div>
          <div class="col-md-2 reset-padding centered">
            <span class="impo-highlight">{{patient.hillromId}}</span>
          </div>
          <div class="col-md-3 reset-padding centered">
            <span class="short-info"></span>
          </div>

          <div class="col-md-2 reset-padding centered">
            <span class="short-info"></span>
          </div>

          <div class="col-md-2 reset-padding centered">
            <span class="short-info"></span>
          </div>

          <div class="col-md-3 reset-padding centered">
            <span class="short-info"></span>
          </div>

          <div class="col-md-1 reset-padding">
          <div class="icon-font">
            <span class="icon-lungs"></span>
          </div>
          <div class="clr"></div>
          </div>

          <div class="col-md-1 reset-padding-left centered text-right">
            <span class="short-info"></span>
          </div>

          <div class="clr"></div>
       </div>

      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found" ng-if="patients.length > 0">{{patients.length}} Patients</span>
            <span class="record-found" ng-if="patients.length > 0">Found</span>
            <span ng-show="pageCount > 1">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchPatients('PREV')">Previous</span>
              <span class="navigaion-no">{{currentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchPatients('NEXT')">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
