<ng-include src="'scripts/components/navbar/navbarhcp.html'"></ng-include>
<hcp-patient-navbar></hcp-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 col-sm-16 margin-top">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceTypeforBothIcon() =='MONARCH'), 'visivestIcon': (getDeviceTypeforBothIcon() =='VEST'), 'bothdeviceIcon': (getDeviceTypeforBothIcon() =='ALL')}">
     <span class="user-gen-details--name">{{::patient.firstName}} {{::patient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{::patient.hillromId}}</span>
     </span>
   </div>
  </div>

  <div class="col-md-16 col-sm-16 patient-caregiver">
    <span class="patient-caregiver--title" translate="patient.caregiver-title"></span>
  </div>

<div class="dashboard dashboard--content">
  <div class="dashboard__manage-view margin-top">
    <div class="dashboard__manage-view--header">
        <div class="col-md-4 col-sm-4 header--type pull-left-mob">
          <span translate="patient.caregiver-caption.caregiver-name"></span>
        </div>
        <div class="col-md-3 col-sm-3 header--type none">
          <span translate="patient.caregiver-caption.address"></span>
        </div>
        <div class="col-md-3 col-sm-3 header--type none">
          <span translate="patient.caregiver-caption.phone-number"></span>
        </div>
        <div class="col-md-3 col-sm-3 header--type none">
          <span translate="patient.caregiver-caption.mobile-number"></span>
        </div>
        <div class="col-md-2 col-sm-2 header--type pull-right-mob">
          <span translate="patient.caregiver-caption.relationship"></span>
        </div>
        <div class="clr"></div>
      </div>
  </div>
</div>

  <div class="col-md-16 col-sm-16 caregiver-list padding_tb" ng-repeat="caregiver in caregivers track by $index" ng-if="!caregiver.user.deleted">
    <div class="col-md-4 col-sm-4 caregiver-list__detail pull-left-mob">
      <span class="caregiver-list__detail--name">{{caregiver.user.lastName}}, {{caregiver.user.firstName}}</span>
      <span class="caregiver-list__detail--email none">{{caregiver.user.email}}</span>
    </div>
    <div class="col-md-3 col-sm-3 caregiver-list__address none">
      <span class="caregiver-list__address--primary" ng-if="caregiver.user.address">{{caregiver.user.address}}</span>
      <span class="caregiver-list__address--secondary" ng-if="caregiver.user.city">{{caregiver.user.city}}
      <span ng-if="caregiver.user.city && caregiver.user.state">,</span>
      <span ng-if="caregiver.user.state">{{caregiver.user.state}} </span></span>
    </div>
    <div class="col-md-3 col-sm-3 caregiver-list__phone none">
      <span class="caregiver-list__phone--number">{{caregiver.user.primaryPhone}}</span>
    </div>
    <div class="col-md-3 col-sm-3 caregiver-list__fax none">
      <span class="caregiver-list__fax--number">{{caregiver.user.mobilePhone}}</span>
    </div>
    <div class="col-md-2 col-sm-2 caregiver-list__type pull-right-mob">
      {{caregiver.relationshipLabel}}
    </div>
  </div>

  <div class="col-md-16 empty-list-message" ng-if="!caregivers" translate="patient.empty-caregiver-list-message">
  </div>

</div>