<clinic-navbar></clinic-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span class="user-gen-details--name">{{clinic.name}}</span>
     <span class="user-gen-details--hr-id">{{clinic.hillromId}}</span>
   </div>
 </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searAssociatedPatient" autocomplete="off" placeholder="{{'clinic.placeholder.search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
    </div>

    <div class="col-md-16">
      <ng-include src="'scripts/components/navbar/searchfilter.html'"></ng-include>
    </div>
    
    <div class="dashboard__manage-view--header">
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.patient-name">Patient Name</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.mrn-id">Hill-Rom ID</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.date-of-birth">DOB</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.city-state">City/State</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.transmission">Transmission</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" translate="clinic.clinic-name">Clinic Name</span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.status">Status</span>
      </div>
      <div class="col-md-1 header--type text-centered">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.adherence">Adherence</span>
      </div>
      
      <div class="clr"></div>
    </div>

    <div class="dashboard__manage-view--list assoc" ng-repeat="associatedPatient in associatedPatients" readonly="true" ng-class="{'inactive': associatedPatient.patient.deleted}">
     <span>
      <div class="col-md-3">
        <span class="main-prim-info">{{associatedPatient.patient.lastName}} {{associatedPatient.patient.firstName}}</span>
        <span class="main-secon-info">{{associatedPatient.patient.email}}</span>
      </div>
      <div class="col-md-2 centered">
        <span class="impo-highlight">{{associatedPatient.patient.mrnId}}</span>
      </div>
      <div class="col-md-2 centered">
        <span class="short-info">{{associatedPatient.patient.dob}}</span>
      </div>

      <div class="col-md-2 centered">
        <span class="short-info">{{associatedPatient.patient.city}}</span>
        <span ng-if="associatedPatient.patient.state && associatedPatientpatient.city">,</span>
        <span class="short-info">{{associatedPatient.patient.state}}</span>
      </div>

      <div class="col-md-2 centered">
        <span class="short-info">{{associatedPatient.patient.transmission}}</span>
      </div>

      <div class="col-md-2 centered">
        <span class="short-info">{{clinic.name}}</span>
      </div>

      <div class="col-md-1 centered">
          <span class="short-info active" ng-if="!associatedPatient.patient.deleted" translate="clinic.status-type.active"></span>
          <span class="short-info inactive" ng-if="associatedPatient.patient.deleted" translate="clinic.status-type.inactive"></span>
      </div>

      <div class="col-md-1 text-centered">
        <span class="short-info">{{associatedPatient.patient.adherence}}</span>
      </div>
      </span>
      <div class="col-md-1 reset-padding-left centered text-right" >
        <span class="icon-delete-icon" ng-click="associatedPatient.patient.deleted || openPatientDeactivateModal(associatedPatient.patient.id);"></span>
      </div>
      <div class="clr"></div>
    </div>

    <div class="col-md-16 empty-list-message" ng-if="hasNoPatient">
      <span translate="clinic.noPatients"></span>
    </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="form-control" type="text" ng-model="searchPatient" typeahead="patient as patient.lastName + ' ' + patient.firstName for patient in patients | filter:$viewValue" typeahead-on-select="selectPatient($item)" placeholder="{{'clinic.placeholder.patient-search' | translate}}" ng-show="isAssociatePatient">

    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkPatient()" translate="clinic.link-patient" ng-show="!isAssociatePatient"></buton>
    </div>
  </div>
</div>

<div ng-if="patientDeactivateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closePatientDeactivateModal()">&times;</button>
         <p translate="clinic.deletePatient.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="clinic.deletePatient.message"></div>
         <div class="fropile_update_btn_group row modal--custom-btn">
          <buton class="cancel hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="closePatientDeactivateModal()">No</buton>
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociatePatient(deletePatientId)">Yes</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>