<clinic-navbar></clinic-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span class="user-gen-details--name">{{clinic.name}}</span>
     <span class="user-gen-details--hr-id">{{clinic.hillromId}}</span>
   </div>
 </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'clinic.placeholder.search' | translate}}">
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchDoctors()">
            <option value="" selected translate="clinic.filter.all">Newly Created</option>
              <option value="email" translate="clinic.filter.active">Email</option>
              <option value="firstName" translate="clinic.filter.inactive">First Name</option>
              <option value="lastName" translate="clinic.filter.expired">Last Name</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dashboard__manage-view--header">
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.patient-name">Patient Name</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.hillRom-id">Hill-Rom ID</span>
      </div>
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.email">Email</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.city-state">City/State</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.transmission">Transmission</span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" translate="clinic.clinic-name">Clinic Name</span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.status">Status</span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.adherence">Adherence</span>
      </div>
      <div class="clr"></div>
    </div>

    <!-- <div class="dashboard__manage-view--list assoc" ng-click="" ng-repeat="patient in associatedPatients" ng-class="{ 'inactive': doctor.deleted }">
      <div class="col-md-3 reset-padding-left">
        <span class="user-name">{{patient.lastName}} {{patient.firstName}}</span>
        <span class="user-email">{{patient.email}}</span>
      </div>
      <div class="col-md-4">
        <span class="user-home-no"></span>
        <span class="short-info">{{patient.city}} </span>
        <span class="short-info" ng-if="patient.state && patient.city">,</span>
        <span class="short-info">{{patient.state}} </span>
      </div>
      <div class="col-md-4 middle-detail">
        <span class="mobile">{{patient.mobilePhone}}</span>
      </div>

      <div class="col-md-3 middle-detail">
        <span class="hr-id">{{patient.hillromId}}</span>
      </div>

      <div class="col-md-1 middle-detail icon-font">
          <span class="short-info active centered" ng-if="!patient.deleted" translate="clinic.active"></span>
          <span class="short-info inactive centered" ng-if="patient.deleted" translate="clinic.inactive"></span>
      </div>

      <div class="col-md-1 reset-padding-left centered text-right" >
        <span class="icon-delete-icon" ng-click="openPatientDeactivateModal(patient.id)"></span>
      </div>
      <div class="clr"></div>
    </div> -->

    <div class="dashboard__manage-view--list  assoc" ng-repeat="patient in associatedPatients">
      <div class="col-md-2 reset-padding">
        <span class="main-prim-info">{{patient.lastName}} {{patient.firstName}}</span>
        <span class="main-secon-info">{{patient.dob}}</span>
      </div>
      <div class="col-md-2 reset-padding centered">
        <span class="impo-highlight">{{patient.hillromId}}</span>
      </div>
      <div class="col-md-3 reset-padding centered">
        <span class="short-info">{{patient.email}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{patient.city}}</span>
        <span ng-if="patient.state && patient.city">,</span>
        <span class="short-info">{{patient.state}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{patient.transmission}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{patient.clinicName}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
          <span class="short-info active" ng-if="!patient.deleted" translate="clinic.status-type.active"></span>
          <span class="short-info inactive" ng-if="patient.deleted" translate="clinic.status-type.inactive"></span>
      </div>

      <div class="col-md-1 reset-padding-left centered">
        <span class="short-info">{{patient.adherence}}</span>
      </div>
      <div class="col-md-1 reset-padding-left centered text-right" >
        <span class="icon-delete-icon" ng-click="openPatientDeactivateModal(patient.id)"></span>
      </div>
      <div class="clr"></div>
    </div>

    <div class="col-md-16 empty-list-message" ng-if="!associatedPatients">
      <span translate="clinic.noHCPs"></span>
    </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="form-control" type="text" ng-model="searchPatient" typeahead="patient as patient.lastName + ' ' + patient.firstName for patient in patients | filter:$viewValue" typeahead-on-select="selectPatient($item)" placeholder="{{'clinic.placeholder.patient-search' | translate}}" ng-show="isAssociatePatient">

    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkPatient()" translate="clinic.link-patient" ng-show="!isAssociatePatient"></buton>
    </div>
  </div>
</div>

<div ng-if="patientDeactivateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="closePatientDeactivateModal()">&times;</button>
         <p translate="clinic.deletePatient.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="clinic.deletePatient.message"></div>
         <div class="fropile_update_btn_group row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociatePatient(deletePatientId)">Yes</buton>
          <buton class="cancel hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="closePatientDeactivateModal()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>