<admin-patient-navbar></admin-patient-navbar>


<!-- <div ng-include src="'scripts/app/modules/admin/patient/directives/patient-info/patient-demographics/edit.html'"></div> -->

<!-- <div ng-include src="'scripts/app/modules/admin/patient/directives/patient-info/caregiver/create.html'"></div> -->
<!-- <div ng-include src="'scripts/app/modules/admin/patient/directives/patient-info/overview/patient-details.html'"></div> -->
<div ng-include src="'scripts/app/modules/admin/patient/directives/patient-info/overview/patient-details.html'"></div>

