<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceTypeforBothIcon() =='MONARCH'), 'visivestIcon': (getDeviceTypeforBothIcon() =='VEST'), 'bothdeviceIcon': (getDeviceTypeforBothIcon() =='ALL')}">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
     </span>
   </div>
  </div>
</div>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div>
        <div class="col-md-16 reset-padding">
          <span class="dashboard__form--type" translate="patient.caregiver.gen-details"></span>
        </div>

        <div class="col-md-16 margin-top reset-padding">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.title-name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="title" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.title" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === associateCareGiver.title}}">
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="firstName" ng-model="associateCareGiver.firstName" ng-readonly="validateADMINorASP()" ng-minlength=1 ng-maxlength=50 required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) ||submitted">
                <span class="has-error" ng-show="form.firstName.$error.required" translate="error.firstName.required">
                </span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" translate="error.firstName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-readonly="validateADMINorASP()" name="middleName" ng-model="associateCareGiver.middleName" ng-minlength=1 ng-maxlength=50>
              <div ng-show="(form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.minlength" translate="error.middleName.minlength"></span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" translate="error.middleName.maxlength"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="lastName" ng-model="associateCareGiver.lastName" ng-readonly="validateADMINorASP()" ng-minlength=1 ng-maxlength=50 required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required" translate="error.lastName.required"></span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" translate="error.lastName.maxlength"></span>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-2 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.relationship"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
              <div class="custom-dropdown">                
               <select name="relationship" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.relationship" ng-options="relationship for relationship in relationships" ng-selected="{{relationship === associateCareGiver.relationship}}">
                </select>
              </select>
              <div ng-show="(form.relationship.$dirty && form.relationship.$showValidationMessage && form.relationship.$invalid ) ||submitted">
              <span class="has-error" ng-show="form.relationship.$error.required" translate="patient.select-relationship">
                  
                </span>
               </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.address"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="associateCareGiver.address" name="address" ng-readonly="validateADMINorASP()" ng-maxlength=100>
              <div ng-show="(form.address.$showValidationMessage && form.address.$invalid)">
                <span class="has-error" ng-show="form.address.$error.maxlength" translate="patient.errMSG.address-max-length">                 
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.city"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="associateCareGiver.city" name="city" ng-readonly="validateADMINorASP()" ng-maxlength=15>
              <div ng-show="(form.city.$showValidationMessage && form.city.$invalid)">
                <span class="has-error" ng-show="form.city.$error.maxlength" translate="patient.errMSG.city-max-length">  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.state"></span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
            <div class="custom-dropdown">
              <select name="state" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.state" ng-options="state.name as state.name for state in states" >
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.caregiver.zipcode"></span>
            <span class=""></span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" validate-on-blur class="form-control" name="zip" ng-readonly="validateADMINorASP()" maxlength="7" ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' ng-model="associateCareGiver.zipcode">
               <div ng-show="(form.zip.$dirty && form.zip.$showValidationMessage && form.zip.$invalid) || submitted">

                <span class="has-error" ng-show="form.zip.$error.pattern" translate="patient.errMSG.zip-code-invalid">   </span>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.email"></span>
              <span class=""> * </span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="email" class="form-control" validate-on-blur name="email"  ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.email" ng-maxlength=100 ng-pattern="/^[a-zA-Z][\.a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.([a-zA-Z]{2,4})$/" required>
              <div ng-show="(form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required" translate="patient.errMSG.email-required">   </span>
                <span class="has-error" ng-show="form.email.$error.maxlength" translate="patient.errMSG.email-max-length">
                </span>
                <span class="has-error" ng-show="form.email.$error.pattern" translate="patient.errMSG.email-invalid">    </span>
              </div>
            </div>
        </div>
        <div class="col-md-7 reset-padding col-md-offset-2">
          <div class="col-md-6 dashboard__form--label reset-padding">
            <span class="" translate="patient.caregiver.phone-no"></span>
            <span class="">*</span>
          </div>
          <div class="col-md-10 dashboard__form--input reset-padding">
            <input type="text" validate-on-blur class="form-control" name="primaryPhone" ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.primaryPhone" ui-mask="(999)-999-9999" model-view-value="true" required ui-options="{clearOnBlur: false}">
             <div ng-show="(form.primaryPhone.$showValidationMessage && form.primaryPhone.$invalid) || submitted">
              <span class="has-error" ng-show="form.primaryPhone.$error.required" translate="patient.errMSG.primary-phone-required">                
              </span>
              <span class="has-error" ng-show="!form.primaryPhone.$error.required && form.primaryPhone.$invalid" translate="patient.errMSG.primary-phone-invalid">               
              </span>              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="patient.caregiver.mobile-no"></span>
              <span class=""></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="text" class="form-control" validate-on-blur  name="mobilePhone"  ng-readonly="validateADMINorASP()" ng-model="associateCareGiver.mobilePhone" ui-mask="(999)-999-9999" model-view-value="true" ui-options="{clearOnBlur: false}"><br>  
              <div ng-show="(form.mobilePhone.$showValidationMessage && form.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="form.mobilePhone.$invalid" translate="patient.errMSG.mobile-phone-invalid">
                 </span>             
              </div>
            </div>
        </div>
      </div>

     <div class = "col-md-16 agree-main">
      <span class = "agree-content" translate="patient.AgreementNote"></span><br><br>
      <div class="form-group sec-quest agree-desc ">
        <span translate="patient.Agreement"></span><br><br>
        <span translate="patient.AgreementSecond"></span><br><br>
        <span translate="patient.AgreementThird"></span><br><br>
        <span translate="patient.AgreementFourth"></span><br><br>
        <span translate="patient.AgreementFifth">
        </span><br><br>
        <input type="checkbox" name="tnc" ng-model="user.tnc" required>
        <span class="sec-quest agree-check" translate="patient.AgreementApprovalNote"></span>
            <div ng-show="(form.tnc.$dirty && form.tnc.$invalid) || submitted">
            <span class="login-has-error" ng-show="form.tnc.$error.required">
                Please agree to Terms and Conditions.
            </span>
            </div>
      </div>
     </div>
    <div class="clr"></div>
    </div>


    <div class="col-md-16 margin-top reset-padding">
      <div class="">
        <buton type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="showCaregiverUpdateModal()" ng-show="!patientStatus.isCreate" translate="patient.btn.update" ng-if="careGiverStatus === 'edit'"></buton>
        <buton type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" ng-click="formSubmitCaregiver()" ng-show="!patientStatus.isCreate" translate="patient.btn.save" ng-if="careGiverStatus != 'edit'"></buton>
        <buton type="submit" class="hillrom-btn btn-secondary float-right" ng-click="switchPatientTab('patientdashboardCaregiver')" ng-show="!patientStatus.isCreate" translate="patient.btn.cancel"></buton>
        <div class="clr"></div>
      </div>
    </div>
    </div>
  </form>
</div>


<div ng-if="caregiverUpdateModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.caregiverUpdateModal= false">&times;</button>
         <p translate="patient.caregiver.update.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.caregiver.update.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="formSubmitCaregiver()">Yes</buton>
          <buton class="hillrom-btn btn-secondary btn-submit float-right" data-dismiss="modal" ng-click="$parent.caregiverUpdateModal= false">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>