
<!-- starting clinic -->
<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<div class="container admin-user">
<div class="col-md-16 col-sm-16 admin-views">
    <span class="admin-views--title" translate="patient.clinic-title"></span>
</div>
<div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-3 col-sm-3 header--type pull-left-mob">
            <span translate="patient.clinic-caption.clinic-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type pull-right-mob">
            <span translate="patient.clinic-caption.type"></span>
          </div>
          <div class="col-md-3 col-sm-2 header--type none">
            <span translate="patient.clinic-caption.address"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type none">
            <span translate="patient.clinic-caption.city"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type none">
            <span translate="patient.clinic-caption.state"></span>
          </div>
          <div class="col-md-2 col-sm-3 header--type none">
            <span translate="patient.clinic-caption.phone-number"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type none">
            <span translate="patient.clinic-caption.hr-id"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
</div>
<div class="col-md-16 col-sm-16 clinic-list" ng-repeat="clinic in clinics" ng-class="{'inactive': clinic.deleted}">
    <div class="col-md-3 col-sm-3 clinic-list__detail pull-left-mob">
      <span class="clinic-list__detail--name" ng-bind="clinic.name"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone pull-right-mob">
      <span class="clinic-list__phone--number" ng-bind="clinic.parent ? 'Parent' : 'Satellite'"></span>
    </div>
    <div class="col-md-3 col-sm-2 clinic-list__address none">
      <span class="clinic-list__address--primary" ng-bind="clinic.address"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone none">
      <span class="clinic-list__phone--number" ng-bind="clinic.city"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone none">
      <span class="clinic-list__phone--number" ng-bind="clinic.state"></span>
    </div>
    <div class="col-md-2 col-sm-3 clinic-list__phone none">
      <span class="clinic-list__phone--number" ng-bind="clinic.phoneNumber"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone none">
      <span ng-bind="clinic.hillromId"></span>
    </div>
</div>
<div class="col-md-16 col-sm-16 empty-list-message" ng-if="clinics.length === 0 || !clinics"> 
    <span translate="no-clinic-found"></span>
</div>

<!-- HCP Listing starts -->
<div class="col-md-16 col-sm-16 admin-views">
    <span class="admin-views--title" translate="patient.hcp-title"></span>
</div>
 <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-3 col-sm-2 header--type pull-left-mob">
            <span translate="patient.hcp-caption.hcp-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type pull-left-mob ">
            <span translate="patient.hcp-caption.credentials"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type none">
            <span translate="patient.hcp-caption.npi-id"></span>
          </div>
          <div class="col-md-3 col-sm-2 header--type none">
            <span translate="patient.hcp-caption.clinic-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type none">
            <span translate="patient.hcp-caption.city"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type none">
            <span translate="patient.hcp-caption.state"></span>
          </div>
          <div class="col-md-2 col-sm-4 header--type pull-left-mob">
            <span translate="patient.hcp-caption.phone-number"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
 </div>
<div class="col-md-16 col-sm-16 clinic-list" ng-repeat="hcp in hcps">
  <div class="col-md-3 col-sm-2 clinic-list__detail pull-left-mob hcp_ellipses">
    <span class="clinic-list__detail--name">{{::hcp.lastName}}, {{::hcp.firstName}}</span>
  </div>
  <div class="col-md-2 col-sm-2 clinic-list__address pull-left-mob hcp_ellipses">
    <span class="clinic-list__credentials">{{::hcp.credentials}}</span>
  </div>
  <div class="col-md-2 col-sm-2 clinic-list__address none">
    <span class="clinic-list__fax--number" ng-bind="hcp.npiNumber"></span>
  </div>
  <div class="col-md-3 col-sm-2 clinic-list__fax none">
    <span class="clinic-list__fax--number" ng-repeat ="clinic in hcp.clinics">{{::clinic.name}} <b>{{$last ? '' : ', '}}</b></span>
  </div>
  <div class="col-md-2 col-sm-2 clinic-list__fax none">
    <span class="clinic-list__fax--number" ng-bind="hcp.city"></span>
  </div>
  <div class="col-md-2 col-sm-2 clinic-list__phone none">
    <span class="clinic-list__phone--number" ng-bind="hcp.state"></span>
  </div>
  <div class="col-md-2 col-sm-4 clinic-list__fax pull-left-mob">
    <span class="clinic-list__fax--number" ng-bind="hcp.primaryPhone"></span>
  </div>
</div>
<div class="col-md-16 col-sm-16 empty-list-message" ng-if="hcps.length === 0 || !hcps">
    <span translate="no-hcp-found"> </span>
</div>

<div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="admin-views--title" translate="">Adherence Window </span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" ng-model = "adherenceDaysForPatient" type="text" style = "width :150px" ng-disabled = "true">
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding  infocontainer" style="margin-bottom:20px;">

         <div class=""><span class="infoicon"><i class="fa fa-info-circle" aria-hidden="true"></i></span><span class="adhtxt">How does the Adherence Window affect the Adherence Score?</span></div>

        <div class="addesc">Each patient's score is based upon the following three factors; consecutive missed therapy days, treatment minutes, and frequency average within a selected window of time. The adherence window looks back at the previous day(s) and compares the prescribed usage protocol to the patient’s actual device usage.  
        <div><div>Example: 3-Day Adherence Window </div>
        On Wednesday the adherence window would include data from Sunday, Monday, and Tuesday.</div>
        </div>


          </div>
</div>
