<navigation-bar-patient></navigation-bar-patient>
<patient-navbar></patient-navbar>
<!-- starting clinic -->
<div class="container admin-user" ng-if="clinics.length > 0">
  <div class="col-md-16 content-header">
    <span class="content-header--title" >Clinics</span>
  </div>
  <div class="col-md-16 content-list"> 
    <div class="col-md-3 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.name">Name</span>        
    </div>
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.hillromid">Hillrom ID</span>        
    </div>
    <div class="col-md-1 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.type">Type</span>        
    </div>

    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.phoneNumber">Phone Number</span>        
    </div>   
    <div class="col-md-3 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.address">Address</span>        
    </div>
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.city">City</span>        
    </div>
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.state">State</span>
    </div>

    <div class="col-md-1 content-list__detail">
      <span class="content-list__detail--name" translate="clinic.status">Status</span>
    </div>
  </div> 
</div> 

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view clinic-hcp">
    <div class="dashboard__manage-view--list" ng-repeat="clinic in clinics">
      <div class="col-md-3 reset-padding">
        <span class="impo-highlight">{{clinic.name}}</span>
      </div>
      <div class="col-md-2 reset-padding">
        <span class="impo-highlight">{{clinic.hillromId}}</span>
      </div>
      <div class="col-md-1 reset-padding">
        <span class="impo-highlight">{{clinic.type}}</span>
      </div>

      <div class="col-md-2 reset-padding">
        <span class="short-info">{{linic.phoneNumber}}</span>
      </div>
      <div class="col-md-3 reset-padding">
        <span class="short-info">{{linic.address}}</span>
      </div>
      <div class="col-md-2 reset-padding">
        <span class="short-info">{{linic.city}}</span>
      </div>

      <div class="col-md-2 reset-padding">
        <span class="short-info">{{linic.state}}</span>
      </div>

      <div class="col-md-1 reset-padding">
        <span class="short-info">{{linic.status}}</span>
      </div>

      <div class="clr"></div>
    </div>
  </div>
</div>
<!-- end of clinic -->
<!-- start of HCP -->
<div class="container admin-user" ng-if="hcps.length > 0" >
  <div class="col-md-16 content-header">
    <span class="content-header--title">HCP</span>
  </div>
  <div class="col-md-16 content-list"> 
    <div class="col-md-3 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.name">Name</span>        
    </div>
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.credentials">Credentials</span>        
    </div>
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.npinumber">NPI number</span>        
    </div>
    <div class="col-md-4 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.clinic-name">Clinic name</span>        
    </div>
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.city">City</span>        
    </div>  
    <div class="col-md-2 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.state">State</span>        
    </div>
    <div class="col-md-1 content-list__detail">
      <span class="content-list__detail--name" translate="hcp.status">Status</span>        
    </div>  
  </div>
  <!-- <div class="col-md-16 caregiver-list" ng-repeat="hcp in hcps"> 
    <div class="col-md-3 content-list__detail">
      <span class="content-list__detail--name">{{hcp.name}}</span>      
    </div>
    <div class="col-md-4 caregiver-list__address">
      <span class="caregiver-list__address--primary" >{{hcp.credentials}}</span>      
    </div>
    <div class="col-md-3 caregiver-list__phone">     
      <span class="caregiver-list__phone--number">{{hcp.NPINumber}}</span>
    </div>
    <div class="col-md-3 caregiver-list__fax">     
      <span class="caregiver-list__fax--number">{{hcp.clinicname}}</span>
    </div>
    <div class="col-md-2 caregiver-list__type">      
      <span class="caregiver-list__fax--number">{{hcp.city}}</span>
    </div>    
    <div class="col-md-2 caregiver-list__type">     
      <span class="caregiver-list__fax--number">{{hcp.state}}</span>
    </div>
    <div class="col-md-2 caregiver-list__type">      
      <span class="caregiver-list__fax--number">{{hcp.status}}</span>
    </div>    
  </div> -->
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view clinic-hcp">
    <div class="dashboard__manage-view--list" ng-repeat="hcp in hcps">
      <div class="col-md-3 reset-padding">
        <span class="impo-highlight">{{hcp.name}}</span>
      </div>
      <div class="col-md-2 reset-padding">
        <span class="impo-highlight">{{hcp.credentials}}</span>
      </div>
      <div class="col-md-2 reset-padding">
        <span class="short-info">{{hcp.NPINumber}}</span>
      </div>

      <div class="col-md-4 reset-padding">
        <span class="short-info">{{hcp.clinicname}}</span>
      </div>
      <div class="col-md-2 reset-padding">
        <span class="short-info">{{hcp.city}}</span>
      </div>
      <div class="col-md-2 reset-padding">
        <span class="short-info">{{hcp.state}}</span>
      </div>

      <div class="col-md-1 reset-padding">
        <span class="short-info">{{hcp.status}}</span>
      </div>

      <div class="clr"></div>
    </div>
  </div>
</div>
<!-- end of HCP -->