  <ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
  <div class="col-md-16 col-sm-16 patient-protocol">
    <span class="patient-protocol--title" translate="patient.protocol-title"></span>
  </div>

  <div class="dashboard dashboard--content pull-left-mob  col-xs-16 padding0">
    <div class="dashboard__manage-view margin-top col-xs-16 padding0">
      <div class="dashboard__manage-view--header hidden-xs col-md-16 col-sm-16">
        <div class="col-md-1 col-sm-1 header--type text-align-left">
            <span translate="patient.protocol-caption.device-type"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type text-align-left">
            <span translate="patient.protocol-caption.type"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type text-align-left">
            <span translate="patient.protocol-caption.treatments-per-day"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type text-align-left">
            <span translate="patient.protocol-caption.minutes-per-treatment"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type text-align-left">
            <span translate="patient.protocol-caption.frequency-per-treatment"></span>
          </div>
          <div class="col-md-4 col-sm-4 header--type text-align-left" ng-if="getDeviceType() =='VEST'">
            <span translate="patient.protocol-caption.pressure-per-treatment"></span>
          </div>
          <div class="col-md-4 col-sm-4 header--type text-align-left" ng-if="getDeviceType() =='MONARCH'">
            <span translate="patient.protocol-caption.intensity-per-treatment"></span>
          </div>
          <div class="clr"></div>
        </div>

      <div class="dashboard__manage-view--header col-xs-16 hidden-md hidden-sm hidden-lg">
        <div class="col-xs-2 header--type">
            <span translate="">Dev.</span>
          </div>
          <div class="col-xs-2 header--type">
            <span translate="">Type</span>
          </div>
          <div class="col-xs-3 padding0 header--type">
            <span translate="">Trtm/day</span>
          </div>
          <div class="col-xs-3 header--type">
            <span translate="">Mins</span>
          </div>
          <div class="col-xs-3 header--type">
            <span translate="">Freq.</span>
          </div>
          <div class="col-xs-3 header--type" ng-if="getDeviceType() =='VEST'">
            <span translate="">Press.</span>
          </div>
          <div class="col-xs-3 header--type" ng-if="getDeviceType() =='MONARCH'">
            <span translate="">Inten.</span>
          </div>
          <div class="clr"></div>
      </div>
    </div>
  </div>


<div class="col-md-16 col-sm-16 col-xs-16 no_border protocol_list_container" ng-class="{'no_border' : protocols.length == 0}">

   <div class="col-md-1 col-sm-1 col-xs-1 treatments_per_day_count"  ng-if="!(protocols.length == 0)">
    <div id="deviceicon" class="col-md-16 col-sm-16 protocol-list__treatment-day  no_border  text-align-left">

     <span class="icon_height_width" ng-class="{'monarchIcon': (getDeviceType() =='MONARCH'), 'visivestIcon': (getDeviceType() =='VEST')}">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 hidden-xs col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
    <div class="col-md-16 col-sm-16 col-xs-16 protocol-list__treatment-day protocol-list no_border text-align-left" ng-repeat="protocol in protocols" ng-class="{'list-inactive':protocol.deleted, 'last' : $last}">
      <span class="protocol-list--value"> {{protocol.type}} {{protocol.treatmentLabel}}</span>
    </div>
  </div>

  <div class="col-xs-2 hidden-sm hidden-md hidden-lg col-xs-offset-2">
    <div class="col-md-16 col-sm-16 col-xs-16 protocol-list__treatment-day protocol-list no_border text-align-left" ng-repeat="protocol in protocols" ng-class="{'list-inactive':protocol.deleted, 'last' : $last}">
      <span class="protocol-list--value uppercase">{{protocol.treatmentLabel}}</span>
    </div>
  </div>

  <div class="col-md-2 col-sm-2 col-xs-2 col-xs-offset-4  col-sm-offset-3 treatments_per_day_count col-md-offset-3">
      <span class="v_middle">{{protocols[0].treatmentsPerDay}}</span>
  </div>
  <div class="col-md-11 col-sm-11 col-xs-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
    <div class="col-md-16 col-sm-16 col-xs-16 protocol-list no_border" ng-repeat="protocol in protocols" ng-class="{'list-inactive':protocol.deleted, 'last' : $last}">
      
      <div class="col-md-4 col-sm-4 col-xs-4 text-right-mob protocol-list__strt-date">
        <span class="protocol-list--value"> {{protocol.minMinutesPerTreatment}}</span>      
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 text-right-mob protocol-list__end-date">
        <span ng-if="protocol.type === 'Custom'" class="protocol-list--value"> {{protocol.minFrequency}}</span>
        <span ng-if="protocol.type === 'Normal'" class="protocol-list--value"> {{protocol.minFrequency}}-{{protocol.maxFrequency}}</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-5 text-right-mob protocol-list__end-date" ng-if="getDeviceType() =='VEST'">
        <span ng-if="protocol.type === 'Custom'" class="protocol-list--value"> {{protocol.minPressure}}</span>
        <span ng-if="protocol.type === 'Normal'" class="protocol-list--value"> {{protocol.minPressure}}-{{protocol.maxPressure}}</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-5 text-right-mob protocol-list__end-date" ng-if="getDeviceType() =='MONARCH'">
        <span ng-if="protocol.type === 'Custom'" class="protocol-list--value"> {{protocol.minIntensity}}</span>
        <span ng-if="protocol.type === 'Normal'" class="protocol-list--value"> {{protocol.minIntensity}}-{{protocol.maxIntensity}}</span>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-16 col-sm-16 col-xs-16 empty-list-message" ng-if="protocolsErrMsg">
    <span translate="no-protocol-found"></span>
  </div>

  <div class="col-md-16 col-sm-16 col-xs-16 reset-padding">
    <div class="col-md-8 col-sm-8 col-xs-8 clinic-link">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 clinic-link">
    </div>
  </div>

  <div class="col-md-16 col-sm-16 col-xs-16 patient-device">
    <span class="patient-device--title" translate="patient.device-title"></span>
  </div>

  <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
        <div class="col-md-2 col-sm-2 col-xs-3 header--type text-align-left">
            <span translate="patient.device-caption.device-type"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type pull-left-mob">
            <span translate="patient.device-caption.serial-no"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type none">
            <span translate="patient.device-caption.blutooth-id"></span>
          </div>
          <div class="col-md-4 col-sm-4 header--type pull-right-mob">
            <span translate="patient.device-caption.status"></span>
          </div>
          <div class="col-md-4 col-sm-4 header--type none">
            <span translate="patient.device-caption.active-or-inactive-date"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
  </div>

  <div class="col-md-16 col-sm-16 device-list vertical-align" ng-repeat="device in devices  | orderBy:'active':true" ng-class="{'list-inactive': !device.active}">
     <div id="deviceInfoicon" class="col-md-2 col-sm-2 col-xs-2 device-list__serial">
      <span class="icon_height_width" ng-class="{'monarchIcon': (getDeviceType() =='MONARCH'), 'visivestIcon': (getDeviceType() =='VEST')}">
    </div>
    <div class="col-md-3 col-sm-3 device-list__serial pull-left-mob">
      <span>{{device.serialNumber}}</span>
    </div>
    <div class="col-md-3 col-sm-3 device-list__bt-id none">
      <span ng-if="getDeviceType() =='VEST'">{{device.bluetoothId}}</span>
      <span ng-if="getDeviceType() =='MONARCH'">{{device.wifiId}}</span>
    </div>
    <div class="col-md-4 col-sm-4 device-list__status pull-right-mob">
      <span ng-if="device.active" class="device--list__status--text" translate="patient.device.active-status"></span>
      <span ng-if="!device.active" class="device--list__status--text" translate="patient.device.inactive-status"></span>
    </div>
    <div class="col-md-4 col-sm-4 device-list__date none">
      <span>{{device.lastModifiedDate}}</span>
    </div>
  </div>
  <div class="col-md-16 col-sm-16 empty-list-message" ng-if="devicesErrMsg">
    <span translate="no-device-found"></span>
  </div>

  <div class="col-md-16 col-sm-16 reset-padding">
    <div class="col-md-8 col-sm-8 clinic-link">
    </div>
  </div>