<!-- Clinicadmin DashBoard Navbar -->
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav patient-dashboard">
        <li >
          <a ng-href="" class="nav_bar_title">
            <span class="" translate="navbar.my-dashboard"></span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right right" ng-show="clinics.length > 0">
        <li class="hcp_hsp_name_a" dropdown>
          <a ng-href=""  data-target="#" ng-class="{active: isActive('patient/clinic-hcp')}" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="">{{selectedClinic.name}} <span class="nav_drop_arrow hillrom-icon icon-arrow-down"></span></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="menuitem" ng-repeat='clinic in clinics' ng-click="switchClinic(clinic)"><a>{{clinic.name}}</a></li>
          </ul>
        </li>
      </ul>

     
       <ul class="nav navbar-nav pull-right right" ng-if="prescribeDevice">
        <li class="hcp_hsp_name_a" dropdown>
          <a ng-href=""  data-target="#" ng-class="{active: isActive('patient/clinic-hcp')}" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="">Prescribe New Device<span class="nav_drop_arrow hillrom-icon icon-arrow-down"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="menuitem"><a href = "https://respiratorycare.hill-rom.com/en/healthcare-professionals/manage-my-patients/visivestform/" target="_blank" >VisiVest<sup>TM</sup> System</a></li>
               <!--This code is for drop down of monarch and Visiview which was commented due to Non availbilty of links (HILL-1873) -->
             <!--  <li role="menuitem"><a href = "" target="_blank" >Monarch<sup>TM</sup> System</a></li> -->
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</div>

