<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<div class="navbar patient-user patient-user--nav">
<!-- Demo data-intro="Navigation Ribbon" data-position="bottom"-->
  <div class="container tims-ribbon">

    <div class="tims-dashboard dashboard dashboard--content">
    <div class="container dashboard__manage-view">

    
    <div class="tims-navbar navbar patient-user patient-user--nav">
        <div class="tims-ribbon">
          <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
            <ul class="nav navbar-nav admin_profile">
              <li style=padding-right:50px;>
                <a class="timsLogHead active" ng-class="{active: isActive('log-information')}" ng-href="" ng-click='timsLog()'>
                  <span class="" translate="global.tims.log-information"></span>
                </a>
              </li>
              <li>
                <a class="timsexecuteHead " ng-class="{active: isActive('log-information')}" ng-href="" ng-click='timsExecute()'>
                  <span class="" translate="global.tims.execute-job"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    <div class="listContainer">
      <h3>Tim Script Log-Details</h3>
      <div class = "textareaBorder">
      <textarea readonly class="logList" rows="15" >
     {{timsLogDetailsText}}
      </textarea>
      </div>
    </div>


  </div>

</div>
</div>
</div>

