<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<div class="navbar patient-user patient-user--nav">
<!-- Demo data-intro="Navigation Ribbon" data-position="bottom"-->
  <div class="container">


    <div class="dashboard dashboard--content">
    <div class="container dashboard__manage-view">
    
    <div class="navbar patient-user patient-user--nav">
        <div class="container">
          <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
            <ul class="nav navbar-nav admin_profile">
              <li style=padding-right:50px;>
                <a class="timsLogHead " ng-class="{active: isActive('log-information')}" ng-href="" ng-click='timsLog()'>
                  <span class="" translate="global.tims.log-information"></span>
                </a>
              </li>
              <li>
                <a class="timsexecuteHead active" ng-class="{active: isActive('log-information')}" ng-href="" ng-click='timsExecute()'>
                  <span class="" translate="global.tims.execute-job"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="timsContainer" ng-show="visible">
    <div class="infocontainer  timsText">
        <div class="execute-jobs"><span class="database"><i class="fa fa-database" aria-hidden="true"></i></span><span class="execute-msg">
        <p class="timsText">Executing the Job Manually<br>
        [Do you want to kick-off the job Manually]</p></span>
        </div>
        <button class="float-right hillrom-btn btn-submit margin-right13" ng-click="showExecteTimsDetail()" data-intro="To view PDF Push Announcements from Hill-Rom" data-position="bottom">Continue</button>
    </div>
  </div>

  <div class="timsContainer-success" ng-show="IsVisible">
    <div class="infocontainer  timsText">
        <div class="execute-jobs"><span class="database"><i class="fa fa-database" aria-hidden="true"></i></span><span class="execute-msg">
       
        <p class="timsText">The  job has been executing .Click <a ng-href="" ng-click='timsLog()' data-intro="To view PDF Push Announcements from Hill-Rom" data-position="bottom">here</a>
          <br/> to view the access Log list.</p></span>
        </div>
       
    </div>
  </div>
  </div>
</div>


<div ng-if="showModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true" ng-show="visible">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.showModal = false">&times;</button>
        <p translate="global.tims.warning"></p>
      </header>
      <div class="modal__body">
        <div class="modal--message" translate="global.tims.message"></div>
        <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="timLoading()">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="$parent.showModal = false">No</buton>
        </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>
</div>
</div>




