 <ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<div class="navbar patient-user patient-user--nav">
<!-- Demo data-intro="Navigation Ribbon" data-position="bottom"-->
  <div class="container">



    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav patient-dashboard">
        <li style=padding-right:50px;>
          <a class="timsLogHead active" ng-class="{active: isActive('log-information')}" ng-href="" ng-click='timsLog()'>
            <span class="" translate="global.log-information"></span>
          </a>
        </li>
        <li>
          <a class="timsexecuteHead" ng-class="{active: isActive('log-information')}" ng-href="" ng-click='timsExecute()'>
            <span class="" translate="global.execute-job"></span>
          </a>
        </li>
      </ul>
    </div>


        <div class="row lebel-indent col-md-16 margin-bottom15 tims-check-box">
              <input type="checkbox" ng-model="timsFilter.isSuccess" ng-click="timsOnFilters()"> 
              <span translate="search-filter.success"></span> 
              <input type="checkbox" ng-model="timsFilter.isFail" ng-click="timsOnFilters()"> 
              <span translate="search-filter.fail"></span>

    
        <!-- <li  class="tims_calender" id="dp3"><a href="" date-range-picker class="date-picker" ng-model="dates"   ><span class="icon-calendar"></span></a></li> -->
        <!-- <li role="presentation" class="tims_calender" id="dp3"><a href="" date-range-picker class="date-picker" ng-model="dates" parentEl="#dp3" options="opts" ><span class="icon-calendar"></span></a></li> -->
        <div id="reportrange" class="tims_calender" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 30%">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    <span></span> <b class="caret"></b>
           <script type="text/javascript">
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        
    }, cb);

    cb(start, end);
    
});
</script>   
</div>
    
    </div>
    
       <div class="pull-right week_date_container" data-intro="Select date for Customized Report" data-position="bottom">
    <span ng-if="fromDate !== toDate"> 
      <span class="date">{{fromDate}}</span> - <span class="date">{{toDate}}</span>
    </span>
    <span ng-if="fromDate === toDate" class="date">{{fromDate}}<span>
  </div>  
        
          
          
        
      
       


    <div class="tims_header">
        <div class="col-md-3 col-sm-3 header--type pull-left-mob width120">
          <span ng-class="{'sort-icon--default' : sortPatientList.lastName.isDefault, 'sort-icon-down': sortPatientList.lastName.isDown, 'sort-icon-up':sortPatientList.lastName.isUp}" class="ng-scope sort-icon--default" ng-click="sortType('lastName')" translate="global.date-tims">Date</span>
        </div>
        
        <div class="col-md-3 col-sm-1 header--type none hidden-sm logStatusWidth">
          <span  ng-click="sortType('dob')" translate="global.logstatus-tims">Status</span>
        </div>
        <div class="col-md-3 col-sm-8 header--type none logLinkWidth">
          <span ng-class="{'sort-icon--default' : sortPatientList.city.isDefault, 'sort-icon-down': sortPatientList.city.isDown, 'sort-icon-up':sortPatientList.city.isUp}"  class="ng-scope sort-icon--default" ng-click="sortType('city')" translate="global.loglink-tims">Link</span>
        </div>
      </div>
      <div class="clr"></div>

      
      <div class="tims__manage-view--list" ng-repeat="file in loglist.fileDtls" ng-click="timslog()" ng-readonly="true">
          <div class="col-md-3 col-sm-4 reset-padding pull-left-mob width120">
            <span class="tims-date">{{file.lastMod}}</span>
            
          </div>
          
          <div class="col-md-3 col-sm-1 logStatusWidth">
            <span class="tims-status">{{file.status}}</span>
          </div>

          <div class="col-md-3 col-sm-8 logLinkWidth">
            <a class="tims-link" ng-click="redirectToLogDetails(file.file)">{{file.file}} </a>
            
          </div>
      </div>


      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found" ng-if="loglist.fileDtls.length > 0">{{total}} Log Records</span>
            <span class="record-found" ng-if="loglist.fileDtls.length > 0">Found</span>
            <span ng-show="pageCount > 1">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="timslog('PREV')">Previous</span>
              <span class="navigaion-no">{{currentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="timslog('NEXT')">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>
</div>