<hcp-navbar></hcp-navbar>


<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'doctor.placeholder.search' | translate}}" >
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchClinics()">
            <option value="name">Name</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dashboard__manage-view--list assoc" >
      <div class="col-md-4 reset-padding centered">
        <span class="main-prim-info">Manipal Hospital{{clinic.name}}</span>
      </div>
      <div class="col-md-3 reset-padding centered">
        <span class="short-info">murugesjplaya{{clinic.address}}</span>
      </div>
      <div class="col-md-2 reset-padding centered">
        <span class="short-info">Bangalore{{clinic.city}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info">Karnataka{{clinic.state}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="short-info">1233232312{{clinic.phoneNumber}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info">parent{{clinic.type}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="impo-highlight">1234{{clinic.hillromId}}</span>
      </div>

      <div class="col-md-1 reset-padding centered icons">
       <span class="icon-delete-icon"></span>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>


<div class="container admin-user">
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="form-control" type="text" ng-model="searchItem" typeahead="clinic.name for clinic in clinics | filter:$viewValue" typeahead-on-select="selectClinicForPatient($item)" placeholder="{{'doctor.placeholder.link-clinic' | translate}}">
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkClinic()" translate="doctor.link-clinic"></buton>
    </div>
  </div>
</div>