
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav pull-right right">
        
        <li class="hcp_hsp_name_a" dropdown>
          <a ng-href="" ng-class="{active: isActive('caregiver/clinic-hcp')}" id="dropdownMenu1" dropdown-toggle>
            <span class="">{{::selectedPatient.patient.lastName}} {{::selectedPatient.patient.firstName}}<span class="hillrom-icon icon-arrow-down"></span></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="menuitem" ng-repeat='patient in patients' ng-click="switchPatient(patient)"><a>{{::patient.patient.lastName}} {{::patient.patient.firstName}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right right patient_nav_link_right">
        <li >
          <a ng-href="" ng-class="{active: isActive('caregiver/clinic-hcp')}" ng-click="switchPatientTab('caregiverDashboardClinicHCP')">
            <span class="" translate="caregiver.tabs.clinic-hcp"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('patient/device-protocol')}" ng-click="switchPatientTab('patientdashboardDeviceProtocol')">
            <span class="" translate="caregiver.tabs.device-protocol"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('patient/clinic-hcp')}" ng-click="switchPatientTab('patientdashboardClinicHCP')">
            <span class="" translate="caregiver.tabs.patient-demographics"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('patient/clinic-hcp')}" ng-click="switchPatientTab('patientdashboardClinicHCP')">
            <span class="" translate="caregiver.tabs.notification-settings"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>