
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav pull-right right">
        
        <li class="hcp_hsp_name_a" dropdown>
          <a ng-href="" id="dropdownMenu1" dropdown-toggle>
            <span class="">{{selectedPatient.user.lastName}} {{selectedPatient.user.firstName}}<span class="hillrom-icon icon-arrow-down"></span></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="menuitem" ng-repeat='patient in patients' ng-click="switchPatient(patient)"><a>{{::patient.user.lastName}} {{::patient.user.firstName}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right right patient_nav_link_right">
        <li >
          <a ng-href="" ng-class="{active: isActive('caregiver/clinic-hcp')}" ng-click="switchCaregiverTab('caregiverDashboardClinicHCP')">
            <span class="">Clinic and HCP</span>
            <span class="icons icon-clinic"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('caregiver/device-protocol')}" ng-click="switchCaregiverTab('caregiverDashboardDeviceProtocol')">
            <span class="">Care Plan and Device</span>
            <span class="icons icon-device"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('caregiver/patient-info')}" ng-click="switchCaregiverTab('patientDashboardPatientInfo')">
            <span class="">Patient Info</span>
            <span class="icons icon-profile-settings"></span>
          </a>
        </li>
        <li>
          <a ng-href="" ng-class="{active: isActive('caregiver/notification-settings')}" ng-click="switchCaregiverTab('patientDashboardNotification')">
            <span class="">Notification Settings</span>
            <span class="icons icon-settings"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>