
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav pull-right right patient_nav_link_right">
        <li >
          <a ng-href="#/caregiver/profile" ng-class="{active: isActive('caregiver/profile')}">
            <span class="">Profile Details</span>
          </a>
        </li>
        <li>
          <a ng-href="#/caregiver/change-password" ng-class="{active: isActive('caregiver/change-password')}">
            <span class="">Change Password</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>