
<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav margin0">
        <li class="pull-left-mob dash_heading_mob">
          <a ng-class="{active: isActive('caregiver-p/profile')}" ng-href="" ng-click="switchCaregiverTab('caregiverProfile')">
            <span class="">Profile Details</span>
          </a>
        </li>
        <li class="pull-right-mob dash_heading_mob">
          <a ng-class="{active: isActive('caregiver-p/change-password')}" ng-href="" ng-click="switchCaregiverTab('caregiverChangePassword')">
            <span class="">Change Password</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
