<div class="container login">
  <div class="row auth--position">
    <div class=" form__container__auth  col-md-16 col-lg-16">
      <div class="col-md-6 col-lg-6 ">
        <img src="assets/images/man.svg">
      </div>
      <div class=" col-md-10 col-lg-10 login__container__right-section">
        <div class="auth-heading">Reset password</div>
        <div class="alert alert-danger login-has-error" translate="reset.finish.messages.keymissing" ng-show="keyMissing">
                <p>The password reset key is missing.</p>
            </div>
            
            <div class="alert alert-danger login-has-error">
                <p >{{message}}</p>
            </div>

            <div class="alert alert-danger login-has-error" ng-show="questionsNotLoaded">
                <p >Security questions failed to load! Please try again</p>
            </div>

            <div class="alert alert-success" ng-show="success">
                <p translate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please <a href="#/login">authenticate</a>.</p>
            </div>
        <form class="login-auth-form" ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()" show-validation>
          <div class="form-group">
            <input type="password" class="form-control" id="passwordBox" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}" validate-on-blur ng-model="resetAccount.password" ng-minlength=8 ng-maxlength=50 ng-keyup="passwordStrength()" ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
            <div ng-show="(form.password.$dirty && form.password.$showValidationMessage && form.password.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.password.$error.required">
                Password required.
              </span>
              <span class="login-has-error"
                ng-show="form.password.$error.minlength">
                 Password required to be at least 8 characters.
              </span>
              <span class="login-has-error"
                ng-show="form.password.$error.maxlength">
                Password cannot be longer than 50 characters.
              </span>
              <span class="login-has-error"
                 ng-show="form.password.$error.pattern" >
                  Password complexity criteria not met.
              </span>
            </div>

            <div ng-show="form.password.$dirty" class="CommonWidth" id="passwordStrengthContainer">
            </div>
            <div class="CommonWidth">
              <span id="status"></span>
            </div>
        </div>

          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                   ng-model="resetAccount.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>

            <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$showValidationMessage && form.confirmPassword.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.required">
                Password required.
              </span>
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.minlength">
                 Password required to be at least 8 characters.
              </span>
              <span class="login-has-error"
                ng-show="form.confirmPassword.$error.maxlength">
                Password cannot be longer than 50 characters.
              </span>
              <span class="login-has-error"
                 ng-show="form.confirmPassword.$error.pattern" >
                  Password complexity criteria not met.
              </span>
            </div>     
        </div>

        <div class="form-group">
          <div class="auth-heading">security question</div>
          <div class="auth-select">
            <div class="custom-dropdown">
              <select class="form-control" name="question" validate-on-blur  ng-model="resetAccount.question" required ng-options="question.question for question in questions">
                <option value="">-- select a security question --</option>
              </select>
            </div>
          </div>

          <div ng-show="(form.question.$dirty && form.question.$showValidationMessage && form.question.$invalid) || submitted">
            <p class="login-has-error"
               ng-show="form.question.$error.required">
                Security question is required.
            </p>
          </div>  
        </div>

          <div class="form-group">
            <input type="text" class="form-control" validate-on-blur name="answer" ng-model="resetAccount.answer" required placeholder="{{'reset.placeholder.security-answer' | translate}}">
            <div ng-show="(form.answer.$dirty && form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
              <span class="login-has-error"
                ng-show="form.answer.$error.required">
                Answer required.
              </span>
            </div>
          </div>

          <button type="submit" class="myButton" ng-click="formSubmit()" translate="reset.finish.form.button">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>