<table class="col-md-16">
  <tr height="40">
    <td>
      <span class="captcha col-md-14 captch_border">{{captchaValue}}</span></td>
      <td style="vertical-align:baseline">
      <span class="reload-icon" ng-click="init()">&#10226;</span>
    </td>
  </tr>
  <tr>
    <td class="col-md-16 reset-padding">
      <input type="text" class="col-md-16 margin-top" ng-model="captchaInput"/>
      <span class="has-error" ng-if="!valid && submited">Please enter captcha</span>
    </td>
  </tr>
</table>