<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" ng-show="!root.isAuthenticated && userRole">
  <div class="container">
    <div class="navbar-header navbar-primary">
      <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" ng-click="goToHomePage();"><span class="logo icon-hill-rom-logo"></span></a>
      <div class="navbar-brand__desc">
        <span class="navbar-brand__desc--text-primary"><span translate-cloak="global.logo-text.visi-view">VisiView</span>
        <sup
          translate-cloak="global.logo-text.tm-sup">TM</sup>
          </span>
          <span class="navbar-brand__desc--text-secondary" translate-cloak="global.logo-text.health-portal">Health Portal</span>
      </div>
    </div>
  </div>
</nav>
<div class="container login activationform" ng-show="isActivateUser">
  <div class="row auth--position">
    <div class="visi_view_container">
      <!-- <h1 class="login_portal_name">VisiView</h1>
      <h3 class="login_portal_name_sub">LEALTH PORTAL</h3> -->
    </div>
    <div class="form__container__auth col-md-16">
      <!-- <div class="col-md-6 login__container__left-section">
        <img src="images/man.svg">
      </div> -->
      <div class=" col-md-16 login__container__right-section pull-right">
        <div class="auth-heading" translate="reset.finish.title">Reset password</div>
        <div class="password_inst" translate="reset.instruction"></div>
        <div class="alert alert-danger login-has-error" translate="reset.finish.messages.keymissing" ng-show="keyMissing">
          <p>The password reset key is missing.</p>
        </div>

        <div class="alert alert-danger login-has-error">
          <p>{{message}}</p>
        </div>

        <div class="alert alert-danger login-has-error" ng-show="questionsNotLoaded">
          <p>Security questions failed to load! Please try again</p>
        </div>

        <div class="alert alert-success" ng-show="success">
          <p translate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please <a href="#/login">authenticate</a>.</p>
        </div>
        <form class="login-auth-form" ng-show="!success" name="form" role="form" novalidate ng-submit="resetPasswordUser()" show-validation>
          <div class="form-group">
            <input type="password" class="form-control" id="passwordBox" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
              validate-on-blur ng-model="resetAccount.password" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/"
              required>
            <div ng-show="(form.password.$dirty && form.password.$showValidationMessage && form.password.$invalid) || submitted">
              <span class="login-has-error" ng-show="form.password.$error.required">
               {{'reset.password.required' | translate }}
              </span>
              <span class="login-has-error" ng-show="form.password.$error.pattern">
                {{'reset.password.customError' | translate }}
              </span>
              <span class="login-has-error" ng-show="form.password.$error.maxlength">
                {{'error.password.maxlength' | translate }}
              </span>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
              ng-model="resetAccount.confirmPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/"
              pw-check="passwordBox" required>

            <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$invalid) || submitted">
              <span class="login-has-error" ng-show="form.confirmPassword.$error.required && !form.confirmPassword.$error.pwmatch" translate="error.password.required">
              </span>
              <span class="login-has-error" ng-show="form.confirmPassword.$error.maxlength">
                 {{'error.confirmPassword.maxlength' | translate }}
              </span>
              <span class="login-has-error" ng-show="form.confirmPassword.$error.pwmatch">
               {{'error.confirmPassword.match' | translate }}
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="auth-heading" translate="reset.resetpassword.sec-title">Set security question</div>
            <div class="auth-select">
              <div class="custom-dropdown">
                <select class="form-control" name="question" validate-on-blur ng-model="resetAccount.question" required ng-options="question.question for question in questions">
                <option value="">-- Select a security question --</option>
              </select>
              </div>
            </div>

            <div ng-show="(form.question.$dirty && form.question.$showValidationMessage && form.question.$invalid) || submitted">
              <p class="login-has-error" ng-show="form.question.$error.required" translate="error.securityQuestion.required">
              </p>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" ng-disabled="!resetAccount.question" validate-on-blur name="answer" ng-model="resetAccount.answer"
              required placeholder="{{'reset.placeholder.security-answer' | translate}}">
            <div ng-show="(form.answer.$dirty && form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
              <span class="login-has-error" ng-show="form.answer.$error.required" translate="error.answer.required"></span>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="tnc" ng-model="resetAccount.tnc" required>
            <span class="sec-quest">I agree to the <a href="#/termsOfUse" target="_blank">Terms and Conditions</a></span>
            <div ng-show="(form.tnc.$dirty && form.tnc.$invalid) || submitted">
              <span class="login-has-error" ng-show="form.tnc.$error.required">
                Please agree to Terms and Conditions.
              </span>
            </div>
          </div>
          <button type="submit" class="myButton_blue" ng-click="formSubmit()" translate="reset.finish.form.button"></button>
        </form>
      </div>
    </div>
  </div>
</div>