<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary pull-left" ng-show="clinicStatus.isCreate">
      <span class="dashbord-nav__primary--title" translate="clinic.home.createLabel">Create Clinic</span>
    </div>
    <div class="dashbord-nav__primary pull-left" ng-show="!clinicStatus.isCreate">
      <span class="dashbord-nav__primary--title" translate="clinic.home.updateLabel">Update Clinic</span>
    </div>
    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="cancel()">
      <span class="" translate="clinic.back-button-text">Back</span>
    </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedClinic.name}}</span>
     <span class="user-gen-details--hr-id">{{slectedClinic.id}}</span>
   </div>
  </div>
</div>

<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="formSubmitClinic()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding">
          <div class="col-md-12 reset-padding">
            <span class="dashboard__form--type" translate="clinic.general-details"></span>
          </div>
          <div class="col-md-4 reset-padding user-required">
            <span translate="clinic.required-field"></span>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.clinic-type"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="type" ng-model="clinic.type" ng-disabled="clinicStatus.editMode || clinicStatus.createSatellite">
                  <option selected translate="clinic.clinic-option.parent-clinic" value="parent"></option>
                  <option translate="clinic.clinic-option.satellite-clinic" value="child"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2" ng-if="clinic.type === 'child'">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="dashboard__form--type" translate="clinic.select-parent"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input parent-list reset-padding">
              <input class="" type="text" name="parentClinicName" validate-on-blur ng-model="clinic.parentClinic.name" required ng-keyup="getParentClinic()" ng-if="!clinicStatus.createSatellite" ng-disabled="clinicStatus.createSatellite">
              <input class="" type="text" name="parentClinicName" validate-on-blur ng-model="clinic.parentClinic.name" required ng-if="clinicStatus.createSatellite" readonly>
              <div class="dashboard-page__user-list--parent-list" ng-show="clinic.parentClinic.name.length > 0 && form.parentClinicName.$dirty">
                <div class="parent-detail" ng-repeat="clinic in clinics | filter:{name:clinic.parentClinic.name}">
                  <div ng-click="selectClinicEdit(clinic)" class="dashboard-page__user-list__detailed__list--details">
                    <span class="user-detail">
                      {{clinic.name}}
                    </span>
                    <span class="user-role">
                      {{clinic.city}}
                    </span>
                  </div>
                </div>
              </div>
              <div ng-show="(form.parentClinicName.$dirty && form.parentClinicName.$showValidationMessage && form.parentClinicName.$invalid) || submitted">
                <span class="has-error" ng-show="form.parentClinicName.$error.required">
                  Parent Clinic Name is required.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.clinic-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="clinic.name" name="name" required>
              <div ng-show="(form.name.$dirty && form.name.$showValidationMessage && form.name.$invalid) || submitted">
                <span class="has-error" ng-show="form.name.$error.required">
                  Clinic Name is required.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-2 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="dashboard__form--type" translate="clinic.hr-id"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" ng-model="clinic.hillromId" name="HRID">
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding">
          <span class="dashboard__form--type" translate="clinic.personal-details"></span>
        </div>
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.address"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur ng-model="clinic.address" name="address" ng-maxlength="100">
              <div ng-show="(form.address.$showValidationMessage && form.address.$invalid) || submitted">
                <span class="has-error" ng-show="form.address.$error.maxlength">
                  Address cannot be longer than 100 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.city"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" ng-model="clinic.city" validate-on-blur name="city" ng-maxlength=15>
              <div ng-show="(form.city.$showValidationMessage && form.city.$invalid)">
                <span class="has-error" ng-show="form.city.$error.maxlength">
                  City cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.state"></span>
            </div>
            <div class="col-md-6 dashboard__form__input--option reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select name="state" ng-model="clinic.state" ng-options="state.name as state.name for state in states">
                  <option selected="selected">Select a state</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.zipcode"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" validate-on-blur name="zip" maxlength="5" ng-pattern="/^(?=.*[1-9].*)[0-9]{5}$/" ng-model="clinic.zipcode">
              <div ng-show="(form.zip.$showValidationMessage && form.zip.$invalid) || submitted">
                <span class="has-error" ng-show="form.zip.$error.pattern">
                  Zip Code is invalid.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.clinic-phone"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="phone" validate-on-blur ng-model="clinic.phoneNumber" mask="(999)-999-9999">
              <div ng-show="(form.phone.$showValidationMessage && form.phone.$invalid) || submitted">
                <span class="has-error" ng-show="form.phone.$error.pattern">
                  Phone Number is invalid.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="clinic.fax-number"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="fax" validate-on-blur ng-model="clinic.faxNumber" mask="(999)-999-9999">
              <div ng-show="(form.fax.$showValidationMessage && form.fax.$invalid) || submitted">
                <span class="has-error" ng-show="form.fax.$error.pattern">
                  Fax Number is invalid.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top" ng-show="clinicStatus.editMode">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="">Clinic ID</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <span class="">{{clinic.id}}</span>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="">
          <button type="submit" ng-click="formSubmit()" ng-show="clinicStatus.isCreate" class="hillrom-btn btn-primary btn-margin-left float-right" translate="clinic.submit-button-text">Submit</button>
          <button type="reset" ng-click="cancel()" ng-show="clinicStatus.isCreate" class="hillrom-btn btn-secondary float-right" translate="clinic.cancel-button-text">Cancel</button>
          <button type="submit" ng-click="formSubmit()" ng-show="!clinicStatus.isCreate" class="hillrom-btn btn-primary btn-margin-left float-right" translate="clinic.update-button-text">Update</button>
          <button type="button" ng-click="open()" ng-show="!clinicStatus.isCreate" class="hillrom-btn btn-secondary float-right" translate="clinic.deactivate-button-text">Deactivate</button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>

<div ng-if="showModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="close()">&times;</button>
         <p translate="clinic.delete.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="clinic.delete.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="deleteClinic()">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="close()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

