<div class="dashboard dashboard--content margin-top" ng-show="patientBenchmark">	
	<div class="col-md-16 reset-padding pointer-fill-event">
		<div class="user-gen-details">
			<span class="user-gen-details--name">{{::patientBenchmark.firstName}} {{::patientBenchmark.lastName}}</span>
			<span class="user-gen-details--hr-id">{{::patientBenchmark.hillromId}}</span>
		</div>
		<div class="bar_graph_header"> 
			<div class="col-md-5 col-sm-7 left_header_barchart padding0">
				<div class="row">
					<span translate="patient-benchmarking.benchmark"></span>
					<span translate="patient-benchmarking.parameter"></span>
					<span translate="patient-benchmarking.compareWith"></span>
					<span ng-if="clinics.length === 1" ng-bind="clinics[0].name">
						
					</span>
					<span ng-if="clinics.length > 1">
					<select class="span1" ng-model="clinicsDetails.selectedClinic" ng-options="clinic as clinic.name for clinic in clinics" ng-change="drawBenchmarkingChart();">
						
					</span>					
				</div>
			</div>     
			<div class="col-md-4 col-sm-9 pull-right right_header_barchart cyan-blue-light">
				<ul class="nav nav-pills pull-right ">
					<li class="" role="presentation"><a ng-click="isGraphLoaded && dayView()" href="" ng-class="{'active': durationRange === 'Day'}" translate="patient-benchmarking.day"></a></li>
					<li class="" role="presentation"><a ng-click="isGraphLoaded && weekView()" href="" ng-class="{'active': durationRange === 'Week'}" translate="patient-benchmarking.week"></a></li>
					<li class="" role="presentation"><a ng-click="isGraphLoaded && monthView()" href="" ng-class="{'active': durationRange === 'Month'}" translate="patient-benchmarking.month"></a></li>
					<li class="" role="presentation"><a ng-click="isGraphLoaded && yearView()" href="" ng-class="{'active': durationRange === 'Year'}" translate="patient-benchmarking.year"></a></li>
					<li id="dp3" class="" role="presentation" >
					<a ng-class="{'active': durationRange === 'Custom'}" href="" id="dp2cal" date-range-picker class="date-picker margin_tp13" ng-model="dates" parentEl="#dp1" options="opts" ><span class="icon-calendar"></span></a>
					</li>
				</ul>
			</div>
		</div>   
		<div class="pull-right margin-top week_date_container">
			<span ng-if="fromDate !== toDate">
			<span class="date">{{fromDate}}</span> - <span class="date">{{toDate}}</span>
			</span>
			<span ng-if="fromDate === toDate" class="date">{{fromDate}}<span>
		</div>
    </div>
  	<loading loaded="isGraphLoaded"></loading>
	<div class="col-md-16 margin-top" >
		<div id="patientBenchmarkingGraph"></div>
	</div>
	<div style="clear:both"></div>
	<div class="col-md-16 dashboard__manage-view--pagination">
		<div class="btn_group patient_dashdoard_btns">
			<div dropdown="" class="pull-right left dropdown">
				<button id="single-button" type="button" class="hillrom-btn btn-submit margin0 float-right ng-scope dropdown-toggle"  ng-click="exportPDF()">Export in PDF</button>
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
	<canvas id="patientBenchmarkCanvas" width=1300 height=350 style="display:none;"></canvas>
</div>
