 
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="updateProfile()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.title-name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select ng-model="editPatientProfile.title" name="title" ng-readonly="validateSuperAdmin()" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === editPatientProfile.title}}">
                  <option selected translate="user.title.mr" value="Mr."></option>
                  <option translate="profile.title.mrs" value="Mrs."></option>
                  <option translate="profile.title.miss" value="Miss"></option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="firstName" validate-on-blur ng-model="editPatientProfile.firstName" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required" translate="profile.errorMSG.first-name-required"></span>                
                <span class="has-error" ng-show="form.firstName.$error.pattern" translate="profile.errorMSG.first-name-number"></span>
                <span class="has-error" ng-show="form.firstName.$error.minlength" translate="profile.errorMSG.first-name-min-length"></span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" translate="profile.errorMSG.first-name-max-length"> </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="middleName" validate-on-blur ng-model="editPatientProfile.middleName" ng-pattern="/^[a-z A-Z]+$/" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()">
              <div ng-show="(form.middleName.$dirty && form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.pattern" translate="profile.errorMSG.middle-name-number"></span>
                <span class="has-error" ng-show="form.middleName.$error.minlength" translate="profile.errorMSG.middle-name-min-length"> </span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" translate="profile.errorMSG.middle-name-max-length"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="lastName" validate-on-blur ng-pattern="/^[a-z A-Z]+$/" ng-model="editPatientProfile.lastName" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required" translate="profile.errorMSG.last-name-required"></span>
                <span class="has-error" ng-show="form.lastName.$error.pattern" translate="profile.errorMSG.last-name-number"></span>
                <span class="has-error" ng-show="form.lastName.$error.minlength" translate="profile.errorMSG.last-name-min-length"></span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" translate="profile.errorMSG.last-name-max-length"> </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.mobile-no"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="employeeID" ng-model="editPatientProfile.mobilePhone" ng-readonly="validateSuperAdmin()" ui-mask="(999)-999-9999">
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.email"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="email" name="email" validate-on-blur ng-model="editPatientProfile.email" ng-maxlength=100 ng-readonly="validateSuperAdmin()" ng-pattern="/^[a-z][a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,4})$/" required>
              <div ng-show="(form.email.$dirty && form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required" translate="profile.errorMSG.e-mail-requitred"></span>                
                <span class="has-error" ng-show="form.email.$error.maxlength" translate="profile.errorMSG.email-max-length"> </span>
                <span class="has-error" ng-show="form.email.$error.pattern" translate="profile.errorMSG.e-mail-invalid">
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.role-text"></span>
               <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding">
              <div class="custom-dropdown disabled_arrow">
                <select name="role" validate-on-blur ng-model="editPatientProfile.authorities[0].name" ng-readonly="validateSuperAdmin()"  required disabled>
                  <option>{{editPatientProfile.authorities[0].name}}</option>                  
                </select>
                <div ng-show="(form.role.$dirty && form.role.$showValidationMessage && form.role.$invalid) || submitted">
                  <span class="has-error" ng-show="form.role.$error.required" translate="profile.errorMSG.role-required"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top-xl">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.security-ques"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--sec-option reset-padding">
              <div class="custom-dropdown">           
                <select class="security-select" name="question" validate-on-blur  ng-model="resetAccount.question" ng-options="question.question for question in questions">
                  <option value="" translate="profile.select-secutity-question"></option>
                </select>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top" ng-if="resetAccount.question">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.security-ans"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="answer" validate-on-blur ng-model="resetAccount.answer" ng-maxlength=100 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.answer.$dirty && form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
                <span class="has-error" ng-show="form.answer.$error.required" translate="profile.errorMSG.ans-required"></span>
                <span class="has-error" ng-show="form.answer.$error.maxlength" translate="profile.errorMSG.ans-max-required"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top-xl">
        <div class="">
        <button type="submit" class="hillrom-btn btn-submit float-right" ng-click="formSubmit()" ng-show="!userStatus.isCreate" translate="profile.update-button-text" ></button>
          <button type="reset" ng-click="cancelEditProfile()" ng-show="!userStatus.isCreate" class="hillrom-btn btn-submit float-right" translate="profile.cancel-button-text"></button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>