<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceTypeforBothIcon() =='MONARCH'), 'visivestIcon': (getDeviceTypeforBothIcon() =='VEST'), 'bothdeviceIcon': (getDeviceTypeforBothIcon() =='ALL')}">
     <span class="user-gen-details--name">{{patientView.firstName}}  {{patientView.lastName}}</span>
     <span class="user-gen-details--hr-id">{{patientView.hillromId}}</span>
     </span>
   </div>
  </div>
</div>

<div class="dashboard dashboard--content padding-bottom-ls">
  <div class="container dashboard__form">
    <div class="row">
      <div class="col-md-16 col-sm-16 margin-top reset-padding">
        <div class="col-md-7 col-sm-9 reset-padding">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.title-name"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.title"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-16 col-sm-16 reset-padding">
        <div class="col-md-7 col-sm-9 reset-padding">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.first-name"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.firstName"></span>
          </div>
        </div>

        <div class="col-md-7 col-sm-7 col-md-offset-2 reset-padding" ng-show="patientView.middleName">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.middle-name"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.middleName"></span>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-sm-16 reset-padding margin-top">
        <div class="col-md-7 col-sm-9 reset-padding">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.last-name"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.lastName"></span>
          </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-16 reset-padding col-md-offset-2">
          <div class="col-md-6 col-sm-5 col-xs-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.mobile-no"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.mobilePhone"></span>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-sm-16 reset-padding margin-top">
        <div class="col-md-7 col-sm-9 reset-padding">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.email"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.email"></span>
          </div>
        </div>

        <div class="col-md-7 col-sm-7 reset-padding col-md-offset-2">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.view-role-text"></span>
          </div>
          <div class="col-md-6 col-sm-6 dashboard__form--label-val reset-padding col-xs-8" ng-if="role !=='CARE_GIVER'">
            <span ng-bind="userRole"></span>
          </div>
          <div class="col-md-6 col-sm-6 dashboard__form--label-val reset-padding col-xs-8" ng-if="role ==='CARE_GIVER'">
            <span >PATIENT</span>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-sm-16 reset-padding margin-top">
        <div class="col-md-7 col-sm-9 reset-padding col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.address"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.address"></span>
          </div>
        </div>

        <div class="col-md-7 col-sm-7 reset-padding col-md-offset-2 col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.city"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.city"></span>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-sm-16 reset-padding margin-top">
        <div class="col-md-7 col-sm-9 reset-padding col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.state"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.state"></span>
          </div>
        </div>

        <div class="col-md-7 col-sm-7 reset-padding col-md-offset-2 col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.zipcode"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.zipcode"></span>
          </div>
        </div>
      </div>
       <div class="col-md-16 col-sm-16 reset-padding margin-top">
        <div class="col-md-7 col-sm-9 reset-padding col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.garment-type"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.garmentType"></span>
          </div>
        </div>

        <div class="col-md-7 col-sm-7 reset-padding col-md-offset-2 col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.garment-color"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.garmentColor"></span>
          </div>
        </div>
      </div>
       <div class="col-md-16 col-sm-16 reset-padding margin-top">
        <div class="col-md-7 col-sm-9 reset-padding col-xs-16">
          <div class="col-md-6 col-sm-5 dashboard__form--label reset-padding col-xs-8">
            <span class="" translate="profile.garment-size"></span>
          </div>
          <div class="col-md-10 col-sm-11 dashboard__form--label-val reset-padding col-xs-8">
            <span ng-bind="patientView.garmentSize"></span>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>