
<div class="dashboard dashboard--content dashboard_content_pro padding-bottom-ls">
  <form name="form" ng-submit="showModal(form.$invalid, 'passwordModal')" novalidate autocomplete="on">
    <div class="container dashboard__form">
      <div class="row padding-right margin-top-xl">
        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.cur-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input type="password" name="password" validate-on-blur ng-model="profile.password" required>
              <div  ng-show="(form.password.$dirty && form.password.$showValidationMessage && form.password.$invalid) || submitted">
                <span class="has-error" ng-show="form.password.$error.required" translate="error.currentPassword.required"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="col-md-7 col-sm-7 reset-padding">
            <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.new-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input type="password" name="newPassword" validate-on-key-press ng-model="profile.newPassword" ng-minlength=8 maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^-\{\}|`~<>\[\]\?\\_=+&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
              <div ng-show="(form.newPassword.$dirty && form.newPassword.$showValidationMessage && form.newPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.newPassword.$error.required" translate="error.newPassword.required"></span>
                <span class="has-error" ng-show="!form.newPassword.$error.required && form.newPassword.$error.minlength" translate="error.newPassword.minlength"></span>
                <span class="has-error" ng-show="!form.newPassword.$error.required && form.newPassword.$error.maxlength" translate="error.newPassword.maxlength"> </span>
                <span class="login-has-error" ng-show="!form.newPassword.$error.required && form.newPassword.$error.pattern" translate="error.newPassword.pattern"> </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-sm-offset-2 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.confirm-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="confirmPassword" validate-on-blur ng-model="profile.confirmPassword"  ng-minlength=8 maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^-\{\}|`~<>\[\]\?\\_=+&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" match="profile.newPassword" required>
              <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$showValidationMessage && form.confirmPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.confirmPassword.$error.required" translate="error.confirmPassword.required"></span>
                <span class="has-error" ng-show="profile.newPassword && !form.confirmPassword.$error.required && !form.confirmPassword.$error.required && form.confirmPassword.$error.match" translate="error.confirmPassword.match"></span>
              </div>
              </div>
            </div>
          </div>
        </div>        
        <div class="clr"></div>

        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="">
            <button type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" translate="profile.update-button-text"></button>
            <button type="reset" ng-click="resetPasswordForm();" class="hillrom-btn btn-secondary float-right" translate="profile.reset-button-text"></button>
            <div class="clr"></div>
          </div>
        </div>
      </div>
    </form>

    <!-- Email form -->
    <form name="emailForm" ng-submit="showModal(emailForm.$invalid, 'emailModal')" novalidate autocomplete="off">
      <div class="container dashboard__form">
        <div class="row padding-right margin-top-xl">
          <div class="col-md-16 col-sm-16 reset-padding margin-top">
            <div class="col-md-7 col-sm-7 reset-padding">
              <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
                <span class="" translate="profile.email"></span>
                <span class="">*</span>
              </div>
              <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
                <input type="email" name="email"  ng-change = "$parent.isEmailUpdated = true" validate-on-blur ng-model="patient.email" ng-maxlength=100 required ng-pattern="/^[a-zA-Z][\.a-zA-Z0-9_\+-]+(\.[a-zA-Z0-9_\+-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.([a-zA-Z]{2,4})$/" required>
                <div  ng-show="(emailForm.email.$dirty && emailForm.email.$showValidationMessage && emailForm.email.$invalid) || emailFormSubmitted">
                  <span class="has-error" ng-show="emailForm.email.$error.required" translate="error.email.required"></span>
                  <span class="has-error" ng-show="emailForm.email.$error.pattern" translate="error.email.invalid"></span>
                  <span class="has-error" ng-show="emailForm.email.$error.maxlength" translate="error.email.maxlength"></span>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-7 col-sm-offset-2 reset-padding col-md-offset-2" ng-if="resetAccount.question">
              <div class="col-md-6 dashboard__form--label reset-padding">
                <span class="" translate="profile.phone"></span>
              </div>
              <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
              <input class="ng-valid ng-isolate-scope ng-valid-mask ng-dirty ng-valid-parse ng-touched" type="text" ui-options="{clearOnBlur: false}" ng-change = "$parent.isPhoneUpdated = true" model-view-value="true" ui-mask="(999)-999-9999" ng-model="patient.mobilePhone" validate-on-blur="" name="mobilePhone">
               <div ng-show="(emailForm.mobilePhone.$showValidationMessage && emailForm.mobilePhone.$invalid) || submitted">
                <span class="has-error" ng-show="emailForm.mobilePhone.$error.pattern" translate="error.mobilePhone.pattern"></span>
                <span class="has-error" ng-show="emailForm.mobilePhone.$error.maxlength" translate="error.mobilePhone.maxlength"></span>
                <span class="has-error" ng-show="emailForm.mobilePhone.$error.mask" translate="error.mobilePhone.mask"></span>
              </div>
              </div>
            </div>
          </div>
          </div>
      <!-- </div> -->
        <div class="clr"></div>
        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="">
            <button type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" translate="profile.update-button-text"></button>
            <button type="reset" ng-click="resetEmailForm()" class="hillrom-btn btn-secondary float-right" translate="profile.reset-button-text"></button>
            <div class="clr"></div>
          </div>
        </div>
      </div>
    </form>
    <form name="timezoneForm" ng-submit="updateshowtimezoneModal()" novalidate autocomplete="off">
      <div class="container dashboard__form">
                <div class="col-md-16 col-sm-16 reset-padding margin-top">
            <div class="col-md-7 col-sm-7 reset-padding">
              <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
                <span class="" translate="profile.timestamp-preference"></span>
              </div>
              <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
                <div class="col-md-10 dashboard__form__input--sec-option reset-padding">
              <div class="custom-dropdown" style="width: 306px;">
                <select class="security-select" ng-model="patient.timeZone" ng-change="changePreferredTimezone()" ng-options="key as key + '  &nbsp : &nbsp ' + value for (key , value) in timezoneList"></select>
            </div>
            </div>
                </div>
              </div>
            </div>
            
        <div class="clr"></div>
        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="">
            <button type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" translate="profile.update-button-text"></button>
            <!-- <button type="reset" ng-click="resetEmailForm()" class="hillrom-btn btn-secondary float-right" translate="profile.reset-button-text"></button> -->
            <div class="clr"></div>
          </div>
        </div>
      </div>
    </form>

    <!--Security Question Form -->
    <form name="securityQuestionForm" ng-submit="showModal(securityQuestionForm.$invalid, 'securityQuestionModal')" novalidate autocomplete="off">
      <div class="container dashboard__form">
        <div class="row padding-right margin-top-xl">
          <div class="col-md-16 col-sm-16 reset-padding margin-top">
            <div class="col-md-7 col-sm-7 reset-padding">
              <div class="col-md-6 col-sm-6 dashboard__form--label reset-padding">
                <span class="" translate="profile.security-ques"></span>  
              </div>
              <div class="col-md-10 col-sm-10 dashboard__form__input--sec-option reset-padding">
                <div class="custom-dropdown">
                  <select class="security-select" name="question" validate-on-blur  ng-model="resetAccount" ng-options="question.question for question in questions" ng-selected="question.id === resetAccount.id">
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-7 col-sm-offset-2 reset-padding col-md-offset-2" ng-if="resetAccount.question">
              <div class="col-md-6 dashboard__form--label reset-padding">
                <span class="" translate="profile.security-ans"></span>
                <span class="">*</span>
              </div>
              <div class="col-md-10 col-sm-10 dashboard__form--input reset-padding">
                <input class="" type="password" name="answer" validate-on-blur ng-model="resetAccount.answer" ng-maxlength=100 required>
                <div ng-show="(securityQuestionForm.answer.$dirty && securityQuestionForm.answer.$showValidationMessage && securityQuestionForm.answer.$invalid) || securityFormSubmitted">
                  <span class="has-error" ng-show="securityQuestionForm.answer.$error.required" translate="error.answer.required"></span>
                  <span class="has-error" ng-show="securityQuestionForm.answer.$error.maxlength" translate="error.answer.maxlength"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
        <div class="col-md-16 col-sm-16 reset-padding margin-top">
          <div class="">
            <button type="submit" class="hillrom-btn btn-primary float-right btn-margin-left" translate="profile.update-button-text"></button>
            <button type="reset" ng-click="resetSecurityQuestionForm()" class="hillrom-btn btn-secondary float-right" translate="profile.reset-button-text"></button>
            <div class="clr"></div>
          </div>
        </div>
      </div>  
    </form>
  </div>


<div ng-if="showUpdatePasswordModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.showUpdatePasswordModal = false">&times;</button>
        <p translate="profile.passwordUpdate.warning"></p>
      </header>
      <div class="modal__body">
        <div class="modal--message" translate="profile.passwordUpdate.message"></div>
        <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updatePassword(); $parent.showUpdatePasswordModal = false">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="$parent.showUpdatePasswordModal = false">No</buton>
        </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="showUpdateEmailModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.showUpdateEmailModal = false">&times;</button>
        <p translate="profile.emailUpdate.warning"></p>
      </header>
      <div class="modal__body">
        <div class="modal--message" translate="profile.emailUpdate.message"></div>
        <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updateEmail(); $parent.showUpdateEmailModal = false">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="$parent.showUpdateEmailModal = false">No</buton>
        </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>


<div ng-if="showSecurityQuestionModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.showSecurityQuestionModal = false">&times;</button>
        <p translate="profile.securityQuestion.warning"></p>
      </header>
      <div class="modal__body">
        <div class="modal--message" translate="profile.securityQuestion.message"></div>
        <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updateSecurityQuestion(); $parent.showSecurityQuestionModal = false">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="$parent.showSecurityQuestionModal = false">No</buton>
        </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="showtimezoneModal" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="$parent.showtimezoneModal = false">&times;</button>
        <p translate="profile.preferredTimezone.warning"></p>
      </header>
      <div class="modal__body">
        <div class="modal--message" translate="profile.preferredTimezone.message"></div>
        <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="updatePreferredTimezone(); $parent.showtimezoneModal = false">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="$parent.showtimezoneModal = false">No</buton>
        </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>