<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="createUser()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.cur-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="firstName" validate-on-blur ng-model="user.firstName" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required">
                  password is required.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.new-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="firstName" validate-on-blur ng-model="user.firstName" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required">
                  First Name is required.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.pattern" >
                  First Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.minlength" >
                  First Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" >
                  First Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.confirm-pswd"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="middleName" validate-on-blur ng-model="user.middleName" ng-pattern="/^[a-z A-Z]+$/" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()">
              <div ng-show="(form.middleName.$dirty && form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.pattern" >
                  Middle Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.minlength" >
                  Middle Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" >
                  Middle Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>        
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="">
        <button type="submit" class="hillrom-btn btn-submit float-right" ng-click="formSubmit()" ng-show="!userStatus.isCreate" translate="profile.update-button-text">Update</button>
          <button type="reset" ng-click="cancel()" ng-show="!userStatus.isCreate" class="hillrom-btn btn-submit float-right" translate="profile.cancel-button-text">Cancel</button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>