<navigation-bar-patient></navigation-bar-patient>
<patient-profile-navbar></patient-profile-navbar>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="updatePassword()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.cur-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="password" name="password" validate-on-blur ng-model="profile.password" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
              <div  ng-show="(form.password.$dirty && form.password.$showValidationMessage && form.password.$invalid) || submitted">
                <span class="has-error" ng-show="form.password.$error.required"  translate="profile.errorMSG.password-required"></span>
                <span class="has-error" ng-show="form.password.$error.minlength" translate="profile.errorMSG.password-min-length" ></span>   
                <span class="has-error" ng-show="form.password.$error.maxlength" translate="profile.errorMSG.password-max-length"> </span>   
                <span class="login-has-error" ng-show="form.password.$error.pattern" translate="profile.errorMSG.password-criteria"> </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.new-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input type="password" name="newPassword" validate-on-blur ng-model="profile.newPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
              <div ng-show="(form.newPassword.$dirty && form.newPassword.$showValidationMessage && form.newPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.newPassword.$error.required" translate="profile.errorMSG.new-password-required"></span>
                <span class="has-error" ng-show="form.newPassword.$error.minlength" translate="profile.errorMSG.new-password-min-length"></span>
                <span class="has-error" ng-show="form.newPassword.$error.maxlength" translate="profile.errorMSG.new-password-max-length"> </span>
                <span class="login-has-error" ng-show="form.newPassword.$error.pattern" translate="profile.errorMSG.new-password-criteria"> </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.confirm-pswd"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="confirmPassword" validate-on-blur ng-model="profile.confirmPassword"  ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" match="profile.newPassword" >
                <span class="has-error" ng-show="form.confirmPassword.$error.required" translate="profile.errorMSG.cnf-password-required"></span>
                <span class="has-error" ng-show="form.confirmPassword.$error.match" translate="profile.errorMSG.cnf-password-mismatch"></span>
                <span class="has-error" ng-show="form.confirmPassword.$error.minlength" translate="profile.errorMSG.cnf-password-min-length"></span>
                <span class="has-error" ng-show="form.confirmPassword.$error.maxlength" translate="profile.errorMSG.cnf-password-max-length"></span>
                <span class="login-has-error" ng-show="form.confirmPassword.$error.pattern" translate="profile.errorMSG.cnf-password-criteria"></span>
              </div>
            </div>
          </div>
        </div>        
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="">
        <button type="submit" class="hillrom-btn btn-submit float-right" translate="profile.update-button-text"></button>
          <button type="reset" ng-click="cancel()" class="hillrom-btn btn-submit float-right" translate="profile.cancel-button-text"></button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>