<div class="container static_page_wrapper">
	<div class="col-md-16">
		<h2 class="text-center">TERMS AND CONDITIONS</h2>
		<p>Welcome to VisiView™ Health Portal, a service offered to you by Hill-Rom. You should have previously received information from Hill-Rom regarding VisiView’s features. If you have not, you should request such information from Hill-Rom Respiratory Care Customer Support. 
		Please read these terms and conditions of use carefully before using the Health Portal website.
		By indicating your agreement by clicking the "Accept" button, you agree to be bound by the Terms and Conditions and Legal Notices, and are indicating that you are at least eighteen years old and have the legal authority to accept the Terms and Conditions. This is a legally binding agreement. If you do not agree with the Terms and Condition and Legal Notices, you may not VisiView and must click the "Decline" button.</p>
	</div>

	<div class="col-md-16">
		<h3>General</h3>
		<p>
			Hill-Rom may revise and update these Terms and Conditions at any time. Your continued usage of VisiView (“website” or “Site) will mean you accept those changes.
		</p>
		<p>
			The Site Does Not Provide Medical Advice.  The Site is for informational and educational purposes only and is not a substitute for the professional judgment of a health care professional in diagnosing and treating patients.  
		</p>
		<p>
			Do not use VisiView for medical emergency services. In an emergency, call 911, your personal physician and/or your local emergency assistance number.
		</p>

		<h3>USE OF THE SITE AND ELIGIBILITY</h3>
		<p>You are required to comply with all applicable laws and regulations, including local, state, national, foreign, or international statutes, regulations, rules, orders, treaties, or other laws, in connection with your access to and use of the Site and such further limitations as may be set forth in any notice from us. As a condition of your access and use of the Site, you warrant that you will not use the Site for any purpose that is unlawful or prohibited by the Terms and Conditions.

		We may restrict, suspend, or terminate your access to the Site without notice to you if we believe that you have violated any law or these Terms and Conditions.

		You further agree that you will only access the Site through the interfaces we provide and that you will not violate or attempt to violate the security of the Site.
		You further agree that, if you choose to access the Site from outside the United States, you do so on your own initiative and are responsible for compliance with applicable laws.

		Violations of system or network security may result in civil or criminal liability. In accordance with these Terms and Conditions, we will investigate and work with law enforcement authorities to prosecute users who are involved in such violations.
		</p>

		<h3>SUBMISSION OF DATA </h3>
		<p>This provision of these Terms and Conditions covers only VisiView's on-line privacy practices with respect to use and/or disclosure of information provided through VisiView. For additional information on how Hill-Rom uses or discloses your individually identifiable health information, see the document entitled "Notice of Privacy Practice”, provided to you in your Welcome Packet.  The Notice of Privacy Practices will also be provided upon request.

		Hill-Rom requires you to provide certain personally identifiable information ("Personal Information") to use certain features and functions of VisiView. The Personal Information you provide includes information provided during any registration process, including your name and date of birth, and any other identifying information (including health information) that you submit voluntarily while using VisiView, such as the information you submit in any form.

		VisiView computer resources may be monitored for all lawful purposes, including to ensure that use is authorized, for system management, to facilitate protection against unauthorized access, and to verify security procedures, survivability, and operational security. Monitoring includes security testing by authorized entities to test or verify the security of this system. </p>

		<h3>REGISTRATION, ACCOUNT SECURITY, AND ELIGIBILITY </h3>
		<p>You are responsible for maintaining the confidentiality of your password, and you agree not to share your password with anyone or allow anyone to use your account. You also agree to take full responsibility for any activity that occurs through the use of your account.  If you become aware that any other person has accessed your account or has obtained your password, you agree to notify us immediately.  Even if you notify us, you will be responsible for any damage caused by the breach of security, both before and after the notification.</p>

		<h3>ACCURACY, PRIVACY, AND USE OF PERSONAL INFORMATION</h3>
		<p>Whenever we ask you to identify yourself, or for other personal information, you agree to provide truthful, accurate, current, and complete information, and to keep this information current and accurate throughout the time you remain a user of the Site. You also represent and warrant that you have obtained all necessary consents, approvals and authorizations to provide the information to us, and that you are not violating any laws, rules or regulations or the rights of any individual or entity, by providing such personal information. 
		The Hill-Rom Privacy Policy explains our handling of the personal information we maintain about you. By using the Site, you indicate that you understand and agree to the information collection, use, and disclosure practices described in our Privacy Policy at <a href="#">www.hill-rom.com</a> and any additional notices governing our online services, so you should review them before using the Site. If you have questions about our privacy practices, please contact us.
		</p>

		<h3>NO PROFESSIONAL ADVICE</h3>
		<p>Any information supplied by any employee or agent of Hill-Rom, whether by telephone, e-mail, letter, facsimile, or other form of communication, is intended solely as general guidance, and does not constitute legal, tax, medical, accounting, or other professional advice. In addition, the content provided on the Site, or the information generated by Hill-Rom from the User information, is intended as general educational information, not specific professional advice. You agree that you must evaluate, and bear all risks associated with, the use or disclosure of any content, including data and materials generated from this Site or Hill-Rom generated materials from the User information obtain through this Site.</p>

		<h3>DISCLAIMER OF WARRANTIES</h3>
		<p>Our products and services, including the Site, any User information, and any links from the Site to any third-party websites, are provided AS IS, and we make NO REPRESENTATION OR WARRANTY OF ANY KIND with respect to them.

		WE DISCLAIM, TO THE MAXIMUM EXTENT PERMITTED BY LAW, ANY AND ALL (a) WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE; (b) WARRANTIES AGAINST INFRINGEMENT OF ANY THIRD-PARTY INTELLECTUAL PROPERTY OR PROPRIETARY RIGHTS; (c) WARRANTIES RELATING TO THE TRANSMISSION OR DELIVERY OF THE SITE; (d) WARRANTIES RELATING TO THE ACCURACY, RELIABILITY, CORRECTNESS, OR COMPLETENESS OF DATA MADE AVAILABLE ON THE SITE OR OTHERWISE BY HILL-ROM; AND (e) WARRANTIES OTHERWISE RELATING TO PERFORMANCE, NONPERFORMANCE, OR OTHER ACTS OR OMISSIONS BY HILL-ROM OR ANY THIRD PARTY. FURTHER, THERE IS NO WARRANTY THAT THE SITE WILL MEET YOUR NEEDS OR REQUIREMENTS OR THE NEEDS OR REQUIREMENTS OF ANY OTHER PERSON.

		WE MAKE NO WARRANTIES OR REPRESENTATIONS, EXPRESS OR IMPLIED, (a) THAT THE INFORMATION PROVIDED THROUGH THE SITE WILL BE FREE FROM ERROR, OMISSION, INTERRUPTION, DEFECT, OR DELAY IN OPERATION, OR FROM TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS; (b) THAT THE SITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (c) THAT DEFECTS OR ERRORS IN THE SITE WILL BE CORRECTED; OR (d) THAT THE CONTENT ON THE SITE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY INFORMATION ON THE SITE IS SUBJECT TO CHANGE WITHOUT NOTICE, AND WE DISCLAIM ALL RESPONSIBILITY FOR THESE CHANGES.</p>

		<h3>LIMITATION OF LIABILITY</h3>
		<p>YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY CAUSE OF ACTION ARISING UNDER THESE TERMS OF SERVICE IS YOUR RIGHT TO TERMINATE YOUR USE OF THE SITE. YOU AGREE THAT WE WILL NOT BE LIABLE UNDER ANY CIRCUMSTANCES FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE OR OTHER DAMAGES, INCLUDING LOST PROFITS OR COSTS OR ATTORNEY'S FEES, ARISING OUT OF OR RELATING TO YOUR USE OF THE SITE OR THE PRODUCTS OR SERVICES GENERATED BY HILL-ROM FROM USER INFORMATION, INCLUDING BUT NOT LIMITED TO BREACH OF CONTRACT, BREACH OF WARRANTY, DEFAMATION, NEGLIGENCE, OR STRICT LIABILITY. Because some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, our liability in such jurisdictions shall be limited to the extent permitted by law, but the provisions of this section shall in any case be interpreted to limit our liability to the greatest extent permitted by law.

		IN THE EVENT THAT YOU HAVE A DISPUTE WITH ANOTHER USER RELATED TO, ARISING FROM, OR IN ANY WAY CONNECTED WITH YOUR USE OF THE SITE, YOU RELEASE HILL-ROM FROM ANY CLAIMS, DEMANDS, AND DAMAGES OF EVERY KIND AND NATURE ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH A DISPUTE, AND AGREE TO HOLD HILL-ROM HARMLESS IN CONNECTION WITH ANY SUCH DISPUTE.</p>

		<h3>INDEMNIFICATION</h3>
		<p>YOU AGREE TO INDEMNIFY HILL-ROM, AND OUR OFFICERS, DIRECTORS, OWNERS, EMPLOYEES, AGENTS, INFORMATION PROVIDERS, AFFILIATES, PARTNERS, AND LICENSORS (THE "HILL-ROM PARTIES") AGAINST, AND HOLD THE HILL-ROM PARTIES HARMLESS FROM, CLAIMS, LIABILITY, LOSSES, COSTS, AND EXPENSES (INCLUDING REASONABLE ATTORNEYS' FEES) INCURRED AS A RESULT OF OR IN CONNECTION WITH YOUR USE OF THE SITE.</p>

		<h3>MODIFICATION OF THE SITE</h3>
		<p>We reserve the right, at any time, to modify or discontinue, temporarily or permanently, the Site (or any part thereof), with or without notice. You agree that we shall not be liable to you or any third party for any modification, suspension, or discontinuance of the Site.</p>

		<h3>TERMINATION</h3>
		<p>We reserve the right, in our sole discretion, to terminate, suspend, or limit your access to the Site, or any portion thereof, at any time without notice to you. If we do so, the provisions of these Terms and Conditions will survive such termination, except that you will not be permitted to use the Site to the extent that we terminate, suspend, or limit your access. You may also discontinue your own access to the Site by contacting us in writing to request that your account be terminated.</p>

		<h3>GOVERNING LAW AND INTEGRATION</h3>
		<p>You agree that any dispute between you and Hill-Rom will be governed by the law of the State of Illinois without regard to its conflict of law provisions, and that any legal action brought by one party against the other will be brought in the courts of Cook County, Illinois. You agree to accept service of process by mail, and hereby waive any and all jurisdictional and venue defenses otherwise available.

		Unless otherwise specified herein, these Terms and Conditions constitute the entire agreement between you and Hill-Rom with respect to your use of the Site and any materials or information generated by Hill-Rom from the User information obtained on the Site, superseding any prior or contemporaneous communications and proposals in any form between you and Hill-Rom.</p>

		<h3>CONTACT INFORMATION</h3>

		<p>
			You may contact us as follows:<br />
			Email: HCCSWEB@hill-rom.com<br />
			Telephone:  1 800-426-4224<br />
			Mail:	Hill-Rom<br />
			1020 County Road F West<br />
			St. Paul, MN 55126<br />

		</p>
	</div>
</div>