<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}&nbsp;&nbsp;</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>
  <!-- <div class="col-md-16 patient-clinic">
    <span class="patient-clinic--title" translate="patient.clinic-title" ng-model="searchItem" ng-keydown="searchClinics();"></span>
  </div> -->
  <div class="col-md-16 admin-views">
    <span class="admin-views--title" translate="patient.clinic-title"></span>
  </div>

  <div class="col-md-16 clinic-list" ng-repeat="aClinic in associatedClinics track by $index">
    <div class="col-md-3 clinic-list__detail">
      <span class="clinic-list__detail--name" ng-bind="aClinic.name"></span>
    </div>
    <div class="col-md-4 clinic-list__address">
      <span class="clinic-list__address--primary" ng-bind="aClinic.address"></span>
      <span class="clinic-list__address--secondary">{{aClinic.city}}, {{aClinic.state}}</span>
    </div>
    <div class="col-md-3 clinic-list__phone">
      <span class="clinic-list__phone--text" translate="patient.phone"></span>
      <span class="clinic-list__phone--number" ng-bind="aClinic.phoneNumber"></span>
    </div>
    <div class="col-md-3 clinic-list__fax">
      <span class="clinic-list__fax--text" translate="patient.fax"></span>
      <span class="clinic-list__fax--number" ng-bind="aClinic.faxNumber"></span>
    </div>
    <div class="col-md-2 clinic-list__hr-id">
      <span translate="patient.hr-id"></span>
      <span ng-bind="aClinic.hillromId"></span>
    </div>
    <div class="col-md-1 clinic-list__delete">
      <span class="glyphicon glyphicon-trash" ng-click="deleteClinicModel(aClinic)"></span>
    </div>
  </div>
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="" type="text" name="linkClinic" placeholder="{{'patient.placeholder.clinic-link' | translate}}" ng-model="searchItem" load-on-focus="true" load-on-empty="false" ng-show="searchClinicText">
      <div class="">
        <div class="parent-detail" ng-repeat="clinic in clinics | filter: {name: searchItem}" ng-if="searchItem.length > 0 && searchClinicText">
          <div class="" ng-click="selectClinicForPatient(clinic, $index)">
            <span class="user-name">{{clinic.name}} <sup class="parent-clinic" ng-if="clinic.parent">P</sup></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkClinic()" translate="patient.link-clinic"></buton>
    </div>
  </div>


  <div class="col-md-16 admin-views">
    <span class="admin-views--title" translate="patient.hcp-title"></span>
  </div>

  <div class="col-md-16 clinic-list" ng-repeat="hcp in associatedHCPs track by $index">
    <div class="col-md-3 clinic-list__detail">
      <span class="clinic-list__detail--name" ng-bind="hcp.firstName"></span>
    </div>
    <div class="col-md-4 clinic-list__address">
      <span class="clinic-list__address--primary" ng-bind="hcp.address"></span>
      <span class="clinic-list__address--secondary">{{hcp.city}}, {{hcp.state}}</span>
    </div>
    <div class="col-md-3 clinic-list__phone">
      <span class="clinic-list__phone--text" translate="patient.phone"></span>
      <span class="clinic-list__phone--number" ng-bind="hcp.phone"></span>
    </div>
    <div class="col-md-3 clinic-list__fax">
      <span class="clinic-list__fax--text" translate="patient.fax"></span>
      <span class="clinic-list__fax--number" ng-bind="hcp.credentials"></span>
    </div>
    <div class="col-md-2 clinic-list__hr-id">
      <span translate="patient.hr-id"></span>
      <span ng-bind="hcp.hillromId"></span>
    </div>
    <div class="col-md-1 clinic-list__delete">
      <span class="glyphicon glyphicon-trash" ng-click="deleteHCPModel(hcp)"></span>
    </div>
  </div>
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="" type="text" name="linkClinic" placeholder="{{'patient.placeholder.hcp-link' | translate}}" ng-model="searchHcp" load-on-focus="true" load-on-empty="false" ng-show="searchHCPText">
      <div class="">
        <div class="parent-detail" ng-repeat="hcp in hcps | filter: {firstName: searchHcp}" ng-if="searchHcp.length > 0 && searchHCPText">
          <div class="" ng-click="selectHcpForPatient(hcp)">
            <span class="user-name">{{hcp.firstName}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkHCP()" translate="patient.link-hcp"></buton>
    </div>
  </div>
</div>

<div ng-if="showModalClinic" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="cancelClinicModel()">&times;</button>
         <p translate="patient.delete-clinic-info.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete-clinic-info.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociateLinkedClinics(clinicToDelete.id)">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="cancelClinicModel()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="showModalHCP" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="cancelHCPModel()">&times;</button>
         <p translate="patient.delete-hcp-info.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete-hcp-info.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociateLinkedHCPs(deviceToDelete.id)">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="cancelHCPModel()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>