<ng-include src="'scripts/components/navbar/navbar.html'"></ng-include>
<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 col-sm-16 margin-top">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceTypeforBothIcon() =='MONARCH'), 'visivestIcon': (getDeviceTypeforBothIcon() =='VEST'), 'bothdeviceIcon': (getDeviceTypeforBothIcon() =='ALL')}">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
     </span>
   </div>
  </div>
  <div class="col-md-16 col-sm-16 admin-views">
    <span class="admin-views--title" translate="patient.clinic-title"></span>
  </div>

  <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.clinic-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.type"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.address"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.city"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.state"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.phone-number"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.hr-id"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
  </div>

  <div class="col-md-16 col-sm-16 clinic-list " ng-repeat="aClinic in associatedClinics track by $index" ng-if="associatedClinics.length > 0" readonly="true" ng-class="{'default_active': !aClinic.deleted, 'inactive': aClinic.deleted}">
    <span  ng-click="aClinic.deleted || selectClinic(aClinic)">
    <div class="col-md-2 col-sm-2 clinic-list__detail ">
      <span class="clinic-list__detail--name brakword" ng-bind="aClinic.name"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.parent ? 'Parent' : 'Satellite'"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__address">
      <span class="clinic-list__address--primary" ng-bind="aClinic.address"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.city"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.state"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.phoneNumber"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span ng-bind="aClinic.hillromId"></span>
    </div>
    </span>
    <div class="col-md-2 col-sm-2 clinic-list__delete protocol-list__edit icons" ng-click="aClinic.deleted || deleteClinicModel(aClinic);">
      <span class="icon-delete-icon"></span>
    </div>
  </div>
  <div class="col-md-16 col-sm-16 empty-list-message" ng-if="associatedClinics && associatedClinics.length === 0"> 
    <span translate="no-clinic-found"></span>
  </div>
  <div class="col-md-16 col-sm-16 reset-padding">
    <div class="col-md-8 col-sm-8 clinic-link">
      <input type="text" ng-show="searchClinicText" ng-model="clinic.name" typeahead="clinic.hillromId + '' + clinic.name + '&nbsp;&nbsp;' + clinic.city + '&nbsp;&nbsp;'+ clinic.state for clinic in getClinicToLinkToPatient($viewValue) | filter:{name: $viewValue} | filter:{deleted: false}" typeahead-on-select="showAssociateClinicModal($item)" class="form-control" placeholder="{{'patient.placeholder.clinic-link' | translate}}" typeahead-template-url="customclinicTypeaheadTemplate.html">
    </div>

    <div class="col-md-8 col-sm-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-show=" associatedClinics &&  !searchClinicText && !slectedPatient.isDeleted" ng-click="linkClinic()" translate="patient.link-clinic"></buton>
    </div>
  </div>

  <div class="col-md-16 col-sm-16 admin-views">
    <span class="admin-views--title" translate="patient.hcp-title"></span>
  </div>

  <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.hcp-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.credentials"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.npi-id"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.clinic-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.city"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.state"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.phone-number"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
  </div>

  <div class="col-md-16 col-sm-16 clinic-list" ng-repeat="hcp in associatedHCPs track by $index" ng-if="associatedHCPs.length > 0" readonly="true" ng-class="{'default_active': !hcp.deleted, 'inactive': hcp.deleted}">
   <span ng-click="hcp.deleted || selectDoctor(hcp)">
    <div class="col-md-2 col-sm-2 clinic-list__detail">
      <span class="clinic-list__detail--name">{{hcp.lastName}}, {{hcp.firstName}}</span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__address">
      <span class="clinic-list__credentials">{{hcp.credentials}}</span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__address">
      <span class="clinic-list__fax--number" ng-bind="hcp.npiNumber"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__fax">
      <span class="clinic-list__fax--number" ng-repeat ="clinic in hcp.clinics">{{clinic.name}} <b>{{$last ? '' : ', '}}</b></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__fax">
      <span class="clinic-list__fax--number" ng-bind="hcp.city"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="hcp.state"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__fax">
      <span class="clinic-list__fax--number" ng-bind="hcp.primaryPhone"></span>
    </div>
    </span>
    <div class="col-md-2 col-sm-2 clinic-list__delete protocol-list__edit icons" ng-click="deleteHCPModel(hcp);">
      <span class="icon-delete-icon"></span>
    </div>
  </div>
  <div class="col-md-16 col-sm-16 empty-list-message" ng-if="associatedHCPs.length === 0">
    <span translate="no-hcp-found"> </span>
  </div>
  <div class="col-md-16 col-sm-16 reset-padding">
    <div class="col-md-8 col-sm-8 clinic-link">
      <input type="text" ng-show="searchHCPText" ng-model="searchHcp" typeahead="hcp as hcp.lastName +', &nbsp' + hcp.firstName  + ' &nbsp ' + hcp.clinics[0].name for hcp in getHCPsToLinkToPatient($viewValue)" typeahead-on-select="showAssociateHcpModal($item)" class="form-control" placeholder="{{'patient.placeholder.hcp-admin-link' | translate}}">
    </div>

    <div class="col-md-8 col-sm-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-show="associatedHCPs && !searchHCPText && !slectedPatient.isDeleted" ng-click="linkHCP()" translate="patient.link-hcp"></buton>
    </div>
  </div>
</div>

<div ng-if="showModalClinic" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="cancelClinicModel()">&times;</button>
         <p translate="patient.delete-clinic-info.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete-clinic-info.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociateLinkedClinics(clinicToDelete.id)">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="cancelClinicModel()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<div ng-if="showModalHCP" class="modal" id="sg-modal" tabIndex="-1" role="dialog" aria-labelledby="sgModalLabel" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      <header class="modal__header">
        <button type="button" class="modal__close" data-dismiss="modal" ng-click="cancelHCPModel()">&times;</button>
         <p translate="patient.delete-hcp-info.warning"></p>
      </header>
      <div class="modal__body">
         <div class="modal--message" translate="patient.delete-hcp-info.message"></div>
         <div class="row modal--custom-btn">
          <buton class="hillrom-btn btn-submit float-right" ng-click="disassociateLinkedHCPs(deviceToDelete.id)">Yes</buton>
          <buton class="hillrom-btn btn-submit float-right" data-dismiss="modal" ng-click="cancelHCPModel()">No</buton>
         </div>
      </div>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>

<modal ng-if="associatedClinicModal" onyes="selectClinicForPatient()" onno="$parent.associatedClinicModal = false; clinic.name= ''" header="{{'patient.associate-clinic-info.warning' | translate}}" message="{{'patient.associate-clinic-info.message' | translate}}"></modal>

<modal ng-if="associatedHCPModal" onyes="selectHcpForPatient()" onno="$parent.associatedHCPModal = false; $parent.searchHcp= ''" header="{{'patient.associate-hcp-info.warning' | translate}}" message="{{'patient.associate-hcp-info.message' | translate}}"></modal>

<script type="text/ng-template" id="customclinicTypeaheadTemplate.html">
  <a>
    <span ng-bind-html="match.model.hillromId"></span>
    <span ng-bind-html="match.model.name | typeaheadHighlight:query"></span>
    <span ng-bind-html="match.model.city"></span>
    <span ng-bind-html="match.model.state"></span>
  </a>
</script>