

<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 margin-top">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}&nbsp;&nbsp;</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
   </div>
  </div>
  <!-- <div class="col-md-16 patient-clinic">
    <span class="patient-clinic--title" translate="patient.clinic-title" ng-model="searchItem" ng-keydown="searchClinics();"></span>
  </div> -->
  <div class="col-md-16 admin-views">
    <span class="admin-views--title" translate="patient.clinic-title"></span>
  </div>

  <div class="col-md-16 clinic-list" ng-repeat="aClinic in associatedClinics track by $index">
    <div class="col-md-3 clinic-list__detail">
      <span class="clinic-list__detail--name" ng-bind="aClinic.name"></span>
    </div>
    <div class="col-md-4 clinic-list__address">
      <span class="clinic-list__address--primary" ng-bind="aClinic.address"></span>
      <span class="clinic-list__address--secondary">{{aClinic.city}}, {{aClinic.state}}</span>
    </div>
    <div class="col-md-3 clinic-list__phone">
      <span class="clinic-list__phone--text" translate="patient.phone"></span>
      <span class="clinic-list__phone--number" ng-bind="aClinic.phoneNumber"></span>
    </div>
    <div class="col-md-3 clinic-list__fax">
      <span class="clinic-list__fax--text" translate="patient.fax"></span>
      <span class="clinic-list__fax--number" ng-bind="aClinic.faxNumber"></span>
    </div>
    <div class="col-md-2 clinic-list__hr-id">
      <span translate="patient.hr-id"></span>
      <span ng-bind="aClinic.hillromId"></span>
    </div>
    <div class="col-md-1 clinic-list__delete">
      <span class="glyphicon glyphicon-trash" ng-click="disassociateLinkedClinics(aClinic.id, $index)"></span>
    </div>
  </div>
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="" type="text" name="linkClinic" placeholder="{{'patient.placeholder.clinic-link' | translate}}" ng-model="searchItem" load-on-focus="true" load-on-empty="false" ng-show="searchClinicText">
      <div class="">
        <div class="parent-detail" ng-repeat="clinic in clinics | filter: {name: searchItem}" ng-if="searchItem.length > 0 && searchClinicText">
          <div class="" ng-click="selectClinicForPatient(clinic, $index)">
            <span class="user-name">{{clinic.name}} <sup class="parent-clinic" ng-if="clinic.parent">P</sup></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkClinic()" translate="patient.link-clinic"></buton>
    </div>
  </div>


  <div class="col-md-16 admin-views">
    <span class="admin-views--title" translate="patient.hcp-title"></span>
  </div>

  <div class="col-md-16 clinic-list" ng-repeat="aClinic in associatedClinics track by $index">
    <div class="col-md-3 clinic-list__detail">
      <span class="clinic-list__detail--name" ng-bind="aClinic.name"></span>
    </div>
    <div class="col-md-4 clinic-list__address">
      <span class="clinic-list__address--primary" ng-bind="aClinic.address"></span>
      <span class="clinic-list__address--secondary">{{aClinic.city}}, {{aClinic.state}}</span>
    </div>
    <div class="col-md-3 clinic-list__phone">
      <span class="clinic-list__phone--text" translate="patient.phone"></span>
      <span class="clinic-list__phone--number" ng-bind="aClinic.phoneNumber"></span>
    </div>
    <div class="col-md-3 clinic-list__fax">
      <span class="clinic-list__fax--text" translate="patient.fax"></span>
      <span class="clinic-list__fax--number" ng-bind="aClinic.faxNumber"></span>
    </div>
    <div class="col-md-2 clinic-list__hr-id">
      <span translate="patient.hr-id"></span>
      <span ng-bind="aClinic.hillromId"></span>
    </div>
    <div class="col-md-1 clinic-list__delete">
      <span class="glyphicon glyphicon-trash" ng-click="disassociateLinkedClinics(aClinic.id, $index)"></span>
    </div>
  </div>
  <div class="col-md-16 reset-padding">
    <div class="col-md-8 clinic-link">
      <input class="" type="text" name="linkClinic" placeholder="{{'patient.placeholder.clinic-link' | translate}}" ng-model="searchItem" load-on-focus="true" load-on-empty="false" ng-show="searchClinicText">
      <div class="">
        <div class="parent-detail" ng-repeat="clinic in clinics | filter: {name: searchItem}" ng-if="searchItem.length > 0 && searchClinicText">
          <div class="" ng-click="selectClinicForPatient(clinic, $index)">
            <span class="user-name">{{clinic.name}} <sup class="parent-clinic" ng-if="clinic.parent">P</sup></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 clinic-link">
      <buton class="hillrom-btn btn-primary float-right" ng-click="linkClinic()" translate="patient.link-hcp"></buton>
    </div>
  </div>
</div>