<admin-profile-navbar></admin-profile-navbar>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="updateProfile()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.title-name"></span>
            </div>
            <div class="col-md-10 dashboard__form__input reset-padding selected-box-container">
              <div class="custom-dropdown">
                <select ng-model="user.title" name="title" ng-readonly="validateSuperAdmin()" ng-options="option for option in ['Mr.', 'Mrs.', 'Ms.']" ng-selected="{{option === user.title}}">
                  <!-- <option selected translate="user.title.mr" value="Mr."></option>
                  <option translate="profile.title.mrs" value="Mrs."></option>
                  <option translate="profile.title.miss" value="Miss"></option> -->
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-7 reset-padding col-md-offset-2" ng-show="userStatus.editMode">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" >User ID</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" readonly ng-model="user.id">
            </div>
          </div>

        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.first-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="firstName" validate-on-blur ng-model="user.firstName" ng-minlength=2 ng-maxlength=15 ng-pattern="/^[a-z A-Z]+$/" ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.firstName.$dirty && form.firstName.$showValidationMessage && form.firstName.$invalid) || submitted">
                <span class="has-error" ng-show="form.firstName.$error.required">
                  First Name is required.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.pattern" >
                  First Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.minlength" >
                  First Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.firstName.$error.maxlength" >
                  First Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.middle-name"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="middleName" validate-on-blur ng-model="user.middleName" ng-pattern="/^[a-z A-Z]+$/" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()">
              <div ng-show="(form.middleName.$dirty && form.middleName.$showValidationMessage && form.middleName.$invalid)">
                <span class="has-error" ng-show="form.middleName.$error.pattern" >
                  Middle Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.minlength" >
                  Middle Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.middleName.$error.maxlength" >
                  Middle Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.last-name"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="lastName" validate-on-blur ng-pattern="/^[a-z A-Z]+$/" ng-model="user.lastName" ng-minlength=2 ng-maxlength=15 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.lastName.$dirty && form.lastName.$showValidationMessage && form.lastName.$invalid) || submitted">
                <span class="has-error" ng-show="form.lastName.$error.required">
                  Last Name is required.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.pattern" >
                  Last Name cannot have number.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.minlength" >
                  Last Name is required to be at least 2 character.
                </span>
                <span class="has-error" ng-show="form.lastName.$error.maxlength" >
                  Last Name cannot be longer than 15 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.employee-id"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="employeeID" ng-model="user.employeeID" ng-readonly="validateSuperAdmin()">
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.email"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="email" name="email" validate-on-blur ng-model="user.email" ng-maxlength=100 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.email.$dirty && form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error" ng-show="form.email.$error.required">
                   E-mail is required.
                </span>
                <span class="has-error" ng-show="form.email.$error.email">
                   E-mail is invalid.
                </span>
                <span class="has-error" ng-show="form.email.$error.maxlength">
                  E-mail cannot be longer than 100 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.role-text"></span>
               <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--option reset-padding">
              <div class="custom-dropdown">
                <select class="disabled-box" name="role" validate-on-blur ng-model="user.authorities[0].name" ng-readonly="validateSuperAdmin()" required disabled>
                  <option selected value="" translate="profile.role.default">Select a Role</option>
                  <option translate="profile.role.super-admin" value="ADMIN">Super Admin</option>
                  <option translate="profile.role.account-services" value="ACCT_SERVICES">Account Services</option>
                  <option translate="profile.role.associates" value="ASSOCIATES">Associates</option>
                </select>
                <div ng-show="(form.role.$dirty && form.role.$showValidationMessage && form.role.$invalid) || submitted">
                  <span class="has-error" ng-show="form.role.$error.required">
                     Role is required.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top-xl">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.security-ques"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form__input--sec-option reset-padding">
              <div class="custom-dropdown">
                <select class="security-select" name="question" validate-on-blur  ng-model="resetAccount.question" ng-options="question.question for question in questions">
                  <option value="">-- select a security question --</option>
                </select>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-16 reset-padding margin-top" ng-if="resetAccount.question">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.security-ans"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="text" name="answer" validate-on-blur ng-model="resetAccount.answer" ng-maxlength=100 ng-readonly="validateSuperAdmin()" required>
              <div ng-show="(form.answer.$dirty && form.answer.$showValidationMessage && form.answer.$invalid) || submitted">
                <span class="has-error" ng-show="form.answer.$error.required">
                   Answer is required.
                </span>
                <span class="has-error" ng-show="form.answer.$error.maxlength">
                  Answer cannot be longer than 100 characters.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="">
        <button type="submit" class="hillrom-btn btn-submit float-right" ng-show="!userStatus.isCreate" translate="profile.update-button-text">Update</button>
          <button type="reset" ng-click="cancel()" ng-show="!userStatus.isCreate" class="hillrom-btn btn-submit float-right" translate="profile.cancel-button-text">Cancel</button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>