<admin-profile-navbar></admin-profile-navbar>
<div class="dashboard dashboard--content padding-bottom-ls">
  <form name="form" ng-submit="updatePassword()" novalidate autocomplete="off">
    <div class="container dashboard__form">
      <div class="margin-top-xl">
        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.cur-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="password" validate-on-blur ng-model="profile.password" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
              <div ng-show="(form.password.$dirty && form.password.$showValidationMessage && form.password.$invalid) || submitted">
                <span class="has-error" ng-show="form.password.$error.required">
                  password is required.
                </span>
                <span class="has-error" ng-show="form.password.$error.minlength" >
                  Password is required to be at least 8 character.
                </span>
                <span class="has-error" ng-show="form.password.$error.maxlength" >
                  Password cannot be longer than 50 characters.
                </span>
                <span class="login-has-error" ng-show="form.password.$error.pattern" >
                  Password complexity criteria not met.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-16 reset-padding margin-top">
          <div class="col-md-7 reset-padding">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.new-pswd"></span>
              <span class="">*</span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="newPassword" validate-on-blur ng-model="profile.newPassword" ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required>
              <div ng-show="(form.newPassword.$dirty && form.newPassword.$showValidationMessage && form.newPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.newPassword.$error.required">
                  New Password  is required.
                </span>
                <span class="has-error" ng-show="form.newPassword.$error.minlength" >
                  New Password is required to be at least 8 character.
                </span>
                <span class="has-error" ng-show="form.newPassword.$error.maxlength" >
                  New Password cannot be longer than 50 characters.
                </span>
                <span class="login-has-error" ng-show="form.newPassword.$error.pattern" >
                  Password complexity criteria not met.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-7 reset-padding col-md-offset-2">
            <div class="col-md-6 dashboard__form--label reset-padding">
              <span class="" translate="profile.confirm-pswd"></span>
            </div>
            <div class="col-md-10 dashboard__form--input reset-padding">
              <input class="" type="password" name="confirmPassword" validate-on-blur ng-model="profile.confirmPassword"  ng-minlength=8 ng-maxlength=50 ng-pattern="/^(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" match="profile.newPassword" required>
              <div ng-show="(form.confirmPassword.$dirty && form.confirmPassword.$showValidationMessage && form.confirmPassword.$invalid) || submitted">
                <span class="has-error" ng-show="form.confirmPassword.$error.required" >
                  Confirm Password Required.
                </span>
                <span class="has-error" ng-show="form.confirmPassword.$error.match" >
                  Password Mismatch.
                </span>
                <span class="has-error" ng-show="form.confirmPassword.$error.minlength" >
                  Password is required to be at least 8 character.
                </span>
                <span class="has-error" ng-show="form.confirmPassword.$error.maxlength" >
                  Password cannot be longer than 50 characters.
                </span>
                <span class="login-has-error" ng-show="form.confirmPassword.$error.pattern" >
                  Password complexity criteria not met.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="col-md-16 reset-padding margin-top">
        <div class="">
        <button type="submit" class="hillrom-btn btn-submit float-right" ng-show="!userStatus.isCreate" translate="profile.update-button-text">Update</button>
          <button type="reset" ng-click="cancel()" ng-show="!userStatus.isCreate" class="hillrom-btn btn-submit float-right" translate="profile.cancel-button-text">Cancel</button>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </form>
</div>