<div class="navbar patient-user patient-user--nav">
  <div class="container">
    <div class="collapse navbar-collapse patient-user__navbar" id="navbar-collapse">
      <ul class="nav navbar-nav admin_profile">
        <li >
          <a ng-class="{active: isActive('profile')}" ng-href="" ng-click="switchProfileTab('associateProfile')">
            <span class="" translate="profile.tabs.profile-details"></span>
          </a>
        </li>
        <li>
          <a ng-class="{ active: isActive('updatepassword')}" ng-href="" ng-click="switchProfileTab('associateUpdatePassword')">
            <span class="" translate="profile.tabs.update-password"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>