
<div class="navbar dashboard dashbord-nav">
    <div class="container">
      <div class="dashbord-nav__primary pull-left">
        <span class="dashbord-nav__primary--title" translate="doctor.home.manageLabel">Manage HCP</span>
      </div>

      <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createDoctor()">
        <span class="" translate="doctor.home.createNewLabel">Create New</span>
        <span class="icon-plus-icon add-new"></span>
      </div>
    </div>
  </div>
  <div class="dashboard dashboard--content">
    <div class="container dashboard__manage-view margin-top-xl">
      <div class="dashboard__manage-view--search">
        <div class="fuid-search-box reset-padding-right">
          <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'doctor.placeholder.search' | translate}}">
          <span class="search-icon hillrom-icon icon-search-icon"></span>
        </div>
        <div class="fixed-filter-box reset-padding-left">
          <div class="search-dropdown">
            <select name="search" ng-model="sortOption" ng-change="searchDoctors()">
              <option value="active" translate="doctor.filter.active">Active</option>
              <option value="inactive" translate="doctor.filter.inactive">Inactive</option>
              <option value="all" translate="doctor.filter.all">All</option>
            </select>
          </div>
        </div>
      </div>

      <div class="dashboard__manage-view--header">
        <div class="col-md-3 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="doctor.hcp-name">HCP Name</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="doctor.credentials">Credentials</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="doctor.npiNumber">NPI Number</span>
        </div>
        <div class="col-md-4 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="doctor.clinic-name">Clinic Name</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="doctor.city">City</span>
        </div>
        <div class="col-md-2 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" translate="doctor.state">state</span>
        </div>
        <div class="col-md-1 header--type">
          <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="doctor.status">Status</span>
        </div>
        <div class="clr"></div>
      </div>

      <div class="dashboard__manage-view--list" ng-repeat="doctor in doctors" ng-click="doctor.deleted || selectDoctor(doctor)" ng-class="{ 'inactive': doctor.deleted }">
          <div class="col-md-3 reset-padding centered">
            <span class="main-prim-info">{{doctor.lastName}} {{doctor.firstName}}</span>
          </div>
          <div class="col-md-2 reset-padding centered">
            <span class="impo-highlight">ASRT</span>
          </div>
          <div class="col-md-2 reset-padding centered">
            <span class="short-info">1030121212</span>
          </div>

          <div class="col-md-4 reset-padding centered">
            <span class="short-info" ng-repeat ="clinic in doctor.clinics">{{clinic.name}}</span>
          </div>

          <div class="col-md-2 reset-padding centered">
            <span class="short-info">{{doctor.city}}</span>
          </div>

          <div class="col-md-2 reset-padding centered">
            <span class="short-info">{{doctor.state}}</span>
          </div>

          <div class="col-md-1 reset-padding centered">
            <span class="short-info">Active{{doctor.status}}</span>
          </div>

          <div class="clr"></div>
       </div>

      <!--  <div class="dashboard__manage-view--list" ng-repeat="doctor in doctors" ng-click="doctor.deleted || selectDoctor(doctor)" ng-class="{ 'inactive': doctor.deleted }">
          <div class="col-md-3 reset-padding-left">
            <span class="user-name">{{doctor.lastName}} {{doctor.firstName}}</span>
            <span class="user-email">{{doctor.email}} {{doctor.id}}</span>
          </div>
          <div class="col-md-4">
            <span class="user-home-no">{{doctor.city}} {{doctor.state}}</span>
            <span class="user-address">{{doctor.address}} {{doctor.zipcode}}</span>
          </div>
          <div class="col-md-4">
            <span class="clinic-name" ng-repeat ="clinic in doctor.clinics">{{clinic.name}}</span>
          </div>
          <div class="col-md-5 reset-padding-right">
            <span >{{doctor.primaryPhone}}</span>
            <span >{{doctor.speciality}} {{doctor.credentials}}</span>
          </div>
          <div class="clr"></div>
       </div> -->

      <div class="dashboard__manage-view--pagination">
        <div class="col-md-16 reset-padding-right">
          <div class="navbar-right">
            <span class="record-found" ng-if="doctors.length > 0">{{doctors.length}} Doctors</span>
            <span class="record-found" ng-if="doctors.length > 0">Found</span>
            <span ng-show="pageCount > 1">
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchDoctors('PREV')">Previous</span>
              <span class="navigaion-no">{{currentPageIndex}}</span>
              <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchDoctors('NEXT')">Next</span>
            </span>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
