<ng-include src="'scripts/components/navbar/navbarclinicadmin.html'"></ng-include>
<clinicadmin-patient-navbar></clinicadmin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 col-sm-16 margin-top">
   <div class="user-gen-details">
     <span class="user-gen-details--name">{{::patient.firstName}} {{::patient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{::patient.hillromId}}</span>
   </div>
  </div>

  <div class="col-md-16 col-sm-16 patient-protocol">
    <span class="patient-protocol--title" translate="patient.protocol-title"></span>
  </div>

  <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-3 col-sm-3 header--type text-align-left">
            <span translate="patient.protocol-caption.type"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type text-align-left">
            <span translate="patient.protocol-caption.treatments-per-day"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type text-align-left">
            <span translate="patient.protocol-caption.minutes-per-treatment"></span>
          </div>
          <div class="col-md-3 col-sm-3 header--type text-align-left">
            <span translate="patient.protocol-caption.frequency-per-treatment"></span>
          </div>
          <div class="col-md-4 col-sm-4 header--type text-align-left">
            <span translate="patient.protocol-caption.pressure-per-treatment"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
  </div>


<div class="col-md-16 protocol_list_container" ng-class="{'no_border' : !protocols}">
  <div class="col-md-3 ">
    <div class="col-md-16 protocol-list__treatment-day protocol-list no_border text-align-left" ng-repeat="protocol in protocols" ng-class="{'list-inactive':protocol.deleted, 'last' : $last}">
      <span class="protocol-list--value"> {{protocol.type}} {{protocol.treatmentLabel}}</span>
    </div>
  </div>
  <div class="col-md-2 text-right treatments_per_day_count col-md-offset-2">
      <span class="v_middle">{{protocols[0].treatmentsPerDay}}</span>
  </div>
  <div class="col-md-9 col-md-offset-2">
    <div class="col-md-16 protocol-list no_border" ng-repeat="protocol in protocols" ng-class="{'list-inactive':protocol.deleted, 'last' : $last}">
      <div class="col-md-5 col-md-offset-1 protocol-list__strt-date">
        <span class="protocol-list--value margin-left "> {{protocol.minMinutesPerTreatment}}</span>      
      </div>
      <div class="col-md-4 col-md-offset-1 protocol-list__end-date">
        <span ng-if="protocol.type === 'Custom'" class="protocol-list--value"> {{protocol.minFrequency}}</span>
        <span ng-if="protocol.type === 'Normal'" class="protocol-list--value"> {{protocol.minFrequency}}-{{protocol.maxFrequency}}</span>
      </div>
      <div class="col-md-4 col-md-offset-1 protocol-list__end-date">
        <span ng-if="protocol.type === 'Custom'" class="protocol-list--value margin-left15"> {{protocol.minPressure}}</span>
        <span ng-if="protocol.type === 'Normal'" class="protocol-list--value margin-left15"> {{protocol.minPressure}}-{{protocol.maxPressure}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-2 comon_action_div" ng-if="protocols">
    <div class="col-md-16 protocol-list__edit icons text-center">
      <span ng-if="!protocol.deleted" class="icon-edit-icon" ng-click="openEditProtocol(protocols[0])"></span>
    </div>
  </div>
</div>


<div class="col-md-16 col-sm-16 empty-list-message" ng-if="!protocols"><span translate="patient.empty-protocol-list-message"></span></div>

  <div class="col-md-16 col-sm-16 patient-device margin-top-xl">
    <span class="patient-device--title" translate="patient.device-title"></span>
  </div>

<div class="dashboard dashboard--content">
  <div class="dashboard__manage-view margin-top">
    <div class="dashboard__manage-view--header">
        <div class="col-md-4 col-sm-4 header--type">
          <span translate="patient.device-caption.serial-no"></span>
        </div>
        <div class="col-md-4 col-sm-4 header--type">
          <span translate="patient.device-caption.blutooth-id"></span>
        </div>
        <div class="col-md-4 col-sm-4 header--type">
          <span translate="patient.device-caption.status"></span>
        </div>
        <div class="col-md-4 col-sm-4 header--type">
          <span translate="patient.device-caption.active-or-inactive-date"></span>
        </div>
        <div class="clr"></div>
      </div>
  </div>
</div>

  <div class="col-md-16 col-sm-16 device-list" ng-repeat="device in devices  | orderBy:'active':true" ng-class="{'list-inactive': !device.active}">
    <div class="col-md-4 col-sm-4 device-list__serial">
      <span>{{::device.serialNumber}}</span>
    </div>
    <div class="col-md-4 col-sm-4 device-list__bt-id">
      <span>{{::device.bluetoothId}}</span>
    </div>
    <div class="col-md-4 col-sm-4 device-list__status">
      <span ng-if="device.active" class="device--list__status--text" translate="patient.device.active-status">Active</span>
      <span ng-if="!device.active" class="device--list__status--text" translate="patient.device.inactive-status"></span>
    </div>
    <div class="col-md-4 col-sm-4 device-list__date">
      <span>{{::device.lastModifiedDate}}</span>
    </div>
  </div>
  <div class="col-md-16 col-sm-16 empty-list-message" ng-if="!devices"><span translate="patient.empty-device-list-message"></span></div>
</div>