  <div class="container login">
    <div class="login--position">
      <div class=" form__container__reset login__container col-md-16 col-lg-16">
        <div class="col-md-4 col-lg-4 ">
          <img src="assets/images/man.svg">
        </div>
        <div class=" col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2 login__container__right-section">

          <p><strong>FORGOT YOUR PASSWORD?</strong></p>
          <p ng-show="!success">Please enter the email address registered on your account</p>

          <div class="alert alert-danger text-center has-error" translate="reset.request.messages.notfound" ng-show="errorEmailNotExists">
            <strong>E-Mail address isn't registered!</strong> Please check and try again.
          </div>

          <div class="alert alert-success " ng-show="success == 'OK'">
            <p translate="reset.request.messages.success">Check your e-mails for details on how to reset your password.</p>
          </div>
          <form class="reset-form" ng-show="!success" name="form" role="form" novalidate  show-validation>
            <div class="form-group">
              <input type="email" class="form-control" validate-on-blur name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
              ng-model="resetAccount.email"  ng-maxlength=100 required>
              <div ng-show="(form.email.$dirty && form.email.$showValidationMessage && form.email.$invalid) || submitted">
                <span class="has-error"
                  ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                   E-mail is required.
                </span>
                <span class="has-error"
                  ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                   E-mail is invalid.
                </span>
                <span class="has-error"
                  ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                   E-mail cannot be longer than 100 characters.
                </span>
              </div>
            </div>     

            <p class="help-block"
              ng-show="captchaError">
              Please verify again you are not a robot.
            </p>
            <div  ng-show="showCaptcha">
             <div vc-recaptcha
               theme="'light'"
               key="siteKey"
               on-create="setWidgetId(widgetId)"
               on-success="setResponse(response)">
             </div>
            </div>
             <div class="col-md-8 col-lg-8 link reset-padding-right"><a translate="reset.request.form.button" ng-click="requestReset()" class="myButton">LOGIN</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>





