<ng-include src="'scripts/components/navbar/navbarassociate.html'"></ng-include>
<admin-patient-navbar></admin-patient-navbar>
<div class="container admin-user">
  <div class="col-md-16 col-sm-16 margin-top">
   <div class="user-gen-details">
   <span ng-class="{'monarchIcon': (getDeviceType() =='MONARCH'), 'visivestIcon': (getDeviceType() =='VEST')}">
     <span class="user-gen-details--name">{{slectedPatient.firstName}} {{slectedPatient.lastName}}</span>
     <span class="user-gen-details--hr-id">{{slectedPatient.hillromId}}</span>
     </span>
   </div>
  </div>
  <div class="col-md-16 col-md-16 admin-views">
    <span class="admin-views--title" translate="patient.clinic-title"></span>
  </div>

  <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.clinic-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.type"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.address"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.city"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.state"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.phone-number"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.clinic-caption.hr-id"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
  </div>

  <div class="col-md-16 col-sm-16 clinic-list default_active" ng-repeat="aClinic in associatedClinics track by $index" ng-if="associatedClinics.length > 0" readonly="true">
    <span  ng-click="selectClinic(aClinic)">
    <div class="col-md-2 col-sm-2 clinic-list__detail">
      <span class="clinic-list__detail--name" ng-bind="aClinic.name"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.parent ? 'Parent' : 'Satellite'"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__address">
      <span class="clinic-list__address--primary" ng-bind="aClinic.address"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.city"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.state"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="aClinic.phoneNumber"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span ng-bind="aClinic.hillromId"></span>
    </div>
    </span>
  </div>
  <div class="col-md-16 col-sm-16 empty-list-message" ng-if="associatedClinics && associatedClinics.length === 0"> 
    <span translate="no-clinic-found"></span>
  </div>


  <div class="col-md-16 col-sm-16 admin-views">
    <span class="admin-views--title" translate="patient.hcp-title"></span>
  </div>

  <div class="dashboard dashboard--content">
    <div class="dashboard__manage-view margin-top">
      <div class="dashboard__manage-view--header">
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.hcp-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.credentials"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.npi-id"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.clinic-name"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.city"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.state"></span>
          </div>
          <div class="col-md-2 col-sm-2 header--type">
            <span translate="patient.hcp-caption.phone-number"></span>
          </div>
          <div class="clr"></div>
        </div>
    </div>
  </div>

  <div class="col-md-16 col-sm-16 clinic-list default_active" ng-repeat="hcp in associatedHCPs track by $index" ng-if="associatedHCPs.length > 0" readonly="true">
    <span ng-click="selectDoctor(hcp)">
    <div class="col-md-2 col-sm-2 clinic-list__detail">
      <span class="clinic-list__detail--name">{{hcp.lastName}}, {{hcp.firstName}}</span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__address">
      <span class="clinic-list__credentials">{{hcp.credentials}}</span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__address">
      <span class="clinic-list__fax--number" ng-bind="hcp.npiNumber"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__fax">
      <span class="clinic-list__fax--number" ng-repeat ="clinic in hcp.clinics">{{clinic.name}} <b>{{$last ? '' : ', '}}</b></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__fax">
      <span class="clinic-list__fax--number" ng-bind="hcp.city"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__phone">
      <span class="clinic-list__phone--number" ng-bind="hcp.state"></span>
    </div>
    <div class="col-md-2 col-sm-2 clinic-list__fax">
      <span class="clinic-list__fax--number" ng-bind="hcp.primaryPhone"></span>
    </div>
    </span>
  </div>
  <div class="col-md-16 col-sm-16 empty-list-message" ng-if="associatedHCPs.length === 0">
    <span translate="no-hcp-found"> </span>
  </div>
</div>