<clinic-navbar></clinic-navbar>

<div class="container admin-user">
  <div class="col-md-16 margin-top reset-padding">
   <div class="user-gen-details">
     <span class="user-gen-details--name">Shakya Avnesh</span>
     <span class="user-gen-details--hr-id">123455432</span>
   </div>
  </div>
</div>

<div class="container admin-user">
  <div class="col-md-16 admin-views">
    <span class="admin-views--title" translate="clinic.tab.clinic-admin">
      
    </span>
  </div>
</div>

<div class="container admin-user">
	<div class="col-md-16 protocol-list">
    <div class="col-md-4 protocol-list__treatment-day">
      <span class="protocol-list--value">Avnesh K. shakya</span>
    </div>
    <div class="col-md-10 protocol-list__strt-date">
      <span class="protocol-list--value">avnesh@neevtech.com</span>
    </div>
    <div class="col-md-1 protocol-list__edit icons text-center">
      <span class="glyphicon glyphicon glyphicon-pencil" ng-click=""></span>
    </div>
    <div class="col-md-1 protocol-list__delete text-center">
      <span ng-if="!protocol.deleted" class="glyphicon glyphicon-trash" ng-click=""></span>
    </div>
  </div>
</div>


<div class="container">
	<div class="col-md-16">
		
	</div>
</div>