<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary pull-left">
      <span class="dashbord-nav__primary--title" translate="clinic.home.manageLabel"></span>
    </div>

    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createClinic()">
      <span class="dashbord-nav__secondary--create-new" translate="clinic.home.createLabel"></span>
      <span class="icon-plus-icon add-new"></span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'clinic.placeholder.search' | translate}}" >
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
    <!--   <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchClinics()">
            <option value="" selected translate="clinic.filter.all"></option>
            <option value="name" translate="clinic.filter.active"></option>
            <option value="state" translate="clinic.filter.inactive"></option>
          </select>
        </div>
      </div> -->
    </div>

    <ng-include src="'scripts/components/navbar/searchfilter.html'"></ng-include>
    <div class="dashboard__manage-view--header">
      <div class="col-md-4 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.clinic-name"></span>
      </div>
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.address"></span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.city"></span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.state"></span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.phoneNumber"></span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.type"></span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" translate="clinic.hillRom-id"></span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.status"></span>
      </div>
      <div class="clr"></div>
    </div>

    <div class="dashboard__manage-view--list" ng-repeat="clinic in clinics" ng-click="clinic.deleted || selectClinic(clinic)" ng-class="{'inactive': clinic.deleted}">
      <div class="col-md-4 reset-padding centered">
        <span class="main-prim-info">{{clinic.name}}</span>
      </div>
      <div class="col-md-3 reset-padding centered">
        <span class="short-info">{{clinic.address}}</span>
      </div>
      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{clinic.city}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info">{{clinic.state}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{clinic.phoneNumber}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info" ng-if="clinic.parent" translate="clinic.clinicType.parent"></span>
        <span class="short-info" ng-if="!clinic.parent" translate="clinic.clinicType.satellite"></span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="impo-highlight">{{clinic.hillromId}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info active" ng-if="!clinic.deleted" translate="clinic.status-type.active"></span>
        <span class="short-info inactive" ng-if="clinic.deleted" translate="clinic.status-type.inactive"></span>
      </div>

      <div class="clr"></div>
    </div>

     <div class="dashboard__manage-view--pagination">
      <div class="col-md-16 reset-padding-right">
        <div class="navbar-right">
          <span class="record-found" ng-if="clinics.length > 0">{{total}} Clinics</span>
          <span class="record-found" ng-if="clinics.length > 0">Found</span>
          <span ng-show="clinics.length > 0">
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchClinics('PREV')">Previous</span>
            <span class="navigaion-no">{{currentPageIndex}}</span>
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchClinics('NEXT')">Next</span>
          </span>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
