<div class="navbar dashboard dashbord-nav">
  <div class="container">
    <div class="dashbord-nav__primary pull-left">
      <span class="dashbord-nav__primary--title">Manage Clinics</span>
    </div>

    <div class="dashbord-nav__secondary create-user navbar-right cursor-pointer" ng-click="createClinic()">
      <span class="dashbord-nav__secondary--create-new">Create New</span>
      <span class="hillrom-icon icon-plus-icon"></span>
    </div>
  </div>
</div>

<div class="dashboard dashboard--content">
  <div class="container dashboard__manage-view margin-top-xl">
    <div class="dashboard__manage-view--search">
      <div class="fuid-search-box reset-padding-right">
        <input type="text" class="form-control" id="searchListParam" name="userName" ng-model="searchItem" autocomplete="off" placeholder="{{'clinic.placeholder.search' | translate}}" >
        <span class="search-icon hillrom-icon icon-search-icon"></span>
      </div>
      <div class="fixed-filter-box reset-padding-left">
        <div class="search-dropdown">
          <select name="search" ng-model="sortOption" ng-change="searchClinics()">
            <option value="" selected>Newly Created</option>
            <option value="name">Name</option>
            <option value="state">State</option>
            <option value="zipcode">Zip Code</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dashboard__manage-view--header">
      <div class="col-md-4 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.clinic-name"></span>
      </div>
      <div class="col-md-3 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.address"></span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.city"></span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.state"></span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.phoneNumber"></span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.type"></span>
      </div>
      <div class="col-md-2 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" translate="clinic.hillRom-id"></span>
      </div>
      <div class="col-md-1 header--type">
        <span ng-class="{'sort-icon--default' : sortIconDefault, 'sort-icon-down' : sortIconDown, 'sort-icon-up': sortIconUp}" ng-click="sortType()" translate="clinic.status"></span>
      </div>
      <div class="clr"></div>
    </div>

    <div class="dashboard__manage-view--list" ng-repeat="clinic in clinics | filter: {name: searchItem}"  ng-class="{ 'inactive': clinic.deleted }" ng-click="clinic.deleted || selectClinic(clinic)">
      <div class="col-md-4 reset-padding centered">
        <span class="main-prim-info">{{clinic.name}}</span>
      </div>
      <div class="col-md-3 reset-padding centered">
        <span class="short-info">{{clinic.address}}</span>
      </div>
      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{clinic.city}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info">{{clinic.state}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="short-info">{{clinic.phoneNumber}}</span>
      </div>

      <div class="col-md-1 reset-padding centered">
        <span class="short-info">{{clinic.type}}</span>
      </div>

      <div class="col-md-2 reset-padding centered">
        <span class="impo-highlight">{{clinic.hillromId}}</span>
      </div>

      <div class="col-md-1 reset-padding">
        <div class="icon-font">
          <span class="icon-lungs"></span>
        </div>
        <div class="clr"></div>
      </div>

      <div class="clr"></div>
    </div>

      <!-- <div class="dashboard__manage-view--list" ng-repeat="clinic in clinics | filter: {name: searchItem}"  ng-class="{ 'inactive': clinic.deleted }">
        <div  ng-click="clinic.deleted || selectClinic(clinic)">
          <div class="col-md-3 reset-padding-left">
            <span class="user-name">{{clinic.name}} <sup class="parent-clinic" ng-if="clinic.parent">P</sup></span>
            <span class="user-home-no">{{clinic.hillromId}}</span>
          </div>
          <div class="col-md-4">
            <span class="user-home-no">{{clinic.city}} {{clinic.state}}</span>
            <span class="user-address">{{clinic.address}} {{clinic.zipcode}}</span>
          </div>
          <div class="col-md-4">
            <span class="hcp-name">{{clinic.id}}</span>
            <span class="clinic-name"></span>
          </div>
          <div class="col-md-5 reset-padding-right">
            <span>{{clinic.phoneNumber}} {{clinic.faxNumber}}</span>
          </div>
          <div class="clr"></div>
       </div>
     </div> -->

     <div class="dashboard__manage-view--pagination">
      <div class="col-md-16 reset-padding-right">
        <div class="navbar-right">
          <span class="record-found" ng-if="clinics.length > 0">{{clinics.length}} Clinics</span>
          <span class="record-found" ng-if="clinics.length > 0">Found</span>
          <span ng-show="pageCount > 1">
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(currentPageIndex > 1) }" ng-click="searchClinics('PREV')">Previous</span>
            <span class="navigaion-no">{{currentPageIndex}}</span>
            <span class="navigaion-link cursor-pointer" ng-class="{ 'inactive': !(pageCount > currentPageIndex) }" ng-click="searchClinics('NEXT')">Next</span>
          </span>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
